{% extends "en/layout.html" %}
{% block content %}
<div class="content-wrapper">
    <p>&nbsp;</p>
    <div align="center" class="h5">OSHI SHINOBU DOJO VOSSELAAR<br><br />
    </div>
    <div class="p">
        Founded in 1998 by Shihan - at the time still Sensei - Koen De Backker, the karate club of Vosselaar has been offering its knowledge about this fascinating Japanese martial art to anyone interested
        for quite some time now. Over the years, our club has grown into a sociable group of people who are however eager to give it their all every training.
        Indeed, the name of our club itself - Oshi Shinobu - literally means to push on or to endure.
        Of the many styles of karate today, we practice the one that is called Kyokushinkai Karate. It is a modern, extremely efficient approach to the traditional Japanese Karate-Do
        and an excellent choice as condition training, self defense, character building, a means to improve body coordination or even a competition sports.
        Our club works together with a number of other Kyokushinkai Karate clubs in the area and it is a recognised member of the IKO Kyokushin Union, Japan.
        We participate on a regular basis in events such as tournaments and sessions with international instructors.
        Do not hesitate to contact us by phone or even better, come and train along in one of our classes. The first courses are free to get yourself acquainted
        Please bear in mind though that our training sessions are instructed in Dutch.
    </div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
{% endblock %}
