{% extends "nl/layout.html" %}
{% block content %}
<div class = "banner bovenbanner" id="geschiedenis-bovenbanner">
    <div class = "h4-box post1">
        <div align="center" class="h4">Geschiedenis</div>
    </div>
    <div class = "h5-box post1">
        <div class="h5">Het onstaan van Kyokushinkai Karate</div>
    </div>
</div>
<div class = "outer-content-box">
    <div class = "content-box first-content-box post1">
        <div class = "text-box first-text-box">
            <div class = "h6 post2">SHAOLIN KEMPO</div>
            <br>
            <div class="p post2">
                De oorsprong van het ongewapend vechten in Zuidoost-Azië situeert zich voor onze tijdrekening in het huidige Indië.
                De rondtrekkende zenboeddhistische priesters dienden zich tegen struikrovers te verdedigen en observeerden hiervoor de aanvals- en verdedigingsbewegingen van dieren.
                Omstreeks 500 na Christus trekt Bodhidharma, de stichter van het zenboeddhism - in Japan noemt men hem Daruma - naar de provincie Henan in het huidige China.
                Daar stelt hij in de shaolintempel zijn kennis ter beschikking van de monniken.
                De gevechtskunst die eruit voortkwam is vandaag bekend onder de naam Kempo, of Kung Fu.
                Van hieruit zou deze vechtstijl zich verspreiden over heel China en tevens naar Korea en Japan.
            </div>
        </div>
    </div>
    <div class = "picture-box post1" id="geschiedenis-box1"></div>
</div>
<div class = "outer-content-box">
    <div class = "picture-box post1" id="geschiedenis-box2"></div>
    <div class = "content-box second-content-box post1">
        <div class = "text-box second-text-box">
            <div class = "h6 post2">KARATE</div>
            <br>
            <div class="p post2">
                Kara-te betekent letterlijk <i>lege hand</i>.
                Vrij vertaald betreft het de <i>kunst van het vechten zonder wapens</i>,
                waarbij je gebruik maakt van delen van het lichaam die als wapens kunnen dienen,
                zoals bv. vuist, elleboog, knie, been, voet enz...
                Het karate zoals wij dit nu kennen kwam op het Japanse eiland Okinawa tot stand eind 18e eeuw.
                De uit China afkomstige technieken werden er gecombineerd met de lokale praktijken van ongewapend vechten.
                De drie belangrijkste strekkingen waren Nahate, Tomarite en Shurite.
                In het begin van de 20e eeuw catalogeerde men al deze stijlen onder de noemer Karate.
            </div>
        </div>
    </div>
</div>
<div class = "outer-content-box">
    <div class = "content-box first-content-box post1">
        <div class = "text-box first-text-box">
            <div class = "h6 post2">SHOTOKAN KARATE</div>
            <br>
            <div class = "p post2">
                De vader van het huidige Karate is zonder twijfel Gichin Funakoshi, geboren in 1868 te Okinawa.
                Hij bestudeerde de belangrijkste lokale karatestijlen en destilleerde hieruit zijn <i>Shotokan Karate</i>.
                Deze stijl wordt gekenmerkt door voornamelijk rechtlijnige technieken.
                In 1922 had Funakoshi zoveel bekendheid verworven dat hij werd uitgenodigd om in Tokio zijn karate te demonstreren.
                Hij zou er tot zijn dood in 1957 verblijven, studenten onderwijzend in zijn dojo.
                Vandaag de dag is Shotokan Karate de meest wijdverspreide karatestijl.
                De beoefening ervan wordt gewoonlijk gekenmerkt door de afwezigheid van echt contact tijdens het vechten.
                Men probeert de tegenstander slechts te raken zonder impact te maken.
                Er is echter een grote nadruk op theorie en vorm.
                <br><br>
            </div>
        </div>
    </div>
    <div class = "picture-box post1" id="geschiedenis-box3"></div>
</div>
<div class = "outer-content-box">
    <div class = "picture-box post1" id="geschiedenis-box4"></div>
    <div class = "content-box third-content-box post1">
        <div class = "text-box third-text-box">
            <div class = "h6 post2">GOJU-RYU KARATE</div>
            <br>
            <div class = "p post2">
                Een andere belangrijke grootmeester uit Okinawa, Chojun Miyagi, verzamelde vooral technieken van Chinese oorsprong.
                Zijn voornamelijk uit cirkelvormige technieken bestaande Karate noemde hij Goju-Ryu.
                Zijn opvolger Gogen Yamaguchi - <i>de kat</i> - zal de stijl op het Japanse vasteland bekend maken.
                Ook Goju Ryu is vandaag de dag nog een populaire karate-strekking.
                Net als in Shotokan, doet men ook hier veelal niet aan volcontact.
            </div>
        </div>
    </div>
</div>
<div class = "content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class = "h6 post2">KYOKUSHINKAI KARATE</div>
        <br>
        <div class = "p post1">
            In 1923 wordt Masutatsu Oyama in Korea geboren.
            Op de leeftijd van negen jaar bestudeerde hij reeds het Chinese Kempo en vormen van Taekwondo.
            Zijn vader stuurde hem op 15-jarige leeftijd naar Japan kort voor het uitbreken van W.O.II.
            Aanvankelijk begon hij met de studie van Judo, waarin hij een 4de dan behaalde.
            In 1938 schreef Oyama zich echter in in de school van Gichin Funakoshi om zich vervolgens toe te leggen op het Goju-Ryu van Yamaguchi onder leiding van So Nei Shu.
            Onder zijn leiding zal Mas Oyama zich tevens bekwamen in zenmeditatie.
            <br><br>
            Oyama, ondertussen 4de dan in Karate-Do geworden, zou  in 1947 het eerste All Japan Championship Karate winnen.
            Geïnspireerd door het beroemde boek van de samurai Musashi zou hij zich vervolgens in 1948 gedurende achttien maanden terugtrekken op Mount Kiyosumi in de Japanse provincie Chiba.
            In deze periode zou Oyama zich onderwerpen aan een rigoureuze training van lichaam en geest.
            De dagelijkse fysieke training wisselde hij af met zenmeditatie.
            In deze barre omstandigheden krijgt zijn eigen vorm van Karate langzaam gestalte.
            Hij combineert de rechtlijnige technieken van Funakoshi met de cirkelvormige bewegingen uit het Goju-Ryu.
            Punt, lijn en cirkel worden het wezen van Mas Oyama's Karate.
            Verder legde hij de nadruk op een zo realistisch mogelijke aanpak van het vrije gevecht, zonder echter de basistechnieken en kata's te verwaarlozen.
            <br><br>
            In 1950 besloot hij de efficiëntie van zijn stijl te toetsen aan de werkelijkheid door het gevecht aan te gaan met een stier.
            Hiervoor huurde hij een ruimte in een slachterij waar hij drie stieren kon doden en van 49 andere de horens afsloeg.
            Overtuigd van zijn kunnen trok Oyama vervolgens door Azië en de Verenigde Staten,
            waar hij met tientallen uitdagers (boxers, worstelaars, thaiboksers, judoka's...) vocht en hen allen in luttele seconden versloeg.
            De meeste onder hen hadden na afloop medische zorgen of hospitalisatie nodig.
            Het is in deze periode dat hij zijn bijnaam <i>the Godhand</i> kreeg.
            Oyama versloeg zijn tegenstrevers meestal met slechts een enkele techniek, een fenomeen genaamd <i>Ichi Geki Hissatsu - one blow certain death</i>.
        </div>
    </div>
</div>
<div class = "banner tussenbanner post1" id="geschiedenis-tussenbanner"></div>
<div class = "content-box second-content-box post1">
    <div class = "text-box second-text-box">
         <div class="p post2">
            In 1953 opende hij zijn eerst dojo in Mejiro, Tokio.
            Het is echter het jaar 1956 dat kan worden beschouwd als de werkelijke start van de Oyama-school van Kyokushinkai Karate.
            De stijl van de <i>uiterste waarheid</i> zal evenwel pas in 1964 bij de opening van de huidige Honbu-dojo goed van start gaan.
            Op dat moment richtte hij tevens de International Karate Organisation Kyokushinkai-kan op om zijn Karate wereldwijd te promoten.
            Een karatestijl gebaseerd op het samurai-principe <i>osu no seinchin</i> ofwel <i>de geest van volharding</i>.
            Een vaak gebruikt motto was: <i>1000 dagen training een beginner, 10 000 dagen training een meester.</i>
            <br><br>
            Mas Oyama's Karate werd naast de spectaculaire demonstraties vooral bekend door zijn weergaloze boeken.
            <i> What is Karate</i> (1958), <i>This is Karate</i>(1965), <i>Advanced Karate</i> (1970) en <i></i>Karate, the world of the ultimate</i> (1984) zijn de eerste gesystematiseerde werken over deze martiale kunst.
            <br><br>
            Sinds 1975 wordt elke vier jaar het wereldkampioenschap Kyokushinkai Karate gehouden.
            Karateka's van over de hele wereld strijden om de eer in slechts één open gewichtsklasse volgens het knock-out/knock-down systeem (vol-contact) op basis van ronden van drie minuten.
            Men scoort pas een knock-out indien de tegenstrever meer dan tien seconden niet in staat is te vechten!
            <br><br>
            Een andere spectaculaire verwezenlijking uit Kyokushin betreft de <i>100-man kumite</i>.
            Deze test waarbij de deelnemer achtereenvolgens met 100 tegenstrevers vecht op basis van de gekende Kyokushinkai-regels is een uniek gebeuren binnen de wereld van de gevechtssporten.
            Het spreekt vanzelf dat slechts enkelen deze ultieme test hebben kunnen volbrengen.
            Oyama zelf deed deze test driemaal na elkaar gedurende drie opeenvolgende dagen!
            Daarna waren er geen tegenstrevers meer beschikbaar.
         </div>
    </div>
</div>
<div class = "content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class = "h6 post2">KYOKUSHIN VANDAAG</div>
        <br>
        <div class = "p post2">
            Op dit moment zijn er miljoenen wereldwijd die enthousiast plezier beleven aan de erfenis van Mas Oyama.
            Hij stierf in Tokyo op 26 april 1994 na een aanslepende ziekte.
            Sedert de dood van Sosai Oyama is de oorspronkelijke organisatie in Japan spijtig genoeg in verschillende strekkingen uiteengevallen,
            die niettemin allen trachten zijn erfenis zo goed mogelijk te bewaren en de standaard van Kyokushin hoog te houden.
            <br><br>
            Uit het voorgaande blijkt dat Kyokushinkai een erg veeleisende vorm van Karate is.
            Mas Oyama vond dat Karate zo realistisch mogelijk diende te worden beoefend, in de geest van de <i>Bushido</i>, de oude Japanse tradities en erecode van de Samurai.
            Hierdoor vergen Kyokushin-trainingen het uiterste van haar beoefenaars, zowel op fysiek als op mentaal vlak.
            Alle lessen starten met een opwarmingsgedeelte dat bovendien stretching en conditietraining bevat.
            Het doel hiervan is de spieren los te maken, specifieke spiergroepen te verstevigen en het lichaam lenig maken.
            De uithouding wordt op peil gebracht door onder andere looptraining.
            Naast een verbetering van de fysieke conditie is het ook de bedoeling de mentale ingesteldheid met betrekking tot uithouding en volharding te verbeteren, ofwel de <i>stamina</i>.
            Men probeert elke keer zijn of haar grenzen te verleggen.
            Vervolgens wordt aandacht geschonken aan de basistechnieken van Karate, de <i>Kihon</i>.
            In dit lesgedeelte worden stoot-, slag-, trap- en afweertechnieken op een theoretische manier bestudeerd en langdurig ingeoefend,
            zodat ze in geval van nood als een reflex kunnen worden opgeroepen.
            Bijzondere aandacht wordt gegeven aan de controle van de ademhaling, cruciaal voor een vechtsporter.
            Geleidelijk aan zal de leerling verder doordringen in de fascinerende en mysterieuze wereld van de gevechtskunsten
            <br><br>
            Naast de enkelvoudige technieken bestaan er tevens geformaliseerde bewegingsvormen of stijloefeningen
            waarin de basistechnieken in beweging tegen meerdere hypothetische tegenstrevers en in allerlei mogelijke gevechtssituaties worden uitgevoerd.
            We noemen dit <i>Kata</i>. Hoe verder een leerling geraakt, hoe ingewikkelder en gracieuzer ze worden, doch ook met des te meer kracht ze dienen te worden uitgevoerd.
            Coördinatie is hierbij van het grootste belang.
            <br><br>
            Verder maakt het vrij gevecht of <i>Kumite</i> een belangrijk deel uit van het karate en van het Kyokushin Karate in het bijzonder.
            Als voorbereiding worden de basistechnieken uitgevoerd op stootkussens of lederen zak.
            Dit laat toe om een krachtige techniek te ontwikkelen en de contactoppervlakken te harden.
            Hiernaast wordt tevens aan schaduwboksen gedaan om de uitvoeringssnelheid van de technieken te verhogen.
            Vervolgens wordt er met een partner gewerkt om datgene dat werd aangeleerd ook in de praktijk te oefenen.
            Respect voor de oefenpartner is van het grootste belang. Deze helpt je immers bij je kumite-training.
            <br><br>
            Om zo realistisch mogelijk te werken wordt hierbij contact gemaakt.
            De begeleidende lesgevers leiden deze kumite echter in goede banen zodat kwetsuren, ondanks het contact, worden vermeden.
            Daarnaast gebruiken we uiteraard ook diverse beschermingsmiddelen zoals handschoenen, scheenbeschermers, helmen...
            Dit in het bijzonder bij de kinderen.
            <br><br>
            Diegenen die dit wensen kunnen deelnemen aan wedstrijden voor kata en/of kumite.
            De kumitecompetities worden gehouden volgens het wedstrijdreglement van Kyokushin of volgens het knock-out/knock-down-systeem.
            nders dan bij de traditionele non- of semicontact karatewedstrijden kan men bij dit systeem enkel scoren door knock-down of knock-out,
            d.w.z. door het fysiek uitschakelen van zijn tegenstander.
            De wedstrijd wordt dus niet stilgelegd telkens men elkaar raakt.
            Dit systeem laat dan ook vol-contact stoten, slagen en trappen toe op het lichaam, met uitzondering van het aangezicht.
            Uiteraard ligt een streng jureringssysteem met vijf scheidsrechters aan de basis van dergelijke competities.
            <br><br>
            Tenslotte worden de karatetechnieken ook als zelfverdediging aangeleerd.
            We spreken van Goshindo of Goshin-Jitsu.
            Tijdens het hierboven beschreven leerproces zullen de kandidaten achtereenvolgens de volgende stadia doorlopen.
            Positie (standen), balans (controle houden over de positie), coördinatie, vorm (correcte uitvoering), snelheid, kracht en tenslotte reflex (automatisme).
            <br><br>
            In de groep van leerlingen onder de twaalf jaar wordt het leerproces op een minder rigoureuze manier opgevat.
            De nadruk ligt in het spelenderwijze kennis maken met karate.
            Vanaf twaalf jaar kan men stelselmatig overgaan op een meer formele beoefening,
            zonder echter uit het oog te verliezen dat men bovenal plezier dient te beleven aan de vaak zware trainingen.
        </div>
    </div>
</div>
<div class = "outer-content-box">
    <div class = "content-box third-content-box post1">
        <div class = "text-box third-text-box">
            <div class = "h6 post2">DOJO KUN</div>
            <br>
            <div class = "p post2">
                1. Hitotsu, ware ware wa, shinshin o renmashi kakko fubatsu no shingi o kiwameru koto.
                <br>
                2. Hitotsu, ware ware wa, bu no shinzui o kiwame, ki ni hasshi, kan ni bin naru koto.
                <br>
                3. Hitotsu, ware ware wa, shitsujitsu goken o mot-te, jiko no seishin o kanyo suru koto.
                <br>
                4. Hitotsu, ware ware wa, reisetsu o omonji, chojo o keishi, sobo no furumai o tsutsushimu koto.
                <br>
                5. Hitotsu, ware ware wa, shinbutsu o totobi, kenjo no bitoku o wasurezaru
                <br>
                6. Hitotsu, ware ware wa, chisei to tairyoku to o kojo sase, koto ni nozonde ayamatazaru koto.
                <br>
                7. Hitotsu, ware ware wa, shogai no shugyo o Karate no michi ni tsuji, Kyokushin no michi o mat-to suru koto.
                <br>
            </div>
        </div>
    </div>
    <div class = "content-box second-content-box post1">
        <div class = "text-box second-text-box">
            <div class = "h6 post2">Dojo Eed</div>
            <br>
            <div class = "p post2">
                1. Wij zullen ons mentaal en fysiek trainen om een sterke onwankelbare geest te verkrijgen.
                <br>
                2. Wij willen de ware betekenis van de weg der krijgskunsten leren kennen, zodat wij op elk moment op alle mogelijke situaties voorbereid zijn.
                <br>
                3. Wij zullen met ware volharding een onbaatzuchtige geest ontwikkelen.
                <br>
                4. Wij willen de regels van de hoffelijkheid in acht nemen, onze leraren respecteren en elk gevecht trachten te vermijden.
                <br><br>
                5. Wij zullen de ware deugd der nederigheid nooit vergeten.
                <br>
                6. Wij zullen respect opbrengen voor wijsheid en kracht en niet aan andere verlangens toegeven.
                <br>
                7. Door de discipline van Karate-Do zullen wij trachten de ware betekenis van Kyokushin na te streven.
                <br>
            </div>
        </div>
    </div>
</div>
<div class = "outer-content-box">
    <div class = "content-box first-content-box post1">
        <div class = "text-box first-text-box">
            <div class = "h6 post2">KANKU</div>
            <br>
            <div class = "p post2">
                Het Kanku-embleem wordt door alle Kyokushin-karateka's op de linkermouw gedragen en is meestal verweven in het clubembleem.
                Het betreft een zen-symbool dat men kan vormen door beide handen gestrekt voor zich te houden,
                waarbij de gestrekte vingers elkaar bij wijsvingers bovenaan raken en de duimen onderaan.
                De boeddhistische zenmonnikken staarden door deze opening naar de opkomende of ondergaande zon, bij voorkeur aan de waterkant.
                De beide punten gevormd door duimen en wijsvingers stellen het uiterste voor en de beide brede stukken gevormd door de polsen,
                de kracht. De cirkel rondom, evenals de holte binnenin (de zon) stellen de oneindigheid voor.
                Samengevat symboliseert het Kanku-embleem de nooit eindigende inspanning van het leerproces.
                Het was Oyama's droom dat alle egoïstische reflexen zouden opbranden in het vuur van de volgehouden karate-training.
            </div>
        </div>
    </div>
    <div class = "picture-box post1" id="geschiedenis-box5"></div>
</div>
<div class = "outer-content-box">
    <div class = "picture-box post1" id="geschiedenis-box6"></div>
    <div class = "content-box second-content-box post1">
        <div class = "text-box second-text-box">
            <div class = "h6 post2">KANJI</div>
            <br>
            <div class = "p post2">
                De Japanse kalligrafie van het woord Kyokushinkai wordt op de linkerkant van de Dogi gedragen.
                Het is een samensmelting van de verschillende karakters die er deel van uitmaken.
                Men noemt dit de <i>kanji</i>, hoewel kanji in feite de algemene term is voor de Chinese karakters die in het Japanse schrift gebruikt worden.
                Net als de Kanku, is de Kanji een alomtegenwoordig symbool van Kyokushinkai Karate.
                <br><br><br><br>
            </div>
        </div>
    </div>
</div>
<div class = "banner onderbanner post1" id="geschiedenis-onderbanner"></div>
{% endblock %}

