{% extends "nl/layout.html" %}
{% block content %}
<div class = "bovenbanner" id="geschiedenis-bovenbanner">
    <div class = "bovenbanner-box">
        <div align="center" class="bovenbanner-text">Geschiedenis</div>
    </div>
</div>
<div class="content-wrapper">
    <p>&nbsp;</p>
    <div align="center" class="h5">GESCHIEDENIS<br><br />
    </div>
    <div class="p">
        <p class="p"></p>
        <p class="p">De oorsprong van het ongewapend vechten in zuidoost Azië situeert zich voor onze tijdrekening in het huidige Indië. De rondtrekkende zenboeddhistische priesters dienden zich tegen struikrovers te verdedigen en observeerden hiervoor de aanvals- en verdedigingsbewegingen van dieren. Omstreeks 500 na Christus trekt Bodhidarma (Daruma) naar de provincie Henan in het huidige China, waar hij in de shaolintempel zijn kennis ter beschikking stelde van de monniken. Deze gevechtskunst staat vandaag bekend onder de naam Kempo.</p>
        <p class="p">Van hieruit zou deze vechtstijl zich verspreiden over heel China en tevens naar Korea en Japan.</p>
        <p class="p">Het karate zoals wij dit nu kennen kwam op het Japanse eiland Okinawa tot stand eind 18e eeuw. De uit China afkomstige technieken werden er gecombineerd met de lokale systemen van ongewapend vechten. De drie belangrijkste strekkingen waren Nahate, Tomarite en Shurite. In het begin van de 20e eeuw catalogeerde men al deze stijlen onder de noemer Karate.</p>
        <p><span>De vader van het huidige Karate is zonder twijfel <strong>Gichin Funakoshi</strong>. Hij bestudeerde de belangrijkste stijlen en systematiseerde hieruit zijn <strong>Shotokan Karate</strong>. Deze stijl wordt gekenmerkt door voornamelijk rechtlijnige technieken.</span> <span>In 1922 werd Funakoshi, uitgenodigd om in Tokio demonstraties te geven van zijn Karate. Hij zal er tot zijn dood in 1957 verblijven.</span></p>
        <p><span>Een andere belangrijke grootmeester uit Okinawa, <strong>Chojun Miyagi</strong>, verzamelde vooral technieken van Chinese oorsprong. Zijn voornamelijk uit cirkelvormige technieken bestaande Karate noemde hij <strong>Goju-Ryu</strong>. Zijn opvolger <strong>Gogen Yamaguchi </strong>('de kat') zal de stijl op het Japanse vasteland bekend maken.</span></p>
        <p><span>In 1923 wordt <strong>Masutatsu Oyama</strong> in Korea geboren. Op de leeftijd van negen jaar bestudeerde hij reeds het Chinese Kempo en vormen van Taekwondo. Zijn vader stuurde hem op 15-jarige leeftijd naar Japan kort voor het uitbreken van W.O.II. Aanvankelijk begon hij met de studie van Judo, waarin hij een 4de dan behaalde. In 1938 schreef Oyama zich echter in in de school van Gichin Funakoshi om zich vervolgens toe te leggen op het Goju-Ryu van Yamaguchi onder leiding van So Nei Shu. Onder zijn leiding zal Mas Oyama zich tevens bekwamen in zenmeditatie.</span></p>
        <p><span>Oyama, ondertussen 4de dan in Karate-</span>D<span>o geworden, zal dan in 1947 het eerste All Japan Championship Karate winnen.</span></p>
        <p><span>Geïnspireerd door het beroemde boek van de samurai Musashi zal hij zich vervolgens in 1948 gedurende achttien maanden terugtrekken op Mount Kiyosumi in de Japanse provincie Chiba. In deze periode zal Oyama zich onderwerpen aan een rigoureuze training van lichaam en geest. De dagelijkse fysieke training wordt afgewisseld met zenmeditatie.</span> <span>In deze barre omstandigheden krijgt zijn eigen vorm van Karate langzaam gestalte. Hij combineert de rechtlijnige technieken van Funakoshi met de cirkelvormige bewegingen uit het Goju-Ryu. Punt en cirkel worden het wezen van Mas Oyama's Karate.</span> <span>Verder legde hij de nadruk op een zo realistisch mogelijke aanpak van het vrije gevecht, zonder echter de basistechnieken en kata's te verwaarlozen.</span></p>
        <p><span>In 1950 besloot hij de efficiëntie van zijn stijl te toetsen aan de werkelijkheid door het gevecht aan te gaan met een stier. Hiervoor huurde hij een ruimte in een slachterij waar hij drie stieren kon doden en van 49 andere de horens afsloeg.</span></p>
        <p><span>Overtuigd van zijn kunnen trok Oyama vervolgens door Azië en de V.S. waar hij met tientallen uitdagers (boxers, worstelaars, thaiboksers, judoka's...) vocht en hen allen in luttele seconden versloeg.</span> De meeste onder hen hadden na afloop medische zorgen of hospitalisatie nodig. In deze periode wordt zijn bijnaam 'the Godhand' geboren. Oyama versloeg zijn tegenstrevers meestal met slechts een enkele techniek. <strong>Ichi Geki Hissatsu</strong> ('one blow certain death').            </p>
        <p><span>In 1953 opende hij zijn eerst dojo in Mejiro, Tokio. 1956 kan echter worden beschouwd als de werkelijke start van de Oyama-school of <strong>Kyokushinkai</strong>. De stijl van de 'uiterste waarheid' zal evenwel pas in 1964 bij de opening van de huidige Honbu-dojo goed van start gaan. Op dat moment richtte hij tevens de International Karate Organisation Kyokushinkai-kan op om zijn Karate wereldwijd te promoten. Een stijl gebaseerd op het samurai-principe 'osu no seinchin' of 'de geest van volharding' :</span></p>
        <p align="center"><strong><span>&quot;1000 dagen training een beginner, 10 000 dagen training een meester.</span></strong> &quot;</p>
        <p><span>Mas Oyama's Karate werd naast de spectaculaire demonstraties vooral bekend door zijn weergaloze boeken. 'What is Karate' (1958), 'This is Karate'(1965), 'Advanced Karate' (1970) en 'Karate, the world of the ultimate' (1984) zijn de eerste gesystematiseerde werken over deze martiale kunst.</span></p>
        <p><span>Sedert 1975 wordt vierjaarlijks het wereldkampioenschap Kyokushin-Karate gehouden. Kyokushin-Karateka's van over de ganse wereld strijden om de eer in slechts één open gewichtscategorie volgens het knock-out/knock-down systeem (vol-contact) op basis van ronden van drie minuten. Men scoort pas een knock-out indien de tegenstrever meer dan tien seconden niet in staat is te vechten! </span></p>
        <p><span>Een andere spectaculaire Kyokushin-gebeurtenis betreft de '100-man kumite'. Deze test waarbij </span>de<span> deelnemer achtereenvolgens met 100 tegenstrevers vecht</span> op basis van de gekende Kyokushinkai regels<span> is een uniek gebeuren binnen de wereld van de gevechtsporten. Het spreekt vanzelf dat slechts enkelen deze ultieme test hebben kunnen volbrengen. Oyama zelf deed deze test driemaal na elkaar gedurende drie opeenvolgende dagen! Daarna waren er geen tegenstrevers meer beschikbaar.</span></p>
        <p><span>Wij kunnen stellen dat op dit moment miljoenen wereldwijd enthousiast plezier beleven aan de erfenis van Mas Oyama. Hij stierf in Tokyo op 26 april 1994 na een aanslepende ziekte. Sedert de dood van Sosai is de oorspronkelijke organisatie van Mas Oyama in Japan spijtig genoeg in verschillende delen uiteengevallen, die evenwel</span>allen trachten zijn erfenis te bewaren en de Kyokushin standaard hoog te houden.</p>
        <p> </p>
        <p align="center"><img height="270" alt="persontop" src="http://www.kyokushinkaikaratevosselaar.be/pictures/persontop_01.jpg" width="630"></p>
        <p align="center"> </p>
        <div class="h7"><strong>Kyokushin-Karate vandaag</strong></div>
        <p align="center"><span> </span></p>
        <p><span>Uit het voorgaande blijkt dat Kyokushinkai een erg veeleisende vorm van Karate is. Mas Oyama vond dat Karate zo realistisch mogelijk diende te worden beoefend, in de geest van de Bushido, de oude Japanse tradities en erecode van de Samurai. Hierdoor vergen Kyokushin trainingen het <strong>uiterste</strong> van haar beoefenaars, zowel op <strong>fysiek</strong>als op <strong>mentaal</strong> vlak.</span></p>
        <p><span>Alle lessen starten met een <strong>opwarmingsgedeelte</strong> dat bovendien stretching en conditietraining bevat. Het doel hiervan is de spieren los te maken, specifieke spiergroepen te verstevigen en het lichaam lenig maken. De Uithouding wordt op peil gebracht door o.a. looptraining.</span></p>
        <p><span>Naast een verbetering van de fysieke conditie is het ook de bedoeling de mentale ingesteldheid m.b.t. uithouding en volharding te verbeteren (stamina). Men probeert elke keer zijn of haar grenzen te verleggen.</span></p>
        <p><span>Vervolgens wordt aandacht geschonken aan de basistechnieken Karate, de </span><strong>K</strong><span><strong>ihon</strong>. In dit lesgedeelte worden stoot-, slag-, trap- en afweertechnieken op een theoretische manier bestudeerd en eindeloos ingeoefend, zodat ze in geval van nood als een reflex kunnen worden toegepast. Bijzondere aandacht wordt gegeven aan de controle van de ademhaling, cruciaal voor een vechtsporter. Geleidelijk aan zal de leerling verder doordringen in de mysterieuze wereld van geheime gevechtstechnieken, dodelijk indien uitgevoerd op de vitale plaatsen van het lichaam.</span> In beweging uitgevoerd spreken we van <strong>Ido-geiko</strong>.</p>
        <p><span>Naast de enkelvoudige technieken bestaan er tevens geformaliseerde bewegingsvormen of stijloefeningen waarin de basistechnieken in beweging en tegen meerdere tegenstrevers en in allerlei mogelijke gevechtssituaties worden uitgevoerd. We noemen dit </span><strong>K</strong><span><strong>ata</strong>. Hoe verder een leerling geraakt hoe ingewikkelder en gracieuzer ze worden, doch ook met des te meer spiertonus en kracht ze dienen te worden uitgevoerd. Coördinatie is hier van het grootste belang.</span></p>
        <p><span>Verder maakt het vrij gevecht of </span><strong>K</strong><span><strong>umite</strong> een belangrijk deel uit van het karate en van het Kyokushin Karate in het bijzonder.</span><span>Als voorbereiding worden de basistechnieken uitgevoerd op stootkussens of lederen zak. Dit laat toe om een krachtige techniek te ontwikkelen en de contactoppervlakken te harden.</span><span>Hiernaast wordt tevens aan 'schaduwboksen' gedaan om de uitvoeringssnelheid van de technieken te verhogen.</span><span>Vervolgens wordt er met een partner gewerkt om datgene dat werd aangeleerd ook in de praktijk te oefenen. Respect voor de oefenpartner is van het grootste belang. Deze helpt je immers bij je kumite-training.</span></p>
        <p><span>Om zo realistisch mogelijk te werken wordt hierbij <strong>contact</strong> gemaakt. De begeleidende lesgevers leiden deze kumite echter in goede banen zodat kwetsuren, ondanks het contact, worden vermeden. Daarnaast gebruiken we uiteraard ook diverse beschermingsmiddelen zoals handschoenen, scheenbeschermers, helmen... Dit in het bijzonder bij de kinderen.</span></p>
        <p><span>Diegenen die dit wensen kunnen deelnemen aan wedstrijden voor kata en/of kumite.</span> <span>De kumitecompetities worden gehouden volgens het Kyokushin wedstrijdreglement of <strong>knock-out/knock-down systeem</strong>.</span> <span>Anders dan bij de traditionele non- of semicontact karatewedstrijden kan men bij dit systeem enkel scoren door knock-down of knock-out, d.w.z. door het fysiek uitschakelen van zijn tegenstander. De wedstrijd wordt dus niet stilgelegd telkens men elkaar raakt. Dit systeem laat dan ook <strong>vol-contact</strong> stoten, slagen en trappen toe op het lichaam, met uitzondering van het aangezicht. Uiteraard ligt een streng jureringssysteem met vijf scheidsrechters aan de basis van dergelijke competities.</span></p>
        <p>Tenslotte worden de karatetechnieken ook als zelfverdediging aangeleerd. We spreken van <strong>Goshindo of Goshin-Jitsu.</strong></p>
        <p><span>Tijdens het hierboven beschreven leerproces zullen de kandidaten achtereenvolgens de volgende stadia doorlopen. Positie (standen), balans (controle houden over de positie), coördinatie, vorm (correcte uitvoering), snelheid, kracht en tenslotte reflex (automatisme).</span></p>
        <p><span>In de groep van leerlingen -12 jaar wordt het leerproces op een minder rigoureuze manier opgevat. De nadruk ligt in het spelenderwijze kennis maken met Karate.</span><span>Vanaf 12 jaar kan men stelselmatig overgaan op een meer formele beoefening van het Karate, zonder echter uit het oog te verliezen dat men bovenal plezier dient te beleven aan de (vaak) zware trainingen.</span></p>
        <p> </p>
        <p>&nbsp;</p>
        <div class="h7"><strong>Kyokushinkai Dojo Kun</strong></div>
        <p><span>  </span></p>
        <ol>
            <li><span>Hitotsu, ware ware wa, shinshin o renmashi kakko fubatsu no shingi o kiwameru koto.</span></li>
            <li><span>Hitotsu, ware ware wa, bu no shinzui o kiwame, ki ni hasshi, kan ni bin naru koto.</span></li>
            <li><span>Hitotsu, ware ware wa, shitsujitsu goken o mot-te, jiko no seishin o kanyo suru koto.</span></li>
            <li><span>Hitotsu, ware ware wa, reisetsu o omonji, chojo o keishi, sobo no furumai o tsutsushimu koto.</span></li>
            <li><span>Hitotsu, ware ware wa, shinbutsu o totobi, kenjo no bitoku o wasurezaru koto.</span></li>
            <li><span>Hitotsu, ware ware wa, chisei to tairyoku to o kojo sase, koto ni nozonde ayamatazaru koto.</span></li>
            <li><span> Hitotsu, ware ware wa, shogai no shugyo o Karate no michi ni tsuji, KYOKUSHIN no michi o mat-to suru koto.</span></li>
        </ol>
        <ol>
            <li><span>Wij zullen ons mentaal en fysiek trainen om een sterke onwankelbare geest te verkrijgen.</span></li>
            <li><span>Wij willen de ware betekenis van de weg der krijgskunsten leren kennen, zodat wij op elk moment op alle mogelijke situaties voorbereid zijn.</span></li>
            <li><span>Wij zullen met ware volharding een onbaatzuchtige geest ontwikkelen.</span></li>
            <li><span>Wij willen de regels van de hoffelijkheid in acht nemen, onze leraren respecteren en elk gevecht trachten te vermijden.</span></li>
            <li><span>Wij zullen de ware deugd der deemoed nooit vergeten.</span></li>
            <li><span>Wij zullen respect opbrengen voor wijsheid en kracht en niet aan andere verlangens toegeven.</span></li>
            <li><span>Door de discipline van Karate-Do zullen wij trachten de ware betekenis van KYOKUSHIN na te streven.</span></li>
        </ol>
        <p><span> </span><span>Bovenstaande Dojo Kun of Dojo Eed is een vertaling van de tekst die in Mas Oyama's Honbu Dojo in Tokio, Japan terug te vinden is.</span></p>
        <p align="center"><img height="270" alt="fightertop" src="http://www.kyokushinkaikaratevosselaar.be/pictures/fightertop_01.jpg" width="630"></p>
        <p align="center"> </p>
        <div class="h7"><strong>De Kanku en de Kanji</strong></div>
        <p align="center">&nbsp;</p>
        <p align="left"><span>Het Kanku-embleem wordt door alle Kyokushin-karateka's op de linkermouw gedragen en is meestal verweven in het clubembleem.</span><span>Het betreft een zen-symbool dat men kan vormen door beide handen gestrekt voor zich te houden, waarbij de gestrekte vingers elkaar bij wijsvingers bovenaan raken en de duimen onderaan. De boeddhistische zenmonnikken staarden door deze opening naar de opkomende of ondergaande zon, bij voorkeur aan de waterkant.</span></p>
        <p align="left"><span>De beide punten gevormd door duimen en wijsvingers stellen het uiterste voor en de beide brede stukken gevormd door de polsen, de kracht.</span> <span>De cirkel rondom, evenals de holte binnenin (de zon) stellen de oneindigheid voor. Samengevat symboliseert het Kanku-embleem de <strong>nooit eindigende inspanning van het leerproces</strong>.</span></p>
        <p align="left"><span>Het was Oyama's droom dat alle egoïstische reflexen zouden opbranden in het vuur van de volgehouden karate-training!</span></p>
        <p align="center"><img src="{{ url_for('static',filename='layout/kanku_transparant.png')}}" width="200" height="200" alt="" /></p>
        <p> </p>
        <p align="left"><span>De Japanse kalligrafie van het woord Kyokushinkai wordt op de linkerkant van de Dogi gedragen.</span></p>
        <p align="center"><img src="{{ url_for('static',filename='layout/kanji.png')}}" width="200" height="450" alt="" /></p>
    </div>
</div>
<div class = "outer-content-box">
    <div class = "content-box first-content-box">
        <div class = "text-box first-text-box">
            <div class = h5>HET BEGIN - SHAOLIN KEMPO </div>
            <br><br>
            <div class="p">
                Kara-te betekent letterlijk 'lege hand'.
                Vrij vertaald betreft het de 'kunst van het vechten zonder wapens',
                waarbij je gebruik maakt van delen van het lichaam die als wapen kunnen dienen,
                zoals bv. vuist, elleboog, knie, been, voet enz...
                De oorsprong van het ongewapend vechten in zuidoost Azië situeert zich voor onze tijdrekening in het huidige Indië.
                De rondtrekkende zenboeddhistische priesters dienden zich tegen struikrovers te verdedigen en observeerden hiervoor de aanvals- en verdedigingsbewegingen van dieren.
                Omstreeks 500 na Christus trekt de stichter van het zenboeddhisme, Bodhidarma, Daruma in het Japans, naar de provincie Henan in het huidige China.
                Daar stelt hij in de shaolintempel zijn kennis ter beschikking van de monniken.
                De gevechtskunst die eruit voortkwam is vandaag bekend onder de naam Kempo, of Kung Fu.
                Van hieruit zou deze vechtstijl zich verspreiden over heel China en tevens naar Korea en Japan.
            </div>
        </div>
    </div>
    <div class = "picture-box" id="geschiedenis-box1"></div>
</div>
<div class = "outer-content-box">
    <div class = "picture-box" id="geschiedenis-box1"></div>
    <div class = "content-box second-content-box">
        <div class = "text-box second-text-box">
            <div class = h5>KARATE</div>
            <br><br>
            <div class="p">
                Het karate zoals wij dit nu kennen kwam op het Japanse eiland Okinawa tot stand eind 18e eeuw.
                De uit China afkomstige technieken werden er gecombineerd met de lokale praktijken van ongewapend vechten.
                De drie belangrijkste strekkingen waren Nahate, Tomarite en Shurite.
                In het begin van de 20e eeuw catalogeerde men al deze stijlen onder de noemer Karate.
            </div>
        </div>
    </div>
</div>
<div class = "content-box first-content-box">
    <div class = "text-box first-text-box">
        <div class = h5>WEGDRIJVEN  迷うことなかれ </div>
        <br><br>
        <div class = p>
            "Geld is iets kostbaars, maar word er geen slaaf van.
        </div>
    </div>
</div>
<div class = "content-box third-content-box">
    <div class = "text-box third-text-box">
        <div class = h5>LOOP NIET WEG VAN PROBLEMEN  苦しみから逃げるな</div>
        <br><br>
        <div class = p>
            "Wanneer je het moeilijk krijgt, wordt het ook moeilijk voor je tegenstanders.
        </div>
    </div>
</div>
<div class = "content-box first-content-box">
    <div class = "text-box first-text-box">
        <div class = h5>GARYU  臥竜</div>
        <br><br>
        <div class = p>
            "Ik hou van de kata Garyu.
        </div>
    </div>
    <div class = "draak"></div>
</div>
<div class = "tussenbanner" id="geschiedenis-tussenbanner"></div>
<div class = "content-box second-content-box">
    <div class = "text-box second-text-box">
         <div class = h5>GEEF NOOIT OP  ネバーギブアップ </div>
         <br><br>
         <div class="p">
            "Mensen die Kyokushinkai Karate beoefenen denken of handelen niet zoals anderen.
         </div>
    </div>
</div>
<div class = "content-box first-content-box">
    <div class = "text-box first-text-box">
        <div class = h5>MOEDER  母親 </div>
        <br><br>
        <div class = p>
            "Als je echt een sterk persoon wilt worden, moet je de zwakkeren helpen.
        </div>
    </div>
</div>
<div class = "content-box third-content-box">
    <div class = "text-box third-text-box">
        <div class = h5>KYOKUSHIN  極真は</div>
        <br><br>
        <div class = p>
            "Het woord Kyokushin bestaat uit twee kanji karakters.
        </div>
    </div>
</div>
<div class = "content-box first-content-box">
    <div class = "text-box first-text-box">
        <div class = h5>DE BETEKENIS VAN KYOKUSHIN SPIRIT  極真精神の意味</div>
        <br><br>
        <div class = p>
            "Wend je hoofd naar beneden, maar hou je ogen omhoog gericht.
        </div>
    </div>
</div>
<div class = "content-box fourth-content-box">
    <div class = "text-box fourth-text-box">
         <div class = h5>VUIST  正拳 </div>
         <br><br>
         <div class="p">
            "Zelfs nu nog stel ik mezelf in vraag: is dit de juiste manier om een goede vuist te maken?
         </div>
    </div>
</div>
<div class = "onderbanner" id="geschiedenis-onderbanner"></div>
{% endblock %}

