{% extends "nl/layout.html" %}
{% block content %}
<div class = "banner bovenbanner" id="kata-bovenbanner">
    <div class = "h4-box post1">
        <div class="h4">Kata<br><br /></div>
    </div>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">KYOKUSHIN KATA</div>
        <br><br>
        <div class="p post2">
            Het woord <i>kata</i> betekent <i>vorm</i> of <i>patroon.</i>
            Een kata is een opeenvolging van technieken vanuit één of meer standen, waarbij naar verschillende richtingen wordt bewogen.
            Het aantal bewegingen en de volgorde daarvan zijn erg nauwkeurig vastgelegd.
            De balans tussen aanvallende en verdedigende technieken, de houdingen, de richting en de uitvoering van de bewegingen geven elke kata zijn eigen specifieke karakter.
            De uitvoering van Kata’s zorgt ervoor dat de traditionele vechttechnieken worden aangeleerd.
            Balans, coördinatie, ademhaling en concentratie wordt bij het oefenen van de Kata’s ontwikkeld.
            Kata’s zijn, als ze goed worden uitgevoerd, niet alleen bijzonder goede lichamelijke oefeningen maar ook een effectieve manier van complete geest- en lichaamstraining.
            <br><br>
            Kata’s kennen het <i>Ren Ma</i> principe, wat staat voor <i>altijd poetsen</i>.
            Dit betekent dat de bewegingen van kata’s veelvuldig en geconcentreerd geoefend moeten worden om de Kata meester te worden.
            Telkens wanneer een kata gelopen wordt, wordt hij figuurlijk opgepoetst, verder gepolijst tot perfectie.
            Concentratie, toewijding en oefening zorgen ervoor dat een hoger niveau van leren wordt bereikt,
            een niveau waarbij een kata zo geïntegreerd is in de onderbewuste geest dat een goede uitvoering ervan een vanzelfsprekendheid wordt.
            Dit wordt door Zen-meesters <i>Mushin</i> of <i>geen geest</i> genoemd.
            Wat eens bewust werd getraind wordt nu spontaan uitgevoerd.
            <br><br>
            Mas Oyama, de stichter van Kyokushin, zei dat men karate moet zien als een soort taal waarin de <i>Kihon</i>, de basistechnieken, geleerd kunnen worden als de letters van het alfabet.
           <i>Kata</i> slaat dan op de woorden en de zinnen en <i>Kumite</i> vormt de gesprekken.
           Oyama geloofde dat het beter is één kata goed te leren dan veel kata's half.
           <br><br>
           Naast een trainingsmethode is het uitvoeren van een kata voor de karateka ook een manier om respect te betonen aan de geschiedenis en tradities van Kyokushin,
           Karate, en de Japanse vechtskunsten in het algemeen.
        <br><br>
        </div>
    </div>
</div>
<div class="content-box second-content-box post1">
    <div class = "text-box second-text-box">
        <div class="h6 post2">DRIE FUNDAMENTELE PRINCIPES</div>
        <br><br>
        <div class="p post2">
        1. Waza no Kankyu - <i>Tempo of Technique</i>
        <br>
        Hiermee bedoelt met de snelheid waarmee je je technieken uitvoert.
        Het tempo van een Kata varieert.
        Sommige technieken dienen langzaam te worden uitgevoerd, andere juist snel.
        <br><br>
        2. Chikara no Kyojaku - <i>Points of Power and Stress</i>
        <br>
        De intensiteit van de uitvoering varieert.
        Sommige technieken verdienen nadruk of dienen met meer kracht uitgevoerd te worden.
        Het is belangrijk om in de uitvoering van de technieken steeds een goede balans tussen kracht en ontspanning te vinden.
        <br><br>
        3. Iki no Chosei - <i>Breath control</i>
        <br>
        Het derde puntje slaat op de controle van de ademhaling.
        In <i>Kata</i>, net als in <i>Kumite</i>, is ademhalingscontrole belangrijk.
        Indien je buiten adem geraakt is het gevecht voorbij.
        Je moet steeds een volledige beheersing van je ademhaling handhaven.
        Bovendien moet je bij sommige technieken die nadruk vragen, het patroon van je ademhaling veranderen
        door bijvoorbeeld zeer langzaam in of uit te ademen.
        </div>
    </div>
</div>
<div class = "banner tussenbanner post1" id="kata-tussenbanner"></div>
<div class="content-box third-content-box post1">
    <div class = "text-box third-text-box">
        <div class="h6 post2">Oorsprong</div>
        <br><br>
        <div class="p post2">
            De kata's in Kyokushin worden vaak onderverdeeld naargelang hun oorsprong, noordelijk of zuidelijk.
            De noordelijke kata's zijn verwant aan de kata's die terug te vinden zijn in Shotokan Karate.
            Gichin Funakoshi was eens Mas Oyama's leermeester.
            De invloed van Shotokan op Kyokushin is dus aanzienlijk, inclusief overgenomen kata's.
            Funakoshi haalde zijn kata's oorspronkelijk uit de noordelijke Chinese stijlen en uit Shorin Ryu.
            Deze laatste is een karatestijl uit Okinawa die gebaseerd is op het Chinese Shaolin Kempo.
            Deze noordelijke kata's maken gebruik van krachtige, veelal wijde standen en sterke blokkeringen en aanvallen.
            Ze zijn - net als Shotokan zelf - eerder rechtlijnig, zowel in het gebruik van de technieken als in de algehele vorm.
            Dit zijn de noordelijke kata's:
            <br><br>
        </div>
    </div>
    <div class = "rectangle-wrap">
        <div class="rectangle white-rectangle first-rectangle post2" >
            <div class="recth">Taikyoku 1-3</div>
            <br>
            <div class="rectp">
                Deze drie kata's zijn basiskata's.
                Ze worden uitgevoerd in eenvoudige standen en maken gebruik van slechts enkele basistechnieken.
                De beheersing ervan is cruciaal om aan hogere kata's te kunnen beginnen, laat staan meester te worden.
            </div>
        </div>
        <div class="rectangle white-rectangle second-rectangle post2">
            <div class="recth">Pinan 1-5</div>
            <br>
            <div class="rectp">
                Deze kata's volgen op de Taikyoku-kata's in moeilijkheidsgraad.
                Ze maken gebruik van een zeer uitgebreid spectrum aan technieken en standen.
                De Pinans vormen dan ook het belangrijkste deel van de katatraining van iedere leerling.
                Beheersing van deze kata's is hele verwezenlijking en laat zien dat je klaar bent om hogere kata's aan te vatten.
            </div>
        </div>
        <div class="rectangle white-rectangle third-rectangle post2">
            <div class="recth">Tsuki-no-Kata</div>
            <br>
            <div class="rectp">
                "Kata der stoten". Dit is een iets verder gevorderde kata waarin men voornamelijk gebruik maakt van stoottechnieken.
                Kracht en volharding zijn hierbij van uitzonderlijk belang.
            </div>
        </div>
    </div>
    <div class = "rectangle-wrap">
        <div class="rectangle white-rectangle first-rectangle post2" >
            <div class="recth">Yantsu</div>
            <br>
            <div class="rectp">
                "Veilige drie". Deze kata kent drie fases: één voorwaartse en twee zijwaartse.
                Yantsu is een voortreffelijke oefening in precisie en balans.
                Hoewel deze kata zeer kort is, wordt hij niettemin vaak gezien als een moeilijkere kata,
                waarvan een correcte uitvoering veel zegt over de techniek van kunde van de uitvoerder.
            </div>
        </div>
        <div class="rectangle white-rectangle second-rectangle post2">
            <div class="recth">Kankudai</div>
            <br>
            <div class="rectp">
                "De hemel aanschouwen".
                Hoewel technisch niet veel uitdagender dan de pinans, is het een zeer lange kata.
                Een uitstekende conditie en techniek is vereist om deze met adequate kracht, snelheid en precisie uit te voeren.
                Voor Kyokushinkai is Kankudai een kata van bijzondere betekenis.
                Het logo van Kyokushin is immers gebaseerd op de eerste beweging.
            </div>
        </div>
        <div class="rectangle white-rectangle third-rectangle post2">
            <div class="recth">Sushiho</div>
            <br>
            <div class="rectp">
                "54 stappen". Dit is zonder twijfel de langste en meest uitdagende kata in Kyokushin.
                Alleen de hoogste graden nemen deze kata onderhanden.
                Het meesterschap erover is slechts voor enkelen weggelegd.
                Het precieze aantal stappen is niet exact 54.
                Dit getal is gekozen wegens het heilige karakter ervan in het Buddhisme.
            </div>
        </div>
    </div>
    <div class = "text-box third-text-box">
        <div class="p post2">
            <br><br>
            De zuidelijke Kata's werden ontwikkeld tijdens Mas Oyama's studie van het Goju Ryu Okinawa Karate van So Nei Chu en Gogen Yamaguchi.
            De bewegingen van deze oorspronkelijk zuidelijke Chinese kata's zijn meer circulair en golvend dan die in kata's uit de noordelijke traditie.
            Dit zijn de zuidelijke kata's:
        </div>
    </div>
    <div class = "rectangle-wrap">
        <div class="rectangle white-rectangle first-rectangle post2" >
            <div class="recth">Sanchin no Kata</div>
            <br>
            <div class="rectp">
                Blablabla.
            </div>
        </div>
        <div class="rectangle white-rectangle second-rectangle post2">
            <div class="recth">Gekisai Dai</div>
            <br>
            <div class="rectp">
                Gekisai Dai
            </div>
        </div>
        <div class="rectangle white-rectangle third-rectangle post2">
            <div class="recth">Gekisai Sho</div>
            <br>
            <div class="rectp">
                Blablabla
            </div>
        </div>
    </div>
    <div class = "rectangle-wrap">
        <div class="rectangle white-rectangle first-rectangle post2">
            <div class="recth">Tensho</div>
            <br>
            <div class="rectp">
                Blablabla
            </div>
        </div>
        <div class="rectangle white-rectangle second-rectangle post2" >
            <div class="recth">Saiha</div>
            <br>
            <div class="rectp">
                Blablabla.
            </div>
        </div>
        <div class="rectangle white-rectangle third-rectangle post2">
            <div class="recth">Seienchin</div>
            <br>
            <div class="rectp">
                Blablabla.
            </div>
        </div>
    </div>
    <div class = "rectangle-wrap">
        <div class="rectangle white-rectangle first-rectangle post2">
            <div class="recth">Garyu</div>
            <br>
            <div class="rectp">
                Blablabla.
            </div>
        </div>
        <div class="rectangle white-rectangle second-rectangle post2">
            <div class="recth">Seipai</div>
            <br>
            <div class="rectp">
                Blablabla.
            </div>
        </div>
    </div>
</div>
<div class = "banner onderbanner post1" id="kata-onderbanner"></div>
{% endblock %}
