{% extends "nl/layout.html" %}
{% block content %}
<div class = "banner bovenbanner" id="kata-bovenbanner">
    <div class = "bovenbanner-box">
        <div align="center" class="bovenbanner-text">Kata<br><br /></div>
    </div>
</div>
<div class="content-box first-content-box">
    <div class = "text-box first-text-box">
        <div align="center" class="h5">KATA</div>
        <br><br>
        <div class="p">
            Er wordt aan gewerkt.
        <br><br>
        </div>
    </div>
</div>
<div class = "banner onderbanner" id="kata-onderbanner"></div>
{% endblock %}
