{% extends "nl/layout.html" %}
{% block content %}
<div class = "banner bovenbanner" id="kata-bovenbanner">
    <div class = "bovenbanner-box">
        <div align="center" class="bovenbanner-text">Kihon<br><br /></div>
    </div>
</div>
<div class="content-box first-content-box">
    <div class = "text-box first-text-box">
        <div align="center" class="h5">BASISTECHNIEKEN</div>
        <br><br>
        <div class="p">
            Karate betekent lege hand, wat betekent dat, indien noodzakelijk, je lichaam kan ingezet worden als een wapen.
            Je ledematen, delen van de hand, armen en benen en zelfs je hoofd kan je benutten om uit een benarde situatie te geraken.
            De wijze waarop dit gebeurt wordt bestudeerd tijdens de beoefening van Kihon.
            <br><br>
            Kihon is dus het deel van karate dat betrekking heeft op alle basistechnieken.
            Om karate meester te worden, moet de student eerst en vooral deze technieken bestuderen en veelvuldig oefenen.
            Dit vormt de basis van karate.
            Zonder een groot aantal vna de technieken te kennen, is het niet mogelijk om aan complexere vormen, <i>Kata</i>, te beginnen of om te leren vechten, <i>Kumite</i>.
            <br><br>
            We kunnen ruwweg vier categorieën van technieken onderscheiden:
            <br><br>
            1. Stoottechnieken  of <i>Tsuki-waza.</i>
            <br>
            2. Slagtechnieken of <i>Uchi-waza</i>
            <br>
            3. Afweertechnieken of <i>Uke-waza</i>
            <br>
            4. Traptechnieken of <i>Uke-waza</i>
            <br><br>
        </div>
    </div>
</div>
<div class="content-box second-content-box">
    <div class = "text-box second-text-box">
        <div align="center" class="h5">IN BEWEGING</div>
        <br><br>
        <div class="p">
        Verder wordt veel aandacht besteed aan de stand van waaruit een techniek wordt uitgevoerd.
        De studie van deze standen noemt men <i>Dachi-waza</i>
        Indien men een vaste reeks technieken uitvoert in beweging, dus met behulp van een aantal standen, noemt men dit <i>Ido-Geiko</i>.
        De beoefenaar voert in een bepaalde stand een of meerdere basistechnieken uit en stapt dan verder waarna hij deze technieken herhaalt.
        Na enkele malen draait men 180 graden en herhaalt men de reeks.
        <br><br>
        Heel wat van bovengenoemde basistechnieken dienen niet enkel om schade toe te brengen aan de tegenstander, maar kunnen eveneens ingezet worden als zelfverdediging.
        We spreken dan van <i>Goshindo.</i>
        </div>
    </div>
</div>
<div class = "banner onderbanner" id="kihon-onderbanner"></div>
{% endblock %}
