{% extends "nl/layout.html" %}
{% block content %}
<div class = "banner bovenbanner" id="kata-bovenbanner">
    <div class = "bovenbanner-box post1">
        <div align="center" class="bovenbanner-text">Kihon<br><br /></div>
    </div>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h5 post2">BASISTECHNIEKEN</div>
        <br><br>
        <div class="p post2">
            Karate betekent lege hand, wat betekent dat, indien noodzakelijk, je lichaam kan ingezet worden als een wapen.
            Je ledematen, delen van de hand, armen en benen en zelfs je hoofd kan je benutten om uit een benarde situatie te geraken.
            De wijze waarop dit gebeurt wordt bestudeerd tijdens de beoefening van Kihon.
            Kihon is dus het deel van karate dat betrekking heeft op alle basistechnieken.
            Om karate meester te worden, moet de student eerst en vooral deze technieken bestuderen en veelvuldig oefenen.
            Dit vormt de basis van karate.
            Zonder een groot aantal vna de technieken te kennen, is het niet mogelijk om aan complexere vormen, <i>Kata</i>, te beginnen of om te leren vechten, <i>Kumite</i>.
            In Kihon kunnen we ruwweg vier categorieën van technieken onderscheiden:
            <br><br>
        </div>
        <div class = "rectangle-wrap">
            <div class="rectangle first-rectangle post2" >
                <div class="recth">Tsuki-waza</div>
                <br>
                <div class="recticon" id ="stoot-icoon"></div>
                <br>
                <div class="rectp">
                    Stoottechnieken. Deze worden meestal gemaakt met gesloten hand.
                    Naast de vuist zijn er echter nog een aantal andere mogelijkheden om stoten uit te voeren, waaronder de palm van de hand.
                </div>
            </div>
            <div class="rectangle second-rectangle post2">
                <div class="recth">Uchi-waza</div>
                <br>
                <div class="recticon" id ="slag-icoon"></div>
                <br>
                <div class="rectp">
                    Slagtechnieken. Deze klasse van technieken wordt typisch gemaakt met open hand.
                    Veelal wordt de zijkant van de hand gebruikt om impact te maken.
                </div>
            </div>
            <div class="rectangle third-rectangle post2">
                <div class="recth">Uke-waza</div>
                <br>
                <div class="recticon" id="afweer-icoon"></div>
                <br>
                <div class="rectp">
                    Afweertechnieken. Dit is een zeer diverse categorie van technieken, bedoeld om allerlei aanvallen te blokkeren.
                </div>
            </div>
            <div class="rectangle fourth-rectangle post2">
                <div class="recth">Geri-waza</div>
                <br>
                <div class="recticon" id="trap-icoon"></div>
                <br>
                <div class="rectp">
                    Traptechnieken. Karate kent een wijd gamma aan trappen naar verschillende doelwitten en op verschillende hoogtes.
                    Afhankelijk van de trap kan de impact gemaakt worden met de zijkant, de wreef, de hiel of de ballen van de voet.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-box second-content-box post1">
    <div class = "text-box second-text-box">
        <div class="h5 post2">IN BEWEGING & IN DE PRAKTIJK</div>
        <br><br>
        <div class="p post2">
        Verder wordt veel aandacht besteed aan de stand van waaruit een techniek wordt uitgevoerd.
        De studie van deze standen noemt men <i>Dachi-waza.</i>
        Indien men een vaste reeks technieken uitvoert in beweging, dus met behulp van een aantal standen, noemt men dit <i>Ido-Geiko</i>.
        De beoefenaar voert in een bepaalde stand een of meerdere basistechnieken uit en stapt dan verder waarna hij deze technieken herhaalt.
        Na enkele malen draait men 180 graden en herhaalt men de reeks.
        Zo verfijnt de karateka zijn standen en balans krijgt hij inzicht in het gebruik van de geleerde technieken in een realistischere context.
        Het is daarnaast een uitstekende voorbereiding op <i>Kata</i>.
        Wanneer de technieken van Kihon worden gebruikt en ingeoefend in concrete, praktische situaties ter zelfverdediging, dan spreken we van <i>Goshindo.</i>
        </div>
    </div>
</div>
<div class = "banner onderbanner post1" id="kihon-onderbanner"></div>
{% endblock %}
