{% extends "nl/layout.html" %}
{% block content %}
<div class = "banner bovenbanner" id="kumite-bovenbanner">
    <div class = "h4-box post1">
        <div class="h4">Kumite<br><br /></div>
    </div>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">VRIJ VECHTEN</div>
        <br>
        <div class="p post2">
            Kumite is het vrije vechten tegen een tegenstander.
            Dit is het ultieme doel van de studie van deze krijgskunst: het opnemen tegen een tegenstrever om je kunnen en wilskracht te testen.
            Toen Mas Oyama nog trainde onder Gichin Funakoshi was hij van mening dat dit ultieme aspect van Karate lang niet realistisch genoeg werd getraind.
            Jaren later in zijn eigen Dojo was de aanpak dan ook geheel verschillend.
            Anders dan bij de traditionele systemen, waarbij men elkaar nauwelijks raakte en vooral de correcte uitvoering der technieken voorop stond,
            ging Oyama er vanuit dat het eindresultaat het belangrijkste was.
            Zijn zogenaamde<i>Jissen Kumite</i>, of continue gevecht, waarbij men elkaar voluit kon raken en waarbij men zonder enige vorm van bescherming vocht,
            werd een revelatie binnen de wereld van de gevechtskunst.
            Men vocht tot één van de vechters te kennen gaf dat hij niet verder kon, waarbij eveneens slag- en stoottechnieken naar het aangezicht toegelaten waren.
            <br><br>
            Vechters van alle mogelijke stijlen - ook niet karateka's - kwamen meetrainen in de Honbu Dojo van Oyama.
            Slechts een fractie bleef evenwel deze zware trainingen volgen, waarbij Sosai het steeds opnam tegen alle aanwezige studenten, hoeveel het er ook waren.
            Later, toen Mas Oyama competities ging organiseren, werden de regels aangepast om kwetsuren te vermijden.
            Vastgrijpen, worpen en directe stoten naar het aangezicht werden verboden, echter de essentie van de zaak bleef bestaan:
            tussen “Hajime” en “Yame” is het oorlog en dient de Kyokushin-student tot het uiterste te gaan.
            Dit geldt trouwens voor alle aspecten van Kyokushin Karate: Kihon, Ido-Geiko alsook Kata en is tevens een belangrijke levensles (als je iets wil bereiken moet je er hard voor vechten).
            De hedendaagse Kyokushinkai wedstrijden voor volwassenen zijn nog steeds op basis van volcontact-regels en zonder bescherming.
            De wedstrijden worden slechts gestopt indien één van de vechters de controle over de wedstrijd verliest.
            Voor de jeugd gelden dezelfde regels, maar worden ze in functie van de leeftijd aangepast met betrekking tot het toegelaten contact en de manier waarop punten worden toegekend.
            Verder vechten zij wel met aangepaste bescherming van hoofd, handen en benen.
            Daar waar in de beginjaren de nadruk lag op incasseren van technieken werd Kyokushinkai Kumite in de loop der jaren alsmaar technischer.
            Ingewikkelde afweertechnieken en ontwijkende bewegingen werden populair, aangevuld met een brede waaier van razendsnelle en hoge traptechnieken en bikkelharde stootcombinaties.
            Een vechtstijl die de vaak gebruikte titel van <i>Strongest Karate in the World</i> waardig is!
            <br>
        </div>
    </div>
</div>
<div class = "banner tussenbanner post1" id="kumite-tussenbanner"></div>
<div class = "outer-content-box">
    <div class = "picture-box post1" id="kumite-box1"></div>
    <div class = "content-box second-content-box post1">
        <div class = "text-box second-text-box">
            <div class = "h6 post2">Tameshiwari</div>
            <br>
            <div class="p post2">
                Tenslotte is ook <i>Tameshiwari</i>, oftewel breektechnieken, een onderdeel van Karate.
                Dit is wellicht het meest iconische deel van onze gevechtskunst.
                Karate staat erom bekend dat de beoefenaar in staat zou zijn om allerlei voorwerpen te breken met zijn of haar technieken.
                In werkelijkheid wordt dit slechts zelden gedaan, op enkele speciale gelegenheden na.
                Men sluit er bijvoorbeeld wel eens een examen mee af om te testen of de deelnemers technieken ook in de praktijk effectief zijn
                en om zijn of haar stamina nog een laatste maal op de proef te stellen.
                Daarnaast is dit ook een terugkerend fenomeen op de grotere Kumite-wedstrijden.
                Op zulke toernooien dienen tenminste twee planken op vier verschillende wijzen gebroken te worden: Seiken, Shuto, Hiji en Kakato.
                Wie dit niet kan, moet de competitie verlaten.
                Het gebroken aantal planken telt dan later mee als een wedstrijd onbeslist blijft.
                Ondanks dat Tameshiwari in feite dus slechts een randverschijnsel is van karate, wordt het door velen niettemin beschouwd als een ultieme test van een karateka's techniek, gehardheid en wilskracht.
            </div>
        </div>
    </div>
</div>
<div class = "banner onderbanner post1" id="kumite-onderbanner"></div>
{% endblock %}
