{% extends "nl/layout.html" %}
{% block content %}
<div class = "banner bovenbanner" id="kumite-bovenbanner">
    <div class = "bovenbanner-box post1">
        <div align="center" class="bovenbanner-text">Kumite<br><br /></div>
    </div>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h5 post2">VRIJ VECHTEN</div>
        <br><br>
        <div class="p post2">
            Kumite is het vrije vechten tegen een tegenstander.
            Dit is het ultieme doel van de studie van deze krijgskunt: het opnemen tegen een tegenstrever om je kunnen en wilskracht te testen.
            Toen Mas Oyama nog trainde onder Gichin Funakoshi was hij van mening dat dit ultieme aspect van Karate lang niet realistisch genoeg werd getraind.
            Jaren later in zijn eigen Dojo was de aanpak dan ook geheel verschillend.
            Anders dan bij de traditionele systemen, waarbij men elkaar nauwelijks raakte en vooral de correcte uitvoering der technieken voorop stond,
            ging Oyama er vanuit dat het eindresultaat het belangrijkste was.
            Zijn zogenaamde<i>“Jissen Kumite</i> of continue gevecht waarbij men elkaar voluit kon raken en waarbij men zonder enige vorm van bescherming vocht,
            werd een revelatie binnen de wereld van de gevechtskunst.
            Men vocht tot één van de vechters te kennen gaf dat hij niet verder kon, waarbij eveneens slag- en stoottechnieken naar het aangezicht toegelaten waren!
            <br><br>
            Vechters van alle mogelijke stijlen - ook niet karateka's - kwamen meetrainen in de Honbu Dojo van Oyama.
            Slechts 10% bleef evenwel deze zware trainingen volgen, waarbij Sosai het steeds opnam tegen alle aanwezige studenten, hoe veel het er ook waren.
            Later, toen Mas Oyama competities ging organiseren, werden de regels aangepast om kwetsuren te vermijden.
            Vastgrijpen, worpen en directe stoten naar het aangezicht werden verboden, echter de essentie van de zaak bleef bestaan:
            tussen “Hajime” en “Yame” is het oorlog en dient de Kyokushin-student tot het uiterste te gaan.
            Dit geldt trouwens voor alle aspecten van Kyokushin Karate: Kihon, Ido-Geiko alsook Kata en is tevens een belangrijke levensles (als je iets wil bereiken moet je er hard voor vechten).
            De hedendaagse Kyokushinkai wedstrijden voor volwassenen zijn nog steeds op basis van volcontact-regels en zonder bescherming.
            De wedstrijden worden slechts gestopt indien één van de vechters de controle over de wedstrijd verliest.
            Voor de jeugd gelden dezelfde regels, maar worden ze in functie van de leeftijd aangepast met betrekking tot het toegelaten contact en de manier waarop punten worden toegekend.
            Verder vechten zij wel met aangepaste bescherming van hoofd, handen en benen.
            Daar waar in de beginjaren de nadruk lag op incasseren van technieken werd Kyokushinkai Kumite in de loop der jaren alsmaar technischer.
            Ingewikkelde afweertechnieken en ontwijkende bewegingen werden populair, aangevuld met een brede waaier van razendsnelle en hoge traptechnieken en bikkelharde stootcombinaties.
            Een vechtstijl die de vaak gebruikte titel van <i>Strongest Karate in the World</i> waardig is!
            <br><br>
            Tenslotte is ook Tameshiwari een onderdeel van internationale kumitewedstrijden.
            Tenminste twee planken dienen op vier wijzen te worden gebroken: Seiken, Shuto, Hiji en Kakato.
            Wie dit niet kan, moet de competitie verlaten.
            Het gebroken aantal planken telt later mee, als een wedstrijd onbeslist blijft.
        <br><br>
        </div>
    </div>
</div>
<div class = "banner onderbanner post1" id="kumite-onderbanner"></div>
{% endblock %}
