{% extends "nl/layout.html" %}
{% block content %}
<div class = "banner bovenbanner" id="spirit-bovenbanner">
    <div class = "bovenbanner-box post1">
        <div align="center" class="bovenbanner-text">Spirit</div>
    </div>
    <div class = "bovenbanner-box2 post1">
        <div align="center" class="bovenbanner-text2">Citaten van Mas Oyama Sosai, de stichter van Kyokushin</div>
    </div>
</div>
<div class = "content-box first-content-box post1">
    <div class = "text-box first-text-box">
         <div class = "h5 post2">UITDAGING  挑戦 </div>
         <br>
         <div class="p post2">
                "Wees niet bang.
                Ik was vroeger evenzeer bang voor mijn wedstrijden.
                <br>
                Maar eens het gevecht aan de gang is, is het de winnaar die zijn leven kan verzaken.
                <br>
                In de tijd dat iemand normaal tien bewegingen doet, doe er vijftien.
                <br>
                Als regel: overwin je limieten; blijf jezelf uitdagen.
                <br>
                Als je vasthoudt aan een steile klif die je beklimt, en je rust uit, dan kan je zeker zijn dat je naar beneden valt.
                <br>
                Dus zelfs als het moeilijk wordt, moet je klimmen, beetje bij beetje.
                <br>
                Om bij het doel van je ambitie te geraken, moet je jezelf steeds verder duwen, vol wilskracht.
                <br>
                Daarom, vergeet niet om jezelf steeds uit te dagen."
         </div>
    </div>
</div>
<div class = "content-box second-content-box post1">
    <div class = "text-box second-text-box">
         <div class = "h5 post2">AMBITIE  志 </div>
         <br>
         <div class="p post2">
            "Eens je een doel hebt gezet in het leven, moet je in die richting bewegen.
             <br>
            Ongeacht je persoonlijke schijn, moet je steeds doorgaan.
            <br>
            Op het moment dat de wens naar geluk en stabiliteit de kop opsteekt,
            <br>
            is de ambitie verdwenen.
            <br>
            Hou daarom altijd je ambities hoog.
            <br>
            Spaar geen moeite, dag of nacht."
         </div>
    </div>
</div>
<div class = "content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class = "h5 post2">WEGDRIJVEN  迷うことなかれ </div>
        <br>
        <div class = "p post2">
            "Geld is iets kostbaars, maar word er geen slaaf van.
            <br>
            Doe niets enkel en alleen voor geldelijk gewin.
            <br>
            Overschrijd die schreef niet, tot het bittere einde.
            <br>
            Je geld verliezen is een kleinigheid.
            <br>
            Je geloofwaardigheid verliezen is dat niet.
            <br>
            Je moed verliezen, is jezelf verliezen."
        </div>
    </div>
</div>
<div class = "content-box third-content-box post1">
    <div class = "text-box third-text-box">
        <div class = "h5 post2">LOOP NIET WEG VAN PROBLEMEN  苦しみから逃げるな</div>
        <br>
        <div class = "p post2">
            "Wanneer je het moeilijk krijgt, wordt het ook moeilijk voor je tegenstanders.
            <br>
            Als je tegenstander uitrust, en jij rust ook uit, dan geraken jullie beiden nergens.
            <br>
            Dwing jezelf om op dat moment een stap voorwaarts te zetten.
            <br>
            Of je deze stap kan nemen of niet, maakt het verschil tussen overwinning en nederlaag.
            <br>
            Indien je wegloopt van je problemen wanneer het moeilijk wordt, zullen de problemen achter je aan komen.
            <br>
            Je moet dus je problemen aanpakken door erachteraan te gaan.
            <br>
            Als je achter je problemen aan gaat, zullen ze verdwijnen."
        </div>
    </div>
</div>
<div class = "content-box first-content-box post">
    <div class = "text-box first-text-box">
        <div class = "h5 post2">GARYU  臥竜</div>
        <br>
        <div class = "p post2">
            "Ik hou van de kata Garyu.
            <br>
            Het betekent 'draak'.
            <br>
            De reden is dat wanneer een draak opstijgt, hij naar de hemelen vliegt.
            <br>
            De draak leeft op de diepe bodem van een meer.
            <br>
            Zo kan hij altijd de hemel zien.
            <br>
            Hij zit en wacht geduldig tot de wolken komen."
        </div>
    </div>
    <div class = "draak"></div>
</div>
<div class = "banner tussenbanner post1" id="spirit-tussenbanner"></div>
<div class = "content-box second-content-box post1">
    <div class = "text-box second-text-box">
         <div class = "h5 post2">GEEF NOOIT OP  ネバーギブアップ </div>
         <br>
         <div class="p post2">
            "Mensen die Kyokushinkai Karate beoefenen denken of handelen niet zoals anderen.
            <br>
            Pas wanneer je blik, je manier van redeneren, je manier van handelen volledig anders is,  zal je succesvol worden.
            <br>
            Als je gevoelens dezelfde zijn als die van normale mensen, je manier van denken, werken, uitrusten;
            <br>
            als je niet bereid bent om bepaalde taken te doen en je kiest voor het gelukkige leven,
            <br>
            dan zal je de inspanning niet kunnen doen.
            <br>
            Bij Kumite geldt hetzelfde: het volstaat niet om te studeren op je eigen bereik, uke, technieken.
            <br>
            Je moet op zoek gaan.
            <br>
            Wees nooit tevreden over jezelf.
            <br>
            Geef nooit op."
         </div>
    </div>
</div>
<div class = "content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class = "h5 post2">MOEDER  母親 </div>
        <br>
        <div class = "p post2">
            "Als je echt een sterk persoon wilt worden, moet je de zwakkeren helpen.
            <br>
            Mensen die opscheppen, bluffende babbelaars die alleen maar willen opgaan in de massa, doen maar alsof.
            <br>
            Thuis is de persoon die het meeste je hulp nodig heeft, je moeder.
            <br>
            Wees daarom behulpzaam jegens haar.
            <br>
            Zij is degene die je gebaard heeft.
            <br>
            Bovendien, als je erop terugkijkt, heeft ze je grootgebracht met affectie.
            <br>
            Je kunt je moeders liefde niet vergeten.
            <br>
            In tijden van ongeluk, zelfs als je moeder er zelf niet was, stond er een moederlijke persoon klaar voor jou.
            <br>
            Iemand die een goede ouder-kind relatie heeft, weet zijn vrienden te appreciëren, houdt van zijn geboortestreek en land.
            <br>
            Zulk een persoon is in staat om over vrede op aarde te denken.
            <br>
            Daarom, groei op tot een geweldig persoon.
            <br>
            Maar als je sterk wilt worden, wees dan eerst zachtmoedig."
        </div>
    </div>
</div>
<div class = "content-box third-content-box post1">
    <div class = "text-box third-text-box">
        <div class = "h5 post2">KYOKUSHIN  極真は</div>
        <br>
        <div class = "p post2">
            "Het woord Kyokushin bestaat uit twee kanji karakters.
            <br>
            De betekenis is drie jaar voor shin, de waarheid, en dertig jaar voor kyoku, het uiterste.
            <br>
            Eigenlijk is drie jaar niet genoeg, maar heb je tien jaar nodig.
            <br>
            Dit alles betekent dat als je geen dertig jaar getraind heb, je de betekenis van Kyokushin niet verstaat.
            <br>
            Je moet de top van je fysieke kracht bereiken, je technieken meester worden, tot het uiterste gaan in kumite.
            <br>
            Maar vergeet niet om ook tot het extreme te gaan in jezelf.
            <br>
            Je leven is van jou; je speelt er de hoofdrol in.
            <br>
            Geef het dus al je kracht en al je moeite.
            <br>
            Wend je niet af van welk obstakel ook.
            <br>
            Die ervaring maakt je wat je bent.
            <br>
            Word waardevol."
        </div>
    </div>
</div>
<div class = "content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class = "h5 post2">DE BETEKENIS VAN KYOKUSHIN SPIRIT  極真精神の意味</div>
        <br>
        <div class = "p post2">
            "Wend je hoofd naar beneden, maar hou je ogen omhoog gericht.
            <br>
            Sluit je lippen en open je geest.
            <br>
            Dien andere mensen met trouw, als een startpunt.
            <br>
            Wees dus niet hooghartig, maar hou je ambities hoog.
            <br>
            Roddel dus niet en wordt geen persoon van woorden zonder daden,
            <br>
            maar wees iemand met een groot hart die met andere mensen en zaken zachtmoedig omgaat.
            <br>
            Wees dankbaar jegens je ouders, leraars, senpai, vrienden en je land.
            <br>
            Denk erover om goed te doen voor anderen als een doel op zich.
            <br>
            Wat je doet terwille van anderen, doe je ook in het belang van de hele wereld."
            <br>
        </div>
    </div>
</div>
<div class = "content-box second-content-box post1">
    <div class = "text-box fourth-text-box">
         <div class = "h5 post2">VUIST  正拳 </div>
         <br>
         <div class="p post2">
            "Zelfs nu nog stel ik mezelf in vraag: is dit de juiste manier om een goede vuist te maken?
            <br>
            Ik heb stieren neergehaald, hun hoorns eraf geslagen, maar is dit de juiste manier om een vuist te maken of niet?
            <br>
            De mens is niet perfect. Wees niet arrogant."
            <br><br>
            "Tijdens het trainen, komt mijn hart op de juiste plaats.
            <br>
            Daarom doe ik mijn dogi aan om te trainen.
            <br>
            Als je je dogi aantrekt en traint, wordt je gerespecteerd en noemt men je Sensei of Shihan.
            <br>
            Wanneer je je dogi aflaat, word je een persoon zoals de anderen.
            <br><br>
            "Moed is tanden-power, het vermogen om tot het uiterste te gaan.
            <br>
            Als je je krachten niet tot het uiterste kan laten zien, zal je geen volledige groei bereiken.
            <br>
            Je volledige kracht is de oorsprong van alles.
            <br>
            Karate betekent lege hand.
            <br>
            Wanneer je handen leeg zijn, moet je al je krachten gebruiken, je technieken verbeteren, dag en nacht trainen, zelfverzekerd worden.
            <br>
            Maar boven alles moet je je naasten respecteren en hoffelijk zijn. Dat is de Japanse weg."
         </div>
    </div>
</div>
<div class = "banner onderbanner post1" id="spirit-onderbanner"></div>
{% endblock %}
