{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/yokoso_cup_2016.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Aankondiging Yokoso Cup 2016</div>
        <div class = "nieuwsd post2">19 SEPTEMBER 2016</div>
        <br>
        <div class="p post2">
            Op 13 november vindt de derde editie van het Kata-tornooi, Yokoso-cup, plaats.
            We hebben ook aan de twee vorige edities meegedaan en er zijn reeds een aantal geïnteresseerden voor de volgende uitgave (o.m. Senpai Yorian en Nina).
            Vorig jaar heeft Nina in haar categorie de eerste plaats behaald en het jaar daarvoor was Dries Embrechts knap derde!
            Dus zeker niet aarzelen om eens mee te doen.
            Als er nog anderen zijn die eens graag meedoen, dan kunnen die zich opgeven bij één van de lesgevers.
            Je hoeft echt geen top Kata-specialist te zijn om deel te nemen en een ervaring rijker te worden.
            Ook scheidsrechters zijn altijd welkom...
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
