{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/aankondiging_belgisch_kyokushin_union_zomerkamp_2017.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Aankondiging Belgisch Kyokushin Union Zomerkamp 2017</div>
        <div class = "nieuwsd post2">02 MAART</div>
        <br>
        <div class="p post2">
            Beste leden,
            <br><br>
            Het Zomerkamp van onze organisatie IKO Kyokushinkaikan Rengokai (Kyokushin Union) wordt dit jaar door Sensei Herbert van de Dojo Kalmthout georganiseerd.
            Dit jaar is de gastlesgever niemand minder dan Sensei Nicholas Pettas.
            Sensei Pettas was tesamen met Shihan Judd Reid de enige niet Japanse Uchi Deshi van Mas Oyama (inwonend student voor 1000 dagen onafgebroken training).
            (ook Shihan Shigeru Tabata is destijds Uchi Deshi geweest,
            en zijn extreem hoog technisch niveau hebben we in het verleden reeds meermaals kunnen bewonderen op de vorige edities van het Zomerkamp, dat tot heden toe door onze Dojo werd georganiseerd).
            Nadien is Sensei Pettas top competiteur geweest in Kyokushin Karate en later in K1.
            Momenteel is hij de grote ambassadeur van het Reebok CrossFit programma in Japan.
            <br><br>
            <a href="http://www.reebokcrossfit-heartandbeauty.com/en/trainers/nicholas-pettas/">Website Pettas</a>
            <br><br>
            De organisatie vraagt ons om al een eerste idee te krijgen wie aan dit kamp zal meedoen.
            De minimum leeftijd is 15 jaar.
            Naast het ganse kamp met overnachting kan men ook op dagbasis meedoen.
            <br><br>
            Bijdrage:
            <br>
            - ganse weekend € 115
            <br>
            - enkel vrijdag € 6
            <br>
            - zaterdag (incl. ontbijt, middagmaal en avondmaal) € 49
            <br>
            - zondag (incl. ontbijt en middagmaal) € 39
            <br>
            Indien je wil deelnemen aan deze unieke stage, graag een seintje!
            <br><br>
            Kijk ook eens op de:
            <a href="https://www.facebook.com/events/182602952233750/">Facebook-pagina</a>
            <br><br>
        </div>
    </div>
</div>
{% endblock %}
