{% extends "layout.html" %}
{% block content %}
<div class = "banner bovenbanner" id="nieuws-bovenbanner"></div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Aankondiging Kumite Training Kapellen</div>
        <div class = "nieuwsd post2">19 SEPTEMBER 2016</div>
        <br>
        <div class="p post2">
            Op vrijdag 21 oktober is er een gemeenschappelijke Kumitetraining met de Dojo’s van Kalmthout, Beerse, Kapellen en Vosselaar.
            We splitsen op in recreatieve Karateka’s en zij die graag deelnemen aan wedstrijden!
            Dit is zeker eens interessant voor onze gevorderde vechters.
            Ondertussen zijn we al met een aantal deelnemers.
            Aan wie nog wil meegaan: graag melden aan de Shihan of een van de Senpai’s a.u.b.
            We spreken af in Vosselaar om 19h aan de Basisschool Centrum.
            De training start om 20h en duurt tot 22h.
            We zullen omstreeks 11h terug in Vosselaar zijn.
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
