{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/asahi_cup_2018.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Asahi Cup 2018</div>
        <div class = "nieuwsd post2">20 OCTOBER 2018</div>
        <br>
        <div class="p post2">
            Op zaterdag 13 oktober trok Senpai Anne met 3 competiteurs naar de Asahi Cup in Oud-Turnhout.
            Deze Kata wedstrijd werd georganiseerd door Asahi Dojo Oud-Turnhout Shin Kyokushin.
            Senpai Nina en Tammy behaalden een mooie derder plaats.
            Senpai Yorian behaalde meer dan verdiend de 4de plaats.
            Proficiat aan het team, Senpai Anne als coach en zoals steeds Maja-san om mee aan de kar te trekken!
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
