{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/asahi_cup_2019.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Asahi Cup 2019</div>
        <div class = "nieuwsd post2">30 MAART 2019</div>
        <br>
        <div class="p post2">
            Voor het tweede jaar op rij werd op 30 maart in Oud-Turnhout de Asahi Cup georganiseerd, een Kumitetornooi voor beginners.
            Op dit goed georganiseerde evenement stond alles in het teken van de veiligheid van de deelnemers.
            Zo waren enkel vechters die niet meer dan twee wedstrijden hadden gevochten toegelaten.
            De organisatie zorgde voor goede helmen met gezichtsbescherming en elke mat beschikte over een voltallig en ervaren team van scheidsrechters.
            Vier karateka's, twee coachen en één scheidrechter, ondersteund door de nodige helpende handen, vormden ditmaal het team van Oshi Shinobu Dojo.
            Felix slaagde er in al zijn partijen te winnen en werd dus eerste in zijn poule.
            Tammy en Fleur konden een mooie zilveren medaille in de wacht slepen met sterke prestaties.
            Tim eindige na 3 mooie partijen met drie andere deelnemers in zijn poule van vier met evenveel punten maar werd door zijn gewichtsnadeel finaal derde.
            Een zeer mooie prestatie van ons team!
            Dank ook aan de coachen Senpai Jolein en Senpai Anne en onze helpende handen Maja en Chan.
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
