{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/beker_der_kempen_2019.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Beker der Kempen 2019</div>
        <div class = "nieuwsd post2">04 MEI 2019</div>
        <br>
        <div class="p post2">
            Meer dan 300 deelnemers uit zes landen zakten dit jaar naar Beerse af voor deze 15e editie van de Beker der Kempen op zaterdag 4 mei.
            Dit jaar hadden we slechts twee deelnemers: Fleur en Felix.
            Senpai Leon was coach van dienst en Senpai Yorian en de Shihan droegen hun steentje bij op het tornooi als scheidsrechter.
            Fleur kwam uit in een poule met 5 andere meisjes, die allemaal een hogere graad hadden, zelfs tot groene gordel.
            Desondanks kon ze één partij overtuigend winnen en één gelijkspel uit de brand slepen. Geen beker deze keer, maar wat een prachtige prestatie!
            Felix behaalde de derde plaats na zware partijen tegen twee ervaren Duitse vechters.
            Mooi werk van onze competiteurs en tevens dank aan Senpai Leon en Senpai Yorian voor hun bijdrage!
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
