{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/beker_der_kempen_2017.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Beker der Kempen 2017</div>
        <div class = "nieuwsd post2">17 MEI 2016</div>
        <br>
        <div class="p post2">
            Op 13 mei deden we mee aan de Beker de Kempen 2017 in  Beerse!
            Voor Fran en Vince was het hun eerste kennismaking met de Kumite competitie, nadat ze in april al hadden meegedaan met het Katatornooi in Kapellen.
            Beide deden mee in de matchmaking-competitie, in de groep tot negen jaar, en konden hun wedstrijd winnen!
            Senpai Jolein kon na drie zware wedstrijden de overwinning behalen in de open klasse dames!
            Proficiat aan onze deelnemers!
            Dank ook aan de coaches Senpai Leon en Maja en de scheidsrechters Senpai Yorian (debuut!) en Seppe.
            En natuurlijk de trouwe supporters Senpai Nina en Tammy!
            Knap werk voor het ganse team van Oshi Shinobu Dojo Vosselaar.
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
