{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/belgian_open_youth_and_beginners_2017.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Belgian Open Youth and Beginners 2017</div>
        <div class = "nieuwsd post2">8 DECEMBER 2017</div>
        <br>
        <div class="p post2">
            Op 4 november zakten Senpai Jolein met Mohamed af naar de Belgian Open Youth and Beginners, een internationaal kumite-toernooi georganiseerd in Schoten door Sutani Dojo (IFK).
            Als blauwe gordel kwam Mohamed in een poule terecht met bruine gordels uit het buitenland.
            Hij heeft moedig gevochten maar kon helaas geen podiumplaats uit de brand slepen.
            Dank ook aan Senpai Jolein voor het coachen van Mohamed en om zich nadien nog nuttig te maken als scheidsrechter.
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
