{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/belgisch_kampioenschap_shinkyokushin_averbode_2020.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Belgisch Kampioenschap Shinkyokushin Averbode</div>
        <div class = "nieuwsd post2">03 OKTOBER 2019</div>
        <br>
        <div class="p post2">
            Zondag 2 februari trok een team van Oshi Shinobu Dojo naar Averbode om deel te nemen aan het Belgisch Kampioenschap Kumite van Shinkyokushin, georganiseerd door Shinzo Dojo.
            Drie jeugdige wedstrijdvechters, twee coaches, één scheidsrechter en een aantal supporters waren present op dit tweejaarlijks tornooi,
            dat maar liefst 250 deelnemers kon aantrekken, uit binnen- en buitenland.
            Al onze deelnemers slaagden erin om een trofee uit de brand te slepen, tweemaal een tweede en één maal een eerste plaats; een mooie ervaring voor het ganse team.
            Proficiat!
        </div>
    </div>
</div>
{% endblock %}
