{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/belgian_open_weight_tournament_2017.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Belgian Open Weight Tournament 2017</div>
        <div class = "nieuwsd post2">16 MAART</div>
        <br>
        <div class="p post2">
            Met een team van 4 reisden we zondagmiddag 5 maart af naar Kapellen voor het Belgian Open Weight Tournament 2017.
            Senpai Jolein vocht mee bij de dames open klasse, Seppe-san was hoekrechter,  de Shihan middenrechter en Criss gaf morele ondersteuning als trouwste supporter van de Senpai.
            De Senpai vocht in een groep van 4 deelnemers. De eerste ronde helaas verloren op gewichtsverschil, na twee maal Hikewake.
            Jammer, want ze was zeer goed op dreef en kon haar tegenstandster frequent met hoge trappen raken.
            Senpai Jolein moest dan nog kampen voor de derde of de 4e plaats.
            Hier kon zij met haar technisch overwicht de overwinning binnenhalen, en werd ze dus derde.
            Proficiat en dank aan iedereen!
        </div>
    </div>
</div>
{% endblock %}
