{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/british_open_kumite_ifk_2019.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">British Open Kumite IFK</div>
        <div class = "nieuwsd post2">5 OKTOBER 2019</div>
        <br>
        <div class="p post2">
            Vrijdag 4 oktober trok Senpai Jolein met Senpai Dees en Senpai Martijn van Amaterasu Dojo naar het Engels Crawley (nabij Londen).
            Ze zou immers zaterdagochtend aantreden op de prestigieuze 43e British Open, tevens de elfde Cup of Europe.
            Dit evenement werd georganiseerd door de International Federation of Karate (IFK) van levende legende Hanshi Steve Arneil.
            De beide Senpai's van Sensei Barts Dojo zorgen voor de begeleiding en coaching.
            Senpai Jolein kon de eerste partij na verlenging overtuigend winnen van haar Ierse tegenstreefster,
            maar verloor helaas in de tweede ronde van een Litouwse vechtster met een groot internationaal palmares (onder meer in Japan).
            Dit gebeurde echter pas na twee verlengingen en na verplichte aanduiding van de winnaar (Encho Sen).
            De partij ging dan ook gelijk op en Senpai Jolein vocht tegen een veel grotere en zwaardere Karateka een schitterende wedstrijd.
            Voor Senpai Jolein was dit een zeer mooie ervaring met stevige partijen in een groot tornooi met 24 deelnemende landen van over de ganse aardbol.
            Proficiat Senpai!
            Dank ook aan onze vrienden van Amaterasu voor de goede ondersteuning.
        </div>
    </div>
</div>
{% endblock %}
