{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/standaardfoto.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Coronavirus: Schorsing trainingen</div>
        <div class = "nieuwsd post2">15 MAART 2020</div>
        <br>
        <div class="p post2">
            Beste leden en ouders,
            <br />
            Wegens de verspreiding van het coronavirus in ons land heeft de Gemeente Vosselaar besloten sporthal Diepvenneke tot en met 5 april te sluiten.
            Daarnaast is de toegang tot de basisschool beperkt tot de schooluren.
            Met pijn in het hart zijn we dan ook genoodzaakt om onze lessen op te schorten voor deze periode.
            Ook de extra training voorzien op woensdag 18 maart is afgelast en het Sportgala van vrijdag 20 maart gaat eveneens niet meer door.
            Met de kennis van vandaag zal de eerstvolgende training (onder voorbehoud) plaats vinden op vrijdag 10 april in de turnzaal van de Gemeentelijke Basisschool Centrum.
            Indien er verdere evolutie is, volgt nieuwe communicatie.
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
