{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/danish_open_kumite_shinkyokushin_2019.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Danish Open Kumite Shinkyokushin 2019</div>
        <div class = "nieuwsd post2">28 SEPTEMBER 2019</div>
        <br>
        <div class="p post2">
            Op 27 september trokken Senpai Jolein en Senpai Lesley richting Kopenhagen, waar Senpai Jolein zou deelnemen aan de Deense Open Kumite.
            Deze wedstrijd werd georganiseerd door de lokale Shinkyokushin.
            Senpai Jolein verloor één zware partij na verlenging op beslissing en won een andere partij na een knappe wedstrijd, waardoor ze eindigde op de derde plaats.
            Een ervaring rijker en op naar de volgende uitdaging!
            Dank ook aan Senpai Lesley voor zijn rol als coach.
        </div>
    </div>
</div>
{% endblock %}
