{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/dutch_open_kumite_shinkyokushin_2019.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Dutch Open Kumite Shinkyokushin 2019</div>
        <div class = "nieuwsd post2">15 JUNI 2019</div>
        <br>
        <div class="p post2">
            Zaterdag 15 juni nam Senpai Jolein deel aan de Dutch Open van Shinkyokushin te Drachten, een goed georganiseerd tornooi met zeer correcte arbitrage.
            De eerste twee partijen had ze een verlenging nodig om de wedstrijd te winnen.
            Echter, in de finale kon ze na één minuut haar tegenstrever uitschakelen met Ippon en zo behaalde zij de eerste plaats!
            Een knappe prestatie van Senpai Jolein, die begeleid werd door Senpai Canan en Senpai Lesley van de Dojo van Sensei Bart.
            Proficiat aan allen!
        </div>
    </div>
</div>
{% endblock %}
