{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/europees_kampioenschap_den_haag_2019.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Europees Kampioenschap Den Haag 2019</div>
        <div class = "nieuwsd post2">17 MAART 2019</div>
        <br>
        <div class="p post2">
            Op 17 maart 2019 trokken Senpai Jolein (Oshi Shinobu Dojo, Vosselaar) en Senpai Canan (Amaterasu Dojo, Tilburg) naar den Haag voor het 29ste OECKK van de IBK (Shihan Gordeau).
            Dit 'old school' Kyokushin tornooi staat bekend als bijzonder pittig. Zo wordt er onder meer in een ring gevochten, is vastgrijpen van de Dogi gedurende een tel toegelaten en is men zeer spaarzaam met waarschuwingen.
            Senpai Jolein had hiervoor wekenlang een intensief trainingsprogramma gevolgd dat werd uitgewerkt door Sensei Bart en op het tornooi zou ze worden gecoached door Senpai Canan.
            Aldus geschiedde en het vele harde werk leverde een prachtige eerste plaats op in de dames +65 kg.
            Proficiat Senpai Jolein en beste dank aan Senpai Canan voor het schitterende coachingswerk!
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
