{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/examen_najaar_2019.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Examen najaar 2019</div>
        <div class = "nieuwsd post2">22 DECEMBER 2019</div>
        <br>
        <div class="p post2">
            Op vrijdag 21 december 2019 vond het Kyu-examen van dit najaar plaats in Vosselaar.
            De laatste weken werd er hard voor getraind en diegenen die door de lesgevers waren geselecteerd om aan het examen deel te nemen,
            konden dan ook allen terugblikken op een geslaagd examen.
            Proficiat!
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
