{% extends "layout.html" %}
{% block content %}
<div class = "banner bovenbanner" id="nieuws-bovenbanner"></div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Examen voorjaar 2017</div>
        <div class = "nieuwsd post2">03 JUNI 2017</div>
        <br>
        <div class="p post2">
            Vorige week organiseerde onze club het kyu-examen voor dit semester.
            Zeven deelnemers wilden hun kennis en kunde bewijzen om een nieuwe graad te behalen.
            De extreme warmte maakte de proef nog uitdagender. Niettemin zijn zes deelnemers geslaagd!
            De familie Waegebaert slaagde met hun vieren voor negende en tiende kyu,
            Tim werd geel en ook Louis kon met een week vertraging zijn blauwe band behalen.<br>
            Gefeliciteerd!
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
