{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/examen_najaar_2016.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Examen najaar 2016</div>
        <div class = "nieuwsd post2">06 DECEMBER 2015</div>
        <br>
        <div class="p post2">
            Op 25 en 26 november werden een aantal van onze Karateka’s weer tot het uiterste op de proef gesteld tijdens het Kyu-examen.
            Zoals het de afgelopen semesters het geval is geweest, mochten ook dit semester enkel diegenen deelnemen die op voorhand door onze lesgevers geselecteerd werden.
            Naast de deelnemers uit onze dojo waren er eveneens twee deelnemers van Sensei Zaman’s dojo in Düsseldorf.
            Kihon (techniek), Ido-Gekio (technische oefeningen), Kata (loopvormen), Goshindo (zelfverdediging), Tameshiwari (breektesten), Stamina (uithoudingstesten) en tenslotte de finale kumitepartijen moesten allemaal succesvol afgewerkt worden.
            Voor de hoogste graden nam dit dan ook meer dan zes uren in beslag, verdeeld over twee dagen.
            Onze kritische aanpak had ook deze keer weer succes, want al onze kandidaten alsook de Duitse karateka’s bereikten waren geslaagd!
            Proficiat aan alle deelnemers, vechters, de Senpai’s en Sensei Zaman voor dit mooie resultaat!
            <br><br>
            Osu!
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
