{% extends "layout.html" %}
{% block content %}
<div class = "banner bovenbanner">
    <img src="{{ url_for('static', filename='nieuws/foto1.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Examen voorjaar 2016</div>
        <br>
        <div class="p post2">
            Quo electram democritum definitionem ea, usu at oporteat dignissim reformidans.
            Wisi quando mei at, vel eu errem aliquip periculis.
            Sea an solum habemus persequeris, vis liber utroque an, cum an soluta sententiae intellegebat.
            Ad oratio pericula sapientem vel, ad has vidit ponderum facilisi.
            Duo et tempor denique.
            Ut sed molestiae democritum, te unum detracto mei.
            Cu mea aliquip dignissim dissentiunt, his ex dicta conceptam.
            No quo sale sonet voluptatibus.
            Prima tempor referrentur ne sit, duo mutat doctus nostrum ex.
            Justo omnes eu pro. Pro ne legere equidem, primis ridens eum ea.
            Vis meliore facilisis ex, et sea viderer accumsan.
            Id qui suscipit dissentiet, quo no clita facilis.
            Vix no quas omittam molestie.
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
