{% extends "layout.html" %}
{% block content %}
<div class = "banner bovenbanner" id="nieuws-bovenbanner"></div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Examen voorjaar 2016</div>
        <div class = "nieuwsd post2">20 JUNI 2016</div>
        <br>
        <div class="p post2">
            We sloten het seizoen 2015-2016 zoals gewoonlijk af met het examen voor kyugraden.
            11 karateka's zijn erin geslaagd om een hogere graad te behalen na een zwaar programma.
            Voor sommigen was het zelfs nodig het examen over twee dagen te spreiden.
            Kihon, Ido-geiko, Kata, Kumite, Tameshiwari en Goshindo kwamen allemaal zeer uitgebreid aan bod.
            Proficiat aan iedereen die gelsaagd is! En aan diegenen die dit keer nog niet de eindmeet haalden: geef vooral niet op!
            Laat je niet ontmoedigen, want als je blijft oefenen, dan lukt het je wellicht de volgende keer wel.
            Het is onze taak om je te helpen waar we kunnen, maar je moet natuurlijk wel je best doen en proberen elke keer naar de les te komen.
            Vanaf heden is er ook een nieuwe Senpai in de Dojo, want Yorian heeft zijn bruine gordel behaald!
            <br><br>
            Nu is het tijd voor vakantie en dan op naar een succesvol nieuw seizoen!
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
