{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/foto_gezamenlijke_gevechtstraining_en_seminar_sensei_zaman.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Gezamenlijke gevechtstraining en seminar sensei Zaman</div>
        <div class = "nieuwsd post2">26 FEBRUARI 2017</div>
        <br>
        <div class="p post2">
            Op vrijdagavond 17 februari namen 3 Belgische IKO Rengokai clubs (Beerse, Kalmthout en Vosselaar) tezamen met Shin-Kyokushin Kempen (Turnhout) en Zaman Dojo (Düsseldorf) deel aan een gezamenlijke gevechtstraining in Vosselaar.
            Onder leiding van Senpai Jolein en met assistentie van Sensei Zaman werd er intens maar toch afwisselend geoefend.
            Senpai Jolein stak van wal met een stevige opwarming met elementen uit Crossfit om dan over te gaan tot een intensieve stretchingsessie.
            Haar opleiding als kinesist kwam hier goed van pas en de senpai gaf heel wat interessante toelichting.
            Nadien stond er een gans programma van combinaties op het programma rond traptechniek (in de vorige sessie in Kalmthout werd vooral de stoottechniek geaccentueerd).
            We startten met een leuke groepsoefening en nadien deden we diverse combinaties die werden opgebouwd rond hetzelfde thema.
            Om af te sluiten vochten we nog een 15-tal partijen vrij vechten afgewerkt in twee groepen: amateurs en competiteurs.
            De fijne reacties achteraf waren het beste bewijs dat iedereen voldaan huiswaarts keerde!
            <br><br>
            De dag nadien op zaterdagmorgen 18 februari gaf Sensei Zaman dan een Kumitetraining voor onze Karateka’s in Vosselaar.
            Zowel in de eerste groep (-12 jaar) alsook in de tweede groep (+12 jaar) ging het er stevig aan toe.
            Sensei Zaman, die werd geassisteerd door Senpai Jolein, gaf een reeks interessante inzichten om efficiënter gebruik te maken van de basis-kumitetechnieken
            Hij slaagde er knap in om de aandacht van onze jongsten gedurende 75 minuten te behouden.  Nadien werd eveneens in de tweede groep nog intensief en creatief geoefend voor opnieuw 75 minuten.
            Ook hier was  het enthousiasme alom aanwezig.
            <br><br>
            Dank aan Senpai Jolein en Sensei Zaman voor dit topweekend!
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
