{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/initiatie_leerlingen_sjb_malle.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Initiatie leerlingen SJB Malle</div>
        <div class = "nieuwsd post2">08 FEBRUARI 2020</div>
        <br>
        <div class="p post2">
            Vrijdag 7 januari gaven Senpai Yorian, Tim D., Maja en Inna een fel gesmaakte Karate-initiatie aan de leerlingen van het eerste middelbaar van het Sint-Jan Berchmanscollege van Malle.
            Twee groepen konden gedurende een klein uurtje kennis maken met alle aspecten van Kyokushinkai Karate. Knap werk van ons team!
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
