{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/internationale_stage_japan_2018.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Internationale stage Japan</div>
        <div class = "nieuwsd post2">03 AUGUSTUS 2015</div>
        <br>
        <div class="p post2">
            Shihan Koen reisde opnieuw naar Japan dit jaar, vergezeld door senpai Leon en vier andere karateka's uit België, om deel te nemen aan de internationale stage van instructeurs.
            Dit maal ging die door in Yamagata, de thuisbasis van Shihan Shigeru Tabata's dojo's.
            De inmiddels derde editie van deze trainingsstage was een groot succes (De vorige edities waren respectievelijk in Okinawa en Fukui).
            Meer dan 100 deelnemers ui 18 landen waren present om te worden ondergedompeld in de Japanse cultuur en de Budo-aanpak van de lesgevers Shihan Tabata, Shihan Shichinohe en Shihan Takahashi.
            (alle drie branch chiefs onder Sosai)
            Het kamp omvatte meer dan 8u doorgedreven technische trainingen, een intensieve cursus voor hoek- en middenrechter, een meditatie-sessie in een Zen-klooster,
            training in de bergen van Haguro aan de voet van de historische tempels en na een klim van 3000 trappen, een zuiveringsritueel in het ijskoude water van een bergrivier door de Yamabushi (of zen berg-monniken),
            een prefecturaal Kata- en Kumitetornooi ter kwalificatie van de scheidsrechtersopleiding (en waarbij Senpai Leon aan de Kata-competitie deelnam), een welkomst- en afscheidsfeestje in Japanse stijl,
            en een fijne avond met Shihan Shichinohe, Sensei Vera, Shihan Miyagi en nog een student van hen. Het kon niet op.
            Daarnaast vond uiteraard ook het Dan-examen plaats, waaraan onze Shihan deelnam in de hoop zijn zesde Dan te behalen.
            <br><br>
            Het Dan-examen vond plaats in de Yamagata Budoka en bestond uit een meer dan vijf uur durende non-stop test met zeer spaarzame korte pauzes om snel wat te drinken.
            Bij wijze van opwarming liet Shihan Tabata de ganse groep alle Kata's de revue passeren.
            We kregen dan drie minuten de tijd om nog wat te drinken en ons in blok te zetten op basis van een vooraf opgegeven nummer.
            Achtereenvolgens werd aan een moordend tempo de ganse Japanse Kihon en uitgebreide Ido-Geiko afgewerkt.
            Vervolgens stonden de conditietest op het programma (5 reeksen op tel van telkens 50 push-ups, 50 sit-ups, 50 squats en nog 50x 'superman back extension')
            zodat onze spieren flink verzuurd waren voor het volgende onderdeel, Kata.
            Alle Kyokushinkai Kata's kwamen achtereenvolgens aan de beurt. Finaal werden dan de 60 partijen gevochten als Kumite-test.
            De groep is echt tot het uiterste gegaan onder supervisie van Shihan Shichinohe, Shihan Tabata, Shihan Takahashi en Shihan Miwa.
            De 4 Belgische examenkandidaten waren allen geslaagd.
            Dit betekent dat onze eigenste Shihan Koen vanaf heden 6e dan heeft bereikt! Een welgemeende proficiat, Shihan!
            Een grondige technische en conditionele voorbereiding, alsmede de intensieve trainingen van Shihan Tabata op de stage zelf voorafgaandelijk aan het examen, stonden garant voor dit resultaat.
            <br><br>
            Ten slotte brachten we in Tokyo nog een bezoek aan Sosais graf naast de Gokokuji-tempel en met een wandeling naar de oude Honbu-dojo vanuit Ikebukuro station was de trip compleet.
            Door de uitmuntende organisatie was dus ook dit jaar de stage een zeer geslaagd evenement, zoals we van onze Japanse vrienden gewend zijn!
            <br><br>
            Osu!
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
