{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/kangeiko_winterkamp_2020.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Kangeiko Winterkamp</div>
        <div class = "nieuwsd post2">13 JANUARI 2020</div>
        <br>
        <div class="p post2">
            Van 10 tot 12 januari zetten we het nieuwe jaar in op het Kangeiko Winterkamp te Tilburg, georganiseerd door Sensei Bart Dooremalen.
            Met elf deelnemers waren we aanwezig op deze strak georganiseerde stage.
            Naast trainingen die de traditionele aspecten van Kyokushinkai Karate aan bod brachten,
            vond er ook een examen plaats, organiseerde men een 50-man Kumite, en was er de mogelijkheid om aan enkele enkele workshops deel te nemen.
            In die laatste categorie kon men bijvoorbeeld kiezen voor een ijsbad-training, ofwel Misogi.
            Dit is een vorm van rituele reiniging met koud water die in Japan traditioneel in het begin van het jaar doorgaat.
            Daarnaast was er ook een hitte-training en een zeer gesmaakte MMA-initiatie.
            Dit jaar stond er ook de jaarlijkse Kagami Biraki op het programma, waarna er een muzikale avond volgde!
            Alles samen vormde dit winterkamp dus een zeer fijne ervaring voor onze Karateka's!
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
