{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/katawedstrijd_kapellen_2017.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Katawedstrijd Kapellen 2017</div>
        <div class = "nieuwsd post2">26 APRIL 2017</div>
        <br>
        <div class="p post2">
            Vorige zaterdag namen we met zes leden van onze dojo deel aan de katawedstrijd in Kapellen,
            een druk bezet tornooi met meer dan 200 deelnemers uit Zweden, Zwitserland, Nederland, Wallonië en Vlaanderen.
            Senpai Nina en Senpai Yorian zaten in een groep van 25 deelnemers, meestal volwassenen, van zeer hoog niveau.
            We konden dit maal helaas geen trofee in de wacht slepen.
            Nina behaalde toch een mooie 7e plaats en Yorian werd 13e.
            Ben werd 8e in zijn groep en Fran zelfs 5e!
            Vince en Ioan deden ook mee en hebben fantastisch hun best gedaan.
            Voor Ioan was het de eerste keer om deel te nemen, hij heeft het er schitterend van afgebracht en kreeg in zijn tweede ronde zelfs een daverend applaus van het publiek!
            Tenslotte nog een woordje van dank voor onze coaches Maja en Tammy.
            Knap werk voor het ganse team!
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
