{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/katatoernooi_kapellen_2016.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Katatoernooi Kapellen 2016</div>
        <div class = "nieuwsd post2">11 FEBRUARI 2016</div>
        <br>
        <div class="p post2">
            Met vijf deelnemers, één coach en één scheidsrechter trokken we naar het Katatornooi in Kapellen, georganiseerd door Seishin Dojo.
            Al vlug bleek dat het een lange dag ging worden.
            Er waren een groot aantal deelnemers uit vijf landen (Zwitserland, Zweden, Denemarken, Nederland en België) en vanuit verscheidene Kyokushinorganisaties.
            Yorian, Demion, Ben en Nina deden hun uiterste best en Nina kon de tweede plaats bemachtigen in haar groep van 13 deelnemers met slechts twee tienden verschil in punten t.o.v. de winnares.
            Seppe nam de taak van coach op zich en was ter plaatse om onze deelnemers te ondersteunen.
            <br><br>
            Proficiat aan allen!
        </div>
    </div>
</div>
{% endblock %}
