{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/kumitetraining_kalmthout.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Kumite Training Kalmthout</div>
        <div class = "nieuwsd post2">27 OKTOBER 2016</div>
        <br>
        <div class="p post2">
            Op vrijdag 21 oktober organiseerde de dojo van Kalmthout een gezamenlijke kumite-training.
            Met zeven trokken we naar ginder om deel te nemen aan de training, die werd geleid door Sensei Herbert Van Hees.
            Naast Vosselaar waren ook Kapellen, Beerse, Antwerpen en natuurlijk de gast-Dojo van Kalmthout vertegenwoordigd.
            Sensei Herbert had de zaak goed voorbereid en bouwde de individuele technieken op tot een fijne combinatie, die dan met partner en op het kussen werd ingeoefend.
            Creatief was ook de korte fysieke intermezzo's en de toelichting rond de individuele technieken, het aspect impact en blijvende druk bij een kumitepartij.
            Na het combinatiwerk werden de traditionele tien partijen gevochten met steeds langere tijdsduur van twee tot uiteindelijk drie minuten.
            Als afsluiter werden we naar huis gestuurd met nog een intensieve conditieoefening.
            Het was alleszins een gedreven en originele training!
            De volgende gezamenlijke kumite-training staat gepland op vrijdag 17 februari in Vosselaar van 20.30-22.30h.
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
