{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/kumite_training_kalmthout_2017.jpg') }}"  width="100%" align="center" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Kumite-training Kalmthout 2017</div>
        <div class = "nieuwsd post2">23 OKTOBER 2017</div>
        <br>
        <div class="p post2">
            Op 20 oktober zakten we met 11 van onze leden af naar de gemeenschappelijke kumite-training van de Belgische Kyokushin Karate Union.
            Sensei Herbert van Kalmthout had deze les goed voorbereid en slaagde erin om alle deelnemers uit te dagen om hun limieten te verleggen.
            Het was beslist een interessante en gedreven training.
            Op 8 december organiseert Oshi Shinobu Dojo op haar beurt een gemeenschappelijke kata-training in Vosselaar.
            Osu!
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
