{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/nieuw_seizoen.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Nieuw seizoen</div>
        <div class = "nieuwsd post2">02 SEPTEMBER 2016</div>
        <br>
        <div class="p post2">
            Vanaf vandaag gaat ons nieuwe seizoen van start.
            We trainen dit jaar opnieuw in Sportcentrum Diepvenneke, maar dan enkel op zaterdag.
            De nieuwe mattenzaal van Diepvenneke heeft zo haar beperkingen.
            Daarom verhuizen we voor de training op vrijdag terug naar de turnzaal van Gemeentelijke Basisschool Centrum, waar we in het verleden altijd getraind hebben.
            <br><br>
            Ook dit jaar zullen we het systeem handhaven dat vorig jaar is ingevoerd.
            De beginners en/of kinderen trainen het eerste uur, de volwassenen en/of gevorderden krijgen het anderhalf uur daarna.
            We zullen proberen om telkens zo veel mogelijk op te delen om iedereen zoveel mogelijk de nieuwe inhoud aan te rijken waar hij of zij voor gekomen is.
            Dat gaat echter enkel vlot als iedereen probeert elke training aanwezig te zijn.
            We houden daarom opnieuw de aanwezigheden bij zodat we hiermee rekening kunnen houden wanneer het examen eraan komt.
            Indien je te vaak afwezig bent, dan zou het bijvoorbeeld kunnen dat onze lesgevers beslissen om je niet te laten deelnemen.
            Als je om een of andere reden niet aanwezig kunt zijn, gelieve ons dan te verwittigen.
            Stuur bijvoorbeeld een berichtje of een e-mail naar Shihan Koen.
            <br><br>
            Aan iedereen een tof en leerrijk nieuw karateseizoen gewenst!
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
