{% extends "layout.html" %}
{% block content %}
<div class = "banner bovenbanner">
    <img src="{{ url_for('static', filename='nieuws/nieuwe_website_gelanceerd.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Nieuwe website gelanceerd</div>
        <br>
        <div class="p post2">
            De nieuwe website staat online! Het werd tijd om onze website eens in een nieuw jasje te steken.
            Het nieuwe ontwerp is beschikbaar en volledig functioneel op alle apparaten.
            Bovendien is de website nu ook zowel via kyokushinkaikaratevosselaar.be als via karatevosselaar.be bereikbaar.
            Ben je nieuw? Kijk dan zeker eens bij info.
            Wil je wat meer weten over Kyokushinkai Karate?
            Dan hebben we een hele reeks compleet vernieuwde en geïllustreerde pagina's over de geschiedenis en alle aspecten van Kyokushin.
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
