{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/niji_yama_interclub_2017.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Niji Yama Interclub 2017</div>
        <div class = "nieuwsd post2">03 FEBRUARI 2017</div>
        <br>
        <div class="p post2">
            Op 21 janauri deden vier beginnende vechters mee aan de interclub van Niji Yama:Ben, Simen, Floris en Nina.
            Ben behaalde een derde plaats na twee zware partijen. Simen en Floris vochten beiden zeer knap en behaalden beide een tweede plaats.
            Nina toonde duidelijk dat ze de meerdere was van de andere vechters in haar poule en werd eerste.
            Iedereen heeft enorm goed gewerkt. Proficiat!
            Met dank ook aan Seppe, die mee ging als scheidsrechter.
            Senpai Yorian en Jolein zorgden als coaches voor de nodige ondersteuning.
            Tenslotte willen we ook nog onze supporters bedanken!
            <br><br>
        </div>
    </div>
</div>
{% endblock %}
