{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/noritsu_cup_2018.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Noritsu Cup 2018</div>
        <div class = "nieuwsd post2">10 DECEMBER 2018</div>
        <br>
        <div class="p post2">
            Op zondag 9 december namen we met een gezamelijk team van Sensei Zamans Dojo 'Taifun Düsseldorf' en onze eigen vechters deel aan de Noritsu Cup in Gilze, Nederland.
            De Karateka's van onze goede vriend Sensei Zaman streden mee onder onze naam.
            Dit jaarlijks tornooi voor jeugd, beginners en min. 21 jaar is voor de meeste Dojo's de afsluiter van het jaar.
            Wij konden 2 trofeeën in de wacht slepen onder de vorm van derde plaatsen voor Mazen en Fran.
            Vince en Felix, die voor de eerste maal meedeed, hebben eveneens hun uiterste best gedaan maar konden geen beker in de wacht slepen.
            Onze Duitse vrienden waren, gezien hun beperkte wedstrijdervaring, met zijn drieën ingeschreven bij de beginners (max. 3 wedstrijden).
            Zij konden alle drie een podiumplaats in de wacht slepen en bovendien de trofee voor de beste fighting spirit mee huiswaarts nemen.
            Pavel werd eerste in de lichtgewichten, Masatoschi-san behaalde een derde plaats alsook de spirit-prijs eveneens in de lichtgewicht-klasse en Teruki-san werd derde in de middengewicht-klasse.
            Een dikke proficiat aan dit team en haar coachen Sensei Zaman en Senpai Anne.
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
