{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/overlijden_shihan_chris.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Vaarwel Shihan Chris</div>
        <div class = "nieuwsd post2">07 MAART 2021</div>
        <br>
        <div class="p post2">
            Als een donderslag bij heldere hemel ontvingen we zondag 28/02 het droevige nieuws van het overlijden van Shihan Christian Snoeckx, 
            die kort ervoor was opgenomen in de intensieve zorgen van het UZ Gasthuisberg te Leuven. 
            Shihan Chris vocht reeds een jaar tegen leukemie, maar de afstotingsverschijnselen op zijn recente stamceltransplantatie werden hem uiteindelijk fataal.
            <br/><br/>
            Shihan Chris is in 1972 gestart met Kyokushinkai Karate in de Oyama Dojo op de Merodelei in Turnhout, 
            onder leiding van Sensei Pol Van Den Troost en Shihan Max Gebhardt. 
            Deze laatste was de eerste die Kyokushinkai Karate in België introduceerde, medio de jaren '60 van de vorige eeuw.
            In 1979 heb ik hem daar voor het eerst ontmoet tijdens mijn eerste training, toen hij al een zwarte gordel  had. 
            We zijn sedertdien steeds met elkaar blijven optrekken.
            <br /><br/>
            Talloze trainingen, stages en wedstrijden in binnen- en buitenland hebben we samen beleefd, waaronder 6 reizen naar Japan.
            Shihan Chris was een uitstekend Karateka en een geëngageerd lesgever, bezieler van Stamina Dojo 
            en organisator van het in binnen- en buitenland vermaarde tornooi "Beker der Kempen".
            Bovenal was hij een sympathieke fijne kerel, waarop je steeds kon rekenen. 
            Er zijn geen woorden voor dit tragisch gebeuren.
            <br/><br/>
            Shihan Chris, we gaan je ontzettend missen.
            <br/><br/>
            Koen Shihan
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
