{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/roefeldag_2019.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Roefeldag 2019</div>
        <div class = "nieuwsd post2">23 JUNI 2018</div>
        <br>
        <div class="p post2">
            De jaarlijkse Roefeldag op 22 juni viel dit jaar samen met het Belgisch Zomerkamp. Voor beide events waren we ondertussen ingeschreven.
            Gelukkig boden Tim, Maja, Jessica en Chan aan om te helpen! Sommigen moesten daarvoor 'brossen' op het Zomerkamp, maar het was voor het goede doel.
            Twee groepen van een twintigtal kinderen kregen een fijne initiatie van deze vier aangevuld met Ioan, Ise en Jake.
            Patrisia was fotograaf van dienst! Dank aan allen.
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
