{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/roefeldag_2017.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Initiatie Mindfulness Karate Kempen</div>
        <div class = "nieuwsd post2">07 MAART</div>
        <br>
        <div class="p post2">
            Ook dit jaar namen we deel aan de Roefeldag in onze Gemeente.
            Twee groepen van ongeveer twintig kinderen van lagere-school-leeftijd namen enthousiast deel aan een initiatietraining Kyokushinkai Karate.
            Ze konden kennis maken met een aantal van de vele aspecten van onze vechtskunst.
            De senpai's verrijkten de sessies bovendien met enkele indrukwekkende demonstratiess.
            Het was een leerrijke ervaring voor zowel de kinderen als voor ons als lesgevers.
        </div>
    </div>
</div>
{% endblock %}
