{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/stage_judd_reid.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Stage Judd Reid</div>
        <div class = "nieuwsd post2">20 NOVEMBER 2017</div>
        <br>
        <div class="p post2">
            Op zaterdag 18 en zondag 19 november namen we met 8 deelnemers van onze Dojo deel aan een uniek evenement, georganiseerd door Ichidai Dojo Antwerpen.
            Zij hielden een! stage met Shihan Judd Reid, een van de twee enige niet-Japanners die het uchi-deshi-programma (inwonende student) in de Ikebukuro Honbu van Mas Oyama hebben weten af te werken, 1000 dagen van onafgebroken spartaanse training!
            Tijdens een 'stomende' seminar nam Shihan Reid ons mee in zijn enorme ervaring en spiritueel inzicht in Sosai's <i>legacy</i>!
            Een schitterende ervaring.
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
