{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/start_nieuw_seizoen_2017.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Start nieuw seizoen 2017</div>
        <div class = "nieuwsd post2">05/09 2016</div>
        <br>
        <div class="p post2">
            Vrijdagavond zijn we terug gestart na een lange vakantie. We hopen dat iedereen toch wat op adem heeft kunnen komen en kunnen genieten van de zonneschijn deze zomer.
            Nu is het echter tijd om er terug in te vliegen! In de eerste training gingen we er direct al stevig tegenaan. Een technische training om het geheugen van onze karateka's wat op te frissen.
            Zaterdag moesten we door omstandigheden buiten trainen, maar met het schitterende weer was dit echt fijn!
            We gingen er niet minder straf tegenaan met in de eerste groep een gevechtstraining onder leiding van Senpai Jolein en Senpai Dries en in de tweede groep Senpai Anne met de WOD en Senpai Leon met kickbox-training!
            Het deed ons deugd om zoveel enthousiaste karateka's te zien opdagen op de eerste lessen van het schooljaar. Sommigen onder ons waren zelfs iets te enthousiast ;-)
            Ben je vorig seizoen wat minder vaak komen trainen of wil je deze keer echt je nieuwe gordel halen? Grijp dan je kans om er met een schone lei samen met ons in te vliegen en van je karatejaar een succes te maken.
            Aan iedereen een leerrijk nieuw karateseizoen gewenst!
            <br><br>
            Osu!
            <br><br>
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
