{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/logo_trooper_edited.gif') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Steun ons op Trooper!</div>
        <div class = "nieuwsd post2">26 APRIL 2020</div>
        <br>
        <div class="p post2">
            Het zijn moeilijke tijden voor iedereen, en ook voor onze dojo. 
            Door het coronavirus ligt de samenleving immers grotendeels stil en moeten we ons beperken tot korte online trainingssessies.
            In afwachting van een versoepeling van de maatregelen, is het echter wel mogelijk om onze dojo financieel te steunen!
            Sinds kort heeft onze Dojo namelijk een <a href="https://trooper.be/KyokushinKarateVosselaar">Trooper-pagina</a>.
            Dit is een portaalsite om online aankopen te doen waarbij je een organisatie kan kiezen om te steunen.
            Die ontvangt dan een kleine financiële bijdrage bij elke transactie.
            Het enige dat je moet doen is via Trooper iets bestellen op één van je favoriete webwinkels, zoals gebruikelijk.
            Onze doelstelling is om hiermee de reis naar Japan naar aanleiding van het volgende wereldkampioenschap te ondersteunen (Yokohama 9-11 april 2021).
            We willen jullie dan ook vragen om Trooper te gebruiken telkens je online iets bestelt! Bedankt!
        </div>
    </div>
</div>
{% endblock %}
