{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/terugblik_op_2020.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Terugblik op 2020</div>
        <div class = "nieuwsd post2">18 JANUARI 2021</div>
        <br>
        <div class="p post2">
            2020 was voor onze Dojo werking een zeer moeilijk jaar ten gevolge het Covid-19 virus.
            Al vroeg in het jaar werd onze reguliere werking bemoeilijkt en werden we gedwongen om creatief over te gaan op alternatieve trainingsmethodes.
            Vanaf april was non-contact sportbeoefening en zagen we ons genoodzaakt het aantal deelnemers per les te beperken in functie van de beschikbare ruimte per persoon alsook de leeftijd van de deelnemers.
            Het werd nog erger toen we een verbod kregen om indoor te trainen en we ons werkterrein moesten verleggen naar de sportvelden achter het Diepvenneke.
            We gingen in die periode ook een keer lopen in het Grotenhoutbos en we schakelden over naar online training. 
            In de eerste Corona golf via FB/messenger en in de tweede golf via Zoom.
            Finaal hebben we zelfs examen gedaan voor onze laagste graden via het internet. Dat was niet eenvoudig, maar moeilijk gaat ook.
            Het motto van de Dojo werd: 'Train Hard, Train Smart, Train Safe!'.
            Gezien er vele Dojo's en organisaties wereldwijd online trainingen verzorgden, bood dit ook nieuwe opportuniteiten om eens met andere Karateka's te trainen! 
            Het nieuwe jaar zal alvast op dezelfde wijze aanvangen, maar hoe sneller we weer op een reguliere wijze kunnen trainen, hoe beter!
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
