{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/trainingen_zomer_2017.jpg') }}" width="100%"/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Trainingen zomer 2017</div>
        <div class = "nieuwsd post2">18 JULI 2017</div>
        <br>
        <div class="p post2">
            Beste leden en ouders,
            <br><br>
            Zoals beloofd zullen we onze conditie op peil houden in de vakantie en dit op de vrijdagavond om 19.30h.
            We wisselen af tussen Crossfit training gegeven door Senpai Anne en looptraining door Shihan Koen.
            Elke sessie zal één tot anderhalf uur in beslag nemen.
            Familie, vrienden en kennissen zijn eveneens van harte welkom, hoe meer zielen hoe meer vreugd!
            <br><br>
            1. 28 juli: Crossfit in Diepvenneke
            <br>
            2. 04 augustus: Looptraining in Grotenhoutbos
            <br>
            3. 11 augustus: Crossfit in Diepvenneke
            <br>
            4. 18 augustus: Looptraining in Grotenhoutbos
            <br>
            5. 25 augustus: Crossfit in Diepvenneke
            <br><br>
            Crossfit:
            <br>
            Zo mogelijk trainen we in openlucht op de sportterreinen van Diepvenneke.
            Bij regen zoeken we de sporthal op.
            De minimumleeftijd bedraagt 12 jaar.
            Vergeet je drinkbus niet!
            Breng je springtouw mee!
            Doe je karate-t-shirt aan!
            <br><br>
            Looptraining in Grotenhoutbos:
            <br>
            We spreken af aan de ingang van het Grotenhoutbos, parking De Breem (over brug E34 naar rechts en dadelijk weer links).
            We nemen de gele tour van ca. 6 km en stoppen halverwege ter hoogte van de grote vijver.
            Indien nodig splitsen we op in twee groepen met enerzijds de snelle en anderzijds de wat tragere lopers.
            De minimumleeftijd bedraagt 8 jaar.
            Loopschoenen, jogging met Karate T-shirt of hoody aandoen.
            Vergeet ook dan je drinkbus niet!
            <br><br>
            Bij regenval is het mogelijk dat we overgaan tot Crossfit i.p.v. looptraining.
            <br><br>
            Tot binnenkort.
            <br><br>
            Shihan Koen

        <br><br>
        </div>
    </div>
</div>
{% endblock %}
