{% extends "layout.html" %}
{% block content %}
<div class = "banner bovenbanner">
    <img src="{{ url_for('static', filename='nieuws/foto1.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Trainingen_nieuw_seizoen</div>
        <br>
        <div class="p post2">
            Zoals je al kon lezen in de nieuwsbrief zullen onze trainingen vanaf volgend seizoen een andere aanpak volgen.
            Om te beginnen zullen er nu aparte trainingen zijn voor de kinderen en lage gordels enerzijds, en voor de volwassenen en hogere gordels anderzijds en dit zowel op vrijdag als op zaterdag.
            Op die manier hopen we om specifieker te trainen zodat iedereen voldoende aan bod komt.
            Daarnaast is er een verdere opdeling in de eerste groep, waar we vanaf nu met vaste lesgevers per graad naar het examen toewerken.
            In de eerste groep kan je dan examen doen als je 25 trainingen gevolgd hebt.
            Dit kan ofwel op een semester door beide trainingen wekelijks mee te doen, ofwel op een jaar door enkel op zaterdag of vrijdag aanwezig te zijn.
            De inhoud van de trainingen zal op deze timing afgestemd zijn en er zullen aanwezigheden worden opgenomen.
            Ook zullen we vanaf nu zowel op vrijdag als op zaterdag afwisselend trainen op kumite en techniek.
            Kijk bij 'Info' en bij 'kalender' voor meer details.
        </div>
    </div>
</div>
{% endblock %}
