{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/trainen_in_tijden_van_corona.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Trainen in tijden van COVID-19</div>
        <div class = "nieuwsd post2">10 APRIL 2020</div>
        <br>
        <div class="p post2">
            De Dojo is helaas nog steeds gesloten omwille van het Corona-virus.
            Evenwel houdt dit ons niet tegen om te blijven trainen!
            Senpai Anne maakt regelmatig interessante workouts met focus op kracht en cardio die passen in onze Karate-trainingen.
            Hiernaast zijn we gestart met online trainingen via de video-mogelijkheden van Messenger (Facebook).
            Senpai Anne heeft hiertoe een online trainingsgroep opgericht, zodat diegenen die hiervoor interesse hebben worden uitgenodigd.
            De sessies worden apart aangekondigd via email en op de gesloten Facebookpagina van de Dojo.
            Als je graag meedoet, geef dan een seintje (je moet wel over een Messenger-account beschikken). 
            Blijven trainen op een verstandige wijze, met in acht nemen van de regels rond 'social distancing', is de boodschap!
            <br /><br />
            Gambatte Kudasai, Osu!
        </div>
    </div>
</div>
{% endblock %}
