{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/training_inken_cara_heuer.jpg') }}"  width="100%" align="center" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Training Senpai Inken Cara Heuer 2017</div>
        <div class = "nieuwsd post2">04/11 2017</div>
        <br>
        <div class="p post2">
            Op 26 oktober hadden we andermaal Senpai Inken Cara Heuer uit Duitsland op bezoek.
            Ze is een leerlinge van o.m. Shihan Dietmar Danisch uit Oberstimm, ons welbekend.
            Die avond was er een kata-training gepland, waarbij iedereen enthousiast en gedreven deelnam.
            Het eerste uur waren de kinderen van de partij en het tweede anderhalf uur werd zoals gebruikelijk gestart met een uitdagende Crossfit workout,
            waarna we intensief oefenden voor het aanstaande kata-tornooi in Turnhout.
            Alweer een mooie avond met een fijne gast!
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
