{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/uitreiking_dangraden.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Uitreiking Dan-graden</div>
        <div class = "nieuwsd post2">01 NOVEMBER 2018</div>
        <br>
        <div class="p post2">
            Op het Belgisch Zomerkamp in juni 2018 hebben Sensei Bart, Senpai Leon en Senpai Jolein na een lange en intensieve voorbereiding succesvol hun examen voor een hogere Dan-graad kunnen afleggen.
            Eerder op het jaar had Shihan Koen eveneens succesvol examen afgelegd op de Internationale Stage in Yamagata (Japan).
            De gepersonaliseerde Obi's en bijhorende Certificaten van onze moederorganisatie werden hun recent overhandigd!
            Proficiat voor deze bekroning van jarenlang gedreven trainen in de 'spirit of osu'!
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
