{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/yokoso_cup_2017.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Yokoso Cup 2017</div>
        <div class = "nieuwsd post2">17 NOVEMBER 2017</div>
        <br>
        <div class="p post2">
            Met 7 deelnemers, 2 coaches, 1 scheidsrechter en een ganse schare supporters waren we present op inmiddels al de derde editie van de Yokoso Cup in de sporthal van Turnhout.
            Shihan Luc Vandecraen (Karate Kempen, Shinkyokushin) wist bijna 200 deelnemers aan te trekken voor deze katawedstrijd uit Nederland, Wallonië en Vlaanderen.
            In totaal waren er 28 dojo's aanwezig! Shihan Eric Sigvaldason en Sensei Helle Sigvaldason van Denemarken waren eregasten maar assisteerden ook bij de arbitrage.
            Voor Tammy was het haar eerste deelname aan een competitie maar ze slaagde erin haar zenuwen te bedwingen en de kata's tot een goed einde te brengen!
            Louis zat in een zeer sterke poule en behaalde tenslotte de 6e plaats. Ben en Fran werden beiden 5e in hun categorie en Senpai Nina behaalde een mooie 3e plaats.
            Ze stond tot aan de halve finale nog op de eerste plaats, het verschil in haar groep tussen de top 3 was evenwel miniem.
            Vince en Senpai Yorian konden beiden een knappe 2e plaats wegkapen. Senpai Yorian kreeg in de finale 2 vlaggen voor en 3 tegen, waardoor hij net niet eerst werd.
            Senpai Anne en Seppe-san hebben zich eveneens uitstekend van hun taak als coach gekweten.
            Om af te sluiten nog een woordje van dank aan alle deelnemers,
            in het bijzonder aan Maja die zich goed had voorbereid op de wedstrijd en helaas door een spijtig ongeval niet kon deelnemen, maar wel aanwezig was om onze karateka's aan te moedigen!
            Knap werk voor de ganse groep!
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
