{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/yokoso_fotos_2016.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Yokoso Cup 2016</div>
        <div class = "nieuwsd post2">13 NOVEMBER 2016</div>
        <br>
        <div class="p post2">
            Vandaag deden we met een team van 7 competiteurs, 2 coaches en 2 scheidsrechters + een aantal supporters deel aan Yokoso Kata Cup,
            georganiseerd door Shihan Luc Vandecraen (Karate Kempen, Shin Kyokushin).
            Ben moest helaas op het laatste moment forfait geven omwille van ziekte.
            Voor de meeste van onze deelnemers was het de eerste keer om in een Kata competitie op de mat te staan.
            Senpai Yorian wist de eerst plaats te halen in zijn groep, Fran kon beslag leggen op een tweede plaats en Nina kon een derde plaats veroveren!
            Zino, Mohammed, Vince en Lowie hebben allen hun uiterste best gedaan en ook op hen zijn we heel erg fier.
            Ook dank aan onze ‘vaste’ coach Seppe en ‘interim-coach’ Maja om de deelnemers in hun wedstrijden bij te staan.
            Tevens een woordje van dank aan Senpai Jolein om het krap bezette scheidsrechterskorps te verstevigen!
            Een héle dikke proficiat aan allen!
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
