{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/young_lions_cup_2019.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Young Lions Cup 2019</div>
        <div class = "nieuwsd post2">10 FEBRUARI 2019</div>
        <br>
        <div class="p post2">
            Met zes deelnemers,twee coachen, twee scheidsrechters en heel wat helpende handen trad ons team aan op de Young Lions Cup georganiseerd door Karate Kempen (Shin Kyokushin) op zaterdag 9 februari in Turnhout.
            Onze jonge leeuwen hebben hun uiterste best gedaan en konden dan ook vier trofeeën in de wacht slepen.
            Tammy werd eerste in haar debuut wedstrijd nog wel, een mooie prestatie.
            Ook Lowie trad voor de eerste keer aan en kon een derde plaats behalen in een grote poule waarin hij drie wedstrijden in winst kon beslechten.
            Mohamed had veel last van zenuwen, waardoor hij enkele maakte in zijn eerste partij, maar werd finaal derde.
            Fleur tenslotte kampte zich met onder meer tweemaal winst naar eveneneens een knappe derde plaats.
            Felix heeft in al zijn matchen een hikiwake uit de brand gesleept maar kon helaas geen beker mee naar huis nemen, ondanks mooie en gedreven partijen.
            Mazen kwam in een poule terecht met deelnemers die heel wat sterker en zwaarder waren dan hemzelf. Hij kon desondanks één partij met winst afsluiten.
            Dank ook aan Senpai Jolein en Tim voor de coaching en aan Maja, Chan en Hanne voor de helpende handen en Sepai Yorian voor de mooie arbitrage!
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
