{% extends "layout.html" %}
{% block content %}
<div class = "banner bovenbanner">
    <img src="{{ url_for('static', filename='nieuws/foto1.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Zomerkamp 2016</div>
        <br>
        <div class="p post2">
            Op het Belgisch Zomerkamp hadden we dit jaar weer Sensei Toru Okamoto als hoofdlesgever, naast de Belgische Shihans.
            Meer dan 60 deelnemers van Japan, Zweden, Frankrijk, Duitsland, Nederland en België waren aanwezig om drie dagen te worden ondergedompeld in het Kyokushin Karate.
            Sensei Toru Okamoto, die voor een vierde keer in België was, kon ons weer laten genieten van zijn grote klasse, een kampioen waardig.
            <br><br>
            De aftrap werd op vrijdagavond gegeven op een meer dan stevige Kihon en Ido-Geiko training.
            Op zaterdag ging Sensei Okamoto enthousiast verder met een aantal interessante driestapsoefeningen in Kumite Dachi.
            Daarna kwamen alle Kata’s aan bod bij de gevorderde karateka's. De lagere graden kregen ondertussen les van de Belgische Shihan’s.
            <br><br>
            Op zaterdagavond vond het technisch gedeelte van het examen, dat een aantal uren in beslag nam.
            Zondagmorgen werd direct gestart met de Stamina-test en het Kumite-examen.
            De kandidaten moesten hier opnieuw tot het uiterste gaan.
            <br><br>
            In de namiddag was het dan tijd voor de klassieke 50-man Kumite, waarbij alle deelnemers  van het zomerkamp de kans kregen om van elkaar te leren.
            Ook Sensei Okamoto nam deel.
            Op het einde werd bekend gemaakt dat twee kandidaten geslaagd waren voor Shodan en twee andere kandidaten een hoger kyu-graad hadden behaald.
            We sloten dit geslaagde kamp af met de Dojo-kun en een groepsfoto, waarna een aantal deelnemers nog deelnamen aan een voortreffelijk sayonara-diner.
        </div>
    </div>
</div>
{% endblock %}
