{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/zomerkamp_duitsland_2017.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Zomerkamp Duitsland 2017</div>
        <div class = "nieuwsd post2">28 JULI 2017</div>
        <br>
        <div class="p post2">
            Vrijdag 21 juli vertrok Senpai Jolein met Senpai Yorian en Senpai Nina op weg naar het Duitse Zomerkamp 2017, georganiseerd door Shihan Dietmar Danisch.
            Na een lange trip met heel wat files geraakten ze toch tijdig ter plaatse voor de eerste training, waar alvast Shihan Tabata zijn gekende recept inzette,
            de start met 500 mawashi-geri’s jodan. Het zouden er finaal 1100 worden, gezien het aantal bij elke training in de hoogte ging!
            Op het kamp kwamen alle elementen aan bod, namelijk gedreven katatraining met Shihan Shigeru Tabata,
            scheidsrechterscursus met Shihan Takeshi Miyagi, zelfverdediging met Sensei Terry Birket (Verenigd Koninkrijk) en veel kumite, waaronder de gekende 50-man-kumite.
            Zaterdagavond deed Senpai  Yorian in een bloedhete zaal zijn technisch examen voor eerste Kyu samen met nog een 15-tal andere kandidaten.
            De dag nadien volgde de kumite-test. Senpai Yorian slaagde voor beide delen en haalde welverdiend zijn eerste kyu!
            Een fantastisch kamp met een fantastisch resultaat voor onze Senpai! Gefeliciteerd!
        </div>
    </div>
</div>
{% endblock %}
