{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/zomerkamp_2019.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Zomerkamp 2019</div>
        <div class = "nieuwsd post2">23 JUNI 2019</div>
        <br>
        <div class="p post2">
            Aan het Belgische Zomerkamp in Malle van 21 tot en met 23 juni namen we met dertien leden van onze Dojo deel.
            Dit was ondertussen reeds de vijftiende editie en opnieuw een zeer geslaagd evenement.
            Twee jonge maar erg ervaren lesgevers spaarden krachten nog moeite om ons hun kennis bij te brengen:
            Sensei Emma Markwell uit Engeland en de Zweed Senpai Jonas Rosin hebben ondanks hun jonge leeftijd al een heel palmares aan topwedstrijden.
            In een open en inspirerende stijl gaven ze het beste van zichzelf.
            Daarnaast gaven Shihan Chris, Shihan Lu en Shihan Koen de nodige aanvulling, zodat het kamp alle aspecten van het Kyokushinkai Karate kon aanraken.
            Senpai Yorian nam deel aan het examen teneinde zijn zwarte gordel te behalen.
            Hiervoor had hij zich een jaar stevig voorbereid, wat dan ook beloond werd met een welverdiende graad van Shodan.
            Gefeliciteerd, Senpai!
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
