{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/zomerkamp_nederland_2019.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Zomerkamp Nederland 2019</div>
        <div class = "nieuwsd post2">14 SEPTEMBER 2019</div>
        <br>
        <div class="p post2">
            Zaterdag 14 september trokken we met 6 leden van onze Dojo en onze goede vriend Senpai Rene uit Rotterdam naar het Nederlands Zomerkamp in Papendal met Shihan Tabata en Sensei Inoue.
            We trainden een ganse dag aan het uiterste van ons kunnen, aangemoedigd door Shihan Tabata, Uchi Deshi en lesgever in de Dojo van Sosai Oyama.
            De zware Kihon-sessies werden traditioneel afgesloten met een ganse reeks Mawashi Geri's; in totaal deden we er 800! Hiernaast kwam ook nog Ido-Geiko en Kata aan bod.
            Het was zeker een fijne ervaring om Shihan Tataba terug te zien.
            Dank ook aan Sensei Lee Tsouli voor de gastvrijheid en organisatie van dit geslaagd evenement.
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
