{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/zomerkamp_2018.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Zomerkamp 2017</div>
        <div class = "nieuwsd post2">01 JULI 2017</div>
        <br>
        <div class="p post2">
            Vorig weekend namen 12 leden van onze Dojo deel aan het Belgisch Zomerkamp in Malle georganiseerd door Mas Oyama Kalmthout.
            Dit keer met als hoofdlesgever Kyokushin top-vechter en dito lesgever Sensei Jonathan Tineo uit Spanje.
            Sensei Tineo maakte zijn reputatie van uitstekend lesgever en rasechte Budoka meer dan waar!
            Het vlekkeloos georganiseerde kamp verliep in een gemoedelijke sfeer met gedreven én inspirerende trainingen en werd afgesloten met de traditionele 50-man Kumite.
            Onze examenkandidaten hebben zich bovendien uitstekend van hun taak gekweten op een toch wel uitdagende technische test en een slopende Kumite-gedeelte.
            Een strakke voorbereiding en een onwankelbare wil tot slagen hebben geleid tot dit mooie resultaat!
            Vanaf heden hebben we: Sensei Bart, San-Dan; Senpai Jolein, Ni-Dan; Senpai Leon, Ni-Dan
            Ook de leerlingen van Sensei Bart waren allen geslaagd voor hun examen.
            Dank aan alle deelnemers en een dikke proficiat aan de examenkandidaten!
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
