{% extends "layout.html" %}
{% block content %}
<div class = "nieuwsbanner">
    <img class="nieuwsbannerfoto" src="{{ url_for('static', filename='nieuws/zomerkamp_zweden_2019.jpg') }}" width="100%" alt=""/>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="h6 post2">Zomerkamp Zweden 2019</div>
        <div class = "nieuwsd post2">08 SEPTEMBER 2019</div>
        <br>
        <div class="p post2">
            Vrijdag 6 september vlogen Senpai Yorian en de Shihan samen met Shihan Chris en Senpai Benjamin van Stamina Dojo vanuit Zaventem naar Gotenburg om deel te nemen aan het Zweeds Zomerkamp met Shihan Miwa en Shihan Okamoto.
            Op de luchthaven werd onze groep nog uitgebreid met negen Karateka's en twee supporters van Kapellen en Kalmthout zodat we met vijftien waren, een mooie groep om deel te nemen aan deze door Sensei Johan Jacobson strak georganiseerde stage. Beide toplesgevers gaven de lessen op een zeer gedreven wijze, zodat na afloop van elke trainingssessie onze Dogi's helemaal nat waren.
            Zondagavond was er een afsluitend diner in een uitstekend Thais restaurant en de dag nadien deden we nog een sightseeing wandeling in Gotenburg.
            We mogen spreken van een erg geslaagd evenement, zeker door de uitstekende organisatie en generositeit van het Zweedse team en natuurlijk door de trainingen van onze Japanse vrienden!
        <br><br>
        </div>
    </div>
</div>
{% endblock %}
