{% extends "nl/layout.html" %}
{% block content %}
<div class="content-wrapper">
    <p>&nbsp;</p>
    <div align="center" class="h5">LINKS<br>
    </div>
    <p>&nbsp;</p>
        <div class="link-column-left">
            <div class="h7-bis">IKO KYOKUSHIN UNION LINKS</div>
            <p>&nbsp;</p>
            <div class="p">
                <div align="left">
                    <a href="http://www.kyokushin-rengokai.com/">IKO Kyokushin-Union</a><br>
                    <br>
                    <div align="left">
                        <a href="http://www.kyokushin-rengokai.com/D-itiran.htm#touhoku">All Japan Kyokushin Union Dojo List</a><br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://homepage2.nifty.com/masuda-dojo/index.html">Akira Masuda Dojo, Japan</a> <br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://kyokusin.aomori.nu/index.html">Aomori Kyokushin, Japan</a> <br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://www.kyokushin-chiba.jp/index.html">Chiba Kyokushin, Japan</a> <br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://www.geocities.jp/kyokusinhiroshima/">Hiroshima Kyokushin, Japan</a> <br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://www.kyokushin-hokkaido.jp/">Hokaido Kyokushin, Japan </a><br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://www.kyokushin-japan.jp/">Hasegawa Dojo, Japan</a> <br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://www.ac.auone-net.jp/~hasimoto/index.html">Hashimoto Dojo, Japan</a><br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://www14.ocn.ne.jp/~hirodojo/">Hiro Dojo, Japan</a><br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://www.kyokushin.ne.jp/" target="_blank">Oishi Dojo, Japan</a> <br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://kyokushin-kansai.com/" target="_blank">Okada Dojo, Japan</a><br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://www.powermangym.co.jp/shintoryu_top.html">
                            Koi Dojo, Japan<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.niji.jp/home/kuwajimadojo/" target="_blank">
                            Kuwajima Dojo, Japan<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://kyoto-kyokushin.com/">
                            Kyoto Shibu, Japan<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www4.big.or.jp/~josai-dd/" target="_blank">
                            Miwa Dojo, Japan<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www1.harenet.ne.jp/~kyokusin/index2.html">Nakagawa Dojo, Japan</a><br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://www.kyokushin-sakamoto.com/" target="_blank">
                            Sakamoto Dojo, Japan<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www3.cty-net.ne.jp/~sakae/top.htm">
                            Sakae Dojo, Japan<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.cosmos.ne.jp/~k-o-b/karate.html" target="_blank">Shichinohe Dojo, Japan</a><br>
                        <br>
                    </div>
                    <div align="left">
                        Setto Dojo, Japan<br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://www.kyokushin-tabatadojo.com/" target="_blank">
                            Tabata Dojo, Japan<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.takahashi-dojo.jp/" target="_blank">
                            Takahashi Dojo, Japan<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.cyberdog.co.jp/~kyokusin/index.html">Tomo Shibu, Japan</a><br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://www.melbmartialarts.com.au/">
                            Melbourne Kolovos Dojo, Australia<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.asp-ryugaku.com/K-index.htm">Jim Phillips Martial Arts Centre, Australia</a><br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://www.fieldkyokushin.com/index.html">
                            Trevor Field Dojo, Australia<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.karateaustria.at/de/index.asp">DSEN Kyokushin Dojo, Austria</a><br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://karate-strasshof.at/">
                            Seishin Kyokushin Dojo, Austria <br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.seishin.be/">Seishin Dojo Kapellen, Belgium</a><a href="http://www.seishin.be/">
                            <br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.masoyamakalmthout.be/">
                            Mas Oyama Kalmthout, Belgium<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.staminadojo.be/">
                            Stamina Dojo Beerse, Belgium<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <span align="left">
                            <a href="http://www.ichidai.be/">
                                Ichidai Dojo Antwerpen, Belgium<br>
                                <br>
                            </a>
                        </span>
                    </div>
                    <div align="left">
                        <span align="left">
                            <a href="http://www.hzs.be/html_NL/karateclub.html/">
                                HZS Kyokushin Dojo Antwerpen, Belgium<br>
                                <br>
                            </a>
                        </span>
                    </div>
                    <div align="left">
                        <a href="http://home.scarlet.be/~tsc95735/union.htm">
                            Belgian Kyokushin Karate Union<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.german-kyokushin-union.de/">
                            German Kyokushin Union<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.members.shaw.ca/iheiter/karate.html">
                            Calgary Dojo, Canada<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.karatestluc.ca/">
                            Karate Kyokushin St.Luc Canada<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.kyokushin-china.com/" target="_blank">
                            Hong Kong Dojo, China<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.kyokushin-hk.org/en_1.htm" target="_blank">
                            Shanghai Dojo, China<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.dko-karate.dk/">
                            Danish Karate Organisation<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.kyokushinkarate.fi/">
                            Kyokushin Karate Nurmijärven, Finland<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.oyama-karate-bayern.de/">
                            Oyama Karate Bayern, Germany<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.oyama-karatepaf.de/frame.htm">
                            Oyama Karate Pfaffenhoven, Germany<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.mkk.com.au/">ABKA Kyokushin Karate Club, Hungary</a><br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://www.kyokushinkaiunion.gr/">
                            Hellas Kyokushin Union, Greece<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.raimondikyokushindojo.tk/" target="_blank">Kanamura Dojo Italy</a><a href="http://www.kyokushinraimondi.com/">
                            <br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://cafe.daum.net/karate11">Kyokushinkai Korea</a><br>
                        <a href="http://www.mkk.com.au/">
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.sportclubfenf.nl/">
                            Sportsclub F&amp;F, "The Inner Way" Sneek, The Netherlands<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.kyokushinwildeboer.com/">Budokai Wildeboer, The Netherlands</a><br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://www.kaizendojo.nl/">
                            Kaizen Dojo, The Netherlands<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.lasala.nl/">
                            Amaterasu Dojo, The Netherlands<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.kyokushinnz.co.nz/">New Zealand Kyokushin</a><br>
                        <a href="http://www.mkk.com.au/">
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.tromso-karateklubb.net/">
                            Tromso Karate Clubb, Norway<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.kyokushin-karate.com.pl/">
                            Silesian Kyokushin Karate, Poland<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.yakunin.ru/ruk/index.htm">
                            Russian Kyokushin Union<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.nipponbudosport.ro/">
                            Nippon Budo Sport, Rumania<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.karatekyokushin.za.org/">Cape Town Kyokushin, South Africa</a><br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://clientes.vianetworks.es/personal/satori/">
                            Satori Karate Kyokushinkai Organisation, Spain<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.garyukyokushin.com/">
                            Garyu Kyokushin Karate Spain<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.geocities.com/kyokukarate/MENU.htm">
                            Seishin Karate Kyokushinkai Organisation, Spain<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.clublaselva.com/">
                            Laselva Kyokushin Dojo, Spain<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.brandbergenskaratekai.nu/">
                            Brandbergens Karatekai, Sweden<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.budo-kai.se/">
                            Bollebydgs Karate Budo-Kai, Swede<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.wiklunddojo.se/index.php">
                            Wiklund Dojo, Sweden<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.karateluzern.ch/">Luzern Kyokushin Dojo, Switserland</a><br>
                        <a href="http://www.mkk.com.au/">
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.kyokushin.ch/">
                            Schweizerischen Karateverband Kyokushinkai, Switserland<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.rising-sun-kyokushin.co.uk/">Rising Sun Kyokushin Karate Club UK (Wales)</a><br>
                        <a href="http://www.mkk.com.au/">
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://karate.sirexbiz.net/">
                            Kiev Region Kyokushin Dojo, Ukraine<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://kyokushin-kan.com.ua/" target="_blank">
                            West Ukrain Kyokushin Karate Dojo<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://takuan.atw.hu/fo.htm">
                            Takuan Kyokushin Karate Dojo Hungary<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://kyokushinfl.com/index.html">International Japanese Academy of Martial Arts Kuweit</a><br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://seishinkyokushin.webnode.com.pt/">
                            Seishin Kyokushin Karate Portugal<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.kyokushin.net.au/">
                            Melbourne Emin Dojo Australia<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.budokyokushin.com/">
                            Melbourne Poly Dojo Australia<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.kyokushinkaikaratevosselaar.be/(i)http://www.bendigokarate.com.au/">
                            Bendigo &amp; Central Victorian Dojo Australia<br>
                        </a><a href="http://kyokushinfl.com/index.html">
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.geocities.com/colosseum/park/4801/">Venezuela Karate Kyokushinkai</a><br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="link-column-right">
            <div class="h7-bis">GENERAL KYOKUSHIN LINKS</div>
            <p>&nbsp;</p>
            <div class="p">
                <div align="left">
                    <a href="http://www.kyokushinkaikan.org/">IKO Matsui Group</a> <br>
                    <br>
                    <div align="left">
                        <a href="http://www.kyokushin-matsushima.jp/index.html">IKO Matsushima Group</a> <br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://www.geocities.jp/kyokushintezuka/">IKO Tezuka Group</a> <br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://www.ikososai.com/">IKO Sosai</a><br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://www.kyokushinkan.org/">Kyokushinkan Shogakukai</a><br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://www.shinkyokushinkai.co.jp/">ShinKyokushin</a><br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://www.ifk-kyokushin.com/">IFK</a><br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://www.mas-oyama.com/">Mas Oyama's Official Website (Memorial Hall)</a><br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://www.greenmountaindojo.com/">Greenmountain Dojo Vermont USA</a> <br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://www.kokorowebdesign.com.au/iko/home.htm">Australian Kyokushin Karate Association</a> <br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://www.australiankyokushin.com/">Shah's Kyokushin Pages</a> <br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://www.shihanroman.com/">Roman Szyrajew, Shihan</a> <br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://kyokushinjutsukan.cabanova.com/" target="new">Randolph James, Shihan</a><br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://www.h3.dion.ne.jp/~seibukai/">Yukio Nishida Dojo</a> <br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://park.zero.ad.jp/kyokushin/index.html">Hiroshi Masuda Dojo</a><br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://www.henrioh.com/">North American Kyokushin Karate Organisation</a><br>
                        <br>
                    </div>
                    <div align="left">
                        <a href="http://homepage2.nifty.com/masuda-dojo/ibma/ibma-top.html">International Budo Man Association</a><br>
                        <br>
                    </div>
                </div>
            </div>
            <p>&nbsp;</p>
            <div class="h7-bis">GENERAL LINKS NETHERLANDS &amp; BELGIUM </div>
            <p>&nbsp;</p>
            <div class="p">
                <div align="left">
                    <span align="left"><a href="http://www.asahi-dojo.be/">Asahi Dojo</a></span><br>
                    <br>
                    <div align="left">
                        <span align="left">
                            <a href="http://www.ashihara.be/">
                                Ashihara Karate Belgium<br>
                                <br>
                            </a>
                        </span>
                    </div>
                    <div align="left">
                        <span align="left">
                            <a href="http://www.belgiankyokushinorganization.be/">
                                Belgian Kyokushin Karate Organization<br>
                                <br>
                            </a>
                        </span>
                    </div>
                    <div align="left">
                        <span align="left">
                            <a href="http://go.to/budokaido">
                                Belgian Budokai-Do Full Contact Organisation<br>
                                <br>
                            </a>
                        </span>
                    </div>
                    <div align="left">
                        <span align="left">
                            <a href="http://www.budokai.be/">
                                Budokai Martial Arts (Ashihara)<br>
                                <br>
                            </a>
                        </span>
                    </div>
                    <div align="left">
                        <span align="left">
                            <a href="http://www.fudoshindojo.be/">
                                Fudo Shin Dojo Stabroek<br>
                                <br>
                            </a>
                        </span>
                    </div>
                    <div align="left">
                        <span align="left">
                            <a href="http://home2.pi.be/inazuma/">
                                Inazuma Dojo<br>
                                <br>
                            </a>
                        </span>
                    </div>
                    <div align="left">
                        <span align="left">
                            <a href="http://www.kaidodojo.com/">
                                Kai-Do Dojo Malle<br>
                                <br>
                            </a>
                        </span>
                    </div>
                    <div align="left">
                        <span align="left">
                            <a href="http://www.kyodo.be/">
                                Kyodo Dojo Deurne<br>
                                <br>
                            </a>
                        </span>
                    </div>
                    <div align="left">
                        <span align="left">
                            <a href="http://www.kyokushin-tezuka.com/worldwide/belgium.htm">
                                Level+ Dojo Brasschaat<br>
                                <br>
                            </a>
                        </span>
                    </div>
                    <div align="left">
                        <span align="left">
                            <a href="http://users.skynet.be/masoyama-zichem/">
                                Mas Oyama Zichem<br>
                                <br>
                            </a>
                        </span>
                    </div>
                    <div align="left">
                        <span align="left">
                            <a href="http://www.nkkb.be/">
                                National Karate Kyokushinkai Belgium<br>
                                <br>
                            </a>
                        </span>
                    </div>
                    <div align="left">
                        <span align="left">
                            <a href="http://www.niji-yama.tk/">
                                Niji Yama Dojo<br>
                                <br>
                            </a>
                        </span>
                    </div>
                    <div align="left">
                        <span align="left">
                            <a href="http://www.goju-ryu.be/">
                                Okinawa Goju-Ryu Karate-Do Belgium<br>
                                <br>
                            </a>
                        </span>
                    </div>
                    <div align="left">
                        <span align="left">
                            <a href="http://www.jansenkarate.webs.com/">
                                Okinawa Kyokushin Dojo Etten-Leur &amp; Zundert<br>
                                <br>
                            </a>
                        </span>
                    </div>
                    <div align="left">
                        <span align="left"><a href="http://dojo-shin-hara.be/">Shin-Hara Dojo Neufvilles</a></span><br>
                        <br>
                    </div>
                    <div align="left">
                        <span align="left"><a href="http://www.kaizendojo.nl/">Kaizen Dojo Bergen Op Zoom</a></span><br>
                        <br>
                    </div>
                    <div align="left">
                        <span align="left"><a href="http://www.kyokushin-wavre.be/">Kyokushinkai Wavre</a></span><br>
                        <br>
                    </div>
                    <div align="left">
                        <span align="left"><a href="http://www.kodokan.be/pagekarate.html">Kyokushinkai Tamines</a></span><br>
                        <br>
                    </div>
                    <div align="left">
                        <span align="left">
                            <a href="http://www.shinkyokushin.be/">
                                Shinkyokushin Belgium<br>
                                <br>
                            </a>
                        </span>
                    </div>
                    <div align="left">
                        <span align="left">
                            <a href="http://www.shihaishinkai.com/">
                                Shihaishinkai Karate<br>
                                <br>
                            </a>
                        </span>
                    </div>
                    <div align="left">
                        <span align="left">
                            <a href="http://www.shidokan.be/">
                                Shidokan Belgium<br>
                                <br>
                            </a>
                        </span>
                    </div>
                    <div align="left">
                        <span align="left">
                            <a href="http://www.kyokushin.be/">
                                Sutani Dojo Belgium<br>
                                <br>
                            </a>
                        </span>
                    </div>
                    <div align="left">
                        <span align="left">
                            <a href="http://users.belgacom.net/gc793566/orgfranc.htm">
                                Wallonie Kyokushinkai<br>
                                <br>
                            </a>
                        </span>
                    </div>
                    <div align="left">
                        <span align="left">
                            <a href="http://www.dutchkyokushin.nl/">
                                Dutch Kyokushin<br>
                                <br>
                            </a>
                        </span>
                    </div>
                    <div align="left">
                        <span align="left">
                            <a href="http://www.internationalkyokushinbudokaikan.com/">
                                IBK Holland_Bluming<br>
                                <br>
                            </a>
                        </span>
                    </div>
                    <div align="left">
                        <span align="left">
                            <a href="http://www.internationalbudokai.com/budokai_web/default.asp">
                                IBK Holland_Gordeau<br>
                                <br>
                            </a>
                        </span>
                    </div>
                    <div align="left">
                        <span align="left">
                            <a href="http://www.nka-ifk.nl/">
                                IFK Holland<br>
                                <br>
                            </a>
                        </span>
                    </div>
                    <div align="left">
                        <span align="left">
                            <a href="http://www.musashi.nl/">
                                Musashi Traditional Kyokushin Karate<br>
                                <br>
                            </a>
                        </span>
                    </div>
                    <div align="left">
                        <span align="left">
                            <a href="http://www.shinkyokushin.nl/">
                                Shinkyokushin Holland<br>
                                <br>
                            </a>
                        </span>
                    </div>
                    <div align="left">
                        <span align="left"><a href="http://www.hktg.nl/index2.php?website_main_pagina=/module_tekst.php?id=6">Tezuka Group Holland</a></span><br>
                        <br>
                    </div>
                </div>
            </div>
            <p>&nbsp;</p>
            <div class="h7-bis">KYOKUSHIN RELATED STYLES</div>
            <p>&nbsp;</p>
            <div align="left" class="p">
                <a href="http://www.seiwakai.com.br/" target="_self" align="left">
                    Seiwakai (Ademir da Costa)<br>
                    <br>
                </a>
            </div>
            <div class="p">
                <div align="left">
                    <a href="http://www.shinseikaikarate.com/" align="left">
                        Shinseikai (Joe Rankin's)<br>
                        <br>
                    </a>
                    <div align="left">
                        <a href="http://www.enshin.com/" target="_self" align="left">
                            Enshin Karate (Joko Ninomiya)<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.shidokan.com/" align="left">
                            Shidokan (Yoshiji Soeno)<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://users.iafrica.com/a/as/ashihara/" align="left">
                            Ashihara (Hoosain Narker)<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.ashihara.com/" align="left">
                            Ashihara Karate International (Hidenori Ashihara)<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.seido.com/" align="left">
                            World Seido Karate (Tadashi Nakamura)<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.worldoyama.com/" align="left">
                            World Oyama Karate (Shigeru Oyama)<br>
                            <br>
                        </a>
                    </div>
                    <div align="left">
                        <a href="http://www.kurosawadojo.com/" align="left">Hiroki Kurosawa Karate</a><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    <p>&nbsp;</p>
</div>
{% endblock %}

