{% extends "nl/layout.html" %}
{% block content %}
<div class = "banner bovenbanner" id="index-bovenbanner">
    <div class = "h3-box post1">
        <div class="h3">Volcontact Karate</div>
    </div>
    <div class = "h5-box2 post1">
        <div class="h5">Trainingen voor volwassenen en kinderen</div>
    </div>
</div>
<div class = "content-box first-content-box post1">
    <div class = "index-first-text-box">
         <div class = "h6 post2">WAT WIJ TE BIEDEN HEBBEN</div>
         <br><br><br><br>
         <div class = "rectangle-wrap">
            <div class="rectangle grey-rectangle first-rectangle post2" >
                <div class="recth">Conditie</div>
                <br>
                <div class="recticon" id = conditie-icoon></div>
                <br>
                <div class="rectp">
                    Kyokushinkai Karate helpt je om een sterk karakter te vormen.
                    Hierdoor sta je stevig in de wereld en ben je een positive invloed op anderen.
                    Leer bij ons om je grenzen op te zoeken, uitdagingen niet uit de weg te gaan en nooit op te geven.
                </div>
            </div>
            <div class="rectangle grey-rectangle second-rectangle post2">
                <div class="recth">Zelfverdediging</div>
                <br>
                <div class="recticon" id = zelfverdediging-icoon></div>
                <br>
                <div class="rectp">
                    Kyokushinkai Karate helpt je om een sterk karakter te vormen.
                    Hierdoor sta je stevig in de wereld en ben je een positive invloed op anderen.
                    Leer bij ons om je grenzen op te zoeken, uitdagingen niet uit de weg te gaan en nooit op te geven.
                </div>
            </div>
            <div class="rectangle grey-rectangle third-rectangle post2">
                <div class="recth">Karakter</div>
                <br>
                <div class="recticon" id="karakter-icoon"></div>
                <br>
                <div class="rectp">
                    Kyokushinkai Karate helpt je om een sterk karakter te vormen.
                    Hierdoor sta je stevig in de wereld en ben je een positive invloed op anderen.
                    Leer bij ons om je grenzen op te zoeken, uitdagingen niet uit de weg te gaan en nooit op te geven.
                </div>
            </div>
         </div>
         <div class = "rectangle-wrap">
            <div class="rectangle grey-rectangle first-rectangle post2" >
                <div class="recth">(Zelf)respect</div>
                <br>
                <div class="recticon" id ="respect-icoon"></div>
                <br>
                <div class="rectp">
                    Kyokushinkai Karate helpt je om een sterk karakter te vormen.
                    Hierdoor sta je stevig in de wereld en ben je een positive invloed op anderen.
                    Leer bij ons om je grenzen op te zoeken, uitdagingen niet uit de weg te gaan en nooit op te geven.
                </div>
            </div>
            <div class="rectangle grey-rectangle second-rectangle post2">
                <div class="recth">Traditie</div>
                <br>
                <div class="recticon" id="traditie-icoon"></div>
                <br>
                <div class="rectp">
                    Kyokushinkai Karate helpt je om een sterk karakter te vormen.
                    Hierdoor sta je stevig in de wereld en ben je een positive invloed op anderen.
                    Leer bij ons om je grenzen op te zoeken, uitdagingen niet uit de weg te gaan en nooit op te geven.
                </div>
            </div>
            <div class="rectangle grey-rectangle third-rectangle post2">
                <div class="recth">Wilskracht</div>
                <br>
                <div class="recticon" id="wilskracht-icoon"></div>
                <br>
                <div class="rectp">
                    Kyokushinkai Karate helpt je om een sterk karakter te vormen.
                    Hierdoor sta je stevig in de wereld en ben je een positive invloed op anderen.
                    Leer bij ons om je grenzen op te zoeken, uitdagingen niet uit de weg te gaan en nooit op te geven.
                </div>
            </div>
         </div>
         <div class = "rectangle-wrap">
            <div class="rectangle grey-rectangle first-rectangle post2">
                <div class="recth">Sociaal Contact</div>
                <br>
                <div class="recticon" id="sociaal-icoon"></div>
                <br>
                <div class="rectp">
                    Kyokushinkai Karate helpt je om een sterk karakter te vormen.
                    Hierdoor sta je stevig in de wereld en ben je een positive invloed op anderen.
                    Leer bij ons om je grenzen op te zoeken, uitdagingen niet uit de weg te gaan en nooit op te geven.
                </div>
            </div>
            <div class="rectangle grey-rectangle second-rectangle post2">
                <div class="recth">Plezier</div>
                <br>
                <div class="recticon" id="plezier-icoon"></div>
                <br>
                <div class="rectp">
                    Kyokushinkai Karate helpt je om een sterk karakter te vormen.
                    Hierdoor sta je stevig in de wereld en ben je een positive invloed op anderen.
                    Leer bij ons om je grenzen op te zoeken, uitdagingen niet uit de weg te gaan en nooit op te geven.
                </div>
            </div>
            <div class="rectangle grey-rectangle third-rectangle post2">
                <div class="recth">Competitie</div>
                <br>
                <div class="recticon" id="competitie-icoon"></div>
                <br>
                <div class="rectp">
                    Kyokushinkai Karate helpt je om een sterk karakter te vormen.
                    Hierdoor sta je stevig in de wereld en ben je een positive invloed op anderen.
                    Leer bij ons om je grenzen op te zoeken, uitdagingen niet uit de weg te gaan en nooit op te geven.
                </div>
            </div>
         </div>
    </div>
</div>
<div class = "content-box fifth-content-box post1">
    <div class = "index-second-text-box">
        <div class = "h6 post2">Eerste maand van elk semester gratis trainen ter kennismaking!</div>
    </div>
</div>
</div>
<div class = "content-box second-content-box post1">
    <div class = "index-second-text-box">
         <div class = "h6 post2">trainingsuren</div>
         <br><br><br><br>
         <div class="trainingsuren-wrap post2">
            <div class="trainingsuren-box" id="trainingsuren-uren-box">
                <div class = "trainingsuren-uur"><br></div>
                <div class = "trainingsuren-uur">09:00</div>
                <div class = "trainingsuren-uur">10:00</div>
                <div class = "trainingsuren-uur">12:00</div>
                <div class = "trainingsuren-uur">13:00</div>
                <div class = "trainingsuren-uur">14:00</div>
                <div class = "trainingsuren-uur">15:00</div>
                <div class = "trainingsuren-uur">16:00</div>
                <div class = "trainingsuren-uur">17:00</div>
                <div class = "trainingsuren-uur">18:00</div>
                <div class = "trainingsuren-uur">19:00</div>
                <div class = "trainingsuren-uur">20:00</div>
                <div class = "trainingsuren-uur">21:00</div>
                <div class = "trainingsuren-uur">22:00</div>
            </div>
            <div class="trainingsuren-box" id="trainingsuren-vrijdag-box">
                <div class = "trainingsuren-head">vrijdag</div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training2"></div>
                <div class = "trainingsuren-training trainingsuren-training-vrijdag1">
                    <div class = "trainingsuren-text-box">
                        Kinderen<br>19.30-20:30
                    </div>
                </div>
                <div class = "trainingsuren-training trainingsuren-training-vrijdag2">
                    <div class = "trainingsuren-text-box">
                        Volwassenen<br>20:30-22:00
                    </div>
                </div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
            </div>
            <div class="trainingsuren-box" id="trainingsuren-zaterdag-box">
                <div class = "trainingsuren-head">zaterdag</div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training2"></div>
                <div class = "trainingsuren-training trainingsuren-training-zaterdag1">
                    <div class = "trainingsuren-text-box">
                        Kinderen<br>10:30-11:30
                    </div>
                </div>
                <div class = "trainingsuren-training trainingsuren-training-zaterdag2">
                    <div class = "trainingsuren-text-box">
                        Volwassenen<br>11:30-13:00
                    </div>
                </div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
            </div>
         </div>
    </div>
</div>
{% endblock %}
