{% extends "nl/layout.html" %}
{% block content %}
<div id="slider1_container" style="position: relative; margin: 0 auto;top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden;">
  <!-- Loading Screen -->
  <div u="loading" style="position: absolute; top: 0px; left: 0px;">
    <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
    <div style="position: absolute; display: block; background: url(slideshow/img/loading.gif) no-repeat center center; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
  </div>
  <!-- Slides Container -->
  <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 1300px; height: 500px; overflow: hidden;">
    <div> <img u="image" src="slideshow/img/background/grey_gradient.png" />
      <div u="caption" style="position: absolute; width: 690px; height: 500px; top: 0px; left: 0px;"> <img src="{{ url_for('static', filename='slideshow/img/karate/groepsfoto1_.jpg') }}" style="position: absolute; width: 1300px; height: 800px; top: 0px; left: 0px;" /></div>
      <div id="news-slideshow-heading1">Trainingen Nieuw Seizoen </div>
      <div class="news-slideshow-text"> Zoals je al kon lezen in de nieuwsbrief zullen onze trainingen vanaf volgend seizoen een andere aanpak volgen. Lees meer bij 'nieuws'</div>
    </div>
    <div> <img u="image" src="slideshow/img/background/grey_gradient.png" />
      <div u="caption" style="position: absolute; width: 690px; height: 500px; top: 0px; left: 0px;"> <img src="{{ url_for('static', filename='slideshow/img/karate/groepsfoto_zomerkamp_2015_.jpg') }}" style="position: absolute; width: 1300px; height: 800px; top: 0px; left: 0px;" /></div>
      <div id="news-slideshow-heading2">Zomerkamp 2015</div>
      <div class="news-slideshow-text"> Ook dit jaar was er een mooie opkomst voor het Belgisch Zomerkamp met meer dan 70 deelnemers uit Japan, Zweden, Duitsland en België. Met tropische temperaturen stond een “warm onthaal“ in de sterren geschreven. Lees meer bij 'nieuws' </div>
    </div>
    <div> <img u="image" src="slideshow/img/background/grey_gradient.png" />
      <div u="caption" style="position: absolute; width: 690px; height: 500px; top: 0px; left: 0px;"> <img src="{{ url_for('static', filename='slideshow/img/karate/examen_kyugraden_mei_2015_.jpg') }}" height="498" style="position: absolute; width: 1300px; height: 800px; top: 0px; left: 0px;" /></div>
      <div id="news-slideshow-heading3">Examen Kyugraden</div>
      <div class="news-slideshow-text"> Het examen voor kyugraden werd dit jaar gespreid over twee dagen. Op vrijdagavond 29 mei werden het initiatieniveau en de graden 10e, 9e en 8e kyu afgewerkt. Lees meer bij 'nieuws'. </div>
    </div>
    <script src="{{ url_for('static', filename='slideshow/js/jquery-1.9.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='slideshow/js/jssor.js') }}"></script>
    <script src="{{ url_for('static', filename='slideshow/js/jssor.slider.js') }}"></script>
    <script src="{{ url_for('static', filename='slideshow/js/jssor.pagescript.js') }}"></script>
  </div>
  <!--#region Bullet Navigator Skin Begin -->
  <!-- Help: http://www.jssor.com/development/slider-with-bullet-navigator-jquery.html -->
  <!-- bullet navigator container -->
  <div u="navigator" class="jssorb21" style="bottom: 26px; right: 6px;">
    <!-- bullet navigator item prototype -->
    <div u="prototype"></div>
  </div>
  <span u="arrowleft" class="jssora21l" style="top: 123px; left: 8px;"> </span>
  <span u="arrowright" class="jssora21r" style="top: 123px; right: 8px;"> </span>
  <a style="display: none" href="http://www.jssor.com">Bootstrap Slider</a><br>
</div>
<div id="fourth-bar"></div>
<div id="kalender-bar">
    <div id="first-picture-japan-container"></div>
    <div id="kalender-text-wrapper">
        <p><span id="kalender-title"><a href="{{url_for('nlKalender')}}">KALENDER</a></span>  	</p>
        <div class="kalender-text"></div>
        <div class="kalender-text" id="kalender-kalender1">
            <table cellpadding="0" cellspacing="1" class="calendar">
                <caption>{{getCurrentMonthNameNL()}}</caption>
                <thead>
                    <tr>
                        <td>ma</td>
                        <td>di</td>
                        <td>wo</td>
                        <td>do</td>
                        <td>vr</td>
                        <td>za</td>
                        <td>zo</td>
                    </tr>
                </thead>
                <tbody>
                    {% for week in range (0,6) %}
                        <tr>
                            {% for dag in getDaysOfCurrentMonthMatrix()[week] %}
                                {% if ((week == 0 and dag|int > 10) or (week > 3 and dag|int < 15)) %}
                                    <td class="kalender-niet-relevante-data">{{dag}}</td>
                                {% else %}
                                    <td><a href="#">{{dag}}</a></td>
                                {% endif %}
                            {% endfor %}    
                         </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="kalender-text" id="kalender-kalender2">
            <table cellpadding="0" cellspacing="1" class="calendar">
                <caption>{{getNextMonthNameNL()}}</caption>
                <thead>
                    <tr>
                        <td>ma</td>
                        <td>di</td>
                        <td>wo</td>
                        <td>do</td>
                        <td>vr</td>
                        <td>za</td>
                        <td>zo</td>
                    </tr>
                </thead>
                <tbody>
                    {% for week in range (0,6) %}
                    <tr>
                        {% for dag in getDaysOfNextMonthMatrix()[week] %}
                            {% if ((week == 0 and dag|int > 10) or (week > 3 and dag|int < 15)) %}
                                <td class="kalender-niet-relevante-data">{{dag}}</td>
                            {% else %}
                                <td><a href="#">{{dag}}</a></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="kalender-text" id="kalender-uitleg">
            <p>VRIJDAG 20/11/2015</p>
            <p>Gevechtstraining</p>
            <p>19:30-20.30u: -12j</p>
            <p>20.30-21.00u: +12j</p>
            <p>Lesgevers: Shihan Koen, Senpai Dries, Senpai Anne</p>
        </div>
    </div>
</div>
<p>&nbsp;</p>
<div id="syllabus-bar">
  <div id="syllabus-text-wrapper">
  	<p><span id="syllabus-title">SYLLABUS</span></p>
  	<p><span id="syllabus-text">Er wordt aan gewerkt.</span></p>
  </div>
  <div id="second-picture-japan-container"></div>
</div>
<p>&nbsp;</p>
<div id="wijsheden-bar">
  <div id="third-picture-japan-container"></div>
  <div id="wijsheden-text-wrapper">
  	<p><span id="wijsheden-title">WIJSHEDEN VAN SOSAI OYAMA</span></p>
  	<p><span id="wijsheden-text">Er wordt aan gewerkt.</span></p>
  </div>
</div>
<br /><br /><br />
{% endblock %}
