{% extends "nl/layout.html" %}
{% block content %}
<div class="banner bovenbanner" id="links-bovenbanner" xmlns="http://www.w3.org/1999/html">
    <div class = "h4-box post1">
        <div class="h4">Links<br><br /></div>
    </div>
</div>
<div class = "content-box first-content-box post1">
    <div class = "link-wrapper">
        <div class="link-column link-column-left">
            <div class = "text-box first-text-box">
                <div class="h6 post2">IKO KYOKUSHIN UNION LINKS</div>
                <br>
                <div class="p post2">
                    <a href="http://www.kyokushin-rengokai.com/">IKO Kyokushin-Union</a>
                    <br>
                    <a href="http://www.kyokushin-rengokai.com/D-itiran.htm#touhoku">All Japan Kyokushin Union Dojo List</a>
                    <br>
                    <a href="http://homepage2.nifty.com/masuda-dojo/index.html">Akira Masuda Dojo, Japan</a>
                    <br>
                    <a href="http://kyokusin.aomori.nu/index.html">Aomori Kyokushin, Japan</a>
                    <br>
                    <a href="http://www.kyokushin-chiba.jp/index.html">Chiba Kyokushin, Japan</a>
                    <br>
                    <a href="http://www.geocities.jp/kyokusinhiroshima/">Hiroshima Kyokushin, Japan</a>
                    <br>
                    <a href="http://www.kyokushin-hokkaido.jp/">Hokaido Kyokushin, Japan </a>
                    <br>
                    <a href="http://www.kyokushin-japan.jp/">Hasegawa Dojo, Japan</a>
                    <br>
                    <a href="http://www.ac.auone-net.jp/~hasimoto/index.html">Hashimoto Dojo, Japan</a>
                    <br>
                    <a href="http://www14.ocn.ne.jp/~hirodojo/">Hiro Dojo, Japan</a>
                    <br>
                    <a href="http://www.kyokushin.ne.jp/">Oishi Dojo, Japan</a>
                    <br>
                    <a href="http://kyokushin-kansai.com/">Okada Dojo, Japan</a>
                    <br>
                    <a href="http://www.powermangym.co.jp/shintoryu_top.html">Koi Dojo, Japan</a>
                    <br>
                    <a href="http://www.niji.jp/home/kuwajimadojo/">Kuwajima Dojo, Japan</a>
                    <br>
                    <a href="http://kyoto-kyokushin.com/">Kyoto Shibu, Japan</a>
                    <br>
                    <a href="http://www4.big.or.jp/~josai-dd/">Miwa Dojo, Japan</a>
                    <br>
                    <a href="http://www1.harenet.ne.jp/~kyokusin/index2.html">Nakagawa Dojo, Japan</a>
                    <br>
                    <a href="http://www.kyokushin-sakamoto.com/">Sakamoto Dojo, Japan</a>
                    <br>
                    <a href="http://www3.cty-net.ne.jp/~sakae/top.htm">Sakae Dojo, Japan</a>
                    <br>
                    <a href="http://www.cosmos.ne.jp/~k-o-b/karate.html">Shichinohe Dojo, Japan</a>
                    <br>
                    <a href="http://www.kyokushin-tabatadojo.com/">Tabata Dojo, Japan</a>
                    <br>
                    <a href="http://www.takahashi-dojo.jp/">Takahashi Dojo, Japan</a>
                    <br>
                    <a href="http://www.cyberdog.co.jp/~kyokusin/index.html">Tomo Shibu, Japan</a>
                    <br>
                    <a href="http://www.melbmartialarts.com.au/">Melbourne Kolovos Dojo, Australia</a>
                    <br>
                    <a href="http://www.asp-ryugaku.com/K-index.htm">Jim Phillips Martial Arts Centre, Australia</a>
                    <br>
                    <a href="http://www.fieldkyokushin.com/index.html">Trevor Field Dojo, Australia</a>
                    <br>
                    <a href="http://www.karateaustria.at/de/index.asp">DSEN Kyokushin Dojo, Austria</a>
                    <br>
                    <a href="http://karate-strasshof.at/">Seishin Kyokushin Dojo, Austria</a>
                    <br>
                    <a href="http://www.seishin.be/">Seishin Dojo Kapellen, Belgium</a>
                    <br>
                    <a href="http://www.masoyamakalmthout.be/">Mas Oyama Kalmthout, Belgium</a>
                    <br>
                    <a href="http://www.staminadojo.be/">Stamina Dojo Beerse, Belgium</a>
                    <br>
                    <a href="http://www.ichidai.be/">Ichidai Dojo Antwerpen, Belgium</a>
                    <br>
                    <a href="http://www.hzs.be/html_NL/karateclub.html/">HZS Kyokushin Dojo Antwerpen, Belgium</a>
                    <br>
                    <a href="http://home.scarlet.be/~tsc95735/union.htm">Belgian Kyokushin Karate Union</a>
                    <br>
                    <a href="http://www.german-kyokushin-union.de/">German Kyokushin Union</a>
                    <br>
                    <a href="http://www.members.shaw.ca/iheiter/karate.html">Calgary Dojo, Canada</a>
                    <br>
                    <a href="http://www.karatestluc.ca/">Karate Kyokushin St.Luc Canada</a>
                    <br>
                    <a href="http://www.kyokushin-china.com/">Hong Kong Dojo, China</a>
                    <br>
                    <a href="http://www.kyokushin-hk.org/en_1.htm">Shanghai Dojo, China</a>
                    <br>
                    <a href="http://www.dko-karate.dk/">Danish Karate Organisation</a>
                    <br>
                    <a href="http://www.kyokushinkarate.fi/">Kyokushin Karate Nurmijärven, Finland</a>
                    <br>
                    <a href="http://www.oyama-karate-bayern.de/">Oyama Karate Bayern, Germany</a>
                    <br>
                    <a href="http://www.oyama-karatepaf.de/frame.htm">Oyama Karate Pfaffenhoven, Germany</a>
                    <br>
                    <a href="http://www.mkk.com.au/">ABKA Kyokushin Karate Club, Hungary</a>
                    <br>
                    <a href="http://www.kyokushinkaiunion.gr/">Hellas Kyokushin Union, Greece</a>
                    <br>
                    <a href="http://www.raimondikyokushindojo.tk/" target="_blank">Kanamura Dojo Italy</a>
                    <br>
                    <a href="http://www.kyokushinraimondi.com/">Kyokushin Raimondi</a>
                    <br>
                    <a href="http://cafe.daum.net/karate11">Kyokushinkai Korea</a>
                    <br>
                    <a href="http://www.sportclubfenf.nl/">Sportsclub F&amp;F, "The Inner Way" Sneek, The Netherlands</a>
                    <br>
                    <a href="http://www.kyokushinwildeboer.com/">Budokai Wildeboer, The Netherlands</a>
                    <br>
                    <a href="http://www.kaizendojo.nl/">Kaizen Dojo, The Netherlands</a>
                    <br>
                    <a href="http://www.lasala.nl/">Amaterasu Dojo, The Netherlands</a>
                    <br>
                    <a href="http://www.kyokushinnz.co.nz/">New Zealand Kyokushin</a>
                    <br>
                    <a href="http://www.tromso-karateklubb.net/">Tromso Karate Clubb, Norway</a>
                    <br>
                    <a href="http://www.kyokushin-karate.com.pl/">Silesian Kyokushin Karate, Poland</a>
                    <br>
                    <a href="http://www.yakunin.ru/ruk/index.htm">Russian Kyokushin Union</a>
                    <br>
                    <a href="http://www.nipponbudosport.ro/">Nippon Budo Sport, Rumania</a>
                    <br>
                    <a href="http://www.karatekyokushin.za.org/">Cape Town Kyokushin, South Africa</a>
                    <br>
                    <a href="http://clientes.vianetworks.es/personal/satori/">Satori Karate Kyokushinkai Organisation, Spain</a>
                    <br>
                    <a href="http://www.garyukyokushin.com/">Garyu Kyokushin Karate Spain</a>
                    <br>
                    <a href="http://www.geocities.com/kyokukarate/MENU.htm">Seishin Karate Kyokushinkai Organisation, Spain</a>
                    <br>
                    <a href="http://www.clublaselva.com/">Laselva Kyokushin Dojo, Spain</a>
                    <br>
                    <a href="http://www.brandbergenskaratekai.nu/">Brandbergens Karatekai, Sweden</a>
                    <br>
                    <a href="http://www.budo-kai.se/">Bollebydgs Karate Budo-Kai, Sweden</a>
                    <br>
                    <a href="http://www.wiklunddojo.se/index.php">Wiklund Dojo, Sweden</a>
                    <br>
                    <a href="http://www.karateluzern.ch/">Luzern Kyokushin Dojo, Switserland</a>
                    <br>
                    <a href="http://www.kyokushin.ch/">Schweizerischen Karateverband Kyokushinkai, Switserland</a>
                    <br>
                    <a href="http://www.rising-sun-kyokushin.co.uk/">Rising Sun Kyokushin Karate Club UK (Wales)</a>
                    <br>
                    <a href="http://karate.sirexbiz.net/">Kiev Region Kyokushin Dojo, Ukraine</a>
                    <br>
                    <a href="http://kyokushin-kan.com.ua/" target="_blank">West Ukrain Kyokushin Karate Dojo</a>
                    <br>
                    <a href="http://takuan.atw.hu/fo.htm">Takuan Kyokushin Karate Dojo Hungary</a>
                    <br>
                    <a href="http://kyokushinfl.com/index.html">International Japanese Academy of Martial Arts Kuweit</a>
                    <br>
                    <a href="http://seishinkyokushin.webnode.com.pt/">Seishin Kyokushin Karate Portugal</a>
                    <br>
                    <a href="http://www.kyokushin.net.au/">Melbourne Emin Dojo Australia</a>
                    <br>
                    <a href="http://www.budokyokushin.com/">Melbourne Poly Dojo Australia</a>
                    <br>
                    <a href="http://www.kyokushinkaikaratevosselaar.be/(i)http://www.bendigokarate.com.au/">Bendigo &amp; Central Victorian Dojo Australia</a>
                    <br>
                    <a href="http://www.geocities.com/colosseum/park/4801/">Venezuela Karate Kyokushinkai</a><br>
                    <br>
                </div>
            </div>
        </div>
        <div class="link-column link-column-right">
            <div class = "text-box first-text-box">
                <div class="h6 post2">DIVERSE KYOKUSHIN LINKS</div>
                <br>
                <div class="p post2">
                    <a href="http://www.kyokushinkaikan.org/">IKO Matsui Group</a>
                    <br>
                    <a href="http://www.kyokushin-matsushima.jp/index.html">IKO Matsushima Group</a>
                    <br>
                    <a href="http://www.geocities.jp/kyokushintezuka/">IKO Tezuka Group</a>
                    <br>
                    <a href="http://www.ikososai.com/">IKO Sosai</a>
                    <br>
                    <a href="http://www.kyokushinkan.org/">Kyokushinkan Shogakukai</a>
                    <br>
                    <a href="http://www.shinkyokushinkai.co.jp/">ShinKyokushin</a>
                    <br>
                    <a href="http://www.ifk-kyokushin.com/">IFK</a>
                    <br>
                    <a href="http://www.mas-oyama.com/">Mas Oyama's Official Website (Memorial Hall)</a>
                    <br>
                    <a href="http://www.greenmountaindojo.com/">Greenmountain Dojo Vermont USA</a>
                    <br>
                    <a href="http://www.kokorowebdesign.com.au/iko/home.htm">Australian Kyokushin Karate Association</a>
                    <br>
                    <a href="http://www.australiankyokushin.com/">Shah's Kyokushin Pages</a>
                    <br>
                    <a href="http://www.shihanroman.com/">Roman Szyrajew, Shihan</a>
                    <br>
                    <a href="http://kyokushinjutsukan.cabanova.com/" target="new">Randolph James, Shihan</a>
                    <br>
                    <a href="http://www.h3.dion.ne.jp/~seibukai/">Yukio Nishida Dojo</a>
                    <br>
                    <a href="http://park.zero.ad.jp/kyokushin/index.html">Hiroshi Masuda Dojo</a>
                    <br>
                    <a href="http://www.henrioh.com/">North American Kyokushin Karate Organisation</a>
                    <br>
                    <a href="http://homepage2.nifty.com/masuda-dojo/ibma/ibma-top.html">International Budo Man Association</a>
                    <br><br>
                </div>
                <div class="h6 post2">DIVERSE LINKS NEDERLAND &amp; BELGIE</div>
                <br>
                <div class="p post2">
                    <a href="http://www.asahi-dojo.be/">Asahi Dojo</a>
                    <br>
                    <a href="http://www.ashihara.be/">Ashihara Karate Belgium</a>
                    <br>
                    <a href="http://www.belgiankyokushinorganization.be/">Belgian Kyokushin Karate Organization</a>
                    <br>
                    <a href="http://go.to/budokaido">Belgian Budokai-Do Full Contact Organisation</a>
                    <br>
                    <a href="http://www.budokai.be/">Budokai Martial Arts (Ashihara)</a>
                    <br>
                    <a href="http://www.fudoshindojo.be/">Fudo Shin Dojo Stabroek</a>
                    <br>
                    <a href="http://home2.pi.be/inazuma/">Inazuma Dojo</a>
                    <br>
                    <a href="http://www.kaidodojo.com/">Kai-Do Dojo Malle</a>
                    <br>
                    <a href="http://www.kyodo.be/">Kyodo Dojo Deurne</a>
                    <br>
                    <a href="http://www.kyokushin-tezuka.com/worldwide/belgium.htm">Level+ Dojo Brasschaat</a>
                    <br>
                    <a href="http://users.skynet.be/masoyama-zichem/">Mas Oyama Zichem</a>
                    <br>
                    <a href="http://www.nkkb.be/">National Karate Kyokushinkai Belgium</a>
                    <br>
                    <a href="http://www.niji-yama.tk/">Niji Yama Dojo</a>
                    <br>
                    <a href="http://www.goju-ryu.be/">Okinawa Goju-Ryu Karate-Do Belgium</a>
                    <br>
                    <a href="http://www.jansenkarate.webs.com/">Okinawa Kyokushin Dojo Etten-Leur &amp; Zundert</a>
                    <br>
                    <a href="http://dojo-shin-hara.be/">Shin-Hara Dojo Neufvilles</a>
                    <br>
                    <a href="http://www.kaizendojo.nl/">Kaizen Dojo Bergen Op Zoom</a>
                    <br>
                    <a href="http://www.kyokushin-wavre.be/">Kyokushinkai Wavre</a>
                    <br>
                    <a href="http://www.kodokan.be/pagekarate.html">Kyokushinkai Tamines</a>
                    <br>
                    <a href="http://www.shinkyokushin.be/">Shinkyokushin Belgium</a>
                    <br>
                    <a href="http://www.shihaishinkai.com/">Shihaishinkai Karate</a>
                    <br>
                    <a href="http://www.shidokan.be/">Shidokan Belgium</a>
                    <br>
                    <a href="http://www.kyokushin.be/">Sutani Dojo Belgium</a>
                    <br>
                    <a href="http://users.belgacom.net/gc793566/orgfranc.htm">Wallonie Kyokushinkai</a>
                    <br>
                    <a href="http://www.dutchkyokushin.nl/">Dutch Kyokushin</a>
                    <br>
                    <a href="http://www.internationalkyokushinbudokaikan.com/">IBK Holland_Bluming</a>
                    <br>
                    <a href="http://www.internationalbudokai.com/budokai_web/default.asp">IBK Holland_Gordeau</a>
                    <br>
                    <a href="http://www.nka-ifk.nl/">IFK Holland</a>
                    <br>
                    <a href="http://www.musashi.nl/">Musashi Traditional Kyokushin Karate</a>
                    <br>
                    <a href="http://www.shinkyokushin.nl/">Shinkyokushin Holland</a>
                    <br>
                    <a href="http://www.hktg.nl/index2.php?website_main_pagina=/module_tekst.php?id=6">Tezuka Group Holland</a>
                    <br>
                    <br>
                    </div>
                <div class="h6">KYOKUSHIN AANVERWANTE STIJLEN</div>
                <br>
                <div class="p post2">
                    <a href="http://www.seiwakai.com.br/"">Seiwakai (Ademir da Costa)</a>
                    <br>
                    <a href="http://www.shinseikaikarate.com/">Shinseikai (Joe Rankin's)</a>
                    <br>
                    <a href="http://www.enshin.com/">Enshin Karate (Joko Ninomiya)</a>
                    <br>
                    <a href="http://www.shidokan.com/">Shidokan (Yoshiji Soeno)</a>
                    <br>
                    <a href="http://users.iafrica.com/a/as/ashihara/">Ashihara (Hoosain Narker)</a>
                    <br>
                    <a href="http://www.ashihara.com/">Ashihara Karate International (Hidenori Ashihara)</a>
                    <br>
                    <a href="http://www.seido.com/">World Seido Karate (Tadashi Nakamura)</a>
                    <br>
                    <a href="http://www.worldoyama.com/" align="left">World Oyama Karate (Shigeru Oyama)</a>
                    <br>
                    <a href="http://www.kurosawadojo.com/" align="left">Hiroki Kurosawa Karate</a>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

