{% extends "nl/layout.html" %}
{% block content %}
<div class="banner bovenbanner" id="links-bovenbanner" xmlns="http://www.w3.org/1999/html">
    <div class = "h4-box post1">
        <div class="h4">Links</div>
    </div>
</div>
<div class = "content-box first-content-box post1">
    <div class = "link-wrapper">
        <div class="link-column1">
            <div class = "text-box first-text-box">
                <div class="h6 post2">IKO KYOKUSHIN UNION</div>
                <br>
                <div class="p post2">
                    <a href="http://www.kyokushin-rengokai.com/">IKO Kyokushin-Union</a>
                    <br>
                    <a href="http://kyokushin-kansai.com/">Okada Dojo, Japan</a>
                    <br>
                    <a href="http://www.powermangym.co.jp/shintoryu_top.html">Koi Dojo, Japan</a>
                    <br>
                    <a href="http://www.niji.jp/home/kuwajimadojo/">Kuwajima Dojo, Japan</a>
                    <br>
                    <a href="http://kyoto-kyokushin.com/">Kyoto Shibu, Japan</a>
                    <br>
                    <a href="http://www4.big.or.jp/~josai-dd/">Miwa Dojo, Japan</a>
                    <br>
                    <a href="http://www.cosmos.ne.jp/~k-o-b/karate.html">Shichinohe Dojo, Japan</a>
                    <br>
                    <a href="http://www.kyokushin-tabatadojo.com/">Tabata Dojo, Japan</a>
                    <br>
                    <a href="http://www.takahashi-dojo.jp/">Takahashi Dojo, Japan</a>
                    <br>
                    <a href="http://www.seishin.be/">Seishin Dojo Kapellen, Belgium</a>
                    <br>
                    <a href="http://www.masoyamakalmthout.be/">Mas Oyama Kalmthout, Belgium</a>
                    <br>
                    <a href="http://www.staminadojo.be/">Stamina Dojo Beerse, Belgium</a>
                    <br>
                    <a href="http://www.ichidai.be/">Ichidai Dojo Antwerpen, Belgium</a>
                    <br>
                    <a href="http://www.hzs.be/html_NL/karateclub.html/">HZS Kyokushin Dojo Antwerpen, Belgium</a>
                    <br>
                    <a href="http://www.members.shaw.ca/iheiter/karate.html">Calgary Dojo, Canada</a>
                    <br>
                    <a href="http://www.karatestluc.ca/">Karate Kyokushin St.Luc Canada</a>
                    <br>
                    <a href="http://www.dko-karate.dk/">Danish Karate Organisation</a>
                    <br>
                    <a href="http://www.kyokushinkarate.fi/">Kyokushin Karate Nurmijärven, Finland</a>
                    <br>
                    <a href="http://www.oyama-karate-bayern.de/">Oyama Karate Bayern, Germany</a>
                    <br>
                    <a href="http://www.kaizendojo.nl/">Kaizen Dojo, The Netherlands</a>
                    <br>
                    <a href="http://www.kyokushin-karate.com.pl/">Silesian Kyokushin Karate, Poland</a>
                    <br>
                    <a href="http://www.nipponbudosport.ro/">Nippon Budo Sport, Rumania</a>
                    <br>
                    <a href="http://www.karatekyokushin.za.org/">Cape Town Kyokushin, South Africa</a>
                    <br>
                    <a href="http://clientes.vianetworks.es/personal/satori/">Satori Karate Kyokushinkai Organisation, Spain</a>
                    <br>
                    <a href="http://www.garyukyokushin.com/">Garyu Kyokushin Karate Spain</a>
                    <br>
                    <a href="http://www.clublaselva.com/">Laselva Kyokushin Dojo, Spain</a>
                    <br>
                    <a href="http://karate.sirexbiz.net/">Kiev Region Kyokushin Dojo, Ukraine</a>
                    <br>
                    <a href="http://kyokushin-kan.com.ua/">West Ukrain Kyokushin Karate Dojo</a>
                    <br>
                    <a href="http://www.kyokushinkaikaratevosselaar.be/(i)http://www.bendigokarate.com.au/">Bendigo &amp; Central Victorian Dojo Australia</a>
                    <br>
                    <a href="http://www.geocities.com/colosseum/park/4801/">Venezuela Karate Kyokushinkai</a><br>
                    <br>
                </div>
            </div>
        </div>
        <div class="link-column2">
            <div class = "text-box first-text-box">
                <div class = "link-box">
                    <div class = "link-adjuster"></div>
                    <div class = "link-container">
                        <div class="h6 post2">DIVERSE KYOKUSHIN</div>
                        <br>
                        <div class="p post2">
                            <a href="http://www.kyokushinkaikan.org/">IKO Matsui Group</a>
                            <br>
                            <a href="http://www.kyokushin-matsushima.jp/index.html">IKO Matsushima Group</a>
                            <br>
                            <a href="http://www.geocities.jp/kyokushintezuka/">IKO Tezuka Group</a>
                            <br>
                            <a href="http://www.ikososai.com/">IKO Sosai</a>
                            <br>
                            <a href="http://www.kyokushinkan.org/">Kyokushinkan Shogakukai</a>
                            <br>
                            <a href="http://www.shinkyokushinkai.co.jp/">Shin-Kyokushin</a>
                            <br>
                            <a href="http://www.ifk-kyokushin.com/">IFK</a>
                            <br>
                            <a href="http://www.mas-oyama.com/">Mas Oyama's Official Website</a>
                            <br>
                            <a href="http://www.greenmountaindojo.com/">Greenmountain Dojo Vermont USA</a>
                            <br>
                            <a href="http://www.kokorowebdesign.com.au/iko/home.htm">Australian Kyokushin Karate Association</a>
                            <br>
                            <a href="http://www.shihanroman.com/">Roman Szyrajew, Shihan</a>
                            <br>
                            <a href="http://www.henrioh.com/">North American Kyokushin Karate Organisation</a>
                            <br>
                            <a href="http://homepage2.nifty.com/masuda-dojo/ibma/ibma-top.html">International Budo Man Association</a>
                            <br><br>
                        </div>
                    </div>
                </div>
                <div class = "link-box">
                    <div class = "link-adjuster"></div>
                    <div class = "link-container">
                        <div class="h6 post2">DIVERSE KARATE LAGE LANDEN</div>
                        <br>
                        <div class="p post2">
                            <a href="http://www.asahi-dojo.be/">Asahi Dojo</a>
                            <br>
                            <a href="http://www.ashihara.be/">Ashihara Karate Belgium</a>
                            <br>
                            <a href="http://www.fudoshindojo.be/">Fudo Shin Dojo Stabroek</a>
                            <br>
                            <a href="http://www.kaidodojo.com/">Kai-Do Dojo Malle</a>
                            <br>
                            <a href="http://www.kyodo.be/">Kyodo Dojo Deurne</a>
                            <br>
                            <a href="http://users.skynet.be/masoyama-zichem/">Mas Oyama Zichem</a>
                            <br>
                            <a href="http://www.niji-yama.tk/">Niji Yama Dojo</a>
                            <br>
                            <a href="http://www.goju-ryu.be/">Okinawa Goju-Ryu Karate Belgium</a>
                            <br>
                            <a href="http://www.jansenkarate.webs.com/">Okinawa Kyokushin Dojo Etten-Leur & Zundert</a>
                            <br>
                            <a href="http://dojo-shin-hara.be/">Shin-Hara Dojo Neufvilles</a>
                            <br>
                            <a href="http://www.shinkyokushin.be/">Shinkyokushin Belgium</a>
                            <br>
                            <a href="http://www.shidokan.be/">Shidokan Belgium</a>
                            <br>
                            <a href="http://www.kyokushin.be/">Sutani Dojo Belgium</a>
                            <br>
                            <a href="http://www.dutchkyokushin.nl/">Dutch Kyokushin</a>
                            <br>
                            <a href="http://www.internationalkyokushinbudokaikan.com/">IBK Holland_Bluming</a>
                            <br>
                            <a href="http://www.internationalbudokai.com/budokai_web/default.asp">IBK Holland_Gordeau</a>
                            <br>
                            <a href="http://www.nka-ifk.nl/">IFK Holland</a>
                            <br>
                            <a href="http://www.shinkyokushin.nl/">Shinkyokushin Holland</a>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

