{% extends "nl/layout.html" %}
{% block content %}
<div class="content-wrapper">
  <p>&nbsp;</p>
  <div align="center" class="h5">NIEUWS<br>
  </div>
  <p> </p>
  <div class="p">
      <div align="center" class="h6">TRAININGEN NIEUW SEIZOEN 2015<br></div>
    <p>Zoals je al kon lezen in de nieuwsbrief zullen onze trainingen vanaf volgend seizoen een andere aanpak volgen. 
      Om te beginnen zullen er nu aparte trainingen zijn voor de kinderen en lage gordels enerzijds, 
      en voor de volwassenen en hogere gordels anderzijds en dit zowel op vrijdag als op zaterdag. 
      Op die manier hopen we om specifieker te trainen zodat iedereen voldoende aan bod komt. 
      Daarnaast is er een verdere opdeling in de eerste groep, waar we vanaf nu met vaste lesgevers per graad naar het examen toewerken. 
      In de eerste groep kan je dan examen doen als je 25 trainingen gevolgd hebt. Dit kan ofwel op een semester door beide trainingen wekelijks mee te doen, 
      ofwel op een jaar door enkel op zaterdag of vrijdag aanwezig te zijn. 
      De inhoud van de trainingen zal op deze timing afgestemd zijn en er zullen aanwezigheden worden opgenomen. 
      Ook zullen we vanaf nu zowel op vrijdag als op zaterdag afwisselend trainen op kumite en techniek. 
      Kijk bij 'Info' en bij 'trainingskalender' voor meer details.</p>
  </div>
  <p> </p>
  <div class="p">
      <div align="center" class="h6">ZOMERKAMP 2015<br></div>
    <p>Ook dit jaar was er een mooie opkomst voor het Belgisch Zomerkamp met meer dan 70 deelnemers uit Japan, Zweden, Duitsland en België. 
      Met tropische temperaturen stond een &ldquo;warm onthaal&ldquo; in de sterren geschreven. 
      Maar gelukkig was de nieuwe sporthal van Vosselaar zeer goed geïsoleerd, zodat de temperatuur draaglijk bleef.<u></u> 
      Dit werd echter ruimschoots gecompenseerd door de zeer intensieve en veeleisende trainingen van onze hoofdlesgevers!  </p>
    <p>Shihan Jun Miwa en Sensei  Toru Okamoto werden de ganse stage ondersteund door vier Japanse Dojo-instructeurs. 
      Op zondag kwam Sensei Raoul Strikker het team dan nog versterken. 
      Ook de Belgische Shihans werden ingeschakeld in de lessen.
      De eerste les op vrijdagavond was eveneens toegankelijk voor onze jongste Karateka&rsquo;s (vanaf 6 jaar), zij kregen les van Sensei Okamoto!.</p>
    <p>Zoals gebruikelijk stond de zaterdag in het teken van Kihon, Ido-Geiko en Kata. 
      Na afloop was de zaal volledig nat van het zweet en moest worden opgepoetst voor het technische gedeelte van het examen (Ni-Dan, Sho-Dan, Ik-Kyu en San-Kyu). 
      Zondagmorgen werden meteen na een korte opwarming de registers open gezet voor het Stamina en Kumite gedeelte van het examen. 
      Nadien konden de deelnemers kiezen uit de IKO-referee course, Kumite-combinaties o.l.v. de twee aanwezige topvechters of Katatraining door Shihan Miwa. 
      Het kamp werd in de namiddag afgesloten met de 50-man Kumite voor alle deelnemers en de bekendmaking van de examenresultaten. 
      Dit jaar was het examen voor iedereen succesvol verlopen! Allen konden terugkijken op een meer dan geslaagd zomerkamp! 
      Het Sayonara-etentje met 25 deelnemers, in een goed Italiaans restaurant, was tenslotte de kers op de taart voor hen die tot de laatste snik zijn gebleven.</p>
  </div>
  <p> </p>
  <div class="p">
      <div align="center" class="h6">EXAMEN KYUGRADEN<br></div>
    <p>Het examen voor kyugraden werd dit jaar gespreid over twee dagen. 
      Op vrijdagavond 29 mei werden het initiatieniveau en de graden 10e, 9e en 8e kyu afgewerkt. 
      Diegenen die voor een hogere graad gingen, moesten aansluitend op zaterdag verder hun kennis en kunde uitvoerig ten toon spreiden. 
      Daar stond 7e, 6e, 5e, 4e en 3e kyu op het programma. Voor de kandidaten voor de hoogste graden heeft het examen dan ook alles bij elkaar vijf uren geduurd! 
      Voor elke graad kwam telkens Kihon, Ido-Geiko, Renraku, Goshindo en Kata aan de beurt. Elke graad werd afgerond met een aanzienlijk aantal push-ups, sit-ups en squats. 
      Finaal vocht elke deelnemer zijn vereiste aantal partijen aan een hoog tempo tegen telkens nieuwe tegenstrevers en uiteindelijk werd het examen afgerond met Tameshiwari.</p>
    <p>Het feit dat we dit examen lang op voorhand hebben voorbereid én enkel diegenen konden deelnemen die er echt klaar voor waren, bleek een succesformule te zijn. 
      Proficiat aan iedereen die vanaf heden terecht een hogere graad mag dragen!</p>
  </div>
  <p> </p>
  <div class="p">
    <div align="center" class="h6">BEKER DER KEMPEN 2015<br></div>
    <p>Op 9 mei was het weer de jaarlijkse kumitewedstrijd Beker der Kempen in Beerse. 
      Gabriel, Mohamed en Mohannad, drie beginnende vechters van onze Dojo, namen deel maar konden geen trofee mee naar huis nemen. 
      Seppe en Daniel maakten zich verdienstelijk als hoekrechter. Voor Daniel was het zijn debuut. 
      Dank ook aan Adam en Niels voor het coachen. Bedankt aan allen voor de inzet!</p>
  </div>
</div>
<p>&nbsp;</p>
{% endblock %}
