{% extends "nl/layout.html" %}
{% block content %}
<div class = "banner bovenbanner" id="nieuws-bovenbanner">
    <div class = "h4-box post1">
        <div align="center" class="h4">Nieuws</div>
    </div>
</div>
<div class = "content-box first-content-box post1">
    <div class = "rectangle-wrap centered-wrap">
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nlNieuwsitem', nb='1')}}"><img src="{{ url_for('static', filename='nieuws/foto1.jpg') }}" width="475" width="290" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">AUGUSTUS 08</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Nieuwsitem 1</a></div>
            <br>
            <div class = "nieuwsp">Dit is een nieuwsbericht op deze website.
            Als je op een van de titels of op de foto klikt, dan ga je naar de pagina  waar je het hele artikel kan lezen.</div>
            <div class = "nieuwsm"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Lees verder</a></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nlNieuwsitem', nb='1')}}"><img src="{{ url_for('static', filename='nieuws/foto1.jpg') }}" width="475" width="290" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">AUGUSTUS 08</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Nieuwsitem 1</a></div>
            <br>
            <div class = "nieuwsp">Dit is een nieuwsbericht op deze website.
            Als je op een van de titels of op de foto klikt, dan ga je naar de pagina  waar je het hele artikel kan lezen.</div>
            <div class = "nieuwsm"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Lees verder</a></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nlNieuwsitem', nb='1')}}"><img src="{{ url_for('static', filename='nieuws/foto1.jpg') }}" width="475" width="290" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">AUGUSTUS 08</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Nieuwsitem 1</a></div>
            <br>
            <div class = "nieuwsp">Dit is een nieuwsbericht op deze website.
            Als je op een van de titels of op de foto klikt, dan ga je naar de pagina  waar je het hele artikel kan lezen.</div>
            <div class = "nieuwsm"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Lees verder</a></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nlNieuwsitem', nb='1')}}"><img src="{{ url_for('static', filename='nieuws/foto1.jpg') }}" width="475" width="290" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">AUGUSTUS 08</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Nieuwsitem 1</a></div>
            <br>
            <div class = "nieuwsp">Dit is een nieuwsbericht op deze website.
            Als je op een van de titels of op de foto klikt, dan ga je naar de pagina  waar je het hele artikel kan lezen.</div>
            <div class = "nieuwsm"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Lees verder</a></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nlNieuwsitem', nb='1')}}"><img src="{{ url_for('static', filename='nieuws/foto1.jpg') }}" width="475" width="290" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">AUGUSTUS 08</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Nieuwsitem 1</a></div>
            <br>
            <div class = "nieuwsp">Dit is een nieuwsbericht op deze website.
            Als je op een van de titels of op de foto klikt, dan ga je naar de pagina  waar je het hele artikel kan lezen.</div>
            <div class = "nieuwsm"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Lees verder</a></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nlNieuwsitem', nb='1')}}"><img src="{{ url_for('static', filename='nieuws/foto1.jpg') }}" width="475" width="290" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">AUGUSTUS 08</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Nieuwsitem 1</a></div>
            <br>
            <div class = "nieuwsp">Dit is een nieuwsbericht op deze website.
            Als je op een van de titels of op de foto klikt, dan ga je naar de pagina  waar je het hele artikel kan lezen.</div>
            <div class = "nieuwsm"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Lees verder</a></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nlNieuwsitem', nb='1')}}"><img src="{{ url_for('static', filename='nieuws/foto1.jpg') }}" width="475" width="290" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">AUGUSTUS 08</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Nieuwsitem 1</a></div>
            <br>
            <div class = "nieuwsp">Dit is een nieuwsbericht op deze website.
            Als je op een van de titels of op de foto klikt, dan ga je naar de pagina  waar je het hele artikel kan lezen.</div>
            <div class = "nieuwsm"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Lees verder</a></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nlNieuwsitem', nb='1')}}"><img src="{{ url_for('static', filename='nieuws/foto1.jpg') }}" width="475" width="290" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">AUGUSTUS 08</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Nieuwsitem 1</a></div>
            <br>
            <div class = "nieuwsp">Dit is een nieuwsbericht op deze website.
            Als je op een van de titels of op de foto klikt, dan ga je naar de pagina  waar je het hele artikel kan lezen.</div>
            <div class = "nieuwsm"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Lees verder</a></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nlNieuwsitem', nb='1')}}"><img src="{{ url_for('static', filename='nieuws/foto1.jpg') }}" width="475" width="290" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">AUGUSTUS 08</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Nieuwsitem 1</a></div>
            <br>
            <div class = "nieuwsp">Dit is een nieuwsbericht op deze website.
            Als je op een van de titels of op de foto klikt, dan ga je naar de pagina  waar je het hele artikel kan lezen.</div>
            <div class = "nieuwsm"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Lees verder</a></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nlNieuwsitem', nb='1')}}"><img src="{{ url_for('static', filename='nieuws/foto1.jpg') }}" width="475" width="290" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">AUGUSTUS 08</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Nieuwsitem 1</a></div>
            <br>
            <div class = "nieuwsp">Dit is een nieuwsbericht op deze website.
            Als je op een van de titels of op de foto klikt, dan ga je naar de pagina  waar je het hele artikel kan lezen.</div>
            <div class = "nieuwsm"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Lees verder</a></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nlNieuwsitem', nb='1')}}"><img src="{{ url_for('static', filename='nieuws/foto1.jpg') }}" width="475" width="290" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">AUGUSTUS 08</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Nieuwsitem 1</a></div>
            <br>
            <div class = "nieuwsp">Dit is een nieuwsbericht op deze website.
            Als je op een van de titels of op de foto klikt, dan ga je naar de pagina  waar je het hele artikel kan lezen.</div>
            <div class = "nieuwsm"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Lees verder</a></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nlNieuwsitem', nb='1')}}"><img src="{{ url_for('static', filename='nieuws/foto1.jpg') }}" width="475" width="290" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">AUGUSTUS 08</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Nieuwsitem 1</a></div>
            <br>
            <div class = "nieuwsp">Dit is een nieuwsbericht op deze website.
            Als je op een van de titels of op de foto klikt, dan ga je naar de pagina  waar je het hele artikel kan lezen.</div>
            <div class = "nieuwsm"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Lees verder</a></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nlNieuwsitem', nb='1')}}"><img src="{{ url_for('static', filename='nieuws/foto1.jpg') }}" width="475" width="290" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">AUGUSTUS 08</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Nieuwsitem 1</a></div>
            <br>
            <div class = "nieuwsp">Dit is een nieuwsbericht op deze website.
            Als je op een van de titels of op de foto klikt, dan ga je naar de pagina  waar je het hele artikel kan lezen.</div>
            <div class = "nieuwsm"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Lees verder</a></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nlNieuwsitem', nb='1')}}"><img src="{{ url_for('static', filename='nieuws/foto1.jpg') }}" width="475" width="290" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">AUGUSTUS 08</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Nieuwsitem 1</a></div>
            <br>
            <div class = "nieuwsp">Dit is een nieuwsbericht op deze website.
            Als je op een van de titels of op de foto klikt, dan ga je naar de pagina  waar je het hele artikel kan lezen.</div>
            <div class = "nieuwsm"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Lees verder</a></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nlNieuwsitem', nb='1')}}"><img src="{{ url_for('static', filename='nieuws/foto1.jpg') }}" width="475" width="290" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">AUGUSTUS 08</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Nieuwsitem 1</a></div>
            <br>
            <div class = "nieuwsp">Dit is een nieuwsbericht op deze website.
            Als je op een van de titels of op de foto klikt, dan ga je naar de pagina  waar je het hele artikel kan lezen.</div>
            <div class = "nieuwsm"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Lees verder</a></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nlNieuwsitem', nb='1')}}"><img src="{{ url_for('static', filename='nieuws/foto1.jpg') }}" width="475" width="290" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">AUGUSTUS 08</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Nieuwsitem 1</a></div>
            <br>
            <div class = "nieuwsp">Dit is een nieuwsbericht op deze website.
            Als je op een van de titels of op de foto klikt, dan ga je naar de pagina  waar je het hele artikel kan lezen.</div>
            <div class = "nieuwsm"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Lees verder</a></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nlNieuwsitem', nb='1')}}"><img src="{{ url_for('static', filename='nieuws/foto1.jpg') }}" width="475" width="290" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">AUGUSTUS 08</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Nieuwsitem 1</a></div>
            <br>
            <div class = "nieuwsp">Dit is een nieuwsbericht op deze website.
            Als je op een van de titels of op de foto klikt, dan ga je naar de pagina  waar je het hele artikel kan lezen.</div>
            <div class = "nieuwsm"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Lees verder</a></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nlNieuwsitem', nb='1')}}"><img src="{{ url_for('static', filename='nieuws/foto1.jpg') }}" width="475" width="290" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">AUGUSTUS 08</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Nieuwsitem 1</a></div>
            <br>
            <div class = "nieuwsp">Dit is een nieuwsbericht op deze website.
            Als je op een van de titels of op de foto klikt, dan ga je naar de pagina  waar je het hele artikel kan lezen.</div>
            <div class = "nieuwsm"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Lees verder</a></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nlNieuwsitem', nb='1')}}"><img src="{{ url_for('static', filename='nieuws/foto1.jpg') }}" width="475" width="290" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">AUGUSTUS 08</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Nieuwsitem 1</a></div>
            <br>
            <div class = "nieuwsp">Dit is een nieuwsbericht op deze website.
            Als je op een van de titels of op de foto klikt, dan ga je naar de pagina  waar je het hele artikel kan lezen.</div>
            <div class = "nieuwsm"><a href="{{url_for('nlNieuwsitem', nb='1')}}">Lees verder</a></div>
        </div>
    </div>
</div>
{% endblock %}
