{% extends "nl/layout.html" %}
{% block content %}
<div class="content-wrapper">
    <p>&nbsp;</p>
    <div align="center" class="h5">
        {{current_user.getName()}}<br>
    </div>
    <p> </p>
    <div class="p">
        <p>Graad: {{current_user.getRank()}}</p>
    </div>
    <p> </p>
    <div class="p">
        <p>Rol: {{current_user.getRole()}}</p>
    </div>
    <p> </p>
    <div class="p">
        <p>Mijn trainingen: ...</p>
    </div>
    <p> </p>
    <div class="p">
        <p>Mijn evenementen: ...</p>
    </div>
    <p> </p>
    <div class="p">
        <p>Mijn kihon: ...</p>
    </div>
    <p> </p>
    <div class="p">
        <p>Mijn kata: ...</p>
    </div>
</div>
<p>&nbsp;</p>
{% endblock %}
