{% extends "nl/layout.html" %}
{% block content %}
<div class="content-wrapper">
    <p>&nbsp;</p>
    <div align="center" class="h5">
        INFO<br><br />
    </div>
    <div class="p">
        <p>
            Mas Oyama's Kyokushinkai Karate (vzw) is geaffilieerd met de International Karate Organisation Kyokushin Kaikan Japan en de Belgische Kyokushin Karate Unie.
            Al de leden zijn tevens aangesloten bij en verzekerd via de Vlaamse Vechtsport Associatie (VVA), een erkende BLOSO organisatie.
            Mas Oyama Vosselaar is ook lid van de Sportraad Gemeente Vosselaar.
        </p>
    </div>
    
</div>
{% endblock %}
