{% extends "nl/layout.html" %}
{% block content %}
<div class = "banner bovenbanner" id="info-bovenbanner">
    <div class = "h4-box post1">
        <div align="center" class="h4">Info</div>
    </div>
</div>
<div class = "content-box second-content-box post1">
    <div class = "text-box second-text-box">
         <div class = "h6 post2">Geschiedenis</div>
         <br>
         <div class="p post2">
            Oshi Shinobu werd opgericht in 199? door Sensei Koen de Backker.
            De naam <i>Oshi Shinobu</i> betekent zoveel als <i>volharding</i> en wordt in het Japans vaak afgekort tot <i>osu</i>.
            In elke Kyokushin dojo ter wereld is deze uitspraak omnipresent als antwoord, als strijdkreet, als begroeting.
            Welke naam kon gepaster zijn om de geest van zijn dojo mee in de verf te zetten?
            Al snel groeide zijn project uit tot een levendige dojo met een aangename sfeer waarbij er tegelijk hard getraind werd en langs de andere kant ten gepaste tijde al eens goed kon gelachen worden.
            Doorheen de jaren zette hij zich elke week opnieuw in om nieuwe, vaak jonge karaka's de weg van de Japanse krijgskunsten bij te brengen.
            Steeds was hij op post om er een boeiende les van te maken.
            <br><br>
            Doorheen de jaren trainde onze club honderden mensen, met steeds een vast ledenaantal van rond de veertig personen.
            We deden aan tientallen wedstrijden mee, vaak met derde, tweede of zelfs eerste prijs voor onze deelnemers.
            Daarnaast organiseerden we een aantal keren zelf een grote wedstrijd en deden we tot voor kort een jaarlijks zomerkamp met vele buitenlandse gasten en Japanse lesgevers.

         </div>
    </div>
</div>
<div class = "content-box first-content-box post1">
    <div class = "text-box first-text-box">
         <div class = "h6 post2">AFFILIERING </div>
         <br>
         <div class="p post2">
            Mas Oyama's Kyokushinkai Karate (vzw) is geaffilieerd met de International Karate Organization Kyokushin Kaikan Japan.
            Daarnaast werken we samen met, in de eerste plaats de dojo's in de regio die eveneens hierbij aangesloten zijn,
            in de tweede plaats dojo's van verschillende organisaties die ook Kyokushinkai Karate beoefenen.
            <br><br>
            Al onze leden zijn aangesloten bij en verzekerd via de VVA (Vlaamse Vechtsport Associatie), een erkende BLOSO organisatie.
            <br><br>
            Daarnaast is Mas Oyama's Kyokushinkai Karate Vosselaar ook lid van de Sportraad van de Gemeente Vosselaar.
         </div>
    </div>
</div>
<div class = "content-box fifth-content-box post1">
    <div class = "text-box second-text-box">
        <div class = "h6 post2">Lesgevers</div>
    </div>
    <br>
    <div class = "rectangle-wrap post2">
        <div class = "leraar-item">
            <div class = "leraar-bol" id="shihan-koen"></div>
        </div>
        <div class = "leraartext">
            <br>
            <div class = "leraarh1">Shihan Koen</div>
            <div class = "leraarh2">Vijfde Dan</div>
            <br>
            <div class = "leraarp leraarp-info">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
    </div>
    <div class = "rectangle-wrap post2">
        <div class = "leraar-item">
            <div class = "leraar-bol" id="senpai-jolein"></div>
        </div>
        <div class = "leraartext">
            <br>
            <div class = "leraarh1">Senpai Jolein</div>
            <div class = "leraarh2">Eerste Dan</div>
            <br>
            <div class = "leraarp leraarp-info">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
    </div><div class = "rectangle-wrap post2">
        <div class = "leraar-item">
            <div class = "leraar-bol" id="senpai-dries"></div>
        </div>
        <div class = "leraartext">
            <br>
            <div class = "leraarh1">Senpai Dries</div>
            <div class = "leraarh2">Eerste Dan</div>
            <br>
            <div class = "leraarp leraarp-info">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
    </div><div class = "rectangle-wrap post2">
        <div class = "leraar-item">
            <div class = "leraar-bol" id="senpai-anne"></div>
        </div>
        <div class = "leraartext">
            <br>
            <div class = "leraarh1">Senpai Anne</div>
            <div class = "leraarh2">Eerste Dan</div>
            <br>
            <div class = "leraarp leraarp-info">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
    </div>
</div>
<div class = "content-box third-content-box post1">
    <div class = "text-box third-text-box">
        <div class = "h6 post2">TRAININGEN</div>
        <br>
        <div class = "p post2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            <br><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            <br><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            <br><br>
        </div>
    </div>
</div>
<div class = "content-box first-content-box post">
    <div class = "text-box first-text-box">
        <div class = "h6 post2">PRAKTISCHE INFORMATIE</div>
        <br>
        <div class = "p post2">
            Koen De Backker
            <br>
            tel.: +32 (0)14 61 68 77
            <br>
            e-mail: koen.de.backker@pandora.be
            <br>
            bankrekeningnummer MOKK vzw: IBAN BE06 0013 3522 6622 BIC GEBABEBB
            <br>
            Registratienummer vzw: 2188598
            <br>
            Ondernemingsnummer: 0464.739.173
        </div>
    </div>
    <div class = "draak"></div>
</div>
</div>
{% endblock %}
