{% extends "nl/layout.html" %}
{% block content %}
<div class = "banner bovenbanner" id="info-bovenbanner">
    <div class = "h4-box post1">
        <div align="center" class="h4">Info</div>
    </div>
</div>
<div class = "content-box first-content-box post1">
    <div class = "text-box first-text-box">
         <div class = "h6 post2">AFFILIERING </div>
         <br>
         <div class="p post2">
            Mas Oyama's Kyokushinkai Karate (vzw) is geaffilieerd met de International Karate Organization Kyokushin Kaikan Japan.
            Daarnaast werken we samen met, in de eerste plaats de dojo's in de regio die eveneens hierbij aangesloten zijn,
            in de tweede plaats dojo's van verschillende organisaties die ook Kyokushinkai Karate beoefenen.
            <br><br>
            Al onze leden zijn aangesloten bij en verzekerd via de VVA (Vlaamse Vechtsport Associatie), een erkende BLOSO organisatie.
            <br><br>
            Daarnaast is Mas Oyama's Kyokushinkai Karate Vosselaar ook lid van de Sportraad van de Gemeente Vosselaar.
         </div>
    </div>
</div>
<div class = "content-box second-content-box post1">
    <div class = "text-box second-text-box">
         <div class = "h6 post2">Geschiedenis</div>
         <br>
         <div class="p post2">
            Oshi Shinobu werd opgericht in 199? door Sensei Koen de Backker.
            De naam <i>Oshi Shinobu</i> betekent zoveel als <i>volharding</i> en wordt in het Japans vaak af
            Al snel groeide zijn project uit tot een levendige dojo met een aangename sfeer waarbij er tegelijk hard getraind werd en langs de andere kant ten gepaste tijde al eens goed kon gelachen worden.
            Doorheen de jaren zette hij zich elke week opnieuw in om nieuwe, vaak jonge karaka's de weg van de Japanse krijgskunsten bij te brengen.
            Steeds was hij op post om er een boeiende les van te maken.
            wordt afgekort als OSU! en betekent 'volharding' (onder extreme mentale en/of fysieke druk blijven doorzetten).

In elke Kyokushin Dojo hoort men deze kreet tientallen keren per training. Dit herinnert de Karatebeoefenaar aan de nog af te leggen weg.
         </div>
    </div>
</div>
<div class = "content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class = "h6 post2">WEGDRIJVEN  迷うことなかれ </div>
        <br>
        <div class = "p post2">
            "Geld is iets kostbaars, maar word er geen slaaf van.
            <br>
            Doe niets enkel en alleen voor geldelijk gewin.
            <br>
            Overschrijd die schreef niet, tot het bittere einde.
            <br>
            Je geld verliezen is een kleinigheid.
            <br>
            Je geloofwaardigheid verliezen is dat niet.
            <br>
            Je moed verliezen, is jezelf verliezen."
        </div>
    </div>
</div>
<div class = "content-box third-content-box post1">
    <div class = "text-box third-text-box">
        <div class = "h6 post2">LOOP NIET WEG VAN PROBLEMEN  苦しみから逃げるな</div>
        <br>
        <div class = "p post2">
            "Wanneer je het moeilijk krijgt, wordt het ook moeilijk voor je tegenstanders.
            <br>
            Als je tegenstander uitrust, en jij rust ook uit, dan geraken jullie beiden nergens.
            <br>
            Dwing jezelf om op dat moment een stap voorwaarts te zetten.
            <br>
            Of je deze stap kan nemen of niet, maakt het verschil tussen overwinning en nederlaag.
            <br>
            Indien je wegloopt van je problemen wanneer het moeilijk wordt, zullen de problemen achter je aan komen.
            <br>
            Je moet dus je problemen aanpakken door erachteraan te gaan.
            <br>
            Als je achter je problemen aan gaat, zullen ze verdwijnen."
        </div>
    </div>
</div>
<div class = "content-box first-content-box post">
    <div class = "text-box first-text-box">
        <div class = "h6 post2">GARYU  臥竜</div>
        <br>
        <div class = "p post2">
            "Ik hou van de kata Garyu.
            <br>
            Het betekent 'draak'.
            <br>
            De reden is dat wanneer een draak opstijgt, hij naar de hemelen vliegt.
            <br>
            De draak leeft op de diepe bodem van een meer.
            <br>
            Zo kan hij altijd de hemel zien.
            <br>
            Hij zit en wacht geduldig tot de wolken komen."
        </div>
    </div>
    <div class = "draak"></div>
</div>
</div>
{% endblock %}
