{% extends "nl/layout.html" %}
{% block content %}
<div class="content-wrapper">
    <p>&nbsp;</p>
    <div align="center" class="h5">OSHI SHINOBU DOJO VOSSELAAR<br><br />
    </div>
    <div class="p">
        Opgericht in 1998 door Shihan - toen nog Sensei - Koen De Backker,
        biedt de karateclub van Vosselaar al een heel aantal jaren haar kennis over deze fascinerende Japanse gevechtskunst aan voor iedereen die interesse heeft en eens een uitdagende sport wilt proberen.
        Door de jaren heen is  onze club op die manier uitgegroeid tot een gezellige groep die er toch stevig tegenaan gaat! 
        De naam van de club - oshi shinobu - betekent dan ook letterlijk 'doorzetten' of 'volhouden'.
        Van de vele karatestijlen die de wereld rijk is, trainen wij specifiek de stijl die Kyokushinkai Karate genoemd wordt.
        Dit is een moderne, uiterst efficiente aanpak van het traditionele Japanse Karate-Do. 
        Als conditietraining, zelfverdediging, karaktervorming, manier om de lichaamscoördinatie te verbeteren,
        of eventueel als wedstrijdsport is Kyokushinkai Karate een uitstekende keuze. 
        De club werkt samen met enkele andere kyokushinkaiclubs uit de regio en is een erkend lid van de IKO Kyokushin Union, Japan.
        We nemen regelmatig deel aan allerlei evenementen zoals wedstrijden en stages. 
        Aarzel niet om je telefonisch te informeren of beter nog, vrijblijvend mee te trainen. De eerste lessen zijn immers steeds gratis ter kennismaking!
    </div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
{% endblock %}
