{% extends "layout.html" %}
{% block content %}
<div class = "banner bovenbanner" id="index-bovenbanner">
    <div class = "h3-box post1">
        <div class="h3">Volcontact Karate</div>
    </div>
    <div class = "h5-box2 post1">
        <div class="h5">Trainingen voor volwassenen en kinderen</div>
    </div>
</div>
<div class = "content-box first-content-box post1">
    <div class = "first-text-box centered-text-box">
         <div class = "h6 post2">WAT WIJ TE BIEDEN HEBBEN</div>
         <br><br><br>
    </div>
    <div class = "rectangle-wrap centered-wrap">
        <div class = "rectangle-wrap narrow-wrap centered-wrap">
            <div class="rectangle grey-rectangle post2" >
                <div class="recth">Conditie</div>
                <div class="rectbreak"><br></div>
                <div class="recticon" id = conditie-icoon></div>
                <div class="rectbreak"><br></div>
                <div class="rectp">
                    Met Kyokushinkai Karate bouw je in een mum van tijd een stevige conditie op.
                    Zowel op vlak van uithouding als op vlak van kracht zullen onze trainingen je helpen om je lichaam te ontwikkelen.
                    Daarnaast werken we ook erg op lenigheid. Bij ons geraak je dus in vorm en blijf je dat ook!
                </div>
            </div>
            <div class="rectangle grey-rectangle post2">
                <div class="recth">Zelfverdediging</div>
                <div class="rectbreak"><br></div>
                <div class="recticon" id = zelfverdediging-icoon></div>
                <div class="rectbreak"><br></div>
                <div class="rectp">
                    Alle technieken die je leert zijn onmiddellijk bruikbaar als zelfverdediging.
                    We leggen uitdrukkelijk de nadruk op de mogelijke toepassingen ervan.
                    De volcontact aanpak van onze stijl van karate maakt het bovendien tot één van de meest realistische gevechtssporten.
                </div>
            </div>
            <div class="rectangle grey-rectangle post2">
                <div class="recth">Karakter</div>
                <div class="rectbreak"><br></div>
                <div class="recticon" id="karakter-icoon"></div>
                <div class="rectbreak"><br></div>
                <div class="rectp">
                    Kyokushinkai Karate helpt je om een sterk karakter te vormen.
                    Hierdoor sta je stevig in de wereld en ben je een positieve invloed op anderen.
                    Leer bij ons om je grenzen op te zoeken, uitdagingen niet uit de weg te gaan en nooit op te geven.
                </div>
            </div>
            <div class="rectangle grey-rectangle post2" >
                <div class="recth">(Zelf)respect</div>
                <div class="rectbreak"><br></div>
                <div class="recticon" id ="respect-icoon"></div>
                <div class="rectbreak"><br></div>
                <div class="rectp">
                    De beheersing van een rijke gevechtskunst als karate kan je helpen om eigenwaarde te vinden.
                    Ontwikkel zelfrespect door jezelf op de proef te stellen en te ontdekken dat je tot veel meer in staat bent dan je denkt.
                    Doe dit bovendien samen met vele anderen in een geest van wederzijds respect, geworteld in de Japanse traditie.
                </div>
            </div>
            <div class="rectangle grey-rectangle post2">
                <div class="recth">Traditie</div>
                <div class="rectbreak"><br></div>
                <div class="recticon" id="traditie-icoon"></div>
                <div class="rectbreak"><br></div>
                <div class="rectp">
                    Treed binnen in de lange traditie van de Japanse gevechtskunsten, waarvan de geschiedenis meer dan duizend jaar teruggaat.
                    Kyokushinkai Karate is weliswaar een sport, maar het is ook altijd een kunst gebleven.
                    We hebben aandacht voor de traditie en de Japanse etiquette
                    en we beoefenen de Kata, de vele traditionele bewegingsvormen.
                </div>
            </div>
            <div class="rectangle grey-rectangle post2">
                <div class="recth">Wilskracht</div>
                <div class="rectbreak"><br></div>
                <div class="recticon" id="wilskracht-icoon"></div>
                <div class="rectbreak"><br></div>
                <div class="rectp">
                    We vragen van onze leden dat ze telkens proberen hun grenzen te verleggen.
                    Dit vereist wilskracht. Je moet op je tanden bijten en toch die extra inspanning doen om er te geraken.
                    Wilskracht is een belangrijke troef in het leven, ook buiten karate.
                </div>
            </div>
            <div class="rectangle grey-rectangle post2">
                <div class="recth">Sociaal Contact</div>
                <div class="rectbreak"><br></div>
                <div class="recticon" id="sociaal-icoon"></div>
                <div class="rectbreak"><br></div>
                <div class="rectp">
                    Als sportclub zijn we een belangrijk onderdeel van het verenigingsleven van Vosselaar.
                    Leer nieuwe mensen kennen uit de omgeving. Stevig samen trainen kan hechte vriendschappen smeden.
                    Daarnaast nemen we deel aan tal van activiteiten met andere karateclubs.
                    Karate geeft dus de mogelijkheid om een breed sociaal netwerk op te bouwen.
                </div>
            </div>
            <div class="rectangle grey-rectangle post2">
                <div class="recth">Plezier</div>
                <div class="rectbreak"><br></div>
                <div class="recticon" id="plezier-icoon"></div>
                <div class="rectbreak"><br></div>
                <div class="rectp">
                    We trainen hard, maar er mag natuurlijk al eens plezier gemaakt worden.
                    Velen kunnen terugkijken op een verzameling waardevolle herinneringen.
                    Bovendien is de filosofie van Kyokushin zodanig dat spontaan een vriendschappelijke,
                    maar toch competitieve sfeer ontstaat waarin ieder elkaar helpt om het beste in zichzelf te vinden.
                </div>
            </div>
            <div class="rectangle grey-rectangle post2">
                <div class="recth">Competitie</div>
                <div class="rectbreak"><br></div>
                <div class="recticon" id="competitie-icoon"></div>
                <div class="rectbreak"><br></div>
                <div class="rectp">
                    Neem deel aan allerhande wedstrijden.
                    Kyokushinkai Karate heeft een lange traditie als uitdagende competitiesport met tweekampen volcontact vechten.
                    Daarnaast zijn er ook competities in bewegingsvormen.
                    Wij geven de mogelijkheid om hier aan mee te doen op de manier die je zelf kiest,
                    inclusief de vrijheid om niet deel te nemen.
                </div>
            </div>
        </div>
    </div>
</div>
<div class = "content-box fifth-content-box post1">
    <div class = "second-text-box centered-text-box">
        <div class = "h6 post2">Eerste maand van elk semester gratis trainen ter kennismaking!</div>
    </div>
</div>
</div>
<div class = "content-box second-content-box post1">
    <div class = "second-text-box centered-text-box">
         <span class="h6"><a href="{{url_for('info')}}#trainingsuren">trainingsuren</a></span>
         <br><br><br>
         <div class="trainingsuren-wrap post2">
            <div class="trainingsuren-box" id="trainingsuren-uren-box">
                <div class = "trainingsuren-uur"><br></div>
                <div class = "trainingsuren-uur">09:00</div>
                <div class = "trainingsuren-uur">10:00</div>
                <div class = "trainingsuren-uur">12:00</div>
                <div class = "trainingsuren-uur">13:00</div>
                <div class = "trainingsuren-uur">14:00</div>
                <div class = "trainingsuren-uur">15:00</div>
                <div class = "trainingsuren-uur">16:00</div>
                <div class = "trainingsuren-uur">17:00</div>
                <div class = "trainingsuren-uur">18:00</div>
                <div class = "trainingsuren-uur">19:00</div>
                <div class = "trainingsuren-uur">20:00</div>
                <div class = "trainingsuren-uur">21:00</div>
                <div class = "trainingsuren-uur">22:00</div>
            </div>
            <div class="trainingsuren-box" id="trainingsuren-vrijdag-box">
                <div class = "trainingsuren-head">vrijdag</div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training2"></div>
                <div class = "trainingsuren-training trainingsuren-training-vrijdag1">
                    <div class = "trainingsuren-text-box">
                        Beginners<br>19.30-20:30
                    </div>
                </div>
                <div class = "trainingsuren-training trainingsuren-training-vrijdag2">
                    <div class = "trainingsuren-text-box">
                        Gevorderden<br>20:30-22:00
                    </div>
                </div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
            </div>
            <div class="trainingsuren-box" id="trainingsuren-zaterdag-box">
                <div class = "trainingsuren-head">zaterdag</div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training2"></div>
                <div class = "trainingsuren-training trainingsuren-training-zaterdag1">
                    <div class = "trainingsuren-text-box">
                        Beginners<br>10:30-11:30
                    </div>
                </div>
                <div class = "trainingsuren-training trainingsuren-training-zaterdag2">
                    <div class = "trainingsuren-text-box">
                        Gevorderden<br>11:30-13:00
                    </div>
                </div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
            </div>
         </div>
    </div>
</div>
<div class = "content-box first-content-box post1">
    <div class = "text-box first-text-box centered-text-box">
         <span class="h6"><a href="{{url_for('nieuws')}}#trainingsuren">laatste nieuws</a></span>
    </div>
    <br><br>
    <div class = "rectangle-wrap centered-wrap">
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='trainen_in_tijden_van_corona')}}"><img src="{{ url_for('static', filename='nieuws/trainen_in_tijden_van_corona.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">10 APRIL 2020</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='trainen_in_tijden_van_corona')}}">Trainen in tijden van COVID-19</a></div><br>
            <div class = "nieuwsp">Ondanks het Coronavirus, blijft Oshi Shinobu Dojo in beweging!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='trainen_in_tijden_van_corona')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='coronavirus_schorsing_trainingen')}}"><img src="{{ url_for('static', filename='nieuws/standaardfoto.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">15 MAART 2020</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='coronavirus_schorsing_trainingen')}}">Coronavirus: Schorsing trainingen</a></div><br>
            <div class = "nieuwsp">Tot nader order zijn al onze traingen afgelast wegens het coronavirus.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='coronavirus_schorsing_trainingen')}}">Lees verder</a><br><br></div>
        </div>
    </div>
</div>
<div class = "content-box third-content-box post1">
    <div class = "text-box third-text-box centered-text-box">
        <div class = "h6 post2">Leraars</div>
    </div>
    <br><br>
    <div class = "rectangle-wrap centered-wrap post2">
        <div class = "rectangle-wrap centered-wrap post2">
            <div class = "leraar-item1">
                <a href="{{url_for('info')}}#lesgevers">
                    <div class = "leraar-bol" id="shihan-koen"></div>
                </a>
                <div class = "leraarp leraarp-index">Shihan Koen<br>Zesde Dan</div>
            </div>
            <div class = "leraar-item1">
                <a href="{{url_for('info')}}#shihan-koen">
                    <div class = "leraar-bol" id="senpai-jolein"></div>
                </a>
                <div class = "leraarp leraarp-index">Senpai Jolein<br>Tweede Dan</div>
            </div>
        </div>
        <div class = "rectangle-wrap centered-wrap post2">
            <div class = "leraar-item1">
                <a href="{{url_for('info')}}#senpai-jolein">
                    <div class = "leraar-bol" id="senpai-dries"></div>
                </a>
                <div class = "leraarp leraarp-index">Senpai Dries<br>Eerste Dan</div>
            </div>
            <div class = "leraar-item1">
                <a href="{{url_for('info')}}#senpai-dries">
                    <div class = "leraar-bol" id="senpai-anne"></div>
                </a>
                <div class = "leraarp leraarp-index">Senpai Anne<br>Eerste Dan</div>
            </div>
            <div class = "leraar-item1">
                <a href="{{url_for('info')}}#senpai-anne">
                    <div class = "leraar-bol" id="senpai-yorian"></div>
                </a>
                <div class = "leraarp leraarp-index">Senpai Yorian<br>Eerste Dan</div>
            </div>
        </div>
    </div>
</div>
<div class = "banner onderbanner post1" id="index-onderbanner"></div>
{% endblock %}
