{% extends "layout.html" %}
{% block content %}
<div class="banner bovenbanner" id="links-bovenbanner" xmlns="http://www.w3.org/1999/html">
    <div class = "h4-box post1">
        <div class="h4">Links</div>
    </div>
</div>
<div class = "content-box first-content-box post1">
    <div class = "link-wrapper">
        <div class="link-column1">
            <div class = "text-box first-text-box">
                <div class="h6 post2">IKO KYOKUSHIN UNION</div>
                <br>
                <div class="p post2">
                    <a href="http://www.kyokushin-rengokai.com/">IKO Kyokushin-Union</a>
                    <br>
                    <a href="http://kyokushin-kansai.com/">Okada Dojo, Japan</a>
                    <br>
                    <a href="http://www.powermangym.co.jp/shintoryu_top.html">Koi Dojo, Japan</a>
                    <br>
                    <a href="http://www.niji.jp/home/kuwajimadojo/">Kuwajima Dojo, Japan</a>
                    <br>
                    <a href="http://kkjm.sakura.ne.jp/">Miwa Dojo, Japan</a>
                    <br>
                    <a href="http://b.ogikubo-karate.info/">Okamoto Dojo, Japan</a>
                    <br>
                    <a href="http://www.kyokushinokinawa.com/">Shichinohe Dojo, Japan</a>
                    <br>
                    <a href="http://www.kyokushin-tabatadojo.com/">Tabata Dojo, Japan</a>
                    <br>
                    <a href="http://www.takahashi-dojo.jp/">Takahashi Dojo, Japan</a>
                    <br>
                    <a href="http://www.seishin.be/">Seishin Dojo Kapellen, Belgium</a>
                    <br>
                    <a href="http://www.masoyamakalmthout.be/">Mas Oyama Kalmthout, Belgium</a>
                    <br>
                    <a href="http://www.staminadojo.be/">Stamina Dojo Beerse, Belgium</a>
                    <br>
                    <a href="http://www.hzs.be/html_NL/karateclub.html/">HZS Kyokushin Dojo Antwerpen, Belgium</a>
                    <br>
                    <a href="http://calgarykarate.ca/">Calgary Dojo, Canada</a>
                    <br>
                    <a href="http://www.karatestluc.ca/">Karate Kyokushin St.Luc Canada</a>
                    <br>
                    <a href="http://www.oyama-karate-bayern.de/">Oyama Karate Bayern, Germany</a>
                    <br>
                    <a href="http://www.karatewinterthur.ch/">Karate Winterthur, Switzerland</a>
                    <br>
                    <a href="http://www.kaizendojo.nl/">Kaizen Dojo, The Netherlands</a>
                    <br>
                    <a href="http://kyokushin.kki.pl/">Silesian Kyokushin Karate, Poland</a>
                    <br>
                    <a href="http://www.nipponbudosport.ro/">Nippon Budo Sport, Rumania</a>
                    <br>
                    <a href="http://www.karatekyokushin.za.org/">Cape Town Kyokushin, South Africa</a>
                    <br>
                    <a href="http://clientes.vianetworks.es/personal/satori/">Satori Karate Kyokushinkai Organisation, Spain</a>
                    <br>
                    <a href="http://www.clublaselva.es/">La Selva Kyokushin Dojo, Spain</a>
                    <br>
                    <a href="http://kyokushin-kan.com.ua/">West Ukrain Kyokushin Karate Dojo</a>
                    <br><br>
                </div>
            </div>
        </div>
        <div class="link-column2">
            <div class = "text-box first-text-box">
                <div class = "link-box">
                    <div class = "link-adjuster"></div>
                    <div class = "link-container">
                        <div class="h6 post2">DIVERSE KYOKUSHIN</div>
                        <br>
                        <div class="p post2">
                            <a href="http://www.kyokushinkaikan.org/">IKO Matsui Group</a>
                            <br>
                            <a href="http://www.kyokushin-matsushima.jp/index.html">IKO Matsushima Group</a>
                            <br>
                            <a href="http://www.geocities.jp/kyokushintezuka/">IKO Tezuka Group</a>
                            <br>
                            <a href="http://www.mas-oyama.com/">IKO Sosai</a>
                            <br>
                            <a href="http://www.kyokushinkan.org/">Kyokushinkan Shogakukai</a>
                            <br>
                            <a href="http://www.shinkyokushinkai.co.jp/">Shinkyokushin</a>
                            <br>
                            <a href="http://www.ifk-kyokushin.com/">IFK</a>
                            <br>
                            <a href="http://www.sokyokushin.com/">IKO World So-Kyokushin</a>
                            <br>
                            <a href="http://www.kyokushin.ne.jp">Oishi Dojo, Japan</a>
                            <br>
                            <a href="http://appli.main.jp/hasegawa/">Hasegawa Dojo, Japan</a>
                            <br>
                            <a href="http://www.kyokushin-monma.com/">Monma Dojo, Japan</a>
                            <br>
                            <a href="http://www.ac.auone-net.jp/~hasimoto/index.html">Hashimoto Dojo, Japan</a>
                            <br>
                            <a href="http://www.karate.dk">Budtz Dojo, Danmark</a>
                            <br>
                            <a href="http://kyokushin-fernandodojo.co.uk">Fernando Dojo, Scotland</a>
                            <br>
                            <a href="http://www.greenmountaindojo.com/">Greenmountain Dojo Vermont USA</a>
                            <br>
                            <a href="http://www.kokorowebdesign.com.au/iko/home.htm">Australian Kyokushin Association</a>
                            <br>
                            <a href="http://ibma-kyokushinkaikan.jimdo.com/">International Budo Man Association</a>
                            <br><br>
                        </div>
                    </div>
                </div>
                <div class = "link-box">
                    <div class = "link-adjuster"></div>
                    <div class = "link-container">
                        <div class="h6 post2">DIVERSE KYOKUSHIN LAGE LANDEN</div>
                        <br>
                        <div class="p post2">
                            <a href="http://www.ichidai.be/">Ichidai Dojo Antwerpen, Belgium</a>
                            <br>
                            <a href="http://www.kyokushinwildeboer.com/">Wildeboer Dojo, The Netherlands</a>
                            <br>
                            <a href="http://www.asahi-dojo.be/">Asahi Dojo, Belgium</a>
                            <br>
                            <a href="http://www.fudoshindojo.be/">Fudo Shin Dojo Stabroek, Belgium</a>
                            <br>
                            <a href="http://www.kaidodojo.be/">Kai-Do Dojo Malle, Belgium</a>
                            <br>
                            <a href="http://www.kyodo-dojo.be/">Kyodo Dojo Deurne, Belgium</a>
                            <br>
                            <a href="http://users.skynet.be/masoyama-zichem/">Mas Oyama Zichem, Belgium</a>
                            <br>
                            <a href="http://www.jansenkarate.webs.com/">Okinawa Kyokushin etten leur, the Netherlands</a>
                            <br>
                            <a href="http://www.shinkyokushin.be/">Shinkyokushin Belgium</a>
                            <br>
                            <a href="http://www.bkos.be/">Shinkyokushin Belgium Spitaels</a>
                            <br>
                            <a href="http://www.shinkyokushinkai.be/">Shinkyokushin Belgium Vandecraen</a>
                            <br>
                            <a href="http://www.kyokushin.be/">Sutani Dojo, Belgium</a>
                            <br>
                            <a href="http://www.nka-ifk.nl/">IFK The Netherlands</a>
                            <br>
                            <a href="http://www.shinkyokushin.nl/">Shinkyokushin The Netherlands</a>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

