{% extends "layout.html" %}
{% block content %}
<div class = "banner bovenbanner" id="nieuws-bovenbanner">
    <div class = "h4-box post1">
        <div align="center" class="h4">Nieuws</div>
    </div>
</div>
<div class = "content-box first-content-box post1">
    <div class = "rectangle-wrap centered-wrap">
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='nieuw_seizoen')}}"><img src="{{ url_for('static', filename='nieuws/standaardfoto.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">02 SEPTEMBER 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='nieuw_seizoen')}}">Nieuw seizoen</a></div>
            <br>
            <div class = "nieuwsp">Vanaf vandaag begint het nieuwe karateseizoen!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='nieuw_seizoen')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='vakantietrainingen')}}"><img src="{{ url_for('static', filename='nieuws/vakantietrainingen.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">02 SEPTEMBER 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='vakantietrainingen')}}">Vakantietrainingen</a></div>
            <br>
            <div class = "nieuwsp">Om toch wat in beweging te blijven, trainden we in augustus elke woensdagavond op kihon en kata met de gevorderden.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='vakantietrainingen')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='nieuwe_website_gelanceerd')}}"><img src="{{ url_for('static', filename='nieuws/nieuwe_website_gelanceerd.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">15 AUGUSTUS 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='nieuwe_website_gelanceerd')}}">Nieuwe website gelanceerd</a></div>
            <br>
            <div class = "nieuwsp">De nieuwe website van Mas Oyama's Kyokushinkai Karate Vosselaar staat online!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='nieuwe_website_gelanceerd')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='zomerkamp_2016')}}"><img src="{{ url_for('static', filename='nieuws/zomerkamp_2016.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">07 JULI 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='zomerkamp_2016')}}">Zomerkamp 2016</a></div>
            <br>
            <div class = "nieuwsp">Op het Belgisch Zomerkamp hadden we dit jaar weer Sensei Toru Okamoto als hoofdlesgever</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='zomerkamp_2016')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='examen_voorjaar_2016')}}"><img src="{{ url_for('static', filename='nieuws/standaardfoto.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">20 JUNI 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='examen_voorjaar_2016')}}">Examen voorjaar 2016</a></div>
            <br>
            <div class = "nieuwsp">Wordt aan gewerkt.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='examen_voorjaar_2016')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='katatoernooi_kapellen')}}"><img src="{{ url_for('static', filename='nieuws/katatoernooi_kapellen_2016.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">11 FEBRUARI 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='katatoernooi_kapellen')}}">Katatoernooi Kapellen</a></div>
            <br>
            <div class = "nieuwsp">Met vijf deelnemers, één coach en één scheidsrechter trokken we naar het Katatornooi in Kapellen, georganiseerd door Seishin Dojo.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='katatoernooi_kapellen')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='examen_najaar_2015')}}"><img src="{{ url_for('static', filename='nieuws/standaardfoto.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">04 DECEMBER 2015</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='examen_najaar_2015')}}">Examen najaar 2015</a></div>
            <br>
            <div class = "nieuwsp">Op 27 en 28 november vond het kyu-examen van dit semester plaats.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='examen_najaar_2015')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='yokoso_cup_en_belgian_championship')}}"><img src="{{ url_for('static', filename='nieuws/yokoso_cup.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">02 DECEMBER2 2015</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='yokoso_cup_en_belgian_championship')}}">Yokoso Cup en Belgisch Kampioenschap Jeugd en Beginners</a></div>
            <br>
            <div class = "nieuwsp">Tijdens het weekend van 21 en 22 november nam Oshi Shinobu dojo deel aan twee wedstrijden.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='yokoso_cup_en_belgian_championship')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='trainingen_nieuw_seizoen')}}"><img src="{{ url_for('static', filename='nieuws/standaardfoto.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">09 SEPTEMBER 2015</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='trainingen_nieuw_seizoen')}}">Trainingen nieuw seizoen</a></div>
            <br>
            <div class = "nieuwsp">Onze trainingen vanaf volgend seizoen een andere aanpak volgen. </div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='trainingen_nieuw_seizoen')}}">Lees verder</a><br><br></div>
        </div>
    </div>
</div>
{% endblock %}
