{% extends "layout.html" %}
{% block content %}
<div class = "banner bovenbanner" id="nieuws-bovenbanner">
    <div class = "h4-box post1">
        <div align="center" class="h4">Nieuws</div>
    </div>
</div>
<div class = "content-box first-content-box post1">
    <div class = "rectangle-wrap centered-wrap">
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='british_open_kumite_ifk_2019')}}"><img src="{{ url_for('static', filename='nieuws/british_open_kumite_ifk_2019.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">05 OKTOBER 2019</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='british_open_kumite_ifk_2019')}}">British Open Kumite IFK</a></div><br>
            <div class = "nieuwsp">Een indrukwekkende prestatie van Senpai Jolein op dit groot internationaal toernooi.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='british_open_kumite_ifk_2019')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='danish_open_kumite_shinkyokushin_2019')}}"><img src="{{ url_for('static', filename='nieuws/danish_open_kumite_shinkyokushin_2019.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">28 SEPTEMBER 2019</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='danish_open_kumite_shinkyokushin_2019')}}">Danish Open Kumite Shinkyokushin</a></div><br>
            <div class = "nieuwsp">Derde plaats voor Senpai Jolein op dit Deens kumitetornooi!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='danish_open_kumite_shinkyokushin_2019')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='zomerkamp_nederland_2019')}}"><img src="{{ url_for('static', filename='nieuws/zomerkamp_nederland_2019.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">14 SEPTEMBER 2019</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='zomerkamp_nederland_2019')}}">Zomerkamp Nederland</a></div><br>
            <div class = "nieuwsp">Het Nederlands zomerkamp in Papendal onder leiding van Shihan Tabata.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='zomerkamp_nederland_2019')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='zomerkamp_zweden_2019')}}"><img src="{{ url_for('static', filename='nieuws/zomerkamp_zweden_2019.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">08 SEPTEMBER 2019</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='zomerkamp_zweden_2019')}}">Zomerkamp Zweden</a></div><br>
            <div class = "nieuwsp">Shihan Koen en Senpai Yorian te gast in het Zweedse Gotenburg op een zeer geslaagd zomerkamp.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='zomerkamp_zweden_2019')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='zomertrainingen_2019')}}"><img src="{{ url_for('static', filename='nieuws/zomertrainingen_2019.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">28 AUGUSTUS 2019</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='zomertrainingen_2019')}}">Zomertrainingen</a></div><br>
            <div class = "nieuwsp">Tijdens de zomer hielden we de conditie op peil.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='zomertrainingen_2019')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='roefeldag_2019')}}"><img src="{{ url_for('static', filename='nieuws/roefeldag_2019.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">23 JUNI 2019</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='roefeldag_2019')}}">Roefeldag</a></div><br>
            <div class = "nieuwsp">Een fijne Roefeldag, verzorgd door Tim, Maja, Jessica en Chan.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='roefeldag_2019')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='zomerkamp_2019')}}"><img src="{{ url_for('static', filename='nieuws/zomerkamp_2019.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">23 JUNI 2019</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='zomerkamp_2019')}}">Zomerkamp</a></div><br>
            <div class = "nieuwsp">Senpai Yorian behaalt zijn zwarte gordel op het 15e Belgische Zomerkamp!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='zomerkamp_2019')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='dutch_open_kumite_shinkyokushin_2019')}}"><img src="{{ url_for('static', filename='nieuws/dutch_open_kumite_shinkyokushin_2019.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">15 JUNI 2019</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='dutch_open_kumite_shinkyokushin_2019')}}">Dutch Open Kumite Shinkyokushin</a></div><br>
            <div class = "nieuwsp">Senpai Jolein grijpt de eerste plaats op dit tornooi van Shinkyokushin!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='dutch_open_kumite_shinkyokushin_2019')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='beker_der_kempen_2019')}}"><img src="{{ url_for('static', filename='nieuws/beker_der_kempen_2019.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">04 MEI 2019</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='beker_der_kempen_2019')}}">Beker der Kempen</a></div><br>
            <div class = "nieuwsp">Hoog niveau op de 15e editie van de Beker der Kempen dit jaar!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='beker_der_kempen_2019')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='belgian_open_kata_2019')}}"><img src="{{ url_for('static', filename='nieuws/belgian_open_kata_2019.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">27 FEBRUARI 2019</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='belgian_open_kata_2019')}}">Belgian Open Kata</a></div><br>
            <div class = "nieuwsp">Tweede plaats voor senpai Nina op de Belgian Open Kata in Kapellen!!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='belgian_open_kata_2019')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='asahi_cup_2019')}}"><img src="{{ url_for('static', filename='nieuws/asahi_cup_2019.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">30 MAART 2019</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='asahi_cup_2019')}}">Asahi Cup</a></div><br>
            <div class = "nieuwsp">Eerste plaats voor Felix op de Asahi Cup in Oud-Turnhout!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='asahi_cup_2019')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='europees_kampioenschap_den_haag_2019')}}"><img src="{{ url_for('static', filename='nieuws/europees_kampioenschap_den_haag_2019.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">17 MAART 2019</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='europees_kampioenschap_den_haag_2019')}}">Europees Kampioenschap Den Haag</a></div><br>
            <div class = "nieuwsp">Eerste plaats voor senpai Jolein op het EK in den Haag!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='europees_kampioenschap_den_haag_2019')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='young_lions_cup_2019')}}"><img src="{{ url_for('static', filename='nieuws/young_lions_cup_2019.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">10 FEBRUARI 2019</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='young_lions_cup_2019')}}">Young Lions Cup</a></div><br>
            <div class = "nieuwsp">Heel wat bekers op de Young Lions Cup!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='young_lions_cup_2019')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='kagami_biraki_2019')}}"><img src="{{ url_for('static', filename='nieuws/kagami_biraki_2019.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">19 JANUARI 2019</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='kagami_biraki_2019')}}">Kagami Biraki</a></div><br>
            <div class = "nieuwsp">Het nieuwe karatejaar afgetrapt op de Kagami Biraki!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='kagami_biraki_2019')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='kerstfeestje_2018')}}"><img src="{{ url_for('static', filename='nieuws/kerstfeestje_2018.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">27 DECEMBER 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='kerstfeestje_2018')}}">Kerstfeestje</a></div><br>
            <div class = "nieuwsp">We sloten het karatejaar naar goede traditie af met onze kersttraining en een feestelijk etentje.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='kerstfeestje_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='examen_najaar_2018')}}"><img src="{{ url_for('static', filename='nieuws/examen_najaar_2018.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">21 DECEMBER 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='examen_najaar_2018')}}">Examen najaar</a></div><br>
            <div class = "nieuwsp">Iedereen geslaagd op het kyu-examen dit najaar!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='examen_najaar_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='noritsu_cup_2018')}}"><img src="{{ url_for('static', filename='nieuws/noritsu_cup_2018.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">10 DECEMBER 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='noritsu_cup_2018')}}">Noritsu Cup</a></div><br>
            <div class = "nieuwsp">Twee derde plaatsen op deze laatste wedstrijd van het jaar!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='noritsu_cup_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='yokoso_cup_2018')}}"><img src="{{ url_for('static', filename='nieuws/yokoso_cup_2018.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">20 NOVEMBER 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='yokoso_cup_2018')}}">Yokoso Cup</a></div><br>
            <div class = "nieuwsp">Eerste, tweede en vierde plaats op het katatornooi Yokoso-cup</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='yokoso_cup_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='female_fighting_seminar')}}"><img src="{{ url_for('static', filename='nieuws/female_fighting_seminar.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">10 NOVEMBER 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='female_fighting_seminar')}}">Female Fighting Seminar</a></div><br>
            <div class = "nieuwsp">Een training speciaal voor vrouwen met sensei Emma Markwell.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='female_fighting_seminar')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='uitreiking_dangraden')}}"><img src="{{ url_for('static', filename='nieuws/uitreiking_dangraden.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">01 NOVEMBER 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='uitreiking_dangraden')}}">Uitreiking Dan-graden</a></div><br>
            <div class = "nieuwsp">De Obi's en Dan-certificaten kwamen aan vanuit Japan!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='uitreiking_dangraden')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='asahi_cup_2018')}}"><img src="{{ url_for('static', filename='nieuws/asahi_cup_2018.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">20 OCTOBER 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='asahi_cup_2018')}}">Asahi Cup</a></div><br>
            <div class = "nieuwsp">Bekers op de Asahi Cup!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='asahi_cup_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='EK_2018_goteborg')}}"><img src="{{ url_for('static', filename='nieuws/EK_2018_goteborg.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">19 OCTOBER 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='EK_2018_goteborg')}}">Europees Kampioenschap Göteborg</a></div><br>
            <div class = "nieuwsp">Shihan Koen was aanwezig op het EK in Zweden.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='EK_2018_goteborg')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='start_nieuw_seizoen_2018')}}"><img src="{{ url_for('static', filename='nieuws/start_nieuw_seizoen_2017.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">30 AUGUSTUS 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='start_nieuw_seizoen_2018')}}">Start nieuw seizoen</a></div><br>
            <div class = "nieuwsp">Het nieuwe karateseizoen breekt weer aan!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='start_nieuw_seizoen_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='bezoek_japanse_tuin_hasselt')}}"><img src="{{ url_for('static', filename='nieuws/bezoek_japanse_tuin_hasselt.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">20 AUGUSTUS 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='bezoek_japanse_tuin_hasselt')}}">Bezoek Japanse tuin Hasselt</a></div><br>
            <div class = "nieuwsp">Impressies van de Japanse cultuur opsnuiven in de Japanse tuin in Hasselt.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='bezoek_japanse_tuin_hasselt')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='zomerkamp_duitsland_2018')}}"><img src="{{ url_for('static', filename='nieuws/zomerkamp_duitsland_2018.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">28 JULI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='zomerkamp_duitsland_2018')}}">Zomerkamp Duitsland</a></div><br>
            <div class = "nieuwsp">Het jaarlijks zomerkamp in Beiern, met Shihan Miwa en Okamoto.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='zomerkamp_duitsland_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='examen_voorjaar_2018')}}"><img src="{{ url_for('static', filename='nieuws/examen_voorjaar_2018.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">02 JULI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='examen_voorjaar_2018')}}">Kyu-examen voorjaar</a></div><br>
            <div class = "nieuwsp">17 hogere graden op het kyu-examen!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='examen_voorjaar_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='zomerkamp_2018')}}"><img src="{{ url_for('static', filename='nieuws/zomerkamp_2018.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">28 JUNI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='zomerkamp_2018')}}">Belgisch Zomerkamp</a></div><br>
            <div class = "nieuwsp">Drie van onze zwarte banden behaalden een hogere graad op een uitstekend zomerkamp met topvechter Jonathan Tineo!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='zomerkamp_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='roefeldag_2018')}}"><img src="{{ url_for('static', filename='nieuws/roefeldag_2018.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">16 JUNI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='roefeldag_2018')}}">Roefeldag</a></div><br>
            <div class = "nieuwsp">De kinderen van Vosselaar mochten een keer kennismaken met Kyokushinkai Karate op deze Roefeldag.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='roefeldag_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='internationale_stage_japan_2018')}}"><img src="{{ url_for('static', filename='nieuws/internationale_stage_japan_2018.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">22 MEI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='internationale_stage_japan_2018')}}">Internationale stage Japan</a></div><br>
            <div class = "nieuwsp">Shihan Koen en senpai Leon namen deel aan de internationale stage in Japan.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='internationale_stage_japan_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='feesttraining_shihan_koen')}}"><img src="{{ url_for('static', filename='nieuws/feesttraining_shihan_koen.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">19 MEI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='feesttraining_shihan_koen')}}">Feesttraining Shihan Koen</a></div><br>
            <div class = "nieuwsp">Onze eigenste Shihan Koen werd zesde Dan en dat moesten we vieren!.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='feesttraining_shihan_koen')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='beker_der_kempen_2018')}}"><img src="{{ url_for('static', filename='nieuws/beker_der_kempen_2018.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">11 MEI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='beker_der_kempen_2018')}}">Beker der Kempen</a></div><br>
            <div class = "nieuwsp">We namen met onze club deel aan de Beker der Kempen in Beerse.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='beker_der_kempen_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='belgian_open_kata_kapellen_2018')}}"><img src="{{ url_for('static', filename='nieuws/belgian_open_kata_kapellen_2018.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">22 APRIL 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='belgian_open_kata_kapellen_2018')}}">Belgian Open Kata Kapellen</a></div><br>
            <div class = "nieuwsp">Met vijf leden van onze dojo namen we deel aan de jaarlijkse katawedstrijd van Seishin Dojo.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='belgian_open_kata_kapellen_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='gezamenlijke_technische_trainingen_april_2018')}}"><img src="{{ url_for('static', filename='nieuws/gezamenlijke_technische_training_april_2018.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">15 APRIL 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='gezamenlijke_technische_trainingen_april_2018')}}">Gezamenlijke technische trainingen april</a></div><br>
            <div class = "nieuwsp">Kata en ido-geiko trainen met dojo's uit Nederland en België.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='gezamenlijke_technische_trainingen_april_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='asahi_dojo_kumitewedstrijd_beginners_2018')}}"><img src="{{ url_for('static', filename='nieuws/asahi_dojo_kumitewedstrijd_beginners_2018.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">02 APRIL 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='asahi_dojo_kumitewedstrijd_beginners_2018')}}">Asahi Dojo Kumitewedstrijd voor beginners Oud-Turnhout</a></div><br>
            <div class = "nieuwsp">Verschillende medailles op de kumitewedstrijd voor beginners van Asahi Dojo in Oud-Turnhout!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='asahi_dojo_kumitewedstrijd_beginners_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='BKKU_algemene_kumitetraning_maart')}}"><img src="{{ url_for('static', filename='nieuws/BKKU_algemene_kumitetraning_maart.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">19 MAART 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='BKKU_algemene_kumitetraning_maart')}}">Algemene BKKU Kumitetraining 16 maart</a></div><br>
            <div class = "nieuwsp">Een schitterende BKKU kumitetraining onder leiding van Senpai Dooremalen!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='BKKU_algemene_kumitetraning_maart')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='AED_opleiding')}}"><img src="{{ url_for('static', filename='nieuws/aed_opleiding.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">25 FEBRUARI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='AED_opleiding')}}">AED opleiding Diepvennneke</a></div><br>
            <div class = "nieuwsp">Onze leden namen deel aan een levensreddende opleiding.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='AED_opleiding')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='kaizen_winterkamp_2018')}}"><img src="{{ url_for('static', filename='nieuws/kaizen_winterkamp_2018.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">21 JANUARI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='kaizen_winterkamp_2018')}}">Kaizen Winterkamp</a></div><br>
            <div class = "nieuwsp">Senpai Leon nam deel aan het winterkamp van Kaizen dojo.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='kaizen_winterkamp_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='kagami_biraki_2018')}}"><img src="{{ url_for('static', filename='nieuws/kagami_biraki_2018.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">13 JANUARI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='kagami_biraki_2018')}}">Kagami Biraki</a></div><br>
            <div class = "nieuwsp">Een goed begin van het nieuwe jaar!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='kagami_biraki_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='kerstfeestje_2017')}}"><img src="{{ url_for('static', filename='nieuws/kerstfeestje_2017.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">06 JANUARI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='kerstfeestje_2017')}}">Kerstfeestje</a></div><br>
            <div class = "nieuwsp">Een waardige afsluiter van het karatejaar!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='kerstfeestje_2017')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='belgian_open_youth_and_beginners_2017')}}"><img src="{{ url_for('static', filename='nieuws/belgian_open_youth_and_beginners_2017.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">08 DECEMBER 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='belgian_open_youth_and_beginners_2017')}}">Belgian Open Youth and Beginners</a></div><br>
            <div class = "nieuwsp">Mohamed nam deel aan het kumite toernooi van Sutani dojo te Schoten.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='belgian_open_youth_and_beginners_2017')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='stage_judd_reid')}}"><img src="{{ url_for('static', filename='nieuws/stage_judd_reid.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">20 NOVEMBER 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='stage_judd_reid')}}">Stage Judd Reid</a></div><br>
            <div class = "nieuwsp">Een schitterende stage met Shihan Judd Reid uit Australië!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='stage_judd_reid')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='yokoso_cup_2017')}}"><img src="{{ url_for('static', filename='nieuws/yokoso_cup_2017.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">17 NOVEMBER 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='yokoso_cup_2017')}}">Yokoso Cup</a></div><br>
            <div class = "nieuwsp">Met een ganse groep naar de katawedstrijd in Turnhout!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='yokoso_cup_2017')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='training_senpai_inken_cara_heuer')}}"><img src="{{ url_for('static', filename='nieuws/training_inken_cara_heuer.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">04 NOVEMBER 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='training_senpai_inken_cara_heuer')}}">Training Senpai Inken Cara Heuer</a></div><br>
            <div class = "nieuwsp">De Duitse Senpai Inken Cara Heuer te gast in onze dojo!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='training_senpai_inken_cara_heuer')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='kumite_training_kalmthout_2017')}}"><img src="{{ url_for('static', filename='nieuws/kumite_training_kalmthout_2017.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">23 OKTOBER 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='kumite_training_kalmthout_2017')}}">Kumite-training Kalmthout</a></div><br>
            <div class = "nieuwsp">Gezamenlijke kumite-training onder leiding van Sensei Herbert.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='kumite_training_kalmthout_2017')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='start_nieuw_seizoen_2017')}}"><img src="{{ url_for('static', filename='nieuws/start_nieuw_seizoen_2017.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">05 SEPTEMBER 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='start_nieuw_seizoen_2017')}}">Start nieuw seizoen</a></div><br>
            <div class = "nieuwsp">Het nieuwe seizoen is gestart! Vlieg er dit najaar met ons in!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='start_nieuw_seizoen_2017')}}">Lees verder</a><br><br></div>
        </div>
    </div>
</div>
{% endblock %}
