{% extends "layout.html" %}
{% block content %}
<div class = "banner bovenbanner" id="nieuws-bovenbanner2">
    <div class = "h4-box post1">
        <div align="center" class="h4">Nieuws</div>
    </div>
</div>
<div class = "content-box first-content-box post1">
    <div class = "rectangle-wrap centered-wrap">
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='asahi_cup_2018')}}"><img src="{{ url_for('static', filename='nieuws/yokoso_cup_2018.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">20 NOVEMBER 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='yokoso_cup_2018')}}">Yokoso Cup 2018</a></div><br>
            <div class = "nieuwsp">Eerste, tweede en vierde plaats op het katatornooi Yokoso-cup</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='yokoso_cup_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='asahi_cup_2018')}}"><img src="{{ url_for('static', filename='nieuws/uitreiking_dangraden.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">01 NOVEMBER 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='uitreiking_dangraden')}}">Uitreiking Dan-graden</a></div><br>
            <div class = "nieuwsp">De Obi's en Dan-certificaten kwamen aan vanuit Japan!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='uitreiking_dangraden')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='asahi_cup_2018')}}"><img src="{{ url_for('static', filename='nieuws/asahi_cup_2018.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">20 OCTOBER 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='asahi_cup_2018')}}">Asahi Cup 2018</a></div><br>
            <div class = "nieuwsp">Bekers op de Asahi Cup!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='asahi_cup_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='EK_2018_goteborg')}}"><img src="{{ url_for('static', filename='nieuws/EK_2018_goteborg.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">19 OCTOBER 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='EK_2018_goteborg')}}">Europees Kampioenschap 2018 Göteborg</a></div><br>
            <div class = "nieuwsp">Shihan Koen was aanwezig op het EK in Zweden.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='EK_2018_goteborg')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='start_nieuw_seizoen_2018')}}"><img src="{{ url_for('static', filename='nieuws/start_nieuw_seizoen_2017.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">30 AUGUSTUS 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='start_nieuw_seizoen_2018')}}">Start nieuw seizoen 2018</a></div><br>
            <div class = "nieuwsp">Het nieuwe karateseizoen breekt weer aan!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='start_nieuw_seizoen_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='bezoek_japanse_tuin_hasselt')}}"><img src="{{ url_for('static', filename='nieuws/bezoek_japanse_tuin_hasselt.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">20 AUGUSTUS 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='bezoek_japanse_tuin_hasselt')}}">Bezoek Japanse tuin Hasselt 2018</a></div><br>
            <div class = "nieuwsp">Impressies van de Japanse cultuur opsnuiven in de Japanse tuin in Hasselt.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='bezoek_japanse_tuin_hasselt')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='zomerkamp_duitsland_2018')}}"><img src="{{ url_for('static', filename='nieuws/zomerkamp_duitsland_2018.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">28 JULI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='zomerkamp_duitsland_2018')}}">Zomerkamp Duitsland 2018</a></div><br>
            <div class = "nieuwsp">Het jaarlijks zomerkamp in Beiern, met Shihan Miwa en Okamoto.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='zomerkamp_duitsland_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='examen_voorjaar_2018')}}"><img src="{{ url_for('static', filename='nieuws/examen_voorjaar_2018.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">02 JULI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='examen_voorjaar_2018')}}">Kyu-examen voorjaar 2018</a></div><br>
            <div class = "nieuwsp">17 hogere graden op het kyu-examen!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='examen_voorjaar_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='zomerkamp_2018')}}"><img src="{{ url_for('static', filename='nieuws/zomerkamp_2018.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">28 JUNI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='zomerkamp_2018')}}">Belgisch Zomerkamp 2018</a></div><br>
            <div class = "nieuwsp">Drie van onze zwarte banden behaalden een hogere graad op een uitstekend zomerkamp met topvechter Jonathan Tineo!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='zomerkamp_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='roefeldag_2018')}}"><img src="{{ url_for('static', filename='nieuws/roefeldag_2018.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">16 JUNI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='roefeldag_2018')}}">Roefeldag 2018</a></div><br>
            <div class = "nieuwsp">De kinderen van Vosselaar mochten een keer kennismaken met Kyokushinkai Karate op deze Roefeldag.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='roefeldag_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='internationale_stage_japan_2018')}}"><img src="{{ url_for('static', filename='nieuws/internationale_stage_japan_2018.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">22 MEI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='internationale_stage_japan_2018')}}">Internationale stage Japan 2018</a></div><br>
            <div class = "nieuwsp">Shihan Koen en senpai Leon namen deel aan de internationale stage in Japan.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='internationale_stage_japan_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='feesttraining_shihan_koen')}}"><img src="{{ url_for('static', filename='nieuws/feesttraining_shihan_koen.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">19 MEI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='feesttraining_shihan_koen')}}">Feesttraining Shihan Koen</a></div><br>
            <div class = "nieuwsp">Onze eigenste Shihan Koen werd zesde Dan en dat moesten we vieren!.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='feesttraining_shihan_koen')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='beker_der_kempen_2018')}}"><img src="{{ url_for('static', filename='nieuws/beker_der_kempen_2018.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">11 MEI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='beker_der_kempen_2018')}}">Beker der Kempen 2018</a></div><br>
            <div class = "nieuwsp">We namen met onze club deel aan de Beker der Kempen in Beerse.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='beker_der_kempen_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='belgian_open_kata_kapellen_2018')}}"><img src="{{ url_for('static', filename='nieuws/belgian_open_kata_kapellen_2018.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">22 APRIL 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='belgian_open_kata_kapellen_2018')}}">Belgian Open Kata Kapellen 2018</a></div><br>
            <div class = "nieuwsp">Met vijf leden van onze dojo namen we deel aan de jaarlijkse katawedstrijd van Seishin Dojo.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='belgian_open_kata_kapellen_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='gezamenlijke_technische_trainingen_april_2018')}}"><img src="{{ url_for('static', filename='nieuws/gezamenlijke_technische_training_april_2018.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">15 APRIL 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='gezamenlijke_technische_trainingen_april_2018')}}">Gezamenlijke technische trainingen april 2018</a></div><br>
            <div class = "nieuwsp">Kata en ido-geiko trainen met dojo's uit Nederland en België.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='gezamenlijke_technische_trainingen_april_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='asahi_dojo_kumitewedstrijd_beginners_2018')}}"><img src="{{ url_for('static', filename='nieuws/asahi_dojo_kumitewedstrijd_beginners_2018.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">02 APRIL 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='asahi_dojo_kumitewedstrijd_beginners_2018')}}">Asahi Dojo Kumitewedstrijd voor beginners Oud-Turnhout 2018</a></div><br>
            <div class = "nieuwsp">Verschillende medailles op de kumitewedstrijd voor beginners van Asahi Dojo in Oud-Turnhout!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='asahi_dojo_kumitewedstrijd_beginners_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='BKKU_algemene_kumitetraning_maart')}}"><img src="{{ url_for('static', filename='nieuws/BKKU_algemene_kumitetraning_maart.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">19 MAART 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='BKKU_algemene_kumitetraning_maart')}}">Algemene BKKU Kumitetraining 16 maart</a></div><br>
            <div class = "nieuwsp">Een schitterende BKKU kumitetraining onder leiding van Senpai Dooremalen!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='BKKU_algemene_kumitetraning_maart')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='AED_opleiding')}}"><img src="{{ url_for('static', filename='nieuws/aed_opleiding.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">25 FEBRUARI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='AED_opleiding')}}">AED opleiding Diepvennneke</a></div><br>
            <div class = "nieuwsp">Onze leden namen deel aan een levensreddende opleiding.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='AED_opleiding')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='kaizen_winterkamp_2018')}}"><img src="{{ url_for('static', filename='nieuws/kaizen_winterkamp_2018.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">21 JANUARI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='kaizen_winterkamp_2018')}}">Kaizen Winterkamp 2018</a></div><br>
            <div class = "nieuwsp">Senpai Leon nam deel aan het winterkamp van Kaizen dojo.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='kaizen_winterkamp_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='kagami_biraki_2018')}}"><img src="{{ url_for('static', filename='nieuws/kagami_biraki_2018.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">13 JANUARI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='kagami_biraki_2018')}}">Kagami Biraki 2018</a></div><br>
            <div class = "nieuwsp">Een goed begin van het nieuwe jaar!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='kagami_biraki_2018')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='kerstfeestje_2017')}}"><img src="{{ url_for('static', filename='nieuws/kerstfeestje_2017.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">06 JANUARI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='kerstfeestje_2017')}}">Kerstfeestje 2017</a></div><br>
            <div class = "nieuwsp">Een waardige afsluiter van het karatejaar!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='kerstfeestje_2017')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='belgian_open_youth_and_beginners_2017')}}"><img src="{{ url_for('static', filename='nieuws/belgian_open_youth_and_beginners_2017.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">08 DECEMBER 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='belgian_open_youth_and_beginners_2017')}}">Belgian Open Youth and Beginners 2017</a></div><br>
            <div class = "nieuwsp">Mohamed nam deel aan het kumite toernooi van Sutani dojo te Schoten.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='belgian_open_youth_and_beginners_2017')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='stage_judd_reid')}}"><img src="{{ url_for('static', filename='nieuws/stage_judd_reid.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">20 NOVEMBER 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='stage_judd_reid')}}">Stage Judd Reid</a></div><br>
            <div class = "nieuwsp">Een schitterende stage met Shihan Judd Reid uit Australië!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='stage_judd_reid')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='yokoso_cup_2017')}}"><img src="{{ url_for('static', filename='nieuws/yokoso_cup_2017.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">17 NOVEMBER 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='yokoso_cup_2017')}}">Yokoso Cup 2017</a></div><br>
            <div class = "nieuwsp">Met een ganse groep naar de katawedstrijd in Turnhout!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='yokoso_cup_2017')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='training_senpai_inken_cara_heuer')}}"><img src="{{ url_for('static', filename='nieuws/training_inken_cara_heuer.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">04 NOVEMBER 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='training_senpai_inken_cara_heuer')}}">Training Inken Cara Heuer</a></div><br>
            <div class = "nieuwsp">De Duitse Senpai Inken Cara Heuer te gast in onze dojo!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='training_senpai_inken_cara_heuer')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='kumite_training_kalmthout_2017')}}"><img src="{{ url_for('static', filename='nieuws/kumite_training_kalmthout_2017.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">23 OKTOBER 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='kumite_training_kalmthout_2017')}}">Kumite-training Kalmthout 2017</a></div><br>
            <div class = "nieuwsp">Gezamenlijke kumite-training onder leiding van Sensei Herbert.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='kumite_training_kalmthout_2017')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='start_nieuw_seizoen_2017')}}"><img src="{{ url_for('static', filename='nieuws/start_nieuw_seizoen_2017.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">05 SEPTEMBER 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='start_nieuw_seizoen_2017')}}">Start nieuw seizoen 2017</a></div><br>
            <div class = "nieuwsp">Het nieuwe seizoen is gestart! Vlieg er dit najaar met ons in!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='start_nieuw_seizoen_2017')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='reis_japan_2017')}}"><img src="{{ url_for('static', filename='nieuws/reis_japan_2017.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">03 AUGUSTUS 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='reis_japan_2017')}}">Reis Japan 2017</a></div><br>
            <div class = "nieuwsp">Shihan Koen en dochters op bezoek in Japan bij Shihan Miwa en Sensei Okamoto!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='reis_japan_2017')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='zomerkamp_duitsland_2017')}}"><img src="{{ url_for('static', filename='nieuws/zomerkamp_duitsland_2017.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">28 JULI 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='zomerkamp_duitsland_2017')}}">Zomerkamp Duitsland 2017</a></div><br>
            <div class = "nieuwsp">Senpai Yorian eerste kyu op fantastisch zomerkamp met Shihan Tabata en Shihan Miyagi.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='zomerkamp_duitsland_2017')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='trainingen_zomer_2017')}}"><img src="{{ url_for('static', filename='nieuws/trainingen_zomer_2017.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">21 JULI 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='trainingen_zomer_2017')}}">Trainingen zomer 2017</a></div><br>
            <div class = "nieuwsp">Ook in de vakantie blijven we graag in conditie!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='trainingen_zomer_2017')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='roefeldag_2017')}}"><img src="{{ url_for('static', filename='nieuws/roefeldag_2017.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">01 JULI 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='roefeldag_2017')}}">Roefeldag 2017</a></div>
            <br>
            <div class = "nieuwsp">Een initiatie Kyokushinkai Karate voor de jeugd.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='roefeldag_2017')}}">Lees verder</a><br><br></div>
        </div>
            <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='zomerkamp_2017')}}"><img src="{{ url_for('static', filename='nieuws/zomerkamp_2017.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">01 JULI 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='zomerkamp_2017')}}">Zomerkamp 2017</a></div>
            <br>
            <div class = "nieuwsp">Schitterend zomerkamp met Sensei Pettas! 2017</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='zomerkamp_2017')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='examen_voorjaar_2017')}}"><img src="{{ url_for('static', filename='nieuws/examen_voorjaar_2017.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">01 JULI 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='examen_voorjaar_2017')}}">Examen voorjaar 2017</a></div>
            <br>
            <div class = "nieuwsp">Zes nieuwe graden dit semester!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='examen_voorjaar_2017')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='beker_der_kempen_2017')}}"><img src="{{ url_for('static', filename='nieuws/beker_der_kempen_2017.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">17 MEI 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='beker_der_kempen_2017')}}">Beker der Kempen 2017</a></div>
            <br>
            <div class = "nieuwsp">Deelname van onze club aan de katawedstrijd in Kapellen..</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='beker_der_kempen_2017')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='katawedstrijd_kapellen_2017')}}"><img src="{{ url_for('static', filename='nieuws/katawedstrijd_kapellen_2017.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">16 MAART 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='katawedstrijd_kapellen_2017')}}">Katawedstrijd Kapellen 2017</a></div>
            <br>
            <div class = "nieuwsp">Deelname van onze club aan de katawedstrijd in Kapellen..</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='katawedstrijd_kapellen_2017')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='belgian_open_weight_tournament_2017')}}"><img src="{{ url_for('static', filename='nieuws/belgian_open_weight_tournament_2017.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">16 MAART 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='belgian_open_weight_tournament_2017')}}">Belgian Open Weight Tournament 2017</a></div>
            <br>
            <div class = "nieuwsp">Derde plaats voor senpai Jolein op het Belgian Open Weight Tournament dit jaar.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='belgian_open_weight_tournament_2017')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='initiatie_mindfulness_karate_kempen')}}"><img src="{{ url_for('static', filename='nieuws/initiatie_mindfulness_karate_kempen.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">07 MAART 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='initiatie_mindfulness_karate_kempen')}}">Initiatie Mindfulness Karate Kempen</a></div>
            <br>
            <div class = "nieuwsp">Een inleiding in mindfulness door Shihan Vandecraen.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='initiatie_mindfulness_karate_kempen')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='aankondiging_belgisch_kyokushin_union_zomerkamp_2017')}}"><img src="{{ url_for('static', filename='nieuws/aankondiging_belgisch_kyokushin_union_zomerkamp_2017.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">02 MAART 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='aankondiging_belgisch_kyokushin_union_zomerkamp_2017')}}">Aankondiging Belgisch Kyokushin Union Zomerkamp 2017</a></div>
            <br>
            <div class = "nieuwsp">Belgisch Kyokushin Union Zomerkamp dit jaar met Sensei Nicholas Pettas !</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='aankondiging_belgisch_kyokushin_union_zomerkamp_2017')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='kaizen_dojo_winterkamp_2017')}}"><img src="{{ url_for('static', filename='nieuws/standaardfoto.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">02 MAART 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='kaizen_dojo_winterkamp_2017')}}">Kaizen Dojo Winterkamp 2017</a></div>
            <br>
            <div class = "nieuwsp">Senpai Leon haalde zijn Shodan op het Kaizen Winterkamp!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='kaizen_dojo_winterkamp_2017')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='gezamenlijke_gevechtstraining_en_seminar_sensei_zaman')}}"><img src="{{ url_for('static', filename='nieuws/foto_gezamenlijke_gevechtstraining_en_seminar_sensei_zaman.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">26 FEBRUARI 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='gezamenlijke_gevechtstraining_en_seminar_sensei_zaman')}}">Gezamenlijke gevechstraining en seminar met Sensei Zaman</a></div>
            <br>
            <div class = "nieuwsp">Interessante gevechtstrainingen met Sensei Jolein en Sensei Zaman!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='gezamenlijke_gevechtstraining_en_seminar_sensei_zaman')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='niji_yama_interclub_2017')}}"><img src="{{ url_for('static', filename='nieuws/niji_yama_interclub_2017.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">03 FEBRUARI 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='niji_yama_interclub_2017')}}">Niji Yama Interclub 2017</a></div>
            <br>
            <div class = "nieuwsp">Goede resultaten voor onze beginners op de Niji Yama Interclub!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='niji_yama_interclub_2017')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='kerstfeestje_2016')}}"><img src="{{ url_for('static', filename='nieuws/kerstfeestje_2016.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">28 DECEMBER 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='kerstfeestje_2016')}}">Kerstfeestje 2016</a></div>
            <br>
            <div class = "nieuwsp">Een heerlijke afsluiter van het semester!!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='kerstfeestje_2016')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='examen_najaar_2016')}}"><img src="{{ url_for('static', filename='nieuws/examen_najaar_2016.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">06 DECEMBER 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='examen_najaar_2016')}}">Examen najaar 2016</a></div>
            <br>
            <div class = "nieuwsp">Iedereen geslaagd op het examen van dit semester!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='examen_najaar_2016')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='yokoso_cup_2016')}}"><img src="{{ url_for('static', filename='nieuws/yokoso_fotos_2016.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">13 NOVEMBER 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='yokoso_cup_2016')}}">Yokoso Cup 2016</a></div>
            <br>
            <div class = "nieuwsp">Yorian, Fran en Nina haalden een beker op de Yokoso Cup!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='yokoso_cup_2016')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='aankondiging_kerstfeestje_2016')}}"><img src="{{ url_for('static', filename='nieuws/foto_aankondiging_kerstfeestje_2016.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">12 NOVEMBER 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='aankondiging_kerstfeestje_2016')}}">Aankondiging Kerstfeestje 2016</a></div>
            <br>
            <div class = "nieuwsp">Op 23 december is er naar jaarlijkse gewoonte weer ons Kerstfeestje. <br>Schrijf je nu in!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='aankondiging_kerstfeestje_2016')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='kumite_training_kalmthout')}}"><img src="{{ url_for('static', filename='nieuws/kumitetraining_kalmthout.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">27 OKTOBER 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='kumite_training_kalmthout')}}">Kumite Training Kalmthout</a></div>
            <br>
            <div class = "nieuwsp">Een leerrijke training door Sensei Herbert!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='kumite_training_kalmthout')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='aankondiging_yokoso_cup_2016')}}"><img src="{{ url_for('static', filename='nieuws/yokoso_cup_2016.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">19 SEPTEMBER 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='aankondiging_yokoso_cup_2016')}}">Aankondiging Yokoso Cup 2016</a></div>
            <br>
            <div class = "nieuwsp">13 november vindt de derde editie van het Kata-tornooi, Yokoso-cup, plaats. Aarzel niet om deel te nemen!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='aankondiging_yokoso_cup_2016')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='aankondiging_kumite_training_kalmthout')}}"><img src="{{ url_for('static', filename='nieuws/aankondiging_kumitetraining_kalmthout.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">19 SEPTEMBER 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='aankondiging_kumite_training_kalmthout')}}">Aankondiging Kumite Training Kalmthout</a></div>
            <br>
            <div class = "nieuwsp">Op vrijdag 21 oktober vindt een gemeenschappelijke Kumitetraining plaats in Kalmthout. Een interessante ervaring voor iedereen die graag vecht!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='aankondiging_kumite_training_kalmthout')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='nieuw_seizoen')}}"><img src="{{ url_for('static', filename='nieuws/nieuw_seizoen.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">02 SEPTEMBER 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='nieuw_seizoen')}}">Nieuw seizoen</a></div>
            <br>
            <div class = "nieuwsp">Vanaf vandaag begint het nieuwe karateseizoen!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='nieuw_seizoen')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='vakantietrainingen')}}"><img src="{{ url_for('static', filename='nieuws/vakantietrainingen.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">02 SEPTEMBER 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='vakantietrainingen')}}">Vakantietrainingen</a></div>
            <br>
            <div class = "nieuwsp">Om toch wat in beweging te blijven, trainden we in augustus elke woensdagavond op kihon en kata met de gevorderden.</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='vakantietrainingen')}}">Lees verder</a><br><br></div>
        </div>
        <div class = "nieuws-item post2">
            <div class = "nieuws-foto"><a href="{{url_for('nieuwsitem', item='nieuwe_website_gelanceerd')}}"><img src="{{ url_for('static', filename='nieuws/nieuwe_website_gelanceerd.jpg') }}" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">15 AUGUSTUS 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="{{url_for('nieuwsitem', item='nieuwe_website_gelanceerd')}}">Nieuwe website gelanceerd</a></div>
            <br>
            <div class = "nieuwsp">De nieuwe website van Mas Oyama's Kyokushinkai Karate Vosselaar staat online!</div>
            <div class = "nieuwsm"><a href="{{url_for('nieuwsitem', item='nieuwe_website_gelanceerd')}}">Lees verder</a><br><br></div>
        </div>
    </div>
</div>
{% endblock %}
