{% extends "layout.html" %}
{% block content %}
<div class="banner bovenbanner" id="sponsors-bovenbanner">
    <div class = "h4-box post1">
        <div class="h4">Sponsors</div>
    </div>
</div>
<div class = "content-box first-content-box post1">
    <div class = "text-box first-text-box">
         <div class = "h6 post2">Car Diagnostics Support Vosselaar</div>
         <br>
         <div class="p post2">
            <a style="display:block">
                <div class="small-rectangle" id="car-diagnostics-support"></div>
            </a>
         </div>
    </div>
</div>
{% endblock %}

