{% extends "layout.html" %}
{% block content %}
<div class="banner bovenbanner" id="sponsors-bovenbanner">
    <div class = "h4-box post1">
        <div class="h4">Sponsoring</div>
    </div>
</div>
<div class = "content-box first-content-box post1">
    <div class = "rectangle-wrap centered-wrap post2">
        <a style="display:block">
            <div class="small-rectangle" id="car-diagnostics-support"></div>
        </a>
        <a style="display:block" href="https://www.trooper.be">
            <div class="small-rectangle" id="trooper"></div>
        </a>
    </div>
</div>
{% endblock %}

