@charset "utf-8";
/* CSS Document */


/*-----------Algemene Opmaak----------*/
body {
    margin:0;
	padding:0;
    height: 100%;
    background-color: #ffffff;
}

.clearfix {
    padding:0;
	margin:0;
}

.clearfix:after {
    display:block;
    clear:both;
}

/*-----------Effecten bij het scrollen--------*/

.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}

/*-----------Algemene Opmaak - Tekst----------*/

.h1 {
	color:#CCC;
	font-size:23px;
	font-family: "Lato", sans-serif;
    text-shadow: #666666 1px 1px;
    font-weight:400;
	text-align:left;
}

.h1 a {
	color:#CCC;
	text-decoration:none;
}

.h2 {
	color:#999;
	font-size:17px;
	font-family: "Lato", sans-serif;
    text-shadow: #333333 1px 1px;
	text-align:left;
}

.h2 a {
    color:#999;
	text-decoration:none;
}

/* De opmaak van de hoofdtitel in de banner op de indexpagina */
.h3 {
	color: #DBDBDB;
    font-size:50px;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    text-align:center;
}

/* De opmaak van de hoofd op alle andere pagina's */
.h4 {
	color: #DBDBDB;
    font-size:38px;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    text-align:center;
}
/* De opmaak van de ondertitel op alle pagina's met een ondertitel */
.h5 {
    color: #DBDBDB;
    font-size:25px;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    text-align:center;
}

/* De opmaak van de paragraaftitels */
.h6 {
	font-size:23px;
	font-family: "Lato", sans-serif;
	font-weight:bold;
    text-transform:uppercase;
}

/*-----------Algemene Opmaak - Layoutbalken ----------*/

#first-bar {
	height:30px;
	background-color:#000;
}

#second-bar {
	height:100px;
	background:url(../layout/Banner.jpg);
}

#kanku {
	background:url(../layout/kanku_transparant2.png);
	background-size: 100%;
	position:relative;
	width:60px;
	height:60px;
	top:20%;
	left:4px;
	float:left;
}

#kyokushinkai-karate-vosselaar {
	position:relative;
	width:600px;
	top:35px;
	left:8px;
	overflow:hidden;
	display:inline;
}

#third-bar {
	height:40px;
	background-color:#333;
}

.third-bar-fixed {
    top: 0;
    position: fixed;
    width:100%;
    z-index: 99999;
}

#oshi-shinobu-kanji-container {
	position: relative;
	float:left;
	height:40px;
	width:67px;
}

#oshi-shinobu-kanji {
    background: url(../layout/osu3.png) no-repeat;
    background-size:contain;
	position: relative;
	left:5px;
	top:8px;
	height:30px;
	width:60px;
}

#oshi-shinobu-text-container {
	position: relative;
	float:left;
	width:180px;
	height:40px;
}

#oshi-shinobu-text {
	position:relative;
	top:10px;
}

/*----------- Opmaak paginahoofdingen -------------*/

.h3-box{
    position:relative;
    padding: 10px 15px 20px;
    background: rgba(0, 0, 0, 0.6);
    top:120px;
    margin:0 auto;
}

.h4-box{
    position:relative;
    padding: 10px 15px 20px;
    background: rgba(0, 0, 0, 0.6);
    top:150px;
    margin:0 auto;
}

.h5-box{
    position:relative;
    padding:5px 0 8px;
    background: rgba(0, 0, 0, 0.6);
    top:160px;
    margin:0 auto;
}

.h5-box2{
    position:relative;
    padding:5px 0 8px;
    background: rgba(0, 0, 0, 0.6);
    top:140px;
    margin:0 auto;
}

.banner {
    width:100%;
    background-size: cover;
    background-position: center;
}

.bovenbanner {height: 400px;}
.tussenbanner {height: 400px;}
.onderbanner {height: 350px;}

#index-bovenbanner{background-image:url(../layout/seiza.jpg);}
#index-onderbanner{background-image:url(../layout/index_onderbanner3.JPG);}

#nieuws-bovenbanner{background-image:url(../layout/nieuws-banner.jpg);}

#info-bovenbanner{background-image:url(../layout/info-banner.jpg);}

#kalender-bovenbanner{background-image:url(../layout/kalender-banner.jpg);}

.kalender-banner {height:200px;}

.kalender-banner-box{
    position:relative;
    height:40px;
    background: rgba(0, 0, 0, 0.6);
    top:70px;
    margin:0 auto;
}

#september-banner{background-image:url(../layout/trainingskalender/september-banner.jpg);}
#oktober-banner{background-image:url(../layout/trainingskalender/oktober-banner.jpg);}
#november-banner{background-image:url(../layout/trainingskalender/november-banner.jpg);}
#december-banner{background-image:url(../layout/trainingskalender/december-banner.jpg);}

#geschiedenis-bovenbanner{background-image:url(../layout/karatedo_kanji.jpg);}
#geschiedenis-tussenbanner{background-image:url(../layout/oyama_sosai2.jpg);}
#geschiedenis-box1{background-image:url(../layout/bodhi-01.jpg);}
#geschiedenis-box2{background-image:url(../layout/karate.jpg);}
#geschiedenis-box3{background-image:url(../layout/funakoshi-banner.jpg);}
#geschiedenis-box4{background-image:url(../layout/chojun_miyagi.jpg);}
#geschiedenis-box5{background-image:url(../layout/kanku-image.jpg);}
#geschiedenis-box6{background-image:url(../layout/kanji2.jpg);}
#geschiedenis-onderbanner{background-image:url(../layout/hokusai_hanging_bridge.jpg);}

#spirit-bovenbanner {background-image:url(../layout/sosai-banner2.jpg);}
#spirit-tussenbanner {background-image:url(../layout/spirit-tussenbanner.jpg);}
#spirit-onderbanner {background-image:url(../layout/golven.jpg);}

#kihon-bovenbanner {background-image:url(../layout/kihon-header.jpg);}
#kihon-onderbanner {background-image:url(../layout/hokusai_koi.jpg);}

#kata-bovenbanner {background-image:url(../layout/kata-banner4.jpg);}
#kata-tussenbanner {background-image:url(../layout/kata-banner3.jpg);}
#kata-onderbanner {background-image:url(../layout/hokusai_fuji2.jpg);}

#kumite-bovenbanner {background-image:url(../layout/kumite-banner5.jpg);}
#kumite-tussenbanner {background-image:url(../layout/kumite-banner4.jpg);}
#kumite-box1 {background-image:url(../layout/tameshiwari.jpg);}
#kumite-onderbanner {background-image:url(../layout/hokusai_mishima.jpg);}

#links-bovenbanner {background-image:url(../layout/links_banner.jpg);}

/* ---------------- Opmaak onderkant pagina -------------- */
.bottomtext-title {
	color:#FFF;
	font-size:15px;
	font-family: "Lato", sans-serif;
	text-align:left;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.bottomtext {
	color:#999;
	font-size:14px;
	font-family: "Lato", sans-serif;
	text-align:left;
    letter-spacing: 1px;
}

.bottomtext a {
	color:#999;
	text-decoration:none;
	transition:all linear 0.15s;
}

.bottomtext a:hover {
	color:#09F;
	text-decoration:none
}

.p {
	font-size:14px;
	font-family: "Lato", sans-serif;
	text-align:justify;
    letter-spacing:1px;
}

.p a {
	color:#666;
	text-decoration:none;
	transition:all linear 0.15s;
}

.p a:hover {
	color:#333;
	text-decoration:none;
}

/*----- Algemene Opmaak - Bovenmenu --------*/

.upper-menu {
	position: relative;
	top: 0;
	margin: 0 auto;
	height: 30px;
}

.upper-menu li {
	margin: 0;
	list-style: none;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	text-decoration: none;
	position: relative;
	right: 0;
}

.upper-menu a {
    transition:all linear 0.25s;
    color:#919191;
	height:35px;
}

.upper-menu-text {
	position:relative;
	top:7px;
}

.upper-menu-text-active {
	position:relative;
	top:7px;
    color:white;
}

.upper-menu li:hover > a, .language-menu .current-item > a {
    text-decoration:none;
    color:#CCC;
}

.upper-menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:15px;
}

.upper-menu > ul > li > a {
    padding:5px 10px;
    display:inline-block;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
	text-decoration:none;
	vertical-align:middle;
}
 
.upper-menu > ul > li:hover > a, .language-menu > ul > .current-item > a {
    background:#09F
}

/*----- Algemene Opmaak - Bovenmenu - Aanmeldmenu --------*/

.upper-menu-wrap-left {
	height:40px;
	background:#000;
	float:left;
}

#login-form {
	position:relative;
	width:440px;
	height:30px;
	top:10px;
	float:left;
	display:none;
}

#welkomstbericht {
    top: 12px;
    left: 8px;
    position: relative;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: grey;
    display:none;
}

/*----- Algemene-opmaak - Bovenmenu - Taal ------------*/

.upper-menu-wrap-right {
	position:relative;
	top:0;
	height:40px;
	background:#000;
	float:right;
}

/*----------- Algemene Opmaak - Mobiel Menu -----------*/

#navicon-wrap {
	position: relative;
	float:right;
	height:40px;
	background:#373737;
	width:40px;
	text-align:center;
	display:inline;
}

#navicon {
    text-decoration: none;
	color:#919191;
	border:none;
}

#navicon-image {
	position: relative;
	top:6px;
}

#mobile-menu-wrap {
	position: fixed;
    height: 100%;
    top: 0;
    right: -260px;
    background: #222;
    max-width: 250px;
    width: 100%;
    z-index: 5;
	display: flex;
    flex-direction: column;
	box-shadow: -5px 5px 20px #0C0C0C;
    overflow-y:scroll;
}
	

#mobile-menu {
    text-align: center;
}

#mobile-menu li {
	list-style:none;
}

#mobile-menu > li > a {
    flex: 1;
    border-top: 1px solid #555;
    text-decoration: none;
	font-family: "Lato", sans-serif;
	font-size:18px;
	color:#CCC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 45px;
	height:8.6vh;
}
	
#mobile-menu > li > a:hover, #mobile-menu > li > a.current {
	background:#06F;
	color:#FFF;
}

.sub-mobile-menu {
	margin:0;
	padding:0;
    list-style-type: none;
}

.sub-mobile-menu li a {
	flex: 1;
    border-top: 1px solid #555;
    text-decoration: none;
	font-family: "Lato", sans-serif;
	font-size:18px;
	color:#CCC;
	display: flex;
	justify-content: center;
	flex-direction: column;
    min-height: 40px;
    max-height:60px;
    height: 8vh;
}

.sub-mobile-menu a:hover, .subnav a.current {
	color:#FFF;
	background:#666;
}

#fade {
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
}

/*-------- Algemene Opmaak - Menu---------*/

.menu-wrap {
	float:left;
    display:none;
}

.menu {
    margin:0 auto;
	height:0;
}

.menu li {
    margin:0;
    list-style:none;
    font-family: "Lato", sans-serif;
	font-style:normal;
	text-decoration:none;
    overflow:hidden;
}

.menu a {
    transition:all linear 0.25s;
    color:#919191;
	height:20px;
}

.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#09F
}

.menu li:hover {
    margin:0;
    list-style:none;
    font-family: "Lato", sans-serif;
	font-style:normal;
	text-decoration:none;
    overflow: visible;
}

.menu .arrow {
	position:relative;
    font-size:15px;
    line-height:0;
    left:2px;
}

.menu-text {
	position:relative;
}

/*-------- Algemene Opmaak - Menu - Top Level---------*/

.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:16px;
}

.menu > ul > li > a {
    padding:10px 11px;
    display:inline-block;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
	text-decoration:none;
}

.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#2e2728;
}

/*-------- Algemene Opmaak - Menu - sub Level---------*/

.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}

.sub-menu {
    width:220px;
    padding:0 0;
    position:absolute;
    top:100%;
    left:0;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.25s;
    box-shadow:0 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
	text-align:left;
}

.sub-menu li {
    display:block;
    font-size:15px;
	text-decoration:none;
}

.sub-menu li a {
    padding:10px 30px;
    display:block;
	text-decoration:none;
}

.sub-menu li a:hover, .sub-menu .current-item a {
    background:#3e3436;
	text-decoration:none;
}

.submenu-text {
	position:relative;
	top:2px;
}

/*----------- Opmaak contenthouders -----------*/

.outer-content-box {}

.picture-box {
    width:40%;
    background-size:cover;
    background-position:center;
}

.narrow-content-box {
    padding: 45px 50px 35px;
    flex:1;
}

.content-box {
    padding: 45px 40px 35px;
    flex:1;
}

.first-content-box {background-color: #E9E9E9;}
.second-content-box {background-color: #585858;}
.third-content-box {background-color: deepskyblue;}
.fourth-content-box {background-color: #ffffff;}
.fifth-content-box {background-color: black;}

.inner-content-box {display:flex;}

.text-box {
    text-align:left;
    line-height: 125%;
}

.first-text-box {color:#666;}
.second-text-box {color: #82CAFF;}
.third-text-box {color: #E9E9E9;}
.fourth-text-box {color: #82CAFF;}

.centered-text-box {text-align: center;}

.rectangle-wrap {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.narrow-wrap {width:100%;}

.centered-wrap {justify-content: center;}

.rectangle {
    width:22vw;
    max-width: 240px;
    min-width: 205px;
    height:22vw;
    max-height: 240px;
    min-height: 200px;
    padding: 10px;
    margin: 25px 9px 15px;
    transition: background-color 0.25s;
    cursor: pointer;
}

.small-rectangle {
    width: 130px;
    height: 130px;
    margin: 15px 10px 15px;
    background-size:cover;
    opacity:0.6;
    cursor: pointer;
    transition: all linear 0.18s;
}

.small-rectangle:hover {
    opacity: 1;
    width: 140px;
    height: 140px;
    margin: 10px 5px 10px;
}

#VVA {background-image:url(../layout/vva_logo.jpg);}
#kyokushin-union {background-image:url(../layout/kyokushin_union.jpg);}
#vosselaar{background-image:url(../layout/vosselaar.jpg);}

.grey-rectangle {
    background-color: #3e3436;
    color: #E9E9E9;
}
.grey-rectangle:hover {background-color: #585858;}

.white-rectangle {
    background-color: #E9E9E9;
    color: #555555;
}

.blue-rectangle {
    background-color: deepskyblue;
    color: #ffffff;
}

.recth {
    text-transform: uppercase;
    text-align: center;
	font-size:15px;
    font-family: "Lato", sans-serif;
}

.rectp {
	font-size:11px;
    font-family: "Lato", sans-serif;
	text-align:justify;
    line-height:120%;
}

.rectbreak {
    font-size:8px;
}

.recticon {
    height:28px;
    width:28px;
    margin:auto;
    background-size:cover;
}

#conditie-icoon{background-image:url(../layout/conditie.png);}
#zelfverdediging-icoon{background-image:url(../layout/zelfverdediging.png);}
#karakter-icoon{background-image:url(../layout/karakter.png);}
#respect-icoon{background-image:url(../layout/respect.png);}
#traditie-icoon{background-image:url(../layout/traditie.png);}
#wilskracht-icoon{background-image:url(../layout/wilskracht.png);}
#sociaal-icoon{background-image:url(../layout/sociaal.png);}
#plezier-icoon{background-image:url(../layout/plezier.png);}
#competitie-icoon{background-image:url(../layout/competitie.png);}

#stoot-icoon{background-image:url(../layout/stoot.png);}
#slag-icoon{background-image:url(../layout/slag.png);}
#afweer-icoon{background-image:url(../layout/afweer.png);}
#trap-icoon{background-image:url(../layout/trap.png);}


/*-------------Opmaak trainingsuren index-------------*/

.trainingsuren-wrap {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
}

.trainingsuren-head {
    color: lavender;
    text-transform: uppercase;
    text-align: center;
	font-size:14px;
    font-family: "Lato", sans-serif;
    height:30px;
    line-height:30px;
}

.trainingsuren-box {
    background-color: #0099FF;
    margin: 10px 0.8vw;
}

.trainingsuren-text-box {
    font-size:12px;
    position: relative;
    top: 15%;
}

#trainingsuren-uren-box {
    order:1;
    background-color: #CCCCCC;
    width: 14vw;
    max-width:180px;
    min-width:15px;
}

.trainingsuren-uur {
    height:30px;
    color: #222222;
    text-align: center;
	font-size:14px;
    font-family: "Lato", sans-serif;
    border-top: solid 1px #919191;
}

#trainingsuren-vrijdag-box {
    order:2;
    width: 19vw;
    max-width:250px;
    min-width:72px;
}

#trainingsuren-zaterdag-box {
    order:3;
    width: 19vw;
    max-width:250px;
    min-width:72px;
}

.trainingsuren-geen-training {
    background-color: #E9E9E9;
    border-top: solid 1px;
}

.trainingsuren-geen-training1 {height: 30px}
.trainingsuren-geen-training2 {height: 15px}
.trainingsuren-geen-training3 {height: 30px}
.trainingsuren-geen-training3 {height: 240px}

.trainingsuren-training {
    color: #222222;
    text-align: center;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    border-top: solid 1px;
    opacity: 0.8;
    transition: opacity 0.2s;
}
.trainingsuren-training:hover {
    opacity:1;
    cursor:pointer;
}
.trainingsuren-training-vrijdag1 {
    height: 30px;
    background-color: #ff3333;
    line-height:11px;
}
.trainingsuren-training-vrijdag2 {
    height: 45px;
    background-color: forestgreen;
    line-height:15px;
}
.trainingsuren-training-zaterdag1 {
    height: 30px;
    background-color: #ff3333;
    line-height:11px;
}
.trainingsuren-training-zaterdag2 {
    height: 45px;
    background-color: forestgreen;
    line-height:15px;
}

/*----------- Opmaak nieuws -----------*/

.nieuws-item {
    width:300px;
    height:340px;
    margin: 10px;
    border-bottom: solid 1px #727272;
}

.nieuws-foto {
    opacity: 0.7;
    filter: alpha(opacity=40);
    transition: all linear 0.15s;
}

.nieuws-foto:hover {
    opacity: 1;
}

.nieuwsbr1 {
    font-family: "Lato", sans-serif;
    font-size:5px;
}

.nieuwsd {
    font-family: "Lato", sans-serif;
    font-size:11px;
    color: #727272;
    letter-spacing: 3px;
}

.nieuwsh a {
    font-family: "Lato", sans-serif;
    font-size:18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #727272;
    transition: all linear 0.15s;
}

.nieuwsh a:hover {
    font-family: "Lato", sans-serif;
    font-size:18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #585858;
}

.nieuwsbr2 {
    font-family: "Lato", sans-serif;
    font-size:13px;
}

.nieuwsp {
    font-family: "Lato", sans-serif;
    font-size:14px;
    color:#666;
}

.nieuwsm a {
    font-family: "Lato", sans-serif;
    font-size:14px;
    color: firebrick;
    text-decoration: none;
    transition: all linear 0.15s;
}

.nieuwsm a:hover{
    font-family: "Lato", sans-serif;
    font-size:14px;
    color: red;
    text-decoration: none;
}

/*---------------- Leraars ------------------*/

.leraar-info-wrap {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.leraar-item1 {
        width:200px;
        height:220px;
}

.leraar-item2 {}

.leraar-bol {
    width:120px;
    height:120px;
    border-radius: 75px;
    opacity:0.8;
    background-color: #919191;
    background-size:cover;
    background-position: center;
    margin:auto;
}

.leraartext {
    padding-bottom:40px;
}

.leraarh1 {
    color: #82CAFF;
    text-align: left;
    font-family: "lato", sans-serif;
    text-transform: uppercase;
    letter-spacing:1px;
    font-size:17px;
}

.leraarh2 {
    color: #919191;
    text-align: left;
    font-family: "lato", sans-serif;
    text-transform: uppercase;
    letter-spacing:2px;
    font-size:14px;
}

.leraarp {
    font-family: "lato", sans-serif;
    letter-spacing:1px;
    font-size:12px;
}

.leraarp-index {
    color: #E9E9E9;
    text-align: center;
}
.leraarp-info {
    color: #82CAFF;
    text-align: left;
    line-height: 150%;
}

#shihan-koen {background-image:url(../layout/shihan_koen2.jpg);}
#senpai-jolein {background-image:url(../layout/senpai_jolein.jpg);}
#senpai-dries {background-image:url(../layout/senpai_dries2.jpg);}
#senpai-anne {background-image:url(../layout/senpai_anne.jpg);}

/* ------------ trainingen locaties info ----------- */

.info-training-item {
    width:300px;
    height:300px;
    margin: 10px;
}

.info-training-foto {
    opacity: 0.8;
    transition: all linear 0.20s;
}

.info-training-foto:hover {
    opacity: 1;
}

.info-training-br {
    font-family: "Lato", sans-serif;
    font-size:5px;
}

.info-training-h {
    font-family: "Lato", sans-serif;
    font-size:18px;
    text-transform: uppercase;
    letter-spacing:1px;
    text-align:center;
}

.info-training-h a {
    text-decoration: none;
    color: #E9E9E9;
    transition: all linear 0.20s;
}

.info-training-h a:hover {
    text-decoration: none;
    color: white;
}

/*--------------- Opmaak trainingskalender -------------*/

.kalender-tabel-wrap {
    display: flex;
    justify-content: center;
}
.kalender-rij {
    height:60px;
    vertical-align: top;
}

.kalender-cel1 {
    width: 125px;
    text-transform: uppercase;
}
.kalender-cel2 {
    width:125px;
}
.kalender-cel3 {
    width:125px;
}
.kalender-cel4 {
    width:350px;
    display:none;
}

/*----------- Algemene Opmaak - Footer -----------*/

#first-bottom {
	background:#3E3436;
}

#first-bottom-text-wrapper {
	margin:auto;
    display:flex;
    flex-wrap:wrap;
    padding-left:30px;
    padding-right:20px;
}

.first-bottom-text-left {
	padding:10px;
	width:250px;
}

.first-bottom-text-center {
	padding:10px;
	width:180px;
}

.first-bottom-text-right {
	padding:10px;
	width:220px;
}

#second-bottom {
	padding:5px 30px 15px;
	background:#000;
	text-align:center;
}

#second-bottom-text {
	font-family: "Lato", sans-serif;
	font-size:10px;
	color:#CCC;
    letter-spacing:1px;
}

/*---------- Opmaak Dojobeheer------------*/

.dojo-management a {
	color:#666;
	font-size:20px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align:justify;
	text-decoration:none;
	transition:all linear 0.15s;	
}

.dojo-management a:hover {
	color:#999;
	font-size:20px;
	text-align:justify;
	text-decoration:none;
}

#dojo-management-bar {
	background-color:#727272;
	height:50px;
}

#dojo-management-title-wrap {
	float:left;
	position:relative;
	height:50px;
	width:400px;
    display:none;
}

#dojo-management-title {
	position:relative;
	top:10px;
	left:115px;
}

#dojo-management-menu-wrap {
	float:left;
	height:50px;
}

#dojo-management-menu {
	float:left;
	height:50px;
}

#dojo-management-menu li {
	float:left;
	list-style:none;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:20px;
}

#dojo-management-menu li a {
    display:inline-block;
	padding:10px 8px;
	text-decoration:none;
	color:#B9B9B9;
	height:30px;
	transition:all linear 0.20s;
}

#dojo-management-menu li a:hover {
	text-decoration:none;
	color:#FFF;
	background-color:#999;
}

.dojo-management-menu-text {
	position:relative;
	top:3px;
	font-size:14px;
}

/*---------- Opmaak Dojobeheer - Leden ------------*/

.members-wrap {
	display:inline-block;
	border-top: 1px solid #585858;
	border-right: 1px solid #585858;
	border-left: 1px solid #585858;
}

.member-entry {
	min-width:300px;
    width:75vw;
    max-width:500px;
	background-color:#727272;
}

.member-entry-name {
	height:40px;
	border-bottom: 1px solid #666;
}

.member-entry-name-text {
	position:relative;
	top:12px;
	left:10px;
	font-size:16px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.member-entry-name a {
	display:block;
	height:40px;
	min-width:300px;
    width:75vw;
    max-width:500px;
	color:#CCC;
	font-size:16px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration:none;
	transition:all linear 0.20s;
}

.member-entry-name a:hover {
	display:block;
	background-color:#09F;
	color:#DBDBDB;
	font-size:16px;
	text-decoration:none;
}

.member-entry-info {
	border-bottom: 1px solid #585858;
	display:none;
}

.member-entry-info-text {
	color:#CCC;
	position:relative;
	top:12px;
	left:10px;
	font-size:16px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.member-entry-info-text a {
	color:#CCC;
	font-size:16px;
	text-decoration:none;
	transition:all linear 0.15s;
}

.member-entry-info-text a:hover{
	color:#E9E9E9;
}

#add-member-form-wrap {
	padding:10px;
	display:block;
	background-color:#999;
	width:500px;
	display:none;
}

/*---------- Opmaak Nieuws ------------*/

.news-article {
	background-color:#CCC;
}

/*---------- Opmaak Links ------------*/

.link-wrapper {
    display:flex;
    flex-wrap:wrap;
}
.link-box {display: flex;}
.link-adjuster {}
.link-container2{}
.link-column1 {
    line-height:150%;
    width:100%px;
}
.link-column2 {line-height:150%;}