{% extends "en/layout.html" %}
{% block content %}
<div class="content-wrapper">
    <p>&nbsp;</p>
    <div align="center" class="h5">
        SPIRIT<br><br />
    </div>
    <div class="p">
        Below you will find some quotes from Mas Oyama Sosai:
        <br />
        <ol>
            <li>
                CHALLENGE  挑戦  
                <br><br>
                "Don't have fear. I used to have such a fear before my matches. But once the bout starts, the one who can forsake his life is the winner.
                In the time a person does 10 motions, do 15. As a rule, overcome your limits, keep on challenging.
                If you cling on a steep cliff that you are climbing, and you take a rest, you are sure to fall down.
                So, even if things are getting hard on you, you have to climb, little by little. In order to come close to your goal of ambition, you have to push yourself full of ardor.
                So, never forget to make challenges."
                <br><br>
            </li>
            <li>
                AMBITION  志　
                <br><br>
                "Once a person has set an aim in life, he has to go in that direction. Regardless of personal appearances he has to become intensified.
                At the instant when the wishes for happiness and steadiness come into hand, the ambition takes flight. Therefore, always keep your ambitions high.
                For that purpose don't spare efforts and hardships during day or night."
                <br><br>
            </li>
            <li>
                DRIFT AWAY  迷うことなかれ　
                <br><br>
                "Money is a precious thing, but do not become a slave of it. Don't do something for the purpose of money.
                To the bitter end, do not surpass the norm. Losing money is a small thing, losing credibility is a big thing. Losing courage is losing yourself."
                <br><br>
            </li>
            <li>
                DON'T RUN AWAY FROM HARDSHIPS  苦しみから逃げるな  
                <br><br>
                "When it's getting tough on you, it's getting tough on your opponent as well. So at some point when your opponent is taking it easy, and you take it easy as well, you are getting nowhere.
                At that time force yourself one step forward. Whether you can make this one step forward or not makes the difference between victory or defeat.
                At the time when things are hard, if you try to run away from the hardship, the hardship will come after you. So, you have to counter the hardship by chasing it.
                If you go after the hardship, it will flee away."
                <br><br>
            </li>
            <li>
                GARYU  臥竜　
                <br><br>
                "I like the kata Garyu, which means dragon.The reason for that is that when the dragon takes off, it flies to the heavens.
                Well my fellows, the dragon lives at the deep bottoms of a lake. So, it can always see the heavens. It sits patiently for the clouds to come."
                <br><br>
            </li>
            <li>
                NEVER GIVE UP  ネバーギブアップ　
                <br><br>
                "People who are practicing Kyokushin Karate do not think or act as ordinary people;
                If the way of looking at things, the way of reasoning, the way of conduct is completely different, one will become successful.
                If your feelings are the same as the ones of ordinary people, way of thinking, working, resting, unwilling to do certain chores, choice for the joyous life, you cannot do an effort.
                Kumite is the same: it is not enough to study your own reach, uke, techniques. You have to do research. Never become satisfied with yourself. Never give up."
                <br><br>
            </li>
            <li>
                MOTHER  母親　
               <br><br>
                "If you want to become a real strong person, you have to help the weak. People who are showing off, bluffing babblers, trying to mix in the mass, are only fakes.
                At home, the person who needs the most help is your mother. Therefore you have to be filial to her.
                She is the one who gave birth to you. Also, looking back, she has raised you with a lot of affection, you cannot forget your mother's love.
                At times of misfortune, even if your mother wasn't there, there was a motherly person for you.
                A person who has a good parent-child relation, knows how to appreciate friends, he loves his native place and country, this person is able of thinking about peace on earth.
                So, dear fellow, grow up to be a great man, if you want to be strong, first be kind."
                <br><br>
            </li>
            <li>
                KYOKUSHIN  極真は　
                <br><br>
                "The word Kyokushin consists out of two kanji. The meaning is three years for shin, the truth and 30 years for kyoku, the extreme.
                Three years is not enough. I said you need 10 years, so this means if you haven't trained for 30 years you do not understand the meaning of Kyokushin.
                You have to attain the summit of physical strength, master the techniques, go to extremes in kumite. But do not forget to go to the extremes yourself.
                Your life is your own thing, you are playing the leading part in it, so give it all your power, all your effort, have the experience of not turning away of whatever obstacle.
                That experience makes you what you are. Become precious."
                <br><br>
            </li>
            <li>
                THE MEANING OF THE KYOKUSHIN SPIRIT  極真精神の意味  
                <br><br>
                "Lower your head, lift up your eyes, close your lips and open your mind. Serve other people with filial piety as the starting point.
                Lower your head means do no be haughty. Lift up your eyes, hold high ambitions. Close your lips, do not gossip and do not become an all talk no deed person.
                Become a big hearted person who treats people and matters kindly. Filial piety as the starting point means having gratitude and love to your parents, teachers, senpai, friends and country.
                Consider doing good to others as a profit. The conduct that oneself is for the sake of the people, oneself is for the sake of the world."
                <br><br>
            </li>
            <li>
                FIST  正拳　
                <br><br>
                "Even now I question myself: is this the right way to form a good fist, I often wonder". These words were spoken by Sosai Masutatsu Oyama, who passed away at the age of 70, in 1994.
                "I have downed bulls, chopped their horns off, but is this the right way to make a fist or not. Man is not perfect.
                But a place to aim at perfection is the study of the Kyokushin Way." "Don't be arrogant".
                At the age of 70, Sosai Oyama still trained with his Uchi Deshi three times a week, he also taught the black belt and brown belt class. Sosai was lifelong the prime Budoka.
                He was always an example for the students. 'As I am training, I am getting right-hearted. Therefore I am putting on my dogi for training.
                Because of putting on your dogi and working out, you are respected, and called Sensei or Shihan. When you do not put on your dogi, you just become an ordinary person.
                Don't forget that." He also told us that it is important to show one's ability to the fullest, until just before passing away.
                He also explained the 'Royal Way of Champion': courage is tanden-power, tanden-power is showing one's ability to the fullest.
                It means if one cannot show one's ability to the fullestl, one will not attain full growth. "One's full ability is the origin of all things".
                Karate means empty hand. Not having anything in your hands, you have to use your full ability, improve your techniques, train day and night,
                become confident, but above all respect individuals and be courteous. That is the Japanese heart.
            </li>
        </ol>
    </div>
</div>
{% endblock %}
