{% extends "layout.html" %}
{% block content %}
<div class = "banner bovenbanner" id="nieuws-bovenbanner">
    <div class = "h4-box post1">
        <div align="center" class="h4">Fotoalbum</div>
    </div>
</div>
<div class = "content-box first-content-box post1">
    <div class = "rectangle-wrap centered-wrap">
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/3avRwEg2KADvcmar9" target="_blank"><img src="https://lh3.googleusercontent.com/larFfBJPEg9jtK3iCiPLbCod6U8irGmdnII1GfCM0yTI2IGAPZ-zF7_qnvFYesrU2XlsHGHTiAhbEQtH4RXBX7vF24gqmnJoSBqF4CC8cED10dE57Vx-v1bEbpplDk60h3MdQePvKYZm6u_uKyF8dSJ9LGwFfFKitR4lL59JaUjfiB1ffPz79uu7hP1SuF131PoSDrskiTnKWvlExUEQ85Jh3zmHn59p0Iv0Yg2Y4ev7xvxuKaVR1-0sIbJvQsbapFQEvdVvVXfuuVu0uLDfetFyBlI2Wtka7Rzqnvaq0RtRBIctCDJeeLP-WKnQvxBXNauQU4XNiJl2tRByJho_gB6m44LBbnHYvpHFP4NYRGylmtkRrFbUAbxnUExR6zSc-hAd3PjMruKlw02cdBh3jNSUhGpKFmHqmZ2wVDBfcI_XSO-VB2um_QDBFSvI35z_dSkqpCr2MeaRSyAr9HptixyMiLTfw6nBg-qIkm1aNSUiAGSXTaQGzGgYUiDTNG5pdA60ghboI10VkOZEJ-UsuOM4dswBZfAAs3JEY9pN4SjWMDadU72ijIwHuekmKS2ESJalAMKs6D4JlH7VID9C9M2s2-i4Pw8tqCtzUzIDWh_DOTgDgUPpyVAvv0YHf6QBCzB-6QGFnaWrCfM4eoVZEFjtrXUiiygqCDm0vYesEg=w960-h720-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">21 Mei 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/3avRwEg2KADvcmar9" target="_blank">Stage Lille, Frankrijk</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/um76Z7JUVhUMycRPA" target="_blank"><img src="https://lh3.googleusercontent.com/aoK6UEKydhnxfsrvM-zbA649qhEkB5P9E0gj1P97obvV8r6IHwyUE3g5Yuz2p1HGlzUoRHHYmM_ZyVFiABNt-8eRO0m0zhYAgv1UJe8YwGcwJ4vgY7vdOBoYb9afoZT3yADFxgYhwQJg9TK-blkNaiF7zToPcuUWrnCJpfDLrZkEsSpfNCC8Rk1cwrkETmvETdaiU1R53-AE5dwhKqYJ9GHv1jaVI69TdT6e8RsujfOZGGKy6y2bh9Lj-NEJLAf0Bzl05CraxnZwTsg4Frca6usJmyIIVLN50d2cI4TgdI9VYr_mNmo8VZmzLQRprKI9zy3dvgQASvdrTxLTkBuNySGad_aAjoOmdX7_byBTLsNW2JPqhCI6bNGV4h9GePAA8RP9z8qzm5Jru3UYUXpL3nOuBsrI0sXEbf6BPJmmbGLj5lur8M-v4lQL-1h8bTxWrzAeDDwpnVRATfaOHvJHYcXGMYYd1l0vVWYrnejFjjW3bEb-7O5ceeSgAWqjQJJdsuHcLB946rA9pDgYmGWiVy9nGkGjKP2lc9IA7RHH8WuscUF3SVzX_QLXG3GtFET5x6fBVFKFx-yL4hOk_-gwsZ1CItut-sg3uS2stRihkkfW6HxwqocbOn-XMbc0zL5u9HkfjRnD9zHxDgm7eBIO5YiXofzx97PpQnWr-jMqGw=w1206-h801-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">13 Mei 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/um76Z7JUVhUMycRPA" target="_blank">Beker der Kempen 2017</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/faqouwZrQrQgkdCd7" target="_blank"><img src="https://lh3.googleusercontent.com/SJb1CBMIgq29UBJFUrbpz5Jqzt-1cnDAwnlktDXu_GFwr-FtNXO8ydJ9E9VyOPjNf47eAeCsZI2JIBvcqOKD01Mfme_cBerf4gZekKIEkkn5FePMHolcSlLeonfIn0KguVp-difrxUAKDLM6Hk_Ljer8Nz4KCLskgsI-fMCYnjt92wB7_NS9BquIRbww2GaGBjlhpolilRN8ZVRO0pudbylVkORhkq55T2cHYNf8LWvxuH55_taeG0gktJxg2e-UnW21b1oi-tfTIE-lzaUCJlIxubIK6GQsLLcd1VTc430jtLuwTEqHd2DmSM7hghD932Z714bFI8x6Mk1nXBnvRzhnpxLdTw5lbjN1WLDzYGSaq7eoxtNKKAUsRvAfxGUFQD2oJq_4dx5vFmpuKCHTNB4XwnD-xJWvmCplCdHL5pvEQk-VpigZShhWmmUTTV0llY8TfPnv7au38ljzeMcFwTGlRB_jSaqldRnMI0huuSaq_GVDMCmUCXYRJLcYnAUmBoWcsOIV77Pyv20NPsBMDKkvX5yeMUjCMPTGPYr5RVmh4KdR2IDuMKIA6r7h-TxRqI302XyEulKp5j4t9XLVp9XwGdVm-gS40OCZhAZZFx2P_mwvEVzUSLiZuYWX6V23C4_KLDvWZlBvwvSCVu7KgNmBvfHwu4jQIxA-M8fz5w=w1280-h720-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">23 April 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/faqouwZrQrQgkdCd7" target="_blank">Katatornooi Kapellen 2017</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/q3xC9uiW2a1aWF6b8" target="_blank"><img src="https://lh3.googleusercontent.com/3qMQd3MLt1qIDuq2jhkSha6mzx91Mp5Ab48bjkmpfRWzjGp5XQR9tmS2zkjdBIEGod08HY8m7cN4aemEMB58kK06pBeUdW-0XvD8FcR7Zf8yBLWSpbzPjaxGLjWNU8-NBIgSaBaFO1ckszvBL4Hq3m6t_1frBhSMoFmawHhe3GyGCUh0xz7uyAweYOcTFwU2wiKU4OjcYl2JLuGbuqbAF9_4fJo690XQtS4bXnePAkQRg59puTkjxe7DqKIQL1bpgDpZPlM5AkyxFQR_csuTHcsHbvliP_Rgeu-Rmgvt5FMYkxDMTJ17VMnxx9XfCmVMlAeMaG7TgVKLO4P3WYRDWdrj4DqLPEGNLSVKbrKMLq73LgBvSft7rCSX84zBa3VCUcbezb7ihKlThpbEVP_y4rBbkO2PBWVYXqjJWgP9bFLDSufzip-l_xRU23meGDyp9JTl_lpXK83boIzb0FG01zHrOrwuR5OzjtCLDO6WRY6EIJBnKeYVXHUqnup-gTqxwMIzpu9FrXTLIG1AxUBEf6kaLkpIPV_1-S2RwCPPNszJNea5DsyYLRgXySc0ocpQ5yjg_BWzX6RADrLhdoEufvFpWv60dvT_lzKq3FNySRjrC_dmu7Gf=w1502-h901-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">18 Februari 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/q3xC9uiW2a1aWF6b8" target="_blank">Training Sensei Zaman & Kumitetraining BKKU</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/ffSYeH7uLn8ZkGyF7" target="_blank"><img src="https://lh3.googleusercontent.com/ssggnAv7rr4GnafcIaAv_g4qDsvxQDjpB8wR6UM80emQv5pP5Qtcar7CjEtEdkI7jE0_hh3lBeM0_zPwRUtsoNbOrrMId_3Y8a0jQP5J3ebUpKS3P8kjCGKDxVEfV0ThiLZ0PmhvHvv6W-1p8c9FCBX-hYNqbRUKYmoq4vrkm7Fbuow2QiEdjr9Fq3ggGIlMFzmv2zm74SmPuVgOdCoL4x9qEuSHzsvY-bHYrcTMV1bqlEhu-ITWUzVgsvwSMVE1qpuyzTEWypFBSIO9GAg3nzHKVTL9H_jYY2MRWj09j3GmguWiTi5YBDPdg3rZd5kRgj1DbXSy7GNJ-J6kTUsqzTUREXVDWrlDF0tQny1invPxaJxgKaRowjFIp09nwnoB1aabOxQgT8wba7DNC-T53CHr6PEjPTk2Xnzsyw9knFkBt58ABqP2uOdehJTSIe1byMKAFaQah_SPpmW_rB5KBzWKaHO42ADWpNYt3JIfN8Ve9dB-UxuVt7tpq3pKOqAXBQiOlefHUChZZDwJeBNmhrgkxtWN8ATmRpYWzoneVNtuwAjUfL1Ato_EOTwZujZ40t3y7AZxXmWm_qEcgLO9hRmczerdBhNRXzKNW3yZ9ElWe8hOiKUJY-ajvGiBi7lb431lsvfY1JFDyq7vym-xPii2TMEBEA8nQGpC0GDZqw=w1602-h901-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">15 Februari 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/ffSYeH7uLn8ZkGyF7" target="_blank">Sutani Dojo Winterkamp 2017</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/m8ez5GdBtAUY4ELy6" target="_blank"><img src="https://lh3.googleusercontent.com/LDG1z5XD576PmwX_q8HH29rw-L7zzeQnRZWJuuCLc4AaGX15AU-RiYUue3ZyRtoxidhl5zKxMrIySRZnwmRcm9tAZTMyTcrEtzNF6Tu7eANn7EWJnXhytmikObjGtvkVr_AGnanRUBnpVLS5cJrBfJazW_r1_-QbHBbsdRGHxIcxu-UvMf4cbYTPihHbceaB-DKPmvtmLGhsqrVxGltowe5mgYLRhGdx7zWnRjzi5fd2bCdNE6UQ0txC9pXzHIKBzj0ZODdFMFKlm2f1YNA8HbgnH1kyCbTne9HjcBEYGr3CdxkwTUC2xQHrLHILtbkWjo00w2hODanTkZYbpV7E46NE7-2JeJDJ7ZX8dLbSTPeueEeQYVfrRZRVyYKoWoObvh6m3vjzPQNySGDPRKpMjO-yxia6SFfgwq0XGNxomQvQ9Vn5lM5wmvPP5IKvCTxbmFqWsGoiyUUB3eY98iWFB3SrqkuMg_CZGZJsENv2XGohW8NZNLbM9AzbF8-kNXYkahqNOVI6QP_stJc5JcgrrC9BnxiZ6-zlNNe8KvXCi2fIU1RIfaj3VFgWC7-Su2mmyFXF9kRPTn7GATJwG8XLsV4A7OvF4yODZWQZ5dGDM3mesfJgCL2IIUIw9u5dJtWEm5pYil0tRxr_id1R3ra8mUPrpJ5K5f1OBw-0EbljqQ=w1635-h951-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">09 Februari 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/m8ez5GdBtAUY4ELy6" target="_blank">Kagami Biraki 2017</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/Er11VPVWbdPH6bs47" target="_blank"><img src="https://lh3.googleusercontent.com/2jdUlfgL59pSVx1p-GGTmqzy6bz9xgzzjnFpD9fsG98zEdLderiCnux_56DIyKHXf3Yv0Qxu8O-5_zU9orA9IG95ZzcUlmQAcBRUfqmj9senCg8zXwwOtC5nPqWIDjwgZZb1iqxva7cCWt_JagNkIy-pMQFc3Z2QM6gO1wjTCT9jgNK7u_knTVG5NnP1a-YgLKdB8iSD1RU4bmfjQkUq_2eIxUkr1I9klyMe6AeTDwLbno2-OWfzyP-AHEdIfaZpgxEj0HgWpySEcmTg45run8ZnPqv8h8IoyrKcWqkGKS3uCKm1VlSeodCM7tyAGiN0TQgaDkarQXRwOyyKwGGej6WkklK7G5OT1JKhql2ZW2HH7tLwKzAhigltzrP-5P4YmN39SvNzaGnWdcnRm8UOTu3QqH52wxCUH1ayoserIhejDBNFAlZp9sZVxpdixqZY8EunnVT7YIyQyrgipOXS8sJGVP_N-EknrsOxSK3DTuc70UrgB4JhekUctEoMGgy1-s_K1SicjbGU6mDMp0DVXQ-epikoBtz6lQe0IrlF33jsTw7Fv6A9hoKMaPHl0UZ--ybH6OMSeKTb49UKqwhT4lzbMy6O6R0zvHQUqFAbRAO-T2b3l5oXu-iu96ZysGpz1G2j6Tnm4LGIqoJEOJYCcCoB2L3WSHX2X8lwI5NiNg=w1206-h801-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">07 FEBRUARI 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/Er11VPVWbdPH6bs47" target="_blank">Kaizen Winterkamp 2017</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/WZd9vud73rSqxeEd8" target="_blank"><img src="https://lh3.googleusercontent.com/OPfiYMbm-Up-6VOTYJjFueehgvjKRUQVXtH_LZQchH4MCMy2J8psmdYJcyfK_EyXPtMiTWvkLKBO6SQwxDr8-QyyTjuj6oOUW0SHr6bKDPuCjDs5Ke8O29iojIVtOPcO-g3YTDFyAmgQO1AfWIiVnPNIm1cvdrdBTo6pRjbDXtBvAYMw4iZSTIO6erC1MmtyohMM-u9Vm8MmT_0TkkGvqbeVc1A69ieXWWu-LQSW23gItB7-6Xr3PIrpWGKHidy6nGtbdAeW-VZmjWOgl7S3fpfaQWBiAbn10UQw1Z15HRB0L2PLJMcDEYVTqJENuwpT1pm58YbSqmn3XSzatnrvi3pRIROzUkGI1IgajBhgUnwlU1Bm50v3pkl_xdELz6IAI6B_nHE20UCUHd8oA9zlYrdm7M0aqRAnF7FB6JmHnObV7oqfCzhb0PbLSnzp2B-id341OhIbaEhRznLXVa1HRc2aHUTAlqwEbHMxApT4nn_3BUXSVuoMaHFUK_T-XvCfFdNsNbdPdhGNpE10KSvlHgIzJxV2vcOqQGPQyG9mpjO-L-xomkE8xKYQEh4YTz7u3kPq23sGLMyMBpJcjaSfUKnD84CbfXBqOBu-W1wkpHaNjfyREjOkakSrjRV-Vp9G69XJAGMbQ64S1BaHdopV4lCaFxjlvmn2B1iruTm2iw=w800-h600-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">21 JANUARI 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/WZd9vud73rSqxeEd8" target="_blank">Niji Yama Interclub 2017</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/B9JWee3JU8Rw3MkHA" target="_blank"><img src="https://lh3.googleusercontent.com/iGyd8V-2QZc9msedR7kE4YhkJwP0CA4BQKANFd903aTf2KbvdnoPvOzsyUfpRF6LI6keBdnCriKhZL46FpfoEdJDlh-Tk7ePz7rrey5XzgqvMff0brcMuuZoIyK2Vz5L2jxuQOREhfs4AutbE6Z8BRgyzf7eW9ZCb423fbgHqcKtLYzeoCoSSftg3pkZsCehCvDmGAKGnVyciFVrXBPtmyHiuUFbw7gy7bKMBM7Cum5bk_qNeuXlLgjIaIg7f0EQolid4YnqWurA-FVkpXv0L9_HPPOnUSwpRpBnG6CPQae1id0_3Cc-ibuXchFP28GAkn_7uNRHitoLh4KFHJ9Uaeg2Z-8cUDYIz8gTkJOY0q2z-xWeOWVGq_kYt3eDSEuNoUoRgmwVRDLvH6h74B5nyykQ5gmEQ0ule6PEG1oPlYSP3xifK1KI89TochmgLtIO3qFJauTHu_ydP8T41rrmL5fasUf0j_8nDnCPPAOye-w7KXk7qRTKh-PLl0Tx95iZ1S0l0OUtkuMQWIIGL7XcJdHMsocS_nbPqHXafajSji9SSR3oS7AHYibx2V5-z1xJDSeJ5mv7SMMjH5G-dhw9PnvEHSseezKHGtJjiJIHPTxetqG0_Drf=w1691-h950-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">20 JANUARI 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/B9JWee3JU8Rw3MkHA" target="_blank">Kyokushin Union Wereldkampioenschap Japan 2017</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/Vu5cBabSPef2fuzA8" target="_blank"><img src="https://lh3.googleusercontent.com/HG1t89mhVldU1D0_gHdByAouWZ_jFCf7AmPFzqH8-wFkVBsr_INA9ennO-qXAv7kmxTA2UIo9jqFQtGpT12t9cC-WpWBCeRgsEIsNqoHBtflnxYTkqpvi-O36LIw3bKSUMW_fJGjs9FfJKfGMXAbsHbAGX72S1i2Nizb9eoF713oOyPAn6_BYgfDjo_f6NcP-nox6AVanIsZkF0-6UDjpI9TUvmziyhPEcTWRhNz1KVq7FUEgo9XqCQmoyR5B2Oh7tWS43N7IJ2aVdfAcEMbTFnnm5ZSi-VUD6aEA2YwhMaOQ4BqQiGJsi1roA8V7CFTaPWBD-iDyV_Av-kEtsf-EBQqKj5U7zNYlikYOhzhD6WOKU7HuTNruCOUhaowNdZcx5cOgURdktxugTaQ_l3lvm8FCv23suxhsUZQPIjAgXJttYsyfFyCDX8aAO2LqVqKtWeoLexv3kbFRR-froTOjSAhfhMfM7iCDCA2awOgCtTY6GHb3otYiCs-txodnRHdSmYqRna5ReG_TAuU4i5k7UWpFoKoXmHNEYHIRWMkwLjpp13XoB9u6RRngHJrLLzypxM6b_NNSnIjZxVG750zrz5Tyw9RR_N7NGCPB_yChWe2SCiK5-5nhnLkMHUsB31-8OFqlppPUfNDuo6CySEtCMZVTRTCVFqylUMgFlK94Q=w1267-h950-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">23 DECEMBER 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/Vu5cBabSPef2fuzA8" target="_blank">Kersttraining 2016</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/ASGBNdiCx1w4CE4TA" target="_blank"><img src="https://lh3.googleusercontent.com/a0eUEkoZrLHQx6_YLENCnIhwg1e3yOGNV4ayb44wJChVgZU4LmitERC6DpQQRnSyJxFn6tzMoqW8MfgJ6o60cLP0ig2gEBEYv70PxoRdRjTrrexDr-T39t-Ck4YbdGjeBarqegZECFHyM4iH_8LLRmBDJaJxNvMLDwQciWMoiFNzMBT-YeCg2F38RWnrhuikpE0ccdnoJP2x-KokYPqxdnGdxn8JlGHUFcv-2UzzMhayWN2g80ULih5EkRX4sasckYvAmfNhdsAPJN0_kDCgySgRBTNryizX0ukwkDBfgZKCrhzpx0vaUFf9M0ji79zNq08EwoZnWiYwXf2RTf-IJkaMbwaylyCDY_xWLmNJZl1K5PBCzKlTCoACCnYD3VQIgtd6IB_1MTqPbkx5BEvc30FOZESAFAquRScaW5mdy_PSa4GhmrpSsKLfFe35bCT2jr23QNVrmFLg8nvJcEWjEE1ZabEI00cYBvw7OA47R9WjsBHSbhVTubcIbjCwQEKNn25w_DrUPtLOPuCs9BQFOoAsTLesEuamOHslbqpsBtq2zfedyDiCUYZpeQbimQoOdJEeg0-xipVMLeJehhrMYhLkAtJuKUlPDGbEe4HcuOQeM5GxXT6caCrLZxlJEs70PmS-rPpYJVAFkjn01V7S-JJF5VOwMtbLYURoKTUmVg=w1692-h950-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">26 NOVEMBER 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/ASGBNdiCx1w4CE4TA" target="_blank">Kyu-examen najaar 2016</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/i8EhZc3tvjnSrFzPA" target="_blank"><img src="https://lh3.googleusercontent.com/crlrLc-2yuMkurZMq6NHVwcrsd4wSDy_JWZK4tI7FOspt_kj85FgDpXHfKq0sewPHjll1lvrIEpBiNaNHx2lUwEwaJo83EGDKJk9l8r03UVdMkEXOGkAazeV-R0WR6aFrBtFOdzyKV6xf74PeCbRM2sCa_iz0R4L8bWyUD0Fv61IUFG0n_yO2vC3c69hpSm22PnOWmWJ0r96VOGBpH9a-mkmHDkKkL0On7TyGk6HS0uTQjknumyRIS8zslx7PKR3X34SbzwAsXJf2pWYlTtwhwGBiRHXYnFJLFkFhJMIcft5IVwAVVMIt84bHGmDjD_dMG6sIf3UFIZr8IvInYKZSeC7MHp5brkPS4xaUWLKoxWufk2zgb1DkweOTni_QjRO_jLMNIrCfnbZVEpOWuSg-c_qOXef6VAixOyT_ME1n0OgSUlj5ncUvzw9ojDcmsi-gaTJ9T8C2rJyXqfLFuHaQag6v3RNKRZWT6gjlIn_mc51jiZH3q9AyFntBL9NJx4Vqx-yIJtqRJsjF_1ebVGaC6onuJE0SL8HvdS3-fnlK7KHtHRr3VFmTuPlMY1rQ97CITIz-ueHvxnJreJA3NT5tM-ycya3cshoS11MoYtn6Tsv2yqb6HuIBlnJpmbmiIaAWPXPJdHzI6r8ODNwQf8ZxQmFMY9MgfS6Dq6dtOiHdg=w1267-h950-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">13 NOVEMBER 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/i8EhZc3tvjnSrFzPA" target="_blank">Katawedstrijd Turnhout & Yokoso Cup 2016</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/tiKrSxm61ppmEmMx8" target="_blank"><img src="https://lh3.googleusercontent.com/WRbXvila777ptBijhBxR2rDUJjixFOuKkT6rII2xo2pN-46Foo8hqE-Fi4SH7ELrlzBFDAURNTmd1UHKN6ULK2L50JPX55aKW5i6EOoN39-qVlI1zfAzr5eDkYsD3nvhmU0Xx0zx55XvXS4025_0YEQ1WgSe56pAChEvcQxuPM4lfexdT6icWW6qw4R29ldaJXxKC5w80x8wPtd5SWTaroaLfGheJfNfkY2M1ebnoJcRjV2FSYuzOQRHpposRjAUUQCl0txcPYi8IzOYLTM_h3DXH-1AqVuANh1YRt12UmA1QfYbxdzwk2dKM3xlN6HejDdG_wrrkkkYqOujBGfzZcO-4jdvwmK5qpIzgF7a__5vlMd_agZKA2K1Yco0V_cwLfKpEz4ktc9wVXpqDl24OxcDJjsBNQWTuLqHVaotm5iUDTZPydN_VhjB_M4UjeXZwNwQDzDiz395ct5usb_QQJ5bhDWC_m_9_Omr4EHUvECvBkdK3KdC20DcNvl_GDdXJ_4sjbNxeAUsPmvFhzjV0tJ4zvnR3twRALFt5Md72P19xutTIr91NnjdngHYICij83VXBdJ0NZ1ltdXY-jkyYi3mES7rMcmsr-AsWQ-n3Wi8RhDhmg0mqL1IzJJG5rOqsKDoM3-LdBEeyrobjDNyE4hKaNVBAEQqY9JBr1dIEA=w1041-h692-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">07 JULI 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/tiKrSxm61ppmEmMx8" target="_blank">Belgisch Zomerkamp 2016</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/UTNZwjh3wNbjZWTs8" target="_blank"><img src="https://lh3.googleusercontent.com/9_w9bG5m5GBtQheQm82LjiOFpmJpGWaX80tM9jeE6AuO5t68w5VsEmpLTypX9xcelwwVnhFrGykQnFK8S7RQvCU9jorcTd-aLCkzuXG63B00xaDOs9zasKI1hjx7LYt_Fak966a9ZnvrLgh_uoyFKVBGPQ3b1kfGiXiwrq4r1gzgkObwC5Jvhe8mRJktRGjRjZ7S53qZhSWRj_C8jtL6ABIlM3ZC82gAE3h_ZogDZY4pFvltivvTVgdPCX5MtwKMLdUU6CzrogS1EWRsScBk7ONkyOTDZKWIg71vDMV6GDe4MbGH0uyAZ35zeWrSjarowq2bIYj7YK2JpHce2nau9JgTCxD5frxikN4q3NWMuBVq0p_iBEBiRXQVLqyhszpNBWnGBnirIViqRsJ-nk3Rdu594gm4GJYivFzGSv_CoJs8OC5b7GKyod-xBE7LKwbvEfydxL1pe8tedJi1M7NWQdhNRtA5JNuCQZQ6bIIH5UHPtge9OTeMq6I-dFBd2zgrV7MO2ibpnBSbwtMR3e87j_B6XwPE8WZYaaVPHPmsZtIprzf2EFKoHnPX91bZacPZGc5QP7T9we-WXCph_bgD5JJ60_pgbNq0LJ_5SHIuvHGayk-UD0KL=w1692-h950-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">18 JUNI 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/UTNZwjh3wNbjZWTs8" target="_blank">Roefeldag 2016</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/nqoQbhtpWyhy5ieT9" target="_blank"><img src="https://lh3.googleusercontent.com/lo776E3ykzlvl4JQqoIVGuM7H2dSckILmCK9ppaPjZ0HOwxZPbuLWlCjDf_CgOvV8-ujdrfCuYbh2S0gS2EoDfP9BitAM55rUmJWki5ncMJcl82-fIfBKrXJXwTe6p6QWC-4I5MxAInrN17qlTN604akz9M7zqDsdyNG9Gm44X4ILyiOMoZ88-8hZzpxORn4yAj9_fqAe6_UrqdBhRbZLbqDwKB5wrg-ukMI0BW1D8LXjkpY7gEbQqmarF9btLjqAFEgCGD6vvYCUrow--mltVlrE411skqdOJcCDpi8CUtZITbcs1twp8T834wryRM0p0wyrY8KTEuMd4Mfg_kKUq8ILAnAce0n8Muw4DwXnVwKpvz9Erge2kyXecLRrbbg7WfU6RMPFNkQVAZSJAklnxbnR_iGM-MvidDubWmVWmR_eDe2AbDaHt82iqRZ5BWZ3jvwz1BwdMrFlZcL37vExuVg05IQzw7IuVWVLpSSAcLR5NHzI_x6YEtjK6-z6F_DwX9vR0W_CIzDgkyRld3Z9fI7y0Ojjw8rDtkzsAx7wZIpVryHFxhlUmYbwVl9rt63MJ__aQOItynUkDy-0tDzgx5ex2UYOc2VF1fRE6e9AG2ZDNOTd60-_oCN3a54s8kIDTQTwQeQqZOdDV4r5hmMrsff9P2s2kpbZ4ob6WRk8A=w1695-h950-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">27 MEI 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/nqoQbhtpWyhy5ieT9" target="_blank">Kyu-examen voorjaar 2016</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/644VjPVMxiUAkZTHA" target="_blank"><img src="https://lh3.googleusercontent.com/3oZOJORZJo8RCTSNFkaYsKrM_gAGSQszm4nCrj6pLxy5i7TtZoYjot2EK-Jh6r-bO9zBuEIHNYrlpU2Ani3Th8KAQUuM3OTmyj2q9hQJta-hE8H3oLq8YNmd7TmLv4kcL0VeP3yyRz1UClTZOFQSVPss5Hlv6Ic6iH6CnNh0HdUHtBWxpaTrnlu2STo7tsJsziNgrB4Q_iJXGL9MyEee_8K5GccGnOGPM3UQ34f9Jn9umR0YjA6V7Z_hFxzBYMoMqvm6nmNcMZFwyoHmOT4vtt5-YIpwISwPosbXrvVGY8j5Lik-kYV6hfibcfafnzscztTDGfnJR-xIZTvbQ4idm9okxeulcvJf5jYxiEjtgLCxlFH0kHNJ-2dLLQTmtrehXkNg6c6ywewbn10QR9TrN-t8j2wY3YbeqHDG2geFV-bYfGkHLsNoVWTm4rQrz3WGXTGAnPN_5o8Wwck_l797T8DwuF5Gy-CcTu0fqZEz5nulAfS8GYGJpv9CTImCSBOmk-iTREXr836cf_KDkWyM3abMRwCuWIG7BlaaYst_MnDiWAIcxshfLM17Q4a2uNhTikXxvn7U6KLuMHxuhxBgqKWTg_0Q6oOl_L4_RViqXU-hVhAMSAlt=w1267-h950-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">12 APRIL 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/644VjPVMxiUAkZTHA" target="_blank">Klimrijk 2016</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/tZxaTEmASx2FnsBH7 target="_blank"><img src="https://lh3.googleusercontent.com/ckb9sjUU-YbyglYs28GZs-_i4sYDlJN0QCtP13Ho73BcowJYr5Rf7eS0F_SSiz7mOOC4pwrPli7uW23OVpA1QKLJGaPJyqThgX_0DTkv9PTaEM9Oj1_3Axgx8w63ACml9VtK5ySEpeN0spmrmxfvN8NLfx4a9p5rEkfAe8WLCcPgd0iQELuhMw-G3Wnv_2VU6opH04K2UX86PqkGsC5I154UySgsqdxAxM_ocnFwPGnCltC0DOc6DNNsyqIu7sInsGVRC_AFgvmVwSLJ9s3mWLXkyPgrL3Lg9kzsdGIurssjfY2scNjURo_J_nt88llUuYqIEg8em8uZmenUEhcdSZpYFMZk6xzKh9Ibv2h4DWRorjb55AHHqcV-6lAIB64659ht7HxZes2ssPgx_I9a2aQO-eES0RH52GK1-1QqK9gSCH7suXKuN5PWnTwOzl54xQSlXJSLt7KfhBZa1DvOuAJpgF-xlV9we8AiSCJe1wNXBN918JDsVXuP_BRqdSkhMmxWnjHq0J_wNauqThMyhDjA1MXGffdF3r2smp7IMHu3iONMUFj1Q7n-HgN8oPvc5944eSTVOo1OqQ4iqAjYJID8fIKSwg23MB8fa1zapvy_dqU8OCDx=w1267-h950-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">25 MAART 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/tZxaTEmASx2FnsBH7" target="_blank">Kudo MMA training 2016</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/ccAkQN4yu9JzJcMk9" target="_blank"><img src="https://lh3.googleusercontent.com/WWB_1iEJqu37OwlCnWlZzttnkpW_g3sgMqsdkvaW0VPWbGNiTbyl44U_oclBZYTC_5OIVgboNiCmNjDRzHYe8vWNdnNGc2vzRg6H6po0_-IRlAtTwN10UCIP-9XnRqH6NXzV0CwnGo9mAEIXKjzelqWaRZUFeFiYAuW46idXPpBjyCmrwWGO9rgacq0gSdFWQHDYoMMt6b0uItMU9oFjsvrO4gJ44dzxm8bNSYaEendSvvXmF9helJOtT-hUTNAAu_cO788e2QDEhAmw-m3KmZLi3T5HaaZM99PpDt3FRqgdAuCkoaP2DDQgROLgNMZG-6VndfFXda3BY-hrU5gT9XKkTB5d0sktIRmSU5zgkMECfVjYFVY8LGPa_zqaXR-j8t4aHgoJflnQe7fCs01wRmRSsDrMkAn6qSAucRvaqgsR1igUlvqodiZmZiHy4zXVDWeqyUhTuEqzASZ1zOSo6Q4KdinQiZogjl2IYj0Qk0EElUJox7qSIPzVRu03V7fctmBxgjX5p8xozZZFxjbZM6yvvk7GsDEN8t31wDjLeaFCuTaS-Mm8t3UehOp3iyuTJWFXIcIJH7hc61A2yyZMhcPZRKgHQRz7di6MFwTMzESxf5nRyDOvTNzKEsJyoXRaIefcpnb88N-Yl_COebYIfTB5SF53uBuQyvalhrRrIw=w960-h720-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">31 JANUARI 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/ccAkQN4yu9JzJcMk9" target="_blank">Katatornooi Kapellen 2016</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/AToZBup93arsWLjKA" target="_blank"><img src="https://lh3.googleusercontent.com/c11l3ciHb48XxJXan1lP1Y9w_a4v4J93gqe2RySkQcVklszhMvEMHwuZLACtb18LNDer8qXp5L_kbg8nkh52ku_X4JjpaIEqIfvRa7ROa5sZzkptXrOXo7esHa7b04MmQgnDNvBZN5b0A1OfYKbJzlel7zEujQHvn77nLsJ6oBoyOf1HoNA3G9ssKhiMy8KKFduXYRmdcyR4UjAmVcb5PT686gGcgYeEaBAjOLxXiLdDApTiEZplW3arCWh1rCvM_25XZZ_W1OYj_pj9uhUtsqfM7VNfeWAVZGNiUCFHAaJmbvGdxjLrOmaMs1TudsyNwoedFh5tu0pzgHnqQ8yXQYQlcR41LX7lo6sC9RL8CCpjvA4jZkAjpXCyYUkPlkIjpHkl1-538hGpLI4V-oMxr2ChrcFmQs6jwGaoNZ1w268ll714xLdBE87ykO5qgUyUVhZhx9puYmJ3cYZ4W0cCCZ96j5Wwk3eCNqf-yxnvs3Dd4kbS3UU8nFbHhX9-iUHbCKdXnCstDJmIF4jkdJGTdapC24hxCec8ORIRuJCvndDys-j90_r09bF8SZDZNcJZBS_6ZW3yV_r3YOrHuxXLUN48ww3Bq3C61VA7NwwNVx9Trh6SWkeY08EyfWJE2GeGIOQorQuEoNQHXqSUDNQ3TS8mCK_yoOctREm9lb97dw=w1267-h950-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">18 JANUARI 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/AToZBup93arsWLjKA" target="_blank">Kagami Biraki 2016</a></div>
            <br>
        </div>
    </div>
</div>
{% endblock %}
