{% extends "layout.html" %}
{% block content %}
<div class = "banner bovenbanner" id="fotoalbum-bovenbanner">
    <div class = "h4-box post1">
        <div align="center" class="h4">Fotoalbum</div>
    </div>
</div>
<div class = "content-box first-content-box post1">
    <div class = "rectangle-wrap centered-wrap">
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://photos.app.goo.gl/koPLQPAH69BG9uyX7" target="_blank"><img src="{{ url_for('static', filename='nieuws/noritsu_cup_2018.jpg') }}" width="100%" alt=""/>width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">10 DECEMBER 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://photos.app.goo.gl/koPLQPAH69BG9uyX7" target="_blank">Noritsu Cup 2018</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://photos.app.goo.gl/LKznn15db11US7fq5" target="_blank"><img src="{{ url_for('static', filename='nieuws/yokoso_cup_2018.jpg') }}" width="100%" alt=""/>width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">20 NOVEMBER 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://photos.app.goo.gl/LKznn15db11US7fq5" target="_blank">Yokoso Cup 2018</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://photos.app.goo.gl/z58yyKPXRhdfA78x8" target="_blank"><img src="{{ url_for('static', filename='nieuws/female_fighting_seminar.jpg') }}" width="100%" alt=""/>width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">10 NOVEMBER 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://photos.app.goo.gl/z58yyKPXRhdfA78x8" target="_blank">Female Fighting Seminar</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://photos.app.goo.gl/739CfLEWqtM74pbb6" target="_blank"><img src="{{ url_for('static', filename='nieuws/uitreiking_dangraden.jpg') }}" width="100%" alt=""/>width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">01 NOVEMBER 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://photos.app.goo.gl/739CfLEWqtM74pbb6" target="_blank">Uitreiking dangraden</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://photos.app.goo.gl/fMiAvfjVVWcBnbMd6" target="_blank"><img src="{{ url_for('static', filename='nieuws/asahi_cup_2018.jpg') }}" width="100%" alt=""/>width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">20 OCTOBER 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://photos.app.goo.gl/fMiAvfjVVWcBnbMd6" target="_blank">Asahi Cup 2018</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://photos.app.goo.gl/nKKemwYDVNCjrJNJ8" target="_blank"><img src="{{ url_for('static', filename='nieuws/EK_2018_goteborg.jpg') }}" width="100%" alt=""/>width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">20 OCTOBER 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://photos.app.goo.gl/nKKemwYDVNCjrJNJ8" target="_blank">Europees Kampioenschap 2018 Göteborg</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://photos.app.goo.gl/VJGdtfWd9GVhREXg7" target="_blank"><img src="{{ url_for('static', filename='nieuws/bezoek_japanse_tuin_hasselt.jpg') }}" width="100%" alt=""/>width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">20 AUGUSTUS 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://photos.app.goo.gl/VJGdtfWd9GVhREXg7" target="_blank">Bezoek Japanse tuin Hasselt</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://photos.app.goo.gl/3VZJ18N1Sc6fo1H19" target="_blank"><img src="{{ url_for('static', filename='nieuws/zomerkamp_duitsland_2018.jpg') }}" width="100%" alt=""/>width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">28 JULI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://photos.app.goo.gl/3VZJ18N1Sc6fo1H19" target="_blank">Zomerkamp Duitsland 2018</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://photos.app.goo.gl/mJ5VU9k3V2PgXS4T6" target="_blank"><img src="{{ url_for('static', filename='nieuws/examen_voorjaar_2018.jpg') }}" width="100%" alt=""/>width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">02 JULI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://photos.app.goo.gl/mJ5VU9k3V2PgXS4T6" target="_blank">Kyu-examen voorjaar 2018</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://photos.app.goo.gl/X7CXPWch8oRWTDDb7" target="_blank"><img src="{{ url_for('static', filename='nieuws/zomerkamp_2018.jpg') }}" width="100%" alt=""/>width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">24 JUNI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://photos.app.goo.gl/X7CXPWch8oRWTDDb7" target="_blank">Belgisch Zomerkamp 2018</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://photos.app.goo.gl/zCfNtVan5FcHNhio6" target="_blank"><img src="{{ url_for('static', filename='nieuws/roefeldag_2018.jpg') }}" width="100%" alt=""/>width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">16 JUNI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://photos.app.goo.gl/zCfNtVan5FcHNhio6" target="_blank">Roefeldag 2018</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://photos.app.goo.gl/KafOHymdIYrmf0CB2" target="_blank"><img src="https://lh3.googleusercontent.com/DfExeIT1xY7xXdSh7-pWqtEo1KjJrD3N2vmesGe2vIxyIIyn1ffl7rfa1tEO5rz9JhkYxl2UGBFmBX7uNJMVwYe2jcPMLI2-qbT4iKkfjz3hQBNWS86RzfMfrHULpoSL3yU7AHTDynN0Ky_oOd8WNf6Hf2p6IpMgrFo4VcGU_R73511MTPsRVTIzpThKuB0uTRlozAdmgQX4c4RPco7IN_zB-9c75llXnoroMwlQONWjJ43z1kRAFOtTCxJfOYMoReMp3GJDjP5eOzWJXzwJdBmVQ0Oh1C1mMZuy1NWbssBYQ5VRHsoMJlOOAUZ9DIU1vSn-CnzZqEPCFJo_9tmQcUNkCG-9KlDdgo4mQwodCDTgtcM21nD_wf775JAz9UWXT_JaEmKOIbu5K58paUmcnbMvXb9j1e4PTH65FXjxbfotHr-4zinTlkVzj0uANNdMUsHGSRCiggu2H0qabo2C-f7tjqyqmnKVwkMh_VVobZGeJaPuiEGJsv1cbrGk2Cn-rk775m5ZgE453Yv6NrWSEmLRgckOp9bXXEwgcZjGoSBE6NIFvtdpy8Qom0Suz4RouKavg4UR7o3vkGSrVIC28kam2wt9HdRvInjw21_j-HhsPiAvsrWCBfxc6vFHvdx-JU-OvxXS7wBjmZczz8U5UrFKgYtzVyCM=w960-h720-no" width="100%" alt=""/>width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">22 MEI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://photos.app.goo.gl/KafOHymdIYrmf0CB2" target="_blank">Internationale stage Japan 2018</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://photos.app.goo.gl/QPPmPpGMcxvMSah2A" target="_blank"><img src="{{ url_for('static', filename='nieuws/feesttraining_shihan_koen.jpg') }}" width="100%" alt=""/>width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">19 MEI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://photos.app.goo.gl/QPPmPpGMcxvMSah2A" target="_blank">Feesttraining Shihan Koen</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://photos.app.goo.gl/D7Kz3SJTb84x744i2" target="_blank"><img src="https://lh3.googleusercontent.com/SEgxqk1ZjVptvZY_VppC_GlqeOcOfuJy4UnJF7qccU1DCPChhWA5pX5ZjdZbrj87AXLwOn5jaiKCU4GxAkhzPVsB0ZTjaHN_CO4L3ZyhUoRxvBkXLZflb861nz1NvhiBvCZqSsKaKwA6ZalxWsX3IsjGo_8fhmqhUIzGO8wb76C6Ubnr5rxn10rM8BPyDQgGfPhj931KSxCnU3kednByzoxQxcz73v6kVUUO8wkKOR3hr0lYSj5ghRxDyWNiRNwr99MQaRG7uCVENAzKq5TFBGI7rkzCZXF9BgcduH6qDY9auA1jGj_cTNZtcg3bWaNWWu9_O8nVdnxRV0BrpS6dE6A1OjLuR-7v9goQblFIXk2h5D2whPL1UZppl4TEXAD23lTjZSnNgA8aRx6WfOJamhO8Xsy8d49eUMBrQvyIaM9YMu__Mpcnlf0KUgHUMqI5fTgDjBKG1zJTtMGCuNkmSEpuwUrFSH2oRvEMacV-a91T6yV6-l3G846xEFNhCC1ZoZrc7JFIRp2fRwLpIuEg8wTRnsAo2kqLHJXCy0lqYlktLsetadxs3rMGXjWXiYMxtYPt-tkyeDFE-Lnuw1iWCYOhc2geQdAoYKGzLMC0BwwCqsdlzKr9bfJYaOv4uXCRioVoo0DMgh1S2ZpW8Nv9pKLu3deyL-mL=w1266-h949-no" width="100%" alt=""/>width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">05 MEI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://photos.app.goo.gl/D7Kz3SJTb84x744i2" target="_blank">Beker der Kempen 2018</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://photos.app.goo.gl/qwEI5WCzPtrB1sD23" target="_blank"><img src="https://lh3.googleusercontent.com/eSvoq-cHMws--sm6Yd2SXlgEyy5yfgGcQCGvpwOTEyn2t4EdjWXac-gCURu-yA_jjcxc2zvOfb0OzzPphleIAM64X6FeBIHWkukE1zDPUEcWnC2Q2cLrgfAvJ_2aaClRVKdqac0u9735wyVreGaYKWpLrKf4D01C6PcDOhnWvHxuOfY5pIpuz0xQOvvMJR0i-ohArro5ry1x9D4kH6YUbp2Eu_X-HgmeHAacHnSPiqVbUScjPCwWxqFDBNDKR8Tv90OjYhq0d0fkoAbuviVSyB1_jATclrxWJKd4u9eG_L8AnLFa7s6DyDFGZq8XVhF299a2X03CRQgKh-H1mXI--X3kcf8YPN8WE6qiJp017n2nNudR27mBU658OLSo_xaXHeBSHWyRcSc2fFMS0J638JdPKlhtlt9b8epViZ5zdnftgVnfKH96oQ9QdzA8aZhUpGmi7yDFgGkVR-0_jNWg4f_Hkl1og8k7bOGrln1EjzlRGBk1giJ3sBowhXL_arZJajz-Vo7vbMr7znOYspK7Bl72rRdTn4adD7MrSvyHvsFAYTloYknaL18Z16vHcv1rwBnogLlsJo7tcWpi9ET5wYjmDBaODH7jwYQBdzdeWeINiBtYqgQb_o2a4CWB9rH8NL9A9d1rWEdb9huqQ6v6bYXy0-hbUZ4y=w1266-h949-no" width="100%" alt=""/>width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">22 APRIL 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://photos.app.goo.gl/qwEI5WCzPtrB1sD23" target="_blank">Belgian Open Kata Kapellen 2018</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://photos.app.goo.gl/4fh6yIsL4uXLh78X2" target="_blank"><img src="https://lh3.googleusercontent.com/pDzhNMOrBvZww7B3j5nIEB4lba-ZHKzunP0GY0FfT7Cfkp-lCmLFevPC5G3SNhjJhPTRA9O663BM0LB-xsYqvCWAZln20D6WEmGWx5QGPauq1XIM3mjGfRbUz4dPUddNkt6FArYPH7Fg43qWvmyLHqQKCbRioTo_e7_ckBRLI0XLyiPpZcbajoOLi-A8apcFeQ5t_PCXNLyaWmdv8s_03HH3Hxvsuyp8y12yk6RT44NvKifErnHjTvhosjJLdTW9N3xZbj4V4YVv2pHYaV-nl7lK3uheUJm3ELcFApDjO89KuBatFC_imDgRT5folGbWWgAJ6RKi6P5eoENw6wZt4x29SVO8TXWaaoT3GrWAcHygv3b5BXCwpmUXC42epYQQ6gYJn4r6eiYetYzFttwq44uxhaPSu4MQ_IeKgu32AzOz6dli1CqM4dyAlS7AgNll_hVWFjrFp7mqS_Jb7YfgkAfjb5SgE9RWaPjJLCimJ3vqdalGkr9nPBlbM_WRxF9Tlveeib15T0CjGnFKx2xaZz5P3_CN80hSrEE4yqp3DGip1hWp1MeHsyLhpg8rqMBLTvtINp098j1-eC1WvguL0lffx8v8CrZKoI4jGLW-h31rI3EkuER5nIjmiYZRIctgKtoHrvH-8S4Z7AT3Yj-rFeu_nLzUT6o6=w1266-h949-no" width="100%" alt=""/>width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">31 MAART 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://photos.app.goo.gl/4fh6yIsL4uXLh78X2" target="_blank">Asahi Dojo Kumitewedstrijd voor beginners Oud-Turnhout 2018</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://photos.app.goo.gl/njl2XuoS5nOCuU0F3" target="_blank"><img src="https://lh3.googleusercontent.com/87lR6Ek0UAibZSyunrQGaloLJE6sjQ5yyFad9te3peiqHE792EtRB6_LPqFI-ZHKfjvq4GWvswgGsNkL5lrR-XngboV5IirV-1bSX8K1AlH-UXP2qi5mQwyxYYsk58ZqTCW14OFRv_dAm8CWzYlczMhB158gf-NaXdAXcaUGdO4XXHFXCesaHT71mVxRftJPwfAHt-1gUiLNECBHwfJ0N1UPV7mK3IH_ExBJ74Q45NmrrcO3OBJQC86Ulai55lhoVtkI4_YEwu3r9Kf5HHFTn6B1rBAXiBZmzaY0y6DDS9y8KyBUYImcUTVcQAIMkugJsQvcf_XIZsUvF9FrceHqUHLiySuKneyEVHobnZuN6Phuzd2QbXwjROFBp7DyOHCpPIbawJ5gpnEmQKCoOZMCabuuB_Ue2DFW63DKh0KDIGA55wIF13YlhZOgljX1YRDIX-oNBYROXBjJCYwMOtzD1_zS6j7Y6m5iIOu95rBCVfNjJETWLHg0ew0wA-0n6-Jf5r2yxT8ee2tLArEKCGPodHtLzk7_7_fCGUpk_cB6FBQnii8AuLxp2aVMTjAPD4L3RZ-5v6Yh_WBJj518VXat4JO-s-Mo109YLc-GylIjreOUVRuShU_4pkTnakhd4TJG0Jfh-jMAujoZtHGY4ltfw5gU6ym7ysz3=w457-h343-no" width="100%" alt=""/>width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">16 MAART 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://photos.app.goo.gl/njl2XuoS5nOCuU0F3" target="_blank">Algemene BKKU kumitetraining 16 maart</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://photos.app.goo.gl/0cNtAg8Awml79rKP2" target="_blank"><img src="https://lh3.googleusercontent.com/So634kW41fudkVU2Rwtpm5JmmwJkWvAxWWU3vr4t6ReZu3N5HkohaBVe-wgLrvzY2Q6V4qLi_quNbgoSTty8kNIYt3uiSGd5EnLfd3N3xOp4NNUGrlRm0xVWTGiJPQGi09GO_IA5yaOdnEvjO1YOb4BS5XKCcHfLFKW5HIUk4jFaQcheH8mEIjezHSjFtQcx5x0y5azBd4d89j0MQLMAVHjkPIxJtlDrnnm2par9C2ugog4RWOH7L2_o8j3Agv0GW1eyR0UxilpBa_j5-TbNft-sTgjdavT5XpUfQOtHXwQEnQ4XZ7OssVIfmaNnXmUN9AFPygGplXFtXE2L3bdPpyzsU35ObSlHjdoXlq_yHyiSuM6so3LPAAJLtalOWG54PShGHB4t03O1YvRfPbi4E5MnFw7q91-XxufoZzN-FlmXn_DDLW4vmNyV4b3-d4b6UzgIkWRDQaRJNJ7QBKX1RtMTuVyXNgYsNdtvaTtGY6JAuhlfDzM1pLDH5rsQV8Rp1WOl4HBC6X89pjAfrKA8mgQezFxb_4rWxodZL18sgc8PPzbt56XiS9UN2bhiIUO1u4_NsosYA06jsAWq1feoB47S26C96Kopbo5v54bp22NfUmn_LupZK1n5xWUa5EshPYGpTjgibKvmdVl8xEV6s300v63hM8Mt=w960-h720-no" width="100%" alt=""/>width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">25 FEBRUARI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://photos.app.goo.gl/0cNtAg8Awml79rKP2" target="_blank">AED opleiding Diepvenneke</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://photos.app.goo.gl/cC6HloTTCXbm8vgH3" target="_blank"><img src="https://lh3.googleusercontent.com/bi7iB-cr2-oRw3OJjQ7M4t4S7t3MxbTrSTh5HzN8AkGHg41RwrJSzpxRaY1CK6YtrDbZgrwyavXvxgytRjqBgPEWgqzYCJKPlmcxJqk7nKa65v6RkRMKHqNP4V90Clc-vW-s2CSBGWJCjEEb5VFUmNkdfnDWlEnpsAqpa5D9uwa20f4TlLZSsWvYOUCQ8Y2Ju2WDdLzEMcHsv03SVKdlqBn6Fg5SLEZWbVPFCPbUFqLVsDmxqz9ETJfSeC1YtD6A-4yg6UUAOfFxGKLb8jNCzdVdQv8W5iMdEs47VY9AQbzvOIZvpySND3f0ZOpdgqQhvxpvQStck7G14qRCfvAOV_63arswFljGSUSLKByOCm0VO7laa5MdV96_qUn1BjJKqtPRzkOqsm28YwRgVrfSUklOECMcfY_YOXJLH0LL9lN8hVCCbma4dflN3y9lILepj3dYKJCXqMdX1SQsX6lZgG-bwDs80b3linA05kdmqpJf8-V6rdbxhHL4_O8L9ZE9wjCNBCYOP_vbMX4vffDc7SQLGRCpdWBlHgqcV7Rs36Mu37qonve0iQ3vb9P6C2Hq4AIlwytxGC6Xk3ypoKHM0RBj4cWNn_6lwrmNJTGcW1XHpfe6d0E_KdPA1XCoXgHugL5ys9IRSjTpZOZJs8xUWWaIMhT_1fXg=w1350-h900-no" width="100%" alt=""/>width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">21 JANUARI 2018</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://photos.app.goo.gl/cC6HloTTCXbm8vgH3" target="_blank">Kaizen Winterkamp 2018</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://photos.app.goo.gl/z4T9GZjeO0Z86crx2" target="_blank"><img width="100%" alt="" src="{{ url_for('static', filename='nieuws/kagami_biraki_2018.jpg') }}"/>width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">13 JANUARI 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://photos.app.goo.gl/z4T9GZjeO0Z86crx2" target="_blank">Kagami Biraki 2018</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://photos.app.goo.gl/IcxeQt4oNz9Tjz5F3" target="_blank"><img src="https://lh3.googleusercontent.com/eKC9zH7T4thmzL1lnP2FEDI78di5FG2xAGCUKEISt9n2QirraechL63Bn6Dl4Nw4IHSosRYNZGHjZuC9m4P802Fp5ok9eq8p_8LLRlJN8el1U2dvk2cghFojHmqNZsNMjeSHdXBSUPVV-FQjtaTfdyCcmnqxRPrreIy3ID5AydZqgc3UyCxsLROjbnAxL9OKgHFQCeuKZ2qezYk-if8aX8gBw37fUP3F3n4eI8rY-fgIJEBTnDnPkukQGMgAtsmjIc6xna1EDt9unYJGrLTeg-DDklPIkTyk41mEhsbofiO6kzJeHi2R5jKkDmWJlunoGIduvamJz3HJ92A3mhoIaotNPOaHP08XbEIKKtbJSf1OyrCqT764_l3lcm9gTvVi1LUHGCNZmudz1cijbDNDdggO-hFJbxJlm9QIrTx-twZyqw5SgdpCCwpwPeJ5y0fkKkqWZhpXOa8jp6LooeJtjisxQXeWYvp9-wPf-zjnjNno07a7vMKzSY1EqhLC_k9rj9MHeetBELkcDT68eXaG8VC5Uh_CUoLri9MGZhALB7q_JCmgtUOI04CKQT4-_7Z0XwRn1PNk4QNrMPmWc2rDn384tIDNdJvZvlSCQJnCSsOepqFUk1G-eadgfNQxothQxlWPeBQIf5PyqWqPZWZ6UwRBN4cLz_GF=w1266-h950-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">28 DECEMBER 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://photos.app.goo.gl/IcxeQt4oNz9Tjz5F3" target="_blank">Schaatsen Turnhout</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://photos.app.goo.gl/3RMojKVcqigROJax1" target="_blank"><img src="https://lh3.googleusercontent.com/_xticTdu5HYO81ejYrnl29pkm21mF9SK_5zRcZeco7A9pEinLcSgiMbYaYtkLlQNGzSjAo_IFNNmgvuRxTMDZdp9ZNx6QjYQEBOKBJOlnuuh2IPSk41-hUS_G2MRS_rmvKfsueLoLXf1acw1oIOcA9DhYigMzi5itiagKIHqpuD_MyidN0vDujctvgRdWgwT1vzIdVovt_h3XrKZ78syEtCcrkqj99XY1aaR1PSadzcQrlfVlMjFyzz_KscHiklnxKi99sJ_tt5pGwZbXUJoGqDemRmQe4JqSqtSOTmHnMzcQiIhrkIu34u52GkZ6PKSvg94ChBaxisbHLMz-sm3ZoXC2E10TyStd4-Fbog5oOa6d_SLXhhArloCQ-cAkVBCBAJ69olCtQvWHC3sudYenK76CHKkLibJ5LozgGLLlYlRQb3COBKQHneaHEKLm2cQzYWRuxcoD2iomLHQxYAW0QUfWx5D3ARiFExzJa34xyy6xvDEs-IHrSzXXTDpKB91xjkTwXG4dlpUeP616fQ3tFSkqa7BwqRyMT3n8PevyVVqbqodElr2ar3-KT2ug-6dEjKhzBKE1Fam7O4qKya50C3ZSfXW0OSYLt9bBfAQgwOzNabMHkoVUR5d-Khqnzqzv6WKBagDlwssTTDViXpwCc3c85pzasTj=w1424-h949-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">23 DECEMBER 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://photos.app.goo.gl/3RMojKVcqigROJax1" target="_blank">Kersttraining 2017</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://photos.app.goo.gl/pmw1RtWnvZ8aqGxC2" target="_blank"><img src="https://lh3.googleusercontent.com/TSQcwQQk-mNjRQEbjLbOGKo4gby_FzJxzUrui9jgAd1Les48O_B8_0WVwBg4SF2euicB2H_Fu3qe77ywKl2goyMqTw39sOHODLMbcJGg8HFIh7yEKeLEIEX-7nhyAL5MqmN6dUXT1BOblBU1vJBUzYMDJNxnTdSU6LLrIkLRpq_2XBufjyXWLMcpj9fPVkyC9YyAfHFnlfBWOgFPS3bWIelUwX6njQZrF0BcaEUlTi_N2GiIyWPKedGb25oPcEq3I9MkTuI3wBhnBiyveDyCYqDUOYWZWBRBkyGseBdBXaURtSVebd80r-ngnoZYzwGRRnLQRzdJgi5gQscU9CdYv2Cg9BWfCt-nbACWJqaTYNQFZnqP1oFswW7PBDbV29iLn9GEMMtScgWQEUzcfuB19FMk1i23PfMKJAz4mTEYjjq6pV-pjRgghbPppqldinAU-vMFNnYygrSBhfiGUFLz1yhZhfHdJr_PiB-rf8AXz-dOKHv2mEqz3SJO4PiWUtspDDjVkUFH8PfLXr-kKRf2Q-4tgn_D9aOugV5tTWqat08fCKNeJdfY64Ri3wOUrHln4_gkm62HuvuaQWRJQnduTieDNOSHij5puYA-xGpXAdddoxN4beWnHX_MSZd24YLDK0MlT_TB0eyCDVyknqvBIGLiM5S-EKYm=w1266-h950-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">08 DECEMBER 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://photos.app.goo.gl/pmw1RtWnvZ8aqGxC2" target="_blank">BKKU katatraining najaar 2017</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://photos.app.goo.gl/nlltUR02rJKQUWEe2" target="_blank"><img src="https://lh3.googleusercontent.com/iCHQ1o_wK1f5ne9Ewvztg48zKVHOftULWz35ADWDx-A81k3lYSX3NqIzclFyYhR1DHd6FsSsjji-u5Kj9m9Z9STrHZcued1GxlOWVWzspVTYUYV7EhNithJPP6LBY2ihB7R07rZW_f8dhnvECpHn3blRivsCf1DJuV_X14pXIi1YO2TrgDamU0JZpOJWeFS0TKB4QWOFESfmpeq9NiGE-w4W8pmcBnFsKWHwLst7iu9UTZBvZS7ChPM6mWNqpeP-zW1QvHomPSnrDlo1PTUBlT_vFzhs4_hlp7R7dtHdx0w-SDXtTkLG0Qw3cjXihCtjFCkTwCz_zDNiviZAf1s6Fc7EgqhfbLgimCO3pqRwVWise6p8HtlJnScEucw5KQ7rXbZPyrTNL2_6l1Jg8QCl321tGHSntD4COTMqhaB9YJbYEN76pnopPPidlRPJFifk1l3riZmnH-yO3me0OjRMNsFBf88VahlbcxS_o1PMn_fWkwYZ7EaAF5f1ywcY2QR5meHTv0rklbr98k1SiyB_GJlEvxlnBDBfNw3Gehqk9EgeD9GgaeJYqwxzWgBySRcd4zdmGhNnuCqmLPxG-ynM5UPVjyQsr20hQF5QGT7lW2kL6w-TJHabb6n9G6j2l1AmWiX4C1Otophg7fVMRhEDd5G5ZOqPgVibP4U=w640-h425-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">08 DECEMBER 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://photos.app.goo.gl/nlltUR02rJKQUWEe2" target="_blank">Belgian Open Youth and Beginners 2017</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://photos.app.goo.gl/vTBkElNbLKcW2YwX2" target="_blank"><img src="https://lh3.googleusercontent.com/cUtKQkwtvg2elGKH7vr6GOouVBq7g2ZyQVc0QHfI81nGjTRlhtzLzsftE09sAgjVuO3-icryYLA1ZATjvdMBUgM7MdsL-wQBzujQd52ziTNJ16P3dEwL_qWnG-HaHncwRIfOoRGYLg0LF7K43iXANJdrEoyDvPTbdemFz6I5Kr8JzUCgsGUvLExc47mJ4DWczuimVfc87OPepV7boL-jVm8Ua0UlK_QLx8pbSA_JbnBq2XDVkii-dW11hRzYr-rCxalZzizSRptuTflZV_zqX4-WBb4LWMFSPYVfh4QmuBwWidGAImfACbzHBV2PoDNgKEy7rbwaQRMv5Ksu2H-ukBWWJdbfFYbsB45DJ0Jejit42a-PfhHJohYg2PCPEP0zggayxnC1HqJ3jG7pdhKRQGBq6vTjC99n3gu3M7DEts5a-Wzlnx3NanJjbDuz5CpFnbXlhNAUM4jl9l0zypIK7wZMhZ3dCxN_mqMDJBI41XPQDbpCBfUm5uyblpwq3JjRYtAyEsuZrmJxws0jo9ZHAhHcj8rnFB1JLLKYPyhukpjYpkDcMYMWj7K5O_1t98wkQhcLHXcxUNBX2GXFql4mAzv-7JbCS2tW3VoTSrQhms7mVgG6PgmmdYZnBk0odK83gkaZTcOb9g-kWGaGCszvghRKWBOsjt3ew5s=w1350-h900-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">20 NOVEMBER 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://photos.app.goo.gl/vTBkElNbLKcW2YwX2" target="_blank">Stage Judd Reid</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://photos.app.goo.gl/sIIaRCs3KczLYcri1" target="_blank"><img src="https://lh3.googleusercontent.com/GGpZdRdTax9eNegSodMB0tnFK8X28y_DNSCRliQD-SEIcG1J-HlBAV_7MBPodAURpaX2h-aEKJ4PQcQXSsGWnJumau4QNTGsZAvprgytGIrkHbnW6YEAzS0E0ccYgL_Nld3MTvWS-3Qdlo76g5OxLz2GIXE6Bl8kxV4hDtYENWNX03_fOShhmYPbzjDNFzW6BBc_w6tfSqxUs-a883swvvfS0r9IvRYm-DgjLJSPvhmamDqrY2XrqbT9XEF65NmZ6LyQOlAjQJCA5acqhwXxGKbR3ZTTdtI7rEd541fpQFTB45uCStd8Eh2RqGO1au24Ax08vNeG7QqShMcJAfPC_2tIqUmPOkdR97L2Oh9wl0VAsY3TiRNqlDUzuoKKUdFww_iQIBD63cZ8QbyK5ZMT9Fn3sxqEoZcUPx22ruBsJHB7sSMyd4fr0ALE8OCA9OCqC3FBVjQA-apDeFvE-mgbj4wgM3FXJZxOnPy5gKI-PQilCY2jblXTJHR4OjxLETYNaLg8s3Gze9wiriySeAXKzbKOtE-vclnepATLlBurW8qNdrntCZxYMGUtwQRlyTNAjzGJNc-TuCzBIMgC0mHLWIhCrY54r4enTT4Sq0XkNzZT3JI98vi1d1KrPDlw_BvKKMh30kYsw1qpuGnZy4H0XDRFv66htRCIgy0=w1200-h900-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">17 NOVEMBER 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://photos.app.goo.gl/sIIaRCs3KczLYcri1" target="_blank">Yokoso Cup 2017</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://photos.app.goo.gl/sri8XsbqQHHkgZDF2" target="_blank"><img src="https://lh3.googleusercontent.com/R3adr81wbfeR2n6NmamDZyZ6t7zsrCvKpjt47_b5MI1RjWHwHKMD7K7ucqZpS9UEOsXy0T1kS3f-2uoqDDrS1u1iiQQQvg-4g7XWGSi-vE2xaXplmOuCR_j4DewTYan6YkX1gVbVLvs5dgh3wQbPk5uvqyIYAwN2gBTqimBk7EyrN2tKLmeGeLDHtw26Ki75l9Y-WI26BooLtuk3GP-bz0tePgzz1WkopU45GgEWlc-BFqHBkhxR_fFEnps-4Xv2k-R9clNwVJ1nZPHie6wXDq2LD3O1uX2lSevEY7Y7IZDRSz1btCfgshlq1Al7g1nhqWp_8JNt9EQcGb5R5Do2cSZvmwUSza3-rMxWFGaU_YhIfPXswaJxh5xw5DDu2ZMmghmQ8o06vEKUcDF0s2fknvY4PIeL2_8dPlPsV3kS0aVGEtWlK867PlU6kj0v9VwRlRSftFteF8fbSS4900Y3KRB5Kfo6PGemuDV0DQghZ03e_BwRFKZUKlkLDL6G9Itcp5PENZI5FRkzDJ_uUljmBp6zk7uhN6KaE3iyJi1E0IDQQAwAkOQqSHg_Ih_kr7s2fXxxWZiYdEbdLNJcAS8JRGPqMWMlpWPozHtBk84dN1SfYFPOIda04yXdD1HglD-GRUkWQnIHaPPFLtDrFnob4_6PThBx9LSJtyw=w1206-h801-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">04 NOVEMBER 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://photos.app.goo.gl/sri8XsbqQHHkgZDF2" target="_blank">Training Inken Cara Heuer</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://photos.app.goo.gl/HB5F932yAv2FwujE3" target="_blank"><img src="https://lh3.googleusercontent.com/TGxgqFj8eRlEk-ecFi5lv-GabbBP7Q4qp8LPQQh_2tiCKXRxCHn7_0COfHEwHcjKLtwmoccY2DOjwCOpND2RMnskgk8cA8S2aHrW2sHNICS_m0mqMIOM_avtqtmnEpz6A3ffE41F42Uhfaf3DAKqKVZ7VP9csDgX-nixA2hd93HHUakVOJ7IPVUe6BjmuINigfKgGAUbJPJDKCp4xDy_cQUczqr8VOOF0AM8Cb2NYOp6FCSQ7FOtDIdw9yD4RWmFfomfFKmB1fhLdYF8Ng20bftP64uvww1MVKCX1tOXIr4l-kL8appHiW_Er-vcLS0yEooIwdCWWSPOyxKBIfHlAwfCsNbV53btfdW2zfkCXTXGEAyLeai_m-RzstdsHMm8SZG9QAUNfJXzr3MBrpKscZMQ8vaurU7pxJQqyBPdPK13WB2Rr927YcduxjFTAEVrwW2YXoRQV_HsCqtkYpqnwpg2Te4JIxDQYMeIH6obnI1e0S3nmugIjuLmGbJO6vH0NeuIBd2vDC2sJdfEfrvV_I7JSTP9Ekdoc0_F4TuiEMqCgql4B9MDbU2u4OXh1VojF1VlokK3wCA_GT_7I0AWw2s-dYU894v2THnxETQpUs_Dwqx_cv9rzV7-5yd0TkG0r1-BrJvppHBcpqZLQJCNrVaAB_o2IX2zo1Q=w1200-h901-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">23 OKTOBER 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://photos.app.goo.gl/HB5F932yAv2FwujE3" target="_blank">Kumite-training Kalmthout 2017</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/UJuHjKp71Fc3jjfh8" target="_blank"><img src="https://lh3.googleusercontent.com/_S5jXyQI527y4cSPH7Bp2DvSE4Bdjg-SyPi4o_Qe1QoXplKUAdO5Jwhza7w5V9TJ2N7xe1DXVBx8PgD7gx9aPjx--idAUtruLvDFVb7PNCUJaycHg1vgcC-4cmBZTyZcnvH4SnmFIyYVcfAqp6X_z7VLQmNnvKq6GGeZ7c1-Q_4VWmwHeZr4OfVXm9wJhiNuwT1_j0N1ShUwYLXwzJsW9ONsGwN3_iV7JqZh_UC5vbgPF3LpskJdqZFRH04bFejptSvypZ92gYdRmJ_pzin7y8tI29ybIywTdamu3AUCX1vbNq7BUCS7rpQFVleD_LV9OHUsjO9wIMNb6DIS501IptXCrCmpCh8HeLi2JGX5zRsiK7tp4jTLzwc4QGAdTe2UwVOAbCSL4RdoTnWnBeVLByb0op6EvoQw9vmg6X5xuBepws_NXMUNa4URjHFfnnYMJhJGCX0NceUR-xd7MubZDIr-ozQx1fu9iGDAjj-KV8xek7Q-HvmJA71PM7C_1g2Wh6hcy7cScL0pmmruyTGdNgGGdL2GiYHy4EQPH0QpwxhjWobE-pJMQKVrfBjavJ295LfPgXKBfHgkynoQ_ktJmcLtjWgWb3FxvWOcXHUChKBiqaz6i6KHnv8m14X3CjWQPZCnBDSL4iU_RttrS5geAJzPEZad4hMZUOLZ0MQ8_NGUxA=w1267-h950-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">13 AUGUSTUS 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/UJuHjKp71Fc3jjfh8" target="_blank">Trainingen zomer 2017</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/APunXzYVE3yQPtDi7" target="_blank"><img src="https://lh3.googleusercontent.com/MwJ6HJHBc4igkRBUGDmla9LiqljC0PtSKPoCUer5QAzzX049KGHKllgEY8n92e-vVPS930BOniMr-a1_OkpDlZaVKfRViUkQ7r541wPerfKaiHegMfvThvhVgIxU4SX3P4BgNMFahK7ePuuXEIUIUMF0kUzW4bAEpY2K59j7_wRoNNR7HOMHfSdiw1EZp38Ztl2fdDKebEmjU9Cjr9xyVnxLKJxJ8f-oT1IQ509JutztyYX2OzEW9m_7EDneOKG_SxoaRrdEHTsOtbQy50ACdkBxiyLAZE84bH4blkz8XhEb8N_I8VLlMr1T6J9YEcxm3lLLcS7AxZPVcHLbM_AQtN-u6pq0i2-F_FH09m9hB1zjcWM4P9Lkqw45YlAyLlxzNGN_k0HYrpXq0NqPfmdfBePiKen8TOmzb5QE07pH81kNQeYZOhPzHo10OWwtD_Xbj3KKpKYv6myvr9w6m2ZTliso57q8j7F4ow0S73J0RNcqNKblO6seq2hFJZrXx5vjykAPSV41_LSgRuqauTVilYPbNMbT6qTH2YDNEpbrJqGqCflPRjT-i43Lg9CrwVcP3sFSGd84oLpOr2B4WHhAewD76dRasnwNm3K_Vwzn-YxTYrYivE4nvaUgYW_DLCjjtvgMVTcy9yb49OCfXnYuGhlDq8KOtaabP0tceC17FTj-oA=w1689-h950-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">03 AUGUSTUS 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/APunXzYVE3yQPtDi7" target="_blank">Reis Japan 2017</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://photos.app.goo.gl/vaF1vGuCYtnBX4QE2" target="_blank"><img src="https://lh3.googleusercontent.com/n3he7_QLHfnx9QEd5o7h1qlsJRT5wQsI2s2uaqhuWx4lrjNqKCytgG13CZIhd9Hwh_MZnPeRWF1m77JelcDZ9YDZIQJF5oHjGkBFI6UU5AQ_hhFLDe76P4jAez2PUKRI82ZvVUIXqCO6f5F0rT4d-O3cWx7WRDidFSbl3j8kexpX_mpoEOtDU1pID01uqI8CuiZvBtovZB6Kd3o6x8WCEpWN9uXhG-QX88vdQ-QsB5FGfs7E6hqxq4aZs72W16ebobwDwH8QoEziczjLLD6CrsJL6mMZWovkWir-3xBVoYuugLTywhCntDTtcDBb5ATmA7FNgVGJDsb5lg13b9E5OTZYaYL4YqKbuvc7WRs-PY6CAu6Nxivw71J5tiwi9O_6kF4IT8cDCyN44tsK9VvWj2SQzM5xBArUkGVRVI0bRJq0RN4vXNpWeCBxHDms0wmnD3umgxPP-gjKkpIgzFqG5oExnVPQlYbsU7U0TBLkA-HTtHcc77R7vOKDGPUDyqC5aFx1AarOupnibgg3B5T5sPxxWiloLMzoVGjUlSKoTBUuS0dIYznoCFyUwoBEXOpynjYV8CbK1tgup0L1sFbisVzF-srA5iY1HwItAwUEuCBXyyrBi_wN65d2WqE2qlwBxCcc1clF2t3r3k2RtzPCh1nxBKQgAtWx4g_qwLJp4RtxTQ=w1267-h950-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">28 JULI 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://photos.app.goo.gl/vaF1vGuCYtnBX4QE2" target="_blank">Zomerkamp Duitsland 2017</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/xsJEX6pbifskRXiQA" target="_blank"><img src="https://lh3.googleusercontent.com/_wG_vs68GKWqj7rbFPFgFtY_eesy-5dT-Qlf05kEJ9dZyr9RYYgS-vAhlZs7JvOflxVDAhJy-VKAQRReQCkdtZ5-95qZj3abCqhh3gX5fC4K1bx7YfMXJT4cTeSITo8Pq9Zf-AzfuSgrTCRc_TcrMB-p_YAufsYKZqfB7Z3hzl7kN5lDaIcU70JW8FyyssPmXfcUXXhFl0qQRFACVetL4MKvHd_5nyzVJgjm_LKg6jyefvIlOYzr2dbCUN9aAjmzlD50io9bjLebiIQWwb0OfnXjx7KzZaZL9zgszMVSHkS96QhW1_6rjFB3u9cnF0KY_DNV57jLzgTV_tUfvIFA2W6PaNvxevjeaXEDqViltPDAvi_lrhx5rC15YgMAm36Rt88lVuVLh6BEJZBXHcHIiNprJBdSDXiL96PZdrqDR0-6HobCTmkKfwb8A1lq04WXER8PgD4ka74g1VAMYDdJaXSjEp24C0e9HvSh2nmU4d0pmNSrNq3Zpb-xyAQUPBiPskw905iAzTXg-nChBV-JybsOsf7EDSGHaoxJLveo1SKQrnC7wAoaPWcw4mnNYQx5_Ip7G0ucxGlvPq256iI3UMDToEOXlGz0x1T7FwaxJLctZnMm03g8FLZhbt7_QxmRXd0l6rpzN9CR8AgxAv4oiATxZNeK5KCFFaBHYiDo8A=w1206-h801-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">29 JUNI 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/xsJEX6pbifskRXiQA" target="_blank">Zomerkamp België 2017</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/XDvxvcK2KhkZ5nJx9" target="_blank"><img src="https://lh3.googleusercontent.com/nz8bNIbP9VMAXb24SNp9ckv7qx_lea3KDxWYZxYBpxIelA6AhZ9kyMFBre2PiV9ICzYdycbtx8ZMRcU8D7hiSJOHVREAV3L0LGTUPHf3EJVDSK0GkSUmAeCErSeqKapfDH4gRbYJSONh9CapTaPc3tolNeZFm1djD8lTfSMuyqzzIQRKxDXmr5awwAzL-ra8IoH6MgZ7jtYYziiSh6wkWL476t9K-ivD3ZPNYLDt0EWlKwJpcitCnkX_QaswcFcNXNkP4Mw3uwMRGaEHKUXyAMi84QnTDk9KXRjKsZY5St037nrLG7K_YuvkXEh5l4OqJd8AMGIFwHSs5xFBPYGo7aqVIqBjgYqW-oQBCjldUks5aE0MjjQJtGrucCnjRfDGAzXs2TXKAXScsRjnTZOlBEh4AdPeXQrngwLFkZZVP4TjhheXnh-YUal8lFDaAUAi8oIuklQSlNZHimg2a04YuTl8M09ycTqA9jM22t12mk45GF1HZMe7xvCYyqUs9gccQcAlCCIOOsAXZYUHkZZBrVcKoCPf9436046mHLoENF-Vdpwk4xA-9VGNWmJtWmdAUMtK4mEQJHnP8djzPjG6Kolsk4KOelqFb7WpLH4LkUO-mF5dwteR2h-vDH5Wa9mrBB5q_j31tdWZNOC65aMmhfGKMkxyxFW__ULQ8m3V6Q=w1202-h901-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">28 JUNI 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/XDvxvcK2KhkZ5nJx9" target="_blank">Roefeldag 2017</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/eHHVJr4UZxsv7osU7" target="_blank"><img src="https://lh3.googleusercontent.com/TWnNrKNY_o9s0VqDMjIglibbNeDzchQhC1UHwPp-PvwJ5os1jdW7oyxkvMMEhYbskoqhWt9LjDHH8k9p9Srxgm23LQCvMTxrmUOEFs6SqVPFvjw3Z_pQC4sj3epCDkjQEv-5jb8opb8TQgaLo14gtZIecWcVwl1ny29fqDYfwDkNSdtxzfrBBtkumoHrJFk0xwS8a7Tpz5VHjEdv5esmOe4JvsyGsUAfdWwgGO_HyjMBspCtQbhzSYCGWp70yL5rBDG-mWLO22DfKpMDlXg7YrmcCUXvQCuPfnwtNfpc19hbzUXrxXJqDke8ze90fTTUN9oCcftP7C-Exob8OWJWhiwc0CULmn3Qg1IK2olblmHew0OzKfvDU9QNf8EcwZTakQjGh_w8jvobukAh0NT2iWrhRiYBUGmruMM2uuv_UXYx75A2PI95SLDeTH0jki9yUbMj2BOKaWoq6tySOBfLgcOqdAemahNEf7csq27UAO52Lg1d_1o5O6Du6XppEncAUWDLER6xw4II2eiJoh3hbD47TbliWWjj-UFZBVO4TNHxH-Hl0H9PaH1mCZmBFyaxCqJozMzJ6mOuPdpTFMI25hgxSXQ0H6DLP7Dx-Vde4G0oDyGYyS0FKCIw81KFyZXEOUSlrP_LZP_5nl7K8Fw4s4uMmHUX1d6Z3prXFbMtgg=w960-h720-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">11 JUNI 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/eHHVJr4UZxsv7osU7" target="_blank">Kyu-examen voorjaar 2017</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/3avRwEg2KADvcmar9" target="_blank"><img src="https://lh3.googleusercontent.com/larFfBJPEg9jtK3iCiPLbCod6U8irGmdnII1GfCM0yTI2IGAPZ-zF7_qnvFYesrU2XlsHGHTiAhbEQtH4RXBX7vF24gqmnJoSBqF4CC8cED10dE57Vx-v1bEbpplDk60h3MdQePvKYZm6u_uKyF8dSJ9LGwFfFKitR4lL59JaUjfiB1ffPz79uu7hP1SuF131PoSDrskiTnKWvlExUEQ85Jh3zmHn59p0Iv0Yg2Y4ev7xvxuKaVR1-0sIbJvQsbapFQEvdVvVXfuuVu0uLDfetFyBlI2Wtka7Rzqnvaq0RtRBIctCDJeeLP-WKnQvxBXNauQU4XNiJl2tRByJho_gB6m44LBbnHYvpHFP4NYRGylmtkRrFbUAbxnUExR6zSc-hAd3PjMruKlw02cdBh3jNSUhGpKFmHqmZ2wVDBfcI_XSO-VB2um_QDBFSvI35z_dSkqpCr2MeaRSyAr9HptixyMiLTfw6nBg-qIkm1aNSUiAGSXTaQGzGgYUiDTNG5pdA60ghboI10VkOZEJ-UsuOM4dswBZfAAs3JEY9pN4SjWMDadU72ijIwHuekmKS2ESJalAMKs6D4JlH7VID9C9M2s2-i4Pw8tqCtzUzIDWh_DOTgDgUPpyVAvv0YHf6QBCzB-6QGFnaWrCfM4eoVZEFjtrXUiiygqCDm0vYesEg=w960-h720-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">21 Mei 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/3avRwEg2KADvcmar9" target="_blank">Stage Lille, Frankrijk</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/um76Z7JUVhUMycRPA" target="_blank"><img src="https://lh3.googleusercontent.com/aoK6UEKydhnxfsrvM-zbA649qhEkB5P9E0gj1P97obvV8r6IHwyUE3g5Yuz2p1HGlzUoRHHYmM_ZyVFiABNt-8eRO0m0zhYAgv1UJe8YwGcwJ4vgY7vdOBoYb9afoZT3yADFxgYhwQJg9TK-blkNaiF7zToPcuUWrnCJpfDLrZkEsSpfNCC8Rk1cwrkETmvETdaiU1R53-AE5dwhKqYJ9GHv1jaVI69TdT6e8RsujfOZGGKy6y2bh9Lj-NEJLAf0Bzl05CraxnZwTsg4Frca6usJmyIIVLN50d2cI4TgdI9VYr_mNmo8VZmzLQRprKI9zy3dvgQASvdrTxLTkBuNySGad_aAjoOmdX7_byBTLsNW2JPqhCI6bNGV4h9GePAA8RP9z8qzm5Jru3UYUXpL3nOuBsrI0sXEbf6BPJmmbGLj5lur8M-v4lQL-1h8bTxWrzAeDDwpnVRATfaOHvJHYcXGMYYd1l0vVWYrnejFjjW3bEb-7O5ceeSgAWqjQJJdsuHcLB946rA9pDgYmGWiVy9nGkGjKP2lc9IA7RHH8WuscUF3SVzX_QLXG3GtFET5x6fBVFKFx-yL4hOk_-gwsZ1CItut-sg3uS2stRihkkfW6HxwqocbOn-XMbc0zL5u9HkfjRnD9zHxDgm7eBIO5YiXofzx97PpQnWr-jMqGw=w1206-h801-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">13 Mei 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/um76Z7JUVhUMycRPA" target="_blank">Beker der Kempen 2017</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/faqouwZrQrQgkdCd7" target="_blank"><img src="https://lh3.googleusercontent.com/SJb1CBMIgq29UBJFUrbpz5Jqzt-1cnDAwnlktDXu_GFwr-FtNXO8ydJ9E9VyOPjNf47eAeCsZI2JIBvcqOKD01Mfme_cBerf4gZekKIEkkn5FePMHolcSlLeonfIn0KguVp-difrxUAKDLM6Hk_Ljer8Nz4KCLskgsI-fMCYnjt92wB7_NS9BquIRbww2GaGBjlhpolilRN8ZVRO0pudbylVkORhkq55T2cHYNf8LWvxuH55_taeG0gktJxg2e-UnW21b1oi-tfTIE-lzaUCJlIxubIK6GQsLLcd1VTc430jtLuwTEqHd2DmSM7hghD932Z714bFI8x6Mk1nXBnvRzhnpxLdTw5lbjN1WLDzYGSaq7eoxtNKKAUsRvAfxGUFQD2oJq_4dx5vFmpuKCHTNB4XwnD-xJWvmCplCdHL5pvEQk-VpigZShhWmmUTTV0llY8TfPnv7au38ljzeMcFwTGlRB_jSaqldRnMI0huuSaq_GVDMCmUCXYRJLcYnAUmBoWcsOIV77Pyv20NPsBMDKkvX5yeMUjCMPTGPYr5RVmh4KdR2IDuMKIA6r7h-TxRqI302XyEulKp5j4t9XLVp9XwGdVm-gS40OCZhAZZFx2P_mwvEVzUSLiZuYWX6V23C4_KLDvWZlBvwvSCVu7KgNmBvfHwu4jQIxA-M8fz5w=w1280-h720-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">23 April 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/faqouwZrQrQgkdCd7" target="_blank">Katatornooi Kapellen 2017</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/q3xC9uiW2a1aWF6b8" target="_blank"><img src="https://lh3.googleusercontent.com/3qMQd3MLt1qIDuq2jhkSha6mzx91Mp5Ab48bjkmpfRWzjGp5XQR9tmS2zkjdBIEGod08HY8m7cN4aemEMB58kK06pBeUdW-0XvD8FcR7Zf8yBLWSpbzPjaxGLjWNU8-NBIgSaBaFO1ckszvBL4Hq3m6t_1frBhSMoFmawHhe3GyGCUh0xz7uyAweYOcTFwU2wiKU4OjcYl2JLuGbuqbAF9_4fJo690XQtS4bXnePAkQRg59puTkjxe7DqKIQL1bpgDpZPlM5AkyxFQR_csuTHcsHbvliP_Rgeu-Rmgvt5FMYkxDMTJ17VMnxx9XfCmVMlAeMaG7TgVKLO4P3WYRDWdrj4DqLPEGNLSVKbrKMLq73LgBvSft7rCSX84zBa3VCUcbezb7ihKlThpbEVP_y4rBbkO2PBWVYXqjJWgP9bFLDSufzip-l_xRU23meGDyp9JTl_lpXK83boIzb0FG01zHrOrwuR5OzjtCLDO6WRY6EIJBnKeYVXHUqnup-gTqxwMIzpu9FrXTLIG1AxUBEf6kaLkpIPV_1-S2RwCPPNszJNea5DsyYLRgXySc0ocpQ5yjg_BWzX6RADrLhdoEufvFpWv60dvT_lzKq3FNySRjrC_dmu7Gf=w1502-h901-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">18 Februari 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/q3xC9uiW2a1aWF6b8" target="_blank">Training Sensei Zaman & Kumitetraining BKKU</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/ffSYeH7uLn8ZkGyF7" target="_blank"><img src="https://lh3.googleusercontent.com/ssggnAv7rr4GnafcIaAv_g4qDsvxQDjpB8wR6UM80emQv5pP5Qtcar7CjEtEdkI7jE0_hh3lBeM0_zPwRUtsoNbOrrMId_3Y8a0jQP5J3ebUpKS3P8kjCGKDxVEfV0ThiLZ0PmhvHvv6W-1p8c9FCBX-hYNqbRUKYmoq4vrkm7Fbuow2QiEdjr9Fq3ggGIlMFzmv2zm74SmPuVgOdCoL4x9qEuSHzsvY-bHYrcTMV1bqlEhu-ITWUzVgsvwSMVE1qpuyzTEWypFBSIO9GAg3nzHKVTL9H_jYY2MRWj09j3GmguWiTi5YBDPdg3rZd5kRgj1DbXSy7GNJ-J6kTUsqzTUREXVDWrlDF0tQny1invPxaJxgKaRowjFIp09nwnoB1aabOxQgT8wba7DNC-T53CHr6PEjPTk2Xnzsyw9knFkBt58ABqP2uOdehJTSIe1byMKAFaQah_SPpmW_rB5KBzWKaHO42ADWpNYt3JIfN8Ve9dB-UxuVt7tpq3pKOqAXBQiOlefHUChZZDwJeBNmhrgkxtWN8ATmRpYWzoneVNtuwAjUfL1Ato_EOTwZujZ40t3y7AZxXmWm_qEcgLO9hRmczerdBhNRXzKNW3yZ9ElWe8hOiKUJY-ajvGiBi7lb431lsvfY1JFDyq7vym-xPii2TMEBEA8nQGpC0GDZqw=w1602-h901-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">15 Februari 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/ffSYeH7uLn8ZkGyF7" target="_blank">Sutani Dojo Winterkamp 2017</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/m8ez5GdBtAUY4ELy6" target="_blank"><img src="https://lh3.googleusercontent.com/LDG1z5XD576PmwX_q8HH29rw-L7zzeQnRZWJuuCLc4AaGX15AU-RiYUue3ZyRtoxidhl5zKxMrIySRZnwmRcm9tAZTMyTcrEtzNF6Tu7eANn7EWJnXhytmikObjGtvkVr_AGnanRUBnpVLS5cJrBfJazW_r1_-QbHBbsdRGHxIcxu-UvMf4cbYTPihHbceaB-DKPmvtmLGhsqrVxGltowe5mgYLRhGdx7zWnRjzi5fd2bCdNE6UQ0txC9pXzHIKBzj0ZODdFMFKlm2f1YNA8HbgnH1kyCbTne9HjcBEYGr3CdxkwTUC2xQHrLHILtbkWjo00w2hODanTkZYbpV7E46NE7-2JeJDJ7ZX8dLbSTPeueEeQYVfrRZRVyYKoWoObvh6m3vjzPQNySGDPRKpMjO-yxia6SFfgwq0XGNxomQvQ9Vn5lM5wmvPP5IKvCTxbmFqWsGoiyUUB3eY98iWFB3SrqkuMg_CZGZJsENv2XGohW8NZNLbM9AzbF8-kNXYkahqNOVI6QP_stJc5JcgrrC9BnxiZ6-zlNNe8KvXCi2fIU1RIfaj3VFgWC7-Su2mmyFXF9kRPTn7GATJwG8XLsV4A7OvF4yODZWQZ5dGDM3mesfJgCL2IIUIw9u5dJtWEm5pYil0tRxr_id1R3ra8mUPrpJ5K5f1OBw-0EbljqQ=w1635-h951-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">09 Februari 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/m8ez5GdBtAUY4ELy6" target="_blank">Kagami Biraki 2017</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/Er11VPVWbdPH6bs47" target="_blank"><img src="https://lh3.googleusercontent.com/2jdUlfgL59pSVx1p-GGTmqzy6bz9xgzzjnFpD9fsG98zEdLderiCnux_56DIyKHXf3Yv0Qxu8O-5_zU9orA9IG95ZzcUlmQAcBRUfqmj9senCg8zXwwOtC5nPqWIDjwgZZb1iqxva7cCWt_JagNkIy-pMQFc3Z2QM6gO1wjTCT9jgNK7u_knTVG5NnP1a-YgLKdB8iSD1RU4bmfjQkUq_2eIxUkr1I9klyMe6AeTDwLbno2-OWfzyP-AHEdIfaZpgxEj0HgWpySEcmTg45run8ZnPqv8h8IoyrKcWqkGKS3uCKm1VlSeodCM7tyAGiN0TQgaDkarQXRwOyyKwGGej6WkklK7G5OT1JKhql2ZW2HH7tLwKzAhigltzrP-5P4YmN39SvNzaGnWdcnRm8UOTu3QqH52wxCUH1ayoserIhejDBNFAlZp9sZVxpdixqZY8EunnVT7YIyQyrgipOXS8sJGVP_N-EknrsOxSK3DTuc70UrgB4JhekUctEoMGgy1-s_K1SicjbGU6mDMp0DVXQ-epikoBtz6lQe0IrlF33jsTw7Fv6A9hoKMaPHl0UZ--ybH6OMSeKTb49UKqwhT4lzbMy6O6R0zvHQUqFAbRAO-T2b3l5oXu-iu96ZysGpz1G2j6Tnm4LGIqoJEOJYCcCoB2L3WSHX2X8lwI5NiNg=w1206-h801-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">07 FEBRUARI 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/Er11VPVWbdPH6bs47" target="_blank">Kaizen Winterkamp 2017</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/WZd9vud73rSqxeEd8" target="_blank"><img src="https://lh3.googleusercontent.com/OPfiYMbm-Up-6VOTYJjFueehgvjKRUQVXtH_LZQchH4MCMy2J8psmdYJcyfK_EyXPtMiTWvkLKBO6SQwxDr8-QyyTjuj6oOUW0SHr6bKDPuCjDs5Ke8O29iojIVtOPcO-g3YTDFyAmgQO1AfWIiVnPNIm1cvdrdBTo6pRjbDXtBvAYMw4iZSTIO6erC1MmtyohMM-u9Vm8MmT_0TkkGvqbeVc1A69ieXWWu-LQSW23gItB7-6Xr3PIrpWGKHidy6nGtbdAeW-VZmjWOgl7S3fpfaQWBiAbn10UQw1Z15HRB0L2PLJMcDEYVTqJENuwpT1pm58YbSqmn3XSzatnrvi3pRIROzUkGI1IgajBhgUnwlU1Bm50v3pkl_xdELz6IAI6B_nHE20UCUHd8oA9zlYrdm7M0aqRAnF7FB6JmHnObV7oqfCzhb0PbLSnzp2B-id341OhIbaEhRznLXVa1HRc2aHUTAlqwEbHMxApT4nn_3BUXSVuoMaHFUK_T-XvCfFdNsNbdPdhGNpE10KSvlHgIzJxV2vcOqQGPQyG9mpjO-L-xomkE8xKYQEh4YTz7u3kPq23sGLMyMBpJcjaSfUKnD84CbfXBqOBu-W1wkpHaNjfyREjOkakSrjRV-Vp9G69XJAGMbQ64S1BaHdopV4lCaFxjlvmn2B1iruTm2iw=w800-h600-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">21 JANUARI 2017</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/WZd9vud73rSqxeEd8" target="_blank">Niji Yama Interclub 2017</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/B9JWee3JU8Rw3MkHA" target="_blank"><img src="https://lh3.googleusercontent.com/iGyd8V-2QZc9msedR7kE4YhkJwP0CA4BQKANFd903aTf2KbvdnoPvOzsyUfpRF6LI6keBdnCriKhZL46FpfoEdJDlh-Tk7ePz7rrey5XzgqvMff0brcMuuZoIyK2Vz5L2jxuQOREhfs4AutbE6Z8BRgyzf7eW9ZCb423fbgHqcKtLYzeoCoSSftg3pkZsCehCvDmGAKGnVyciFVrXBPtmyHiuUFbw7gy7bKMBM7Cum5bk_qNeuXlLgjIaIg7f0EQolid4YnqWurA-FVkpXv0L9_HPPOnUSwpRpBnG6CPQae1id0_3Cc-ibuXchFP28GAkn_7uNRHitoLh4KFHJ9Uaeg2Z-8cUDYIz8gTkJOY0q2z-xWeOWVGq_kYt3eDSEuNoUoRgmwVRDLvH6h74B5nyykQ5gmEQ0ule6PEG1oPlYSP3xifK1KI89TochmgLtIO3qFJauTHu_ydP8T41rrmL5fasUf0j_8nDnCPPAOye-w7KXk7qRTKh-PLl0Tx95iZ1S0l0OUtkuMQWIIGL7XcJdHMsocS_nbPqHXafajSji9SSR3oS7AHYibx2V5-z1xJDSeJ5mv7SMMjH5G-dhw9PnvEHSseezKHGtJjiJIHPTxetqG0_Drf=w1691-h950-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">20 JANUARI 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/B9JWee3JU8Rw3MkHA" target="_blank">Kyokushin Union Wereldkampioenschap Japan 2017</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/Vu5cBabSPef2fuzA8" target="_blank"><img src="https://lh3.googleusercontent.com/HG1t89mhVldU1D0_gHdByAouWZ_jFCf7AmPFzqH8-wFkVBsr_INA9ennO-qXAv7kmxTA2UIo9jqFQtGpT12t9cC-WpWBCeRgsEIsNqoHBtflnxYTkqpvi-O36LIw3bKSUMW_fJGjs9FfJKfGMXAbsHbAGX72S1i2Nizb9eoF713oOyPAn6_BYgfDjo_f6NcP-nox6AVanIsZkF0-6UDjpI9TUvmziyhPEcTWRhNz1KVq7FUEgo9XqCQmoyR5B2Oh7tWS43N7IJ2aVdfAcEMbTFnnm5ZSi-VUD6aEA2YwhMaOQ4BqQiGJsi1roA8V7CFTaPWBD-iDyV_Av-kEtsf-EBQqKj5U7zNYlikYOhzhD6WOKU7HuTNruCOUhaowNdZcx5cOgURdktxugTaQ_l3lvm8FCv23suxhsUZQPIjAgXJttYsyfFyCDX8aAO2LqVqKtWeoLexv3kbFRR-froTOjSAhfhMfM7iCDCA2awOgCtTY6GHb3otYiCs-txodnRHdSmYqRna5ReG_TAuU4i5k7UWpFoKoXmHNEYHIRWMkwLjpp13XoB9u6RRngHJrLLzypxM6b_NNSnIjZxVG750zrz5Tyw9RR_N7NGCPB_yChWe2SCiK5-5nhnLkMHUsB31-8OFqlppPUfNDuo6CySEtCMZVTRTCVFqylUMgFlK94Q=w1267-h950-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">23 DECEMBER 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/Vu5cBabSPef2fuzA8" target="_blank">Kersttraining 2016</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/ASGBNdiCx1w4CE4TA" target="_blank"><img src="https://lh3.googleusercontent.com/a0eUEkoZrLHQx6_YLENCnIhwg1e3yOGNV4ayb44wJChVgZU4LmitERC6DpQQRnSyJxFn6tzMoqW8MfgJ6o60cLP0ig2gEBEYv70PxoRdRjTrrexDr-T39t-Ck4YbdGjeBarqegZECFHyM4iH_8LLRmBDJaJxNvMLDwQciWMoiFNzMBT-YeCg2F38RWnrhuikpE0ccdnoJP2x-KokYPqxdnGdxn8JlGHUFcv-2UzzMhayWN2g80ULih5EkRX4sasckYvAmfNhdsAPJN0_kDCgySgRBTNryizX0ukwkDBfgZKCrhzpx0vaUFf9M0ji79zNq08EwoZnWiYwXf2RTf-IJkaMbwaylyCDY_xWLmNJZl1K5PBCzKlTCoACCnYD3VQIgtd6IB_1MTqPbkx5BEvc30FOZESAFAquRScaW5mdy_PSa4GhmrpSsKLfFe35bCT2jr23QNVrmFLg8nvJcEWjEE1ZabEI00cYBvw7OA47R9WjsBHSbhVTubcIbjCwQEKNn25w_DrUPtLOPuCs9BQFOoAsTLesEuamOHslbqpsBtq2zfedyDiCUYZpeQbimQoOdJEeg0-xipVMLeJehhrMYhLkAtJuKUlPDGbEe4HcuOQeM5GxXT6caCrLZxlJEs70PmS-rPpYJVAFkjn01V7S-JJF5VOwMtbLYURoKTUmVg=w1692-h950-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">26 NOVEMBER 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/ASGBNdiCx1w4CE4TA" target="_blank">Kyu-examen najaar 2016</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/i8EhZc3tvjnSrFzPA" target="_blank"><img src="https://lh3.googleusercontent.com/crlrLc-2yuMkurZMq6NHVwcrsd4wSDy_JWZK4tI7FOspt_kj85FgDpXHfKq0sewPHjll1lvrIEpBiNaNHx2lUwEwaJo83EGDKJk9l8r03UVdMkEXOGkAazeV-R0WR6aFrBtFOdzyKV6xf74PeCbRM2sCa_iz0R4L8bWyUD0Fv61IUFG0n_yO2vC3c69hpSm22PnOWmWJ0r96VOGBpH9a-mkmHDkKkL0On7TyGk6HS0uTQjknumyRIS8zslx7PKR3X34SbzwAsXJf2pWYlTtwhwGBiRHXYnFJLFkFhJMIcft5IVwAVVMIt84bHGmDjD_dMG6sIf3UFIZr8IvInYKZSeC7MHp5brkPS4xaUWLKoxWufk2zgb1DkweOTni_QjRO_jLMNIrCfnbZVEpOWuSg-c_qOXef6VAixOyT_ME1n0OgSUlj5ncUvzw9ojDcmsi-gaTJ9T8C2rJyXqfLFuHaQag6v3RNKRZWT6gjlIn_mc51jiZH3q9AyFntBL9NJx4Vqx-yIJtqRJsjF_1ebVGaC6onuJE0SL8HvdS3-fnlK7KHtHRr3VFmTuPlMY1rQ97CITIz-ueHvxnJreJA3NT5tM-ycya3cshoS11MoYtn6Tsv2yqb6HuIBlnJpmbmiIaAWPXPJdHzI6r8ODNwQf8ZxQmFMY9MgfS6Dq6dtOiHdg=w1267-h950-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">13 NOVEMBER 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/i8EhZc3tvjnSrFzPA" target="_blank">Katawedstrijd Turnhout & Yokoso Cup 2016</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/tiKrSxm61ppmEmMx8" target="_blank"><img src="https://lh3.googleusercontent.com/WRbXvila777ptBijhBxR2rDUJjixFOuKkT6rII2xo2pN-46Foo8hqE-Fi4SH7ELrlzBFDAURNTmd1UHKN6ULK2L50JPX55aKW5i6EOoN39-qVlI1zfAzr5eDkYsD3nvhmU0Xx0zx55XvXS4025_0YEQ1WgSe56pAChEvcQxuPM4lfexdT6icWW6qw4R29ldaJXxKC5w80x8wPtd5SWTaroaLfGheJfNfkY2M1ebnoJcRjV2FSYuzOQRHpposRjAUUQCl0txcPYi8IzOYLTM_h3DXH-1AqVuANh1YRt12UmA1QfYbxdzwk2dKM3xlN6HejDdG_wrrkkkYqOujBGfzZcO-4jdvwmK5qpIzgF7a__5vlMd_agZKA2K1Yco0V_cwLfKpEz4ktc9wVXpqDl24OxcDJjsBNQWTuLqHVaotm5iUDTZPydN_VhjB_M4UjeXZwNwQDzDiz395ct5usb_QQJ5bhDWC_m_9_Omr4EHUvECvBkdK3KdC20DcNvl_GDdXJ_4sjbNxeAUsPmvFhzjV0tJ4zvnR3twRALFt5Md72P19xutTIr91NnjdngHYICij83VXBdJ0NZ1ltdXY-jkyYi3mES7rMcmsr-AsWQ-n3Wi8RhDhmg0mqL1IzJJG5rOqsKDoM3-LdBEeyrobjDNyE4hKaNVBAEQqY9JBr1dIEA=w1041-h692-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">07 JULI 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/tiKrSxm61ppmEmMx8" target="_blank">Belgisch Zomerkamp 2016</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/UTNZwjh3wNbjZWTs8" target="_blank"><img src="https://lh3.googleusercontent.com/9_w9bG5m5GBtQheQm82LjiOFpmJpGWaX80tM9jeE6AuO5t68w5VsEmpLTypX9xcelwwVnhFrGykQnFK8S7RQvCU9jorcTd-aLCkzuXG63B00xaDOs9zasKI1hjx7LYt_Fak966a9ZnvrLgh_uoyFKVBGPQ3b1kfGiXiwrq4r1gzgkObwC5Jvhe8mRJktRGjRjZ7S53qZhSWRj_C8jtL6ABIlM3ZC82gAE3h_ZogDZY4pFvltivvTVgdPCX5MtwKMLdUU6CzrogS1EWRsScBk7ONkyOTDZKWIg71vDMV6GDe4MbGH0uyAZ35zeWrSjarowq2bIYj7YK2JpHce2nau9JgTCxD5frxikN4q3NWMuBVq0p_iBEBiRXQVLqyhszpNBWnGBnirIViqRsJ-nk3Rdu594gm4GJYivFzGSv_CoJs8OC5b7GKyod-xBE7LKwbvEfydxL1pe8tedJi1M7NWQdhNRtA5JNuCQZQ6bIIH5UHPtge9OTeMq6I-dFBd2zgrV7MO2ibpnBSbwtMR3e87j_B6XwPE8WZYaaVPHPmsZtIprzf2EFKoHnPX91bZacPZGc5QP7T9we-WXCph_bgD5JJ60_pgbNq0LJ_5SHIuvHGayk-UD0KL=w1692-h950-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">18 JUNI 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/UTNZwjh3wNbjZWTs8" target="_blank">Roefeldag 2016</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/nqoQbhtpWyhy5ieT9" target="_blank"><img src="https://lh3.googleusercontent.com/lo776E3ykzlvl4JQqoIVGuM7H2dSckILmCK9ppaPjZ0HOwxZPbuLWlCjDf_CgOvV8-ujdrfCuYbh2S0gS2EoDfP9BitAM55rUmJWki5ncMJcl82-fIfBKrXJXwTe6p6QWC-4I5MxAInrN17qlTN604akz9M7zqDsdyNG9Gm44X4ILyiOMoZ88-8hZzpxORn4yAj9_fqAe6_UrqdBhRbZLbqDwKB5wrg-ukMI0BW1D8LXjkpY7gEbQqmarF9btLjqAFEgCGD6vvYCUrow--mltVlrE411skqdOJcCDpi8CUtZITbcs1twp8T834wryRM0p0wyrY8KTEuMd4Mfg_kKUq8ILAnAce0n8Muw4DwXnVwKpvz9Erge2kyXecLRrbbg7WfU6RMPFNkQVAZSJAklnxbnR_iGM-MvidDubWmVWmR_eDe2AbDaHt82iqRZ5BWZ3jvwz1BwdMrFlZcL37vExuVg05IQzw7IuVWVLpSSAcLR5NHzI_x6YEtjK6-z6F_DwX9vR0W_CIzDgkyRld3Z9fI7y0Ojjw8rDtkzsAx7wZIpVryHFxhlUmYbwVl9rt63MJ__aQOItynUkDy-0tDzgx5ex2UYOc2VF1fRE6e9AG2ZDNOTd60-_oCN3a54s8kIDTQTwQeQqZOdDV4r5hmMrsff9P2s2kpbZ4ob6WRk8A=w1695-h950-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">27 MEI 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/nqoQbhtpWyhy5ieT9" target="_blank">Kyu-examen voorjaar 2016</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/644VjPVMxiUAkZTHA" target="_blank"><img src="https://lh3.googleusercontent.com/3oZOJORZJo8RCTSNFkaYsKrM_gAGSQszm4nCrj6pLxy5i7TtZoYjot2EK-Jh6r-bO9zBuEIHNYrlpU2Ani3Th8KAQUuM3OTmyj2q9hQJta-hE8H3oLq8YNmd7TmLv4kcL0VeP3yyRz1UClTZOFQSVPss5Hlv6Ic6iH6CnNh0HdUHtBWxpaTrnlu2STo7tsJsziNgrB4Q_iJXGL9MyEee_8K5GccGnOGPM3UQ34f9Jn9umR0YjA6V7Z_hFxzBYMoMqvm6nmNcMZFwyoHmOT4vtt5-YIpwISwPosbXrvVGY8j5Lik-kYV6hfibcfafnzscztTDGfnJR-xIZTvbQ4idm9okxeulcvJf5jYxiEjtgLCxlFH0kHNJ-2dLLQTmtrehXkNg6c6ywewbn10QR9TrN-t8j2wY3YbeqHDG2geFV-bYfGkHLsNoVWTm4rQrz3WGXTGAnPN_5o8Wwck_l797T8DwuF5Gy-CcTu0fqZEz5nulAfS8GYGJpv9CTImCSBOmk-iTREXr836cf_KDkWyM3abMRwCuWIG7BlaaYst_MnDiWAIcxshfLM17Q4a2uNhTikXxvn7U6KLuMHxuhxBgqKWTg_0Q6oOl_L4_RViqXU-hVhAMSAlt=w1267-h950-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">12 APRIL 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/644VjPVMxiUAkZTHA" target="_blank">Klimrijk 2016</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/tZxaTEmASx2FnsBH7 target="_blank"><img src="https://lh3.googleusercontent.com/ckb9sjUU-YbyglYs28GZs-_i4sYDlJN0QCtP13Ho73BcowJYr5Rf7eS0F_SSiz7mOOC4pwrPli7uW23OVpA1QKLJGaPJyqThgX_0DTkv9PTaEM9Oj1_3Axgx8w63ACml9VtK5ySEpeN0spmrmxfvN8NLfx4a9p5rEkfAe8WLCcPgd0iQELuhMw-G3Wnv_2VU6opH04K2UX86PqkGsC5I154UySgsqdxAxM_ocnFwPGnCltC0DOc6DNNsyqIu7sInsGVRC_AFgvmVwSLJ9s3mWLXkyPgrL3Lg9kzsdGIurssjfY2scNjURo_J_nt88llUuYqIEg8em8uZmenUEhcdSZpYFMZk6xzKh9Ibv2h4DWRorjb55AHHqcV-6lAIB64659ht7HxZes2ssPgx_I9a2aQO-eES0RH52GK1-1QqK9gSCH7suXKuN5PWnTwOzl54xQSlXJSLt7KfhBZa1DvOuAJpgF-xlV9we8AiSCJe1wNXBN918JDsVXuP_BRqdSkhMmxWnjHq0J_wNauqThMyhDjA1MXGffdF3r2smp7IMHu3iONMUFj1Q7n-HgN8oPvc5944eSTVOo1OqQ4iqAjYJID8fIKSwg23MB8fa1zapvy_dqU8OCDx=w1267-h950-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">25 MAART 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/tZxaTEmASx2FnsBH7" target="_blank">Kudo MMA training 2016</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/ccAkQN4yu9JzJcMk9" target="_blank"><img src="https://lh3.googleusercontent.com/WWB_1iEJqu37OwlCnWlZzttnkpW_g3sgMqsdkvaW0VPWbGNiTbyl44U_oclBZYTC_5OIVgboNiCmNjDRzHYe8vWNdnNGc2vzRg6H6po0_-IRlAtTwN10UCIP-9XnRqH6NXzV0CwnGo9mAEIXKjzelqWaRZUFeFiYAuW46idXPpBjyCmrwWGO9rgacq0gSdFWQHDYoMMt6b0uItMU9oFjsvrO4gJ44dzxm8bNSYaEendSvvXmF9helJOtT-hUTNAAu_cO788e2QDEhAmw-m3KmZLi3T5HaaZM99PpDt3FRqgdAuCkoaP2DDQgROLgNMZG-6VndfFXda3BY-hrU5gT9XKkTB5d0sktIRmSU5zgkMECfVjYFVY8LGPa_zqaXR-j8t4aHgoJflnQe7fCs01wRmRSsDrMkAn6qSAucRvaqgsR1igUlvqodiZmZiHy4zXVDWeqyUhTuEqzASZ1zOSo6Q4KdinQiZogjl2IYj0Qk0EElUJox7qSIPzVRu03V7fctmBxgjX5p8xozZZFxjbZM6yvvk7GsDEN8t31wDjLeaFCuTaS-Mm8t3UehOp3iyuTJWFXIcIJH7hc61A2yyZMhcPZRKgHQRz7di6MFwTMzESxf5nRyDOvTNzKEsJyoXRaIefcpnb88N-Yl_COebYIfTB5SF53uBuQyvalhrRrIw=w960-h720-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">31 JANUARI 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/ccAkQN4yu9JzJcMk9" target="_blank">Katatornooi Kapellen 2016</a></div>
            <br>
        </div>
        <div class = "nieuws-item post2">
            <br>
            <div class = "nieuws-foto"><a href="https://goo.gl/photos/AToZBup93arsWLjKA" target="_blank"><img src="https://lh3.googleusercontent.com/c11l3ciHb48XxJXan1lP1Y9w_a4v4J93gqe2RySkQcVklszhMvEMHwuZLACtb18LNDer8qXp5L_kbg8nkh52ku_X4JjpaIEqIfvRa7ROa5sZzkptXrOXo7esHa7b04MmQgnDNvBZN5b0A1OfYKbJzlel7zEujQHvn77nLsJ6oBoyOf1HoNA3G9ssKhiMy8KKFduXYRmdcyR4UjAmVcb5PT686gGcgYeEaBAjOLxXiLdDApTiEZplW3arCWh1rCvM_25XZZ_W1OYj_pj9uhUtsqfM7VNfeWAVZGNiUCFHAaJmbvGdxjLrOmaMs1TudsyNwoedFh5tu0pzgHnqQ8yXQYQlcR41LX7lo6sC9RL8CCpjvA4jZkAjpXCyYUkPlkIjpHkl1-538hGpLI4V-oMxr2ChrcFmQs6jwGaoNZ1w268ll714xLdBE87ykO5qgUyUVhZhx9puYmJ3cYZ4W0cCCZ96j5Wwk3eCNqf-yxnvs3Dd4kbS3UU8nFbHhX9-iUHbCKdXnCstDJmIF4jkdJGTdapC24hxCec8ORIRuJCvndDys-j90_r09bF8SZDZNcJZBS_6ZW3yV_r3YOrHuxXLUN48ww3Bq3C61VA7NwwNVx9Trh6SWkeY08EyfWJE2GeGIOQorQuEoNQHXqSUDNQ3TS8mCK_yoOctREm9lb97dw=w1267-h950-no" width="100%" alt=""/></a></div>
            <div class = "nieuwsbr1"><br></div>
            <div class = "nieuwsd">18 JANUARI 2016</div>
            <div class = "nieuwsbr2"><br></div>
            <div class = "nieuwsh"><a href="https://goo.gl/photos/AToZBup93arsWLjKA" target="_blank">Kagami Biraki 2016</a></div>
            <br>
        </div>
    </div>
</div>
{% endblock %}
