{% extends "layout.html" %}
{% block content %}
<div class = "banner bovenbanner" id="info-bovenbanner">
    <div class = "h4-box post1">
        <div align="center" class="h4">Info</div>
    </div>
</div>
<div class = "content-box second-content-box post1">
    <div class = "text-box second-text-box">
         <div class = "h6 post2">Geschiedenis</div>
         <br>
         <div class="p post2">
            Oshi Shinobu werd opgericht in 1998 door Sensei Koen de Backker.
            De naam <i>Oshi Shinobu</i> betekent zoveel als <i>volharding</i> en wordt in het Japans vaak afgekort tot <i>osu</i>.
            In elke Kyokushin dojo ter wereld is deze uitspraak alomtegenwoordig als antwoord, als strijdkreet, als begroeting.
            Welke naam kon gepaster zijn om de geest van zijn dojo mee in de verf te zetten?
            Al snel groeide zijn project uit tot een levendige dojo met een aangename sfeer waarbij er tegelijk hard getraind werd en langs de andere kant te gepasten tijde al eens goed kon gelachen worden.
            Doorheen de jaren zette hij zich elke week opnieuw in om nieuwe, vaak jonge karateka's de weg van de Japanse krijgskunsten bij te brengen.
            Steeds was hij op post om er een boeiende les van te maken.
            <br><br>
            Doorheen de jaren trainde onze club honderden mensen, met steeds een vast ledenaantal van rond de veertig personen.
            We deden aan tientallen wedstrijden mee, vaak met derde, tweede of zelfs eerste prijs voor onze deelnemers.
            Daarnaast organiseerden we een aantal keren zelf wedstrijden voor jeugd en volwassenen.
            De laatste jaren werd de focus verlegd naar het organiseren van een zomerstage met Japanse lesgevers.
         </div>
    </div>
</div>
<div class = "content-box first-content-box post1">
    <div class = "text-box first-text-box">
         <div class = "h6 post2">AFFILIATIE</div>
         <br>
         <div class="p post2">
            Mas Oyama's Kyokushinkai Karate (vzw) is een <i>full member</i> van de International Karate Organization Kyokushin Kaikan Japan.
            Met de dojo's in België die ook bij deze organisatie aangesloten zijn, onderhoudt Oshi Shinobu Dojo een informeel samenwerkingsverband onder de naam Belgische Kyokushinkai Karate Unie (BKKU).
            Daarnaast werken we ook frequent samen met een aantal andere dojo’s die eveneens Kyokushinkai Karate beoefenen, maar lid zijn van een andere organisatie.
            Al onze leden zijn tenslotte aangesloten bij en verzekerd via de VVA (Vlaamse Vechtsport Associatie), een erkende BLOSO-organisatie.
            <div class = "rectangle-wrap centered-wrap post2">
                <a style="display:block" href="https://www.kyokushinkaikan.or.jp/">
                    <div class="small-rectangle" id="kyokushin-union"></div>
                </a>
                <a style="display:block" href="http://www.kyokushin-kaikan.or.jp">
                    <div class="small-rectangle" id="BKKU"></div>
                </a>
                <a style="display:block" href="http://www.vva.be">
                    <div class="small-rectangle" id="VVA"></div>
                </a>
            </div>
            Oshi Shinobu Dojo, onder de naam Mas Oyama's Kyokushinkai Karate Vosselaar, is lid van de Sportraad van de Gemeente Vosselaar.
            We ondersteunen bovendien het beleid van de gemeente in verband met 'Spoorloos Sporten', waarbij onze (jonge) sporters aangemoedigd worden om bewust om te gaan met afval.
            Tevens onderschrijft Oshi Shinobu Dojo de panathlonverklaring om mee de rechten van het kind in de sport te bewaken en te bevorderen.
            Tenslotte onderschrijven we het Vosselaarse clubcharter voor een positieve sportclub en zijn we als vereniging gebonden aan de Algemene Verordering ter Gegevensbescherming.
            <div class = "rectangle-wrap centered-wrap post2">
                <div class = "rectangle-wrap centered-wrap post2">
                    <a style="display:block" href="http://www.vosselaar.be">
                        <div class="small-rectangle" id="vosselaar"></div>
                    </a>
                    <a style="display:block" href="http://www.vosselaar.be">
                        <div class="small-rectangle" id="spoorloos-sporten"></div>
                    </a>
                </div>
                <div class = "rectangle-wrap centered-wrap post2">
                    <a style="display:block" href="http://panathlonvlaanderen.be/verklaring/">
                        <div class="small-rectangle" id="panathlon"></div>
                    </a>
                    <a style="display:block" href={{url_for('static', filename='sheets/clubcharter_positieve_club.pdf')}}>
                        <div class="small-rectangle" id="positieve-club"></div>
                    </a>
                    <a style="display:block" href={{url_for('static', filename='sheets/privacyverklaring.pdf')}}>
                        <div class="small-rectangle" id="AGV"></div>
                    </a>
                </div>
            </div>
            Als sportclub met een hart voor onze leden dragen wij integriteit en respect voor eenieder hoog in het vaandel. 
            Alle vragen en opmerkingen over integriteit en (on)gewenst gedrag nemen wij dan ook zeer ernstig.
            Samen met de VVA voorzien we in een kader waarin we hiermee op gepaste wijze kunnen omgaan.
            Binnen de club is dat in de vorm van een Aanspreek-Punt Integriteit (API), ingevuld door Senpai Kim en Senpai Leon,
            waar je steeds terecht kan voor alle vragen of bemerkingen in die zin.
            Ook is er een centraal API in de VVA (Wendy Callers: api@vva.be | +32478727096).
         </div>
    </div>
</div>
<div class = "content-box fifth-content-box post1">
    <div class = "text-box second-text-box">
        <div id = "lesgevers" class = "h6 post2">Lesgevers</div>
    </div>
    <br><br>
    <div class = "leraar-info-wrap post2">
        <div class = "leraar-item2">
            <div class = "leraar-bol" id="shihan-koen"></div>
        </div>
        <div class = "leraartext">
            <br>
            <div class = "leraarh1">Shihan Koen De Backker</div>
            <div class = "leraarh2">Zesde Dan - Hoofdlesgever</div>
            <br>
            <div class = "leraarp leraarp-info">
                Na 5 jaar judo te hebben beoefend startte Koen in 1979 met karate in de Oyama Turnhout Dojo bij Sensei Paul Van Den Troost.
                Deze dojo stond onder toezicht van Shihan Max Gebhardt, die Kyokushinkai Karate in België introduceerde eind jaren ’60.
                Later werd de club overgenomen door Shihan Christian Snoeckx, die toen nog Sensei was en later de oprichter van Stamina Dojo werd in Beerse.
                Hij trainde daarna in diverse clubs en legde het examen voor zwarte gordel af in 1997 in Japan. Dat was ook het tijdstip waarop hij zijn eigen karateclub begon in Vosselaar.
                Vanaf 2003 zette hij de samenwerking op met de Kyokushin Union waar onze club en vele anderen vandaag bij aangesloten zijn.
                Dit resulteerde in talrijke contacten met Japanse lesgevers en vechters, waarvan velen nog getraind hebben onder Mas Oyama Sosai, de stichter van Kyokushin.
                Elk jaar organiseerde Shihan Koen een zomerkamp waarop een aantal van deze mensen te gast waren. Doorheen de jaren klom hij op tot derde en vierde Dan.
                In 2012 kon Sensei Koen succesvol het examen voor vijfde dan afleggen in Japan, waarna hij zich meer en meer focuste op het lesgeven in zijn eigen Dojo in Vosselaar.
                Tijdens het voorjaar van 2018 behaalde hij na een slopend examen van vijf uur en 60 partijen knokken zijn zesde dan, opnieuw in Japan.
            </div>
        </div>
    </div>
    <div class = "leraar-info-wrap post2">
        <div class = "leraar-item2">
            <div class = "leraar-bol" id="sensei-leon"></div>
        </div>
        <div class = "leraartext">
            <br>
            <div class = "leraarh1">Sensei Leon</div>
            <div class = "leraarh2">Derde Dan - Lesgever</div>
            <br>
            <div class = "leraarp leraarp-info">
                Aanspreek-Punt Integriteit (API): je kan steeds bij Senpai Leon terecht voor alle vragen en opmerkingen over integriteit & (on)gewenst gedrag!
            </div>
        </div>
    </div>
    <div class = "leraar-info-wrap post2">
        <div class = "leraar-item2">
            <div class = "leraar-bol" id="senpai-jolein"></div>
        </div>
        <div class = "leraartext">
            <br>
            <div class = "leraarh1">Senpai Jolein Van der Eycken</div>
            <div class = "leraarh2">Tweede Dan - Lesgeefster</div>
            <br>
            <div class = "leraarp leraarp-info">
                Senpai Jolein begon haar karate-avontuur op negenjarige leeftijd toen ze samen met haar vader in onze Dojo kwam trainen.
                Het jaar nadien nam ze reeds deel aan haar eerste Kumitewedstrijd waarbij ze dadelijk in de prijzen viel.
                Nog heel wat tornooien in binnen- en buitenland, zowel op vlak van Kata als Kumite, volgden nadien.
                Finaal bleek Kumite toch wel haar passie te zijn en hierin heeft ze zich dan ook verder met scucces bekwaamd.
                Ook vandaag nog staat Senpai Jolein nog regelmatig op de tatami.
                In 2010 behaalde zij haar eerste dan op het Belgisch Zomerkamp met Shihan Daigo Oishi als examinator.
                Het examen voor tweede dan legde ze op het Belgisch Zomerkamp met Sensei Jonathan Tineo succesvol af in 2018.
            </div>
        </div>
    </div>
    <div class = "leraar-info-wrap post2">
        <div class = "leraar-item2">
            <div class = "leraar-bol" id="senpai-yorian"></div>
        </div>
        <div class = "leraartext">
            <br>
            <div class = "leraarh1">Senpai Yorian Jonkers</div>
            <div class = "leraarh2">Tweede Dan - Lesgever</div>
            <br>
        </div>
    </div>
    <div class = "leraar-info-wrap post2">
        <div class = "leraar-item2">
            <div class = "leraar-bol" id="senpai-kim"></div>
        </div>
        <div class = "leraartext">
            <br>
            <div class = "leraarh1">Senpai Kim Heinis</div>
            <div class = "leraarh2">Tweede Dan - Lesgeefster</div>
            <br>
            <div class = "leraarp leraarp-info">
                Aanspreek-Punt Integriteit (API): je kan steeds bij Senpai Kim terecht voor alle vragen en opmerkingen over integriteit & (on)gewenst gedrag!
            </div>
        </div>
    </div>
    <div class = "leraar-info-wrap post2">
        <div class = "leraar-item2">
            <div class = "leraar-bol" id="senpai-ragna"></div>
        </div>
        <div class = "leraartext">
            <br>
            <div class = "leraarh1">Senpai Ragna</div>
            <div class = "leraarh2">Tweede Dan - Assistent lesgeefster</div>
            <br>
        </div>
    </div>
    <div class = "leraar-info-wrap post2">
        <div class = "leraar-item2">
            <div class = "leraar-bol" id="senpai-tim"></div>
        </div>
        <div class = "leraartext">
            <br>
            <div class = "leraarh1">Senpai Tim</div>
            <div class = "leraarh2">Eerste Dan - Assistent lesgever</div>
            <br>
        </div>
    </div>
    <div class = "leraar-info-wrap post2">
        <div class = "leraar-item2">
            <div class = "leraar-bol" id="senpai-nina"></div>
        </div>
        <div class = "leraartext">
            <br>
            <div class = "leraarh1">Senpai Nina</div>
            <div class = "leraarh2">Eerste Dan - Lesgeefster</div>
        </div>
    </div>
    <div class = "leraar-info-wrap post2">
        <div class = "leraar-item2">
            <div class = "leraar-bol" id="senpai-felix"></div>
        </div>
        <div class = "leraartext">
            <br>
            <div class = "leraarh1">Senpai Felix</div>
            <div class = "leraarh2">Tweede Kyu - Assistent lesgever</div>
        </div>
    </div>
    <div class = "leraar-info-wrap post2">
        <div class = "leraar-item2">
            <div class = "leraar-bol" id="senpai-ben"></div>
        </div>
        <div class = "leraartext">
            <br>
            <div class = "leraarh1">Senpai Ben</div>
            <div class = "leraarh2">Derde Kyu - Assistent lesgever</div>
        </div>
    </div>
</div>
<div id="trainingsuren" class = "content-box second-content-box post1">
    <div class = "text-box second-text-box">
        <div class = "h6 post2">TRAININGSUREN</div>
        <br />
        <div class = "p post2">
            Onze karateclub traint op de volgende tijdstippen:
        </div>
        <br />
        <div>
            <div class="trainingsuren-wrap2 post2">
                <div class="trainingsuren-box" id="trainingsuren-uren-box">
                    <div class = "trainingsuren-uur"><br></div>
                    <div class = "trainingsuren-uur">09:00</div>
                    <div class = "trainingsuren-uur">10:00</div>
                    <div class = "trainingsuren-uur">12:00</div>
                    <div class = "trainingsuren-uur">13:00</div>
                    <div class = "trainingsuren-uur">14:00</div>
                    <div class = "trainingsuren-uur">15:00</div>
                    <div class = "trainingsuren-uur">16:00</div>
                    <div class = "trainingsuren-uur">17:00</div>
                    <div class = "trainingsuren-uur">18:00</div>
                    <div class = "trainingsuren-uur">19:00</div>
                    <div class = "trainingsuren-uur">20:00</div>
                    <div class = "trainingsuren-uur">21:00</div>
                    <div class = "trainingsuren-uur">22:00</div>
                </div>
                <div class="trainingsuren-box" id="trainingsuren-vrijdag-box">
                    <div class = "trainingsuren-head">woensdag</div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                    <div class = "trainingsuren-training trainingsuren-training-woensdag">
                        <a href="{{url_for('kalender')}}">
                            <div class = "trainingsuren-text-box">
                                Gevorderden<br>19.00-20:00
                            </div>
                        </a>
                    </div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                </div>
                <div class="trainingsuren-box" id="trainingsuren-vrijdag-box">
                    <div class = "trainingsuren-head">vrijdag</div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training2"></div>
                    <div class = "trainingsuren-training trainingsuren-training-vrijdag1">
                        <a href="{{url_for('kalender')}}">
                            <div class = "trainingsuren-text-box">
                                Beginners<br>19.30-20:30
                            </div>
                        </a>
                    </div>
                    <div class = "trainingsuren-training trainingsuren-training-vrijdag2">
                        <a href="{{url_for('kalender')}}">
                            <div class = "trainingsuren-text-box">
                                Gevorderden<br>20:30-22:00
                            </div>
                        </a>
                    </div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                </div>
                <div class="trainingsuren-box" id="trainingsuren-zaterdag-box">
                    <div class = "trainingsuren-head">zaterdag</div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                    <div class = "trainingsuren-training trainingsuren-training-zaterdag1">
                        <a href="{{url_for('kalender')}}">
                            <div class = "trainingsuren-text-box">
                                Beginners<br>10:00-11:00
                            </div>
                        </a>
                    </div>
                    <div class = "trainingsuren-training trainingsuren-training-zaterdag2">
                        <a href="{{url_for('kalender')}}">
                            <div class = "trainingsuren-text-box">
                                Gevorderden<br>11:00-12:30
                            </div>
                        </a>
                    </div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training2"></div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                    <div class = "trainingsuren-geen-training trainingsuren-geen-training1"></div>
                </div>
            </div>
        </div>
        <br />
        <div class = "p post2">
            Het eerste uur op vrijdag & zaterdag is steeds gereserveerd voor de beginners. Daarna of op woensdag is het aan de gevorderden.
            Afhankelijk van het soort training zijn deze groepen anders.
            Voor de gevechtstrainingen beschouwen we iedereen onder de twaalf jaar als een beginner.
            Bij de technische trainingen (Kihon en Kata) zijn de beginners de kyu-graden tot en met achtste kyu (blauwe band zonder streep).
            Hogere banden kunnen meedoen met de gevorderden, ook als ze nog geen twaalf jaar zijn.
            Het is dus mogelijk dat je niet steeds in dezelfde groep of op hetzelfde uur wordt ingedeeld.
            We maken deze opdeling om een hogere kwaliteit van onze lessen te kunnen garanderen.
            Kinderen moet minstens zes jaar oud zijn en in het eerste leerjaar zitten om aan de trainingen te mogen deelnemen.
        </div>
        <br />
        <div class = "rectangle-wrap centered-wrap">
            <a href="{{url_for('kalender')}}">
                <div class="rectangle blue-rectangle post2" >
                    <div class="recth">Kumite<br>Gevechtstraining</div>
                    <div class = "rectbreak"><br><br></div>
                    <div class="recth2">
                        Beginners: 6-12 jaar.
                        <br>
                        Gevorderden: +12 jaar.
                    </div>
                </div>
            </a>
            <a href="{{url_for('kalender')}}">
                <div class="rectangle blue-rectangle post2">
                    <div class="recth">Kihon/Kata<br>Technische Training</div>
                    <div class = "rectbreak"><br><br></div>
                    <div class="recth2">
                        Beginners: tot en met 8e kyu
                        <br>
                        Gevorderden: vanaf 7e kyu
                    </div>
                </div>
            </a>
        </div>
     </div>
    </div>
</div>
<div class = "content-box third-content-box post1">
    <div class = "text-box third-text-box">
        <div class = "h6 post2">TRAININGSLOCATIES</div>
        <br>
        <div class = "p post2">
            We trainen drie keer in de week. Onze trainingen gaan afwisselend door in de mattenzaal van Sportcentrum Diepvenneke en in de turnzaal van de Gemeentelijke Basisschool Centrum.
            Op woensdag & vrijdag gebruiken we de turnzaal en op zaterdag de mattenzaal.
            <br><br>
        </div>
    </div>
    <div class = "rectangle-wrap centered-wrap">
        <div class = "info-training-item post2">
            <div class = "info-training-foto"><a href="https://www.google.be/maps/place/Diepvenneke,+2350+Vosselaar/@51.301699,4.890262,17z/data=!3m1!4b1!4m5!3m4!1s0x47c6b27689211cc7:0xf31352dfcc4b6a10!8m2!3d51.301699!4d4.8924507">
                <img src="{{ url_for('static', filename='layout/basisschool_centrum.jpg') }}" width="100%" height="60%"/></a></div>
            <div class = "info-training-br"><br></div>
            <div class = "info-training-h"><a href="https://www.google.be/maps/place/Gemeentelijke+Basisschool+Centrum/@51.3127094,4.8832941,17z/data=!3m1!4b1!4m5!3m4!1s0x47c6adf2fe538b35:0xe0f2d834ce400ca!8m2!3d51.3127094!4d4.8854828">Gemeentelijke Basisschool Centrum</a></div>
        </div>
        <div class = "info-training-item post2">
            <div class = "info-training-foto"><a href="https://www.google.be/maps/place/Diepvenneke,+2350+Vosselaar/@51.301699,4.890262,17z/data=!3m1!4b1!4m5!3m4!1s0x47c6b27689211cc7:0xf31352dfcc4b6a10!8m2!3d51.301699!4d4.8924507">
                <img src="{{ url_for('static', filename='layout/diepvenneke.jpg') }}" width="100%" height="60%"/></a></div>
            <div class = "info-training-br"><br></div>
            <div class = "info-training-h"><a href="https://www.google.be/maps/place/Diepvenneke,+2350+Vosselaar/@51.301699,4.890262,17z/data=!3m1!4b1!4m5!3m4!1s0x47c6b27689211cc7:0xf31352dfcc4b6a10!8m2!3d51.301699!4d4.8924507">Sporthal Diepvenneke</a></div>
        </div>
    </div>
</div>
<div class = "content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class = "h6 post2">TRAININGSINFO</div>
        <br>
        <div class = "p post2">
            We trainen in twee seizoenen, het voorjaar en het najaar, in een reeks van opeenvolgende lessen waarbij verschillende onderwerpen behandeld worden.
            Op het einde van het semester volgt dan een examen voor een hogere graad waarbij we kijken of wat onderwezen werd ook verworven is.
            We werken met een los trainingsschema waarbij door middel van herhaling de materie stelselmatig ingeoefend wordt.
            Niettemin wordt op verschillende trainingen typisch verschillende materie aangeboden.
            Zeker bij de beginners is het daarom belangrijk om op de meeste lessen aanwezig te zijn zodat je bepaalde vaardigheden, die getoetst worden op het examen, niet overslaat.
            Als je toch per uitzondering een andere verplichting hebt, dan verzoeken we om ons daarvan op de hoogte te stellen.
            <br><br>
            Ben je nieuw? Dan is het mogelijk om de eerste maand van het semester gratis met ons mee te trainen vooraleer je de keuze maakt om in te schrijven.
            Niettemin kan je bij ons heel het jaar door inschrijven en onmiddelijk starten.
            Is direct meedoen een stap te ver? Dan kan je natuurlijk eens eerst een kijkje komen nemen.
            Iedereen is altijd welkom om in onze dojo een training bij te wonen.
            <br><br>
            Voorlopig heeft onze club spijtig genoeg nog geen faciliteiten of aangepaste trainingen voor mensen met een beperking.
            Voor de trainingen zoals ze nu georganiseerd worden moeten leerlingen
            minstens in staat zijn om de motoriek van de technieken en standen te beheersen en op termijn de filosofie en tradities van Kyokushin te leren verstaan en appreciëren.
            Kyokushinkai Karate is zowel fysiek als mentaal een veeleisende discipline. We zullen u helpen waar we kunnen om hierover een geïnformeerde keuze te maken.
        </div>
    </div>
</div>
<div class = "content-box fifth-content-box post1">
    <div class = "text-box second-text-box">
        <div class = "h6 post2">PRAKTISCHE INFORMATIE</div>
        <br>
        <div class = "p post2">
            Koen De Backker
            <br>
            Telefoon: +32 (0)14 61 68 77
            <br>
            E-mail: koen.de.backker@pandora.be
            <br>
            Bankrekeningnummer MOKK vzw: IBAN BE06 0013 3522 6622 / BIC GEBABEBB
            <br>
            Registratienummer vzw: 2188598
            <br>
            Ondernemingsnummer: 0464.739.173
        </div>
    </div>
</div>
{% endblock %}
