{% extends "layout.html" %}
{% block content %}
<div class = "banner bovenbanner" id="kalender-bovenbanner">
    <div class = "h4-box post1">
        <div align="center" class="h4">Kalender</div>
    </div>
</div>
<div class = "banner kalender-banner post1" id="september-banner">
    <div class = "kalender-banner-box post1">
        <div class="h5">September</div>
    </div>
</div>
<div class="content-box first-content-box post1">
    <div class = "centered-text-box first-text-box">
        <div class="kalender-tabel-wrap">
            <table class = "p post2">
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">01/09</td>
                    <td class="kalender-cel3">Kihon/Kata</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">02/09</td>
                    <td class="kalender-cel3">Kumite</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">08/09</td>
                    <td class="kalender-cel3">Kumite</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">09/09</td>
                    <td class="kalender-cel3">Kihon/Kata</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">15/09</td>
                    <td class="kalender-cel3">Kihon/Kata</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">16/09</td>
                    <td class="kalender-cel3">Kumite</td>
                    <td class="kalender-cel4">Sportcentrum Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">22/09</td>
                    <td class="kalender-cel3">Kumite</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">23/09</td>
                    <td class="kalender-cel3">Kihon/Kata</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">29/09</td>
                    <td class="kalender-cel3">Kihon/Kata</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">30/09</td>
                    <td class="kalender-cel3">Kumite</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class = "banner kalender-banner post1" id="oktober-banner">
    <div class = "kalender-banner-box post1">
        <div align="center" class="h5">Oktober</div>
    </div>
</div>
<div class="content-box second-content-box post1">
    <div class = "text-box second-text-box">
        <div class="kalender-tabel-wrap">
            <table class = "p post2">
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">06/10</td>
                    <td class="kalender-cel3">Kumite</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">07/10</td>
                    <td class="kalender-cel3">Kihon/Kata</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">13/10</td>
                    <td class="kalender-cel3">Kihon/Kata</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">14/10</td>
                    <td class="kalender-cel3">Kumite</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">20/10</td>
                    <td class="kalender-cel3">Kumite</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">20/10</td>
                    <td class="kalender-cel3">Gezamenlijke gevechtstraining</td>
                    <td class="kalender-cel4">Kalmthout</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">21/10</td>
                    <td class="kalender-cel3">Kihon/Kata</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">27/10</td>
                    <td class="kalender-cel3">Kihon/Kata</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">28/10</td>
                    <td class="kalender-cel3">Kumite</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class = "banner kalender-banner post1" id="november-banner">
    <div class = "kalender-banner-box post1">
        <div align="center" class="h5">November</div>
    </div>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="kalender-tabel-wrap">
            <table class = "p post2">
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">4/11</td>
                    <td class="kalender-cel3"><a href="http://masoyamakalmthout.be/wordpress/wp-content/uploads/2017/06/Belgian-Championship-Youth-Beginners-info-04-11-2017.pdf">Kumitetoernooi jeugd en beginners</a></td>
                    <td class="kalender-cel4">Schoten</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">10/11</td>
                    <td class="kalender-cel3">Kumite</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zondag</td>
                    <td class="kalender-cel2">12/11</td>
                    <td class="kalender-cel3"><a href="http://karatekempen.be/news%20%26%20events-2/yokoso%20cup/index.html">Yokoso Cup katatoernooi</a></td>
                    <td class="kalender-cel4">Turnhout</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">17/11</td>
                    <td class="kalender-cel3">Kihon/Kata</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">18/11</td>
                    <td class="kalender-cel3">Kihon/Kata</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                 <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">18/11</td>
                    <td class="kalender-cel3"><a href="http://masoyamakalmthout.be/wordpress/my-calendar/?mc_id=348"">Stage Judd Reid</a></td>
                    <td class="kalender-cel4">Antwerpen</td>
                </tr>
                 <tr class="kalender-rij">
                    <td class="kalender-cel1">Zondag</td>
                    <td class="kalender-cel2">19/11</td>
                    <td class="kalender-cel3"><a href="http://masoyamakalmthout.be/wordpress/my-calendar/?mc_id=348"">Stage Judd Reid</a></td>
                    <td class="kalender-cel4">Antwerpen</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">24/11</td>
                    <td class="kalender-cel3">Kumite</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">25/11</td>
                    <td class="kalender-cel3">Kumite</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class = "banner kalender-banner post1" id="december-banner">
    <div class = "kalender-banner-box post1">
        <div align="center" class="h5">December</div>
    </div>
</div>
<div class="content-box fifth-content-box post1">
    <div class = "text-box second-text-box">
        <div class="kalender-tabel-wrap">
            <table class = "p post2">
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">01/12</td>
                    <td class="kalender-cel3">Kihon/Kata</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">02/12</td>
                    <td class="kalender-cel3">Kihon/Kata</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zondag</td>
                    <td class="kalender-cel2">03/12</td>
                    <td class="kalender-cel3"><a href="http://masoyamakalmthout.be/wordpress/wp-content/uploads/2017/09/Noritsu-Cup-2017-uitnodiging.pdf"">Noritsu Cup Kumitetoernooi</a></td>
                    <td class="kalender-cel4">Gilze, Nederland</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">08/12</td>
                    <td class="kalender-cel3">Gezamenlijke katatraining</td>
                    <td class="kalender-cel4">Basisschool Centrum Vosselaar</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">09/12</td>
                    <td class="kalender-cel3">Kumite</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">15/12</td>
                    <td class="kalender-cel3">Kihon/Kata</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">16/12</td>
                    <td class="kalender-cel3">Kihon/Kata</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">22/12</td>
                    <td class="kalender-cel3">Kyu-examen</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">23/12</td>
                    <td class="kalender-cel3">Kersttraining</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}
