{% extends "layout.html" %}
{% block content %}
<div class = "banner bovenbanner" id="kalender-bovenbanner">
    <div class = "h4-box post1">
        <div align="center" class="h4">Kalender</div>
    </div>
</div>
<div class = "banner kalender-banner post1" id="september-banner">
    <div class = "kalender-banner-box post1">
        <div class="h5">September</div>
    </div>
</div>
<div class="content-box second-content-box post1">
    <div class = "centered-text-box second-text-box">
        <div class="kalender-tabel-wrap">
            <table class = "p post2">
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Woensdag</td>
                    <td class="kalender-cel2">01/09</td>
                    <td class="kalender-cel3">Speciale training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">04/09</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">10/09</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">11/09</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Woensdag</td>
                    <td class="kalender-cel2">15/09</td>
                    <td class="kalender-cel3">Speciale training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">17/09</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">18/09</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">24/09</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">25/09</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Woensdag</td>
                    <td class="kalender-cel2">29/09</td>
                    <td class="kalender-cel3">Speciale training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class = "banner kalender-banner post1" id="oktober-banner">
    <div class = "kalender-banner-box post1">
        <div class="h5">Oktober</div>
    </div>
</div>
<div class="content-box first-content-box post1">
    <div class = "centered-text-box first-text-box">
        <div class="kalender-tabel-wrap">
            <table class = "p post2">
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">01/10</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">02/10</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">08/10</td>
                    <td class="kalender-cel3">Algemene training </td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">09/10</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Woensdag</td>
                    <td class="kalender-cel2">13/10</td>
                    <td class="kalender-cel3">Speciale training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">15/10</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">16/10</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">22/10</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">23/10</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Woensdag</td>
                    <td class="kalender-cel2">27/10</td>
                    <td class="kalender-cel3">Speciale training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">29/10</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">30/10</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class = "banner kalender-banner post1" id="november-banner">
    <div class = "kalender-banner-box post1">
        <div align="center" class="h5">November</div>
    </div>
</div>
<div class="content-box second-content-box post1">
    <div class = "text-box second-text-box">
        <div class="kalender-tabel-wrap">
            <table class = "p post2">
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Woensdag</td>
                    <td class="kalender-cel2">10/11</td>
                    <td class="kalender-cel3">Speciale training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">12/11</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">13/11</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">19/11</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">20/11</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Woensdag</td>
                    <td class="kalender-cel2">24/11</td>
                    <td class="kalender-cel3">Speciale training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">26/11</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">27/11</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class = "banner kalender-banner post1" id="december-banner">
    <div class = "kalender-banner-box post1">
        <div align="center" class="h5">December</div>
    </div>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="kalender-tabel-wrap">
            <table class = "p post2">
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">03/12</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">04/12</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Woensdag</td>
                    <td class="kalender-cel2">08/12</td>
                    <td class="kalender-cel3">Speciale training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">10/12</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">11/12</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">17/12</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">18/12</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Woensdag</td>
                    <td class="kalender-cel2">22/12</td>
                    <td class="kalender-cel3">Speciale training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}