{% extends "layout.html" %}
{% block content %}
<div class = "banner bovenbanner" id="kalender-bovenbanner">
    <div class = "h4-box post1">
        <div align="center" class="h4">Kalender</div>
    </div>
</div>
<div class = "banner kalender-banner post1" id="september-banner">
    <div class = "kalender-banner-box post1">
        <div class="h5">September</div>
    </div>
</div>
<div class="content-box second-content-box post1">
    <div class = "centered-text-box second-text-box">
        <div class="kalender-tabel-wrap">
            <table class = "p post2">
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">05/09</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">11/09</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">12/09</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">18/09</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">19/09</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">25/09</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">26/09</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class = "banner kalender-banner post1" id="oktober-banner">
    <div class = "kalender-banner-box post1">
        <div class="h5">Oktober</div>
    </div>
</div>
<div class="content-box first-content-box post1">
    <div class = "centered-text-box first-text-box">
        <div class="kalender-tabel-wrap">
            <table class = "p post2">
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">02/10</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">03/10</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">09/10</td>
                    <td class="kalender-cel3">Algemene training </td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">10/10</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">16/10</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">17/10</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">23/10</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">24/10</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">30/10</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">31/10</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class = "banner kalender-banner post1" id="november-banner">
    <div class = "kalender-banner-box post1">
        <div align="center" class="h5">November</div>
    </div>
</div>
<div class="content-box second-content-box post1">
    <div class = "text-box second-text-box">
        <div class="kalender-tabel-wrap">
            <table class = "p post2">
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">06/11</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">07/11</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">13/11</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">14/11</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">20/11</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">11/11</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">27/11</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">28/11</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class = "banner kalender-banner post1" id="december-banner">
    <div class = "kalender-banner-box post1">
        <div align="center" class="h5">December</div>
    </div>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="kalender-tabel-wrap">
            <table class = "p post2">
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">04/12</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">05/12</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">11/12</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">12/12</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">18/12</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Basisschool Centrum</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">19/12</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Mattenzaal Diepvenneke</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class = "banner kalender-banner post1" id="januari-banner">
    <div class = "kalender-banner-box post1">
        <div class="h5">Januari</div>
    </div>
</div>
<div class="content-box second-content-box post1">
    <div class = "centered-text-box second-text-box">
        <div class="kalender-tabel-wrap">
            <table class = "p post2">
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">08/01</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">09/01</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">15/01</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">16/01</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">22/01</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">23/01</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">29/01</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">30/01</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class = "banner kalender-banner post1" id="februari-banner">
    <div class = "kalender-banner-box post1">
        <div class="h5">Februari</div>
    </div>
</div>
<div class="content-box first-content-box post1">
    <div class = "centered-text-box first-text-box">
        <div class="kalender-tabel-wrap">
            <table class = "p post2">
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">05/02</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">06/02</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">12/02</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">13/02</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">19/02</td>
                    <td class="kalender-cel3">Krokusvakantie</td>
                    <td class="kalender-cel4">Geen training</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">20/02</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">26/02</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">27/02</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class = "banner kalender-banner post1" id="maart-banner">
    <div class = "kalender-banner-box post1">
        <div align="center" class="h5">Maart</div>
    </div>
</div>
<div class="content-box second-content-box post1">
    <div class = "text-box second-text-box">
        <div class="kalender-tabel-wrap">
            <table class = "p post2">
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">05/03</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">06/03</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">12/03</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">13/03</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">19/03</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">20/03</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">26/03</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">27/03</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class = "banner kalender-banner post1" id="april-banner">
    <div class = "kalender-banner-box post1">
        <div align="center" class="h5">April</div>
    </div>
</div>
<div class="content-box first-content-box post1">
    <div class = "text-box first-text-box">
        <div class="kalender-tabel-wrap">
            <table class = "p post2">
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">02/04</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">03/04</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">09/04</td>
                    <td class="kalender-cel3">Paasvakantie</td>
                    <td class="kalender-cel4">Geen training</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">10/04</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">16/04</td>
                    <td class="kalender-cel3">Paasvakantie</td>
                    <td class="kalender-cel4">Geen training</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">17/04</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">23/04</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">24/04</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">30/04</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class = "banner kalender-banner post1" id="mei-banner">
    <div class = "kalender-banner-box post1">
        <div align="center" class="h5">Mei</div>
    </div>
</div>
<div class="content-box second-content-box post1">
    <div class = "text-box second-text-box">
        <div class="kalender-tabel-wrap">
            <table class = "p post2">
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">01/05</td>
                    <td class="kalender-cel3">Dag van de Arbeid</td>
                    <td class="kalender-cel4">Geen training</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">07/05</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">08/05</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">14/05</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">15/05</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">21/05</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">22/05</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">28/05</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">29/05</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class = "banner kalender-banner post1" id="juni-banner">
    <div class = "kalender-banner-box post1">
        <div align="center" class="h5">Juni</div>
    </div>
</div>
<div class="content-box second-content-box post1">
    <div class = "text-box second-text-box">
        <div class="kalender-tabel-wrap">
            <table class = "p post2">
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">04/06</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">05/06</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">11/06</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">12/06</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">18/06</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">19/06</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Vrijdag</td>
                    <td class="kalender-cel2">25/06</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
                <tr class="kalender-rij">
                    <td class="kalender-cel1">Zaterdag</td>
                    <td class="kalender-cel2">26/06</td>
                    <td class="kalender-cel3">Algemene training</td>
                    <td class="kalender-cel4">Online</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}